﻿//Colors
$body-background-color: #3c464d;
$footer-background-color: #2d343a;
$paper-background-color: #fff;
$standart-link-color: #1252a1;
$black-link-color: #000;
$white-link-color: #fff;
$blue-link-color: #2e98ff;
$light-gray-link-color: #ededed;
$dark-gray-link-color: #707375;
$green-link-color: #008200;
$attention-link-color: #e2001a;
$linkscolor: (black, $black-link-color)
,
(blue, $blue-link-color),
(light-gray, $light-gray-link-color),
(dark-gray, $dark-gray-link-color),
(white, $white-link-color),
(green, $green-link-color),
(attention, $attention-link-color),
(standart, $standart-link-color)
;
$article-read-color: #a0a1a5;
$test-done-color: #ffcc39;
$blue-background-color: #bfe4ff;

//BUTTONS
//Yellow
$button-yellow-first-color: #febb2d;
$button-yellow-second-color: #fecc47;
$button-yellow-border-color: #c47a14;
$button-yellow-active-border-color: #efac1f;
$button-yellow-active-first-color: #efac1f;
$button-yellow-active-second-color: #f1b821;

//Light gray
$button-light-gray-first-color: #bfbfbf;
$button-light-gray-second-color: #dbdbdb;
$button-light-gray-border-color: #272727;
$button-light-gray-active-first-color: #eaeaea;
$button-light-gray-active-second-color: #dedede;

//Very light gray
$button-very-light-gray-first-color: #dbdbdb;
$button-very-light-gray-second-color: #f3f3f3;
$button-very-light-gray-border-color: #b4b4b4;
$button-very-light-gray-active-first-color: #eaeaea;
$button-very-light-gray-active-second-color: #dedede;

//White
$button-white-first-color: #fff;
$button-white-second-color: #f3f3f3;
$button-white-hover-first-color: #f7f7f7;
$button-white-hover-second-color: #ebebeb;
$button-white-active-first-color: #eaeaea;
$button-white-active-second-color: #dedede;
$button-white-border-top-color: #efefef;
$button-white-border-side-color: #d4d4d4;
$button-white-border-bottom-color: #b0b0b0;
$button-white-hover-border-top-color: #f7f7f7;
$button-white-hover-border-side-color: #e0e0e0;
$button-white-hover-border-bottom-color: #b7b7b7;
$button-white-active-border-top-color: #a2a2a2;
$button-white-active-border-side-color: #dedede;
$button-white-active-border-bottom-color: #dedede;

//Turquoise
$button-turquoise-first-color: #257584;
$button-turquoise-second-color: #005e6f;
$button-turquoise-border-top-color: #3d8491;
$button-turquoise-border-side-color: #126a7a;
$button-turquoise-border-bottom-color: #004d5b;
$button-turquoise-hover-first-color: #287f8f;
$button-turquoise-hover-second-color: #287f8f;
$button-turquoise-hover-border-top-color: #3d8491;
$button-turquoise-hover-border-side-color: #166c7c;
$button-turquoise-hover-border-bottom-color: #005766;
$button-turquoise-active-first-color: #257584;
$button-turquoise-active-second-color: #005e6f;
$button-turquoise-active-border-top-color: #01272e;
$button-turquoise-active-border-side-color: #013842;
$button-turquoise-active-border-bottom-color: #014a56;

//Gray glass
$button-gray-glass-first-color: #ffffff;
$button-gray-glass-second-color: #ededed;
$button-gray-glass-border-color: #9b9b9b;
$button-gray-glass-hover-border-color: #c6c6c6;
$button-gray-glass-active-first-color: #dfdfdf;
$button-gray-glass-active-second-color: #f3f3f3;

//Yellow glass
$button-yellow-glass-top-border-color: #fceac1;
$button-yellow-glass-bottom-border-color: #876101;

//Article text colors
$text-color-bad: #bf0000;
$text-color-red: #ed1b23;
$text-color-yellow: #ff9900;
$text-color-green: #007f49;
$text-color-blue: #99ccff;
$text-color-turquoise: #008a83;
$text-color-purple: #78439a;
$text-color-white: #fff;
$text-color-black: #000;
$text-color-gray: #a7a7a7;

//Article td background colors
$td-background-white: #fff;
$td-background-black: #000;
$td-background-gray: #edf0f2;
$td-background-red: #ffefe0;
$td-background-yellow: #fff1db;
$td-background-green: #deebe4;
$td-background-blue: #f1f8ff;
$td-background-turquoise: #e1f2ef;
$td-background-purple: #eae5f2;


//Misc
$window-min-width: 970px;
$content-min-height: 100px;
$left-column-max-width: 1152px;
$left-column-padding-left: 20px;
$right-column-min-width: 68px;

$content-navigation-item-margin-right: 15px;

$estimate-smile-text-block-width: 342px;

$navi-button-block-left: $left-column-padding-left + 10px;

//Service
$service-page-padding-top: 78px;
$service-page-padding-right: 190px;
$service-page-padding-bottom: 50px;
$service-page-padding-left: 50px;
$service-page-min-height: 380px;

$npd-top-panel-padding: 88px;

//Index
$index-page-padding-right: 33px;
$index-page-padding-left: 20px;
$index-page-padding-bottom: 30px;
$index-page-decor-elem-param: 12px;

//Article
$article-page-padding-top: 0;
$article-page-padding-bottom: 0;
$article-page-padding-left: 50px;
$article-page-padding-right: 50px + $content-navigation-item-margin-right;
$article-angle-size: 50px;
// Параметры элементов справа
$article-right-element-right: 65px;
$article-right-element-width: 226px;

//Fonts
$sans: Arial, Helvetica, sans-serif;
$arial-black: "Arial Black", Arial, Helvetica, sans-serif;
$serif: "Times New Roman", serif;
$ptsans: "PT Sans", Arial, Helvetica, sans-serif;
$ptserif: 'PT Serif', Georgia, 'Times New Roman', serif;
$georgia: Georgia, "Times New Roman", Times, serif;

//Animation
$hover-links: 0.25s all;
$slide-height-down: 0.20s ease-in-out;

//Input
$input-border-color: rgba(0,0,0,0.2);

//Header
$header-services-right-space: 160px;

//Top header
$top-header-height: 34px;

//Coockie
$coockie-banner-height: 72px;

////////////////////////////////////////////////////
//MIXINS
////////////////////////////////////////////////////

//Filters
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}

//Columns
@mixin columns($columns) {
    columns: $columns;
    -webkit-columns: $columns;
    -moz-columns: $columns;
}
//Border-radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//Border radius one corner
@mixin border-radius-side($horizontal, $vertical, $radius) {
    -webkit-border-#{$vertical}-#{$horizontal}-radius: #{$radius};
    -moz-border-radius-#{$vertical}#{$horizontal}: #{$radius};
    border-#{$vertical}-#{$horizontal}-radius: #{$radius};
}

// Backface-visibility
@mixin backface-visibility($backfacevisibility) {
    -webkit-backface-visibility: $backfacevisibility;
    -moz-backface-visibility: $backfacevisibility;
    -ms-backface-visibility: $backfacevisibility;
    backface-visibility: $backfacevisibility;
}

// Transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// Transform style
@mixin transform-style($transformstyle) {
    -webkit-transform-style: $transformstyle;
    -moz-transform-style: $transformstyle;
    -o-transform-style: $transformstyle;
    -ms-transform-style: $transformstyle;
    transform-style: $transformstyle;
}

//Rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

//RotateY
@mixin rotateY ($deg) {
    @include transform(rotateY(#{$deg}deg));
}

//Scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

//Translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

//Skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//Transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

// Box-shadow
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur #{$spread} $color #{$inset};
    -moz-box-shadow: $top $left $blur #{$spread} $color #{$inset};
    box-shadow: $top $left $blur #{$spread} $color #{$inset};
}

@mixin box-shadow-many($properties...) {
    -webkit-box-shadow: $properties;
    -moz-box-shadow: $properties;
    box-shadow: $properties;
}

// Opacity
@mixin opacity($opacity, $important: 0) {
    @if $important == 1 {
        opacity: $opacity !important;
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie) !important; //IE8
    }
    @else {
        opacity: $opacity;
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie); //IE8
    }
}

//Transition
@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

//Transition property
@mixin transition-property($property) {
    -moz-transition-property: $property;
    -webkit-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;
}

//Transition duration
@mixin transition-duration($duration) {
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

//Transition timing
@mixin transition-timing($timing) {
    -moz-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

//Reverse tables
@mixin reverse-table-cells {
    display: table;
    direction: rtl;
}

//Links color
@mixin link($color) {
    color: $color;
    border-color: transparentize($color, .8);

    &:hover {
        border-color: transparentize($color, .4);
    }
}

//Fonts from px to em
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

//Gradient
// ----
// Sass (v3.4.7)
// Compass (v1.0.1)
// ----

/// Convert angle
/// @author Chris Eppstein
/// @param {Number} $value - Value to convert
/// @param {String} $unit - Unit to convert to
/// @return {Number} Converted angle
@function convert-angle($value, $unit) {
    $convertable-units: deg grad turn rad;
    $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);

    @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
        @return $value / nth($conversion-factors, index($convertable-units, unit($value))) * nth($conversion-factors, index($convertable-units, $unit));
    }

    @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

/// Test if `$value` is an angle
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
    $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

    @return $is-direction or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
@function legacy-direction($value) {
    @if is-direction($value) == false {
        @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
    }

    $conversion-map: ( to top : bottom, to top right : bottom left, to right top : left bottom, to right : left, to bottom right : top left, to right bottom : left top, to bottom : top, to bottom left : top right, to left bottom : right top, to left : right, to left top : right bottom, to top left : bottom right );

    @if map-has-key($conversion-map, $value) {
        @return map-get($conversion-map, $value);
    }

    @return 90deg - convert-angle($value, 'deg');
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
    @if is-direction($direction) == false {
        $color-stops: ($direction, $color-stops);
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: -moz-linear-gradient($direction, $color-stops);
    background: linear-gradient($direction, $color-stops);
    //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{nth(nth($color-stops, 1), 1)}', endColorstr='#{nth(nth($color-stops, length($color-stops)), 1)}', GradientType=0 );
}

// Widths
@mixin col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

@mixin col-lg-1 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    width: 8.333333%;
}

@mixin col-lg-2 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    width: 16.666667%;
}

@mixin col-lg-3 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
}

@mixin col-lg-4 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;
}

@mixin col-lg-5 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    width: 41.666667%;
}

@mixin col-lg-6 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}

@mixin col-lg-7 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    width: 58.333333%;
}

@mixin col-lg-8 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%;
}

@mixin col-lg-9 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
}

@mixin col-lg-10 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    width: 83.333333%;
}

@mixin col-lg-11 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    width: 91.666667%;
}

@mixin col-lg-12 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
}

//Age rating
@mixin age-rating {
    &:before {
        content: "";
        background-image: url("/res/images/rating-background.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 24px;
        width: 24px;
        position: absolute;
        text-align: center;
        line-height: 24px;
        left: -30px;
        top: -5px;
    }
}

@mixin age-rating-6 {
    &:before {
        content: "6+";
    }
}

@mixin age-rating-12 {
    &:before {
        content: "12+";
    }
}

@mixin age-rating-18 {
    &:before {
        content: "18+";
    }
}

@mixin age-rating-21 {
    &:before {
        content: "21+";
    }
}

//Logos
@mixin publisher-block-logo-action {
    background-image: url("/res/images/logos/action-mcfr_362x36.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 18px;
    width: 181px;
}

@mixin publisher-block-logo-mcfr-ua {
    background-image: url("/res/images/logos/mcfr-ua.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 89px;
}

//placeholder color 
@mixin placeholdercolor($color) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

//Set block to page center
@mixin set-element-to-page-center {
    position: fixed;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

//Button mixins (add here if needed)

//Button with border without background
@mixin button-simple($radius, $color, $width, $style) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    border-color: $color;
    border-width: $width;
    border-style: $style;
}

//Yellow button
@mixin button-yellow {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    @include border-radius(3px);
    @include opacity(.9);
    @include linear-gradient(to top, $button-yellow-first-color, $button-yellow-second-color);
    border-bottom: 1px solid $button-yellow-border-color;
    color: $black-link-color;
    font-family: $sans;
    font-size: 14px;
    padding: 0.2rem 1.3rem;

    &:hover {
        @include opacity(1);
        border-bottom: 1px solid $button-yellow-border-color;
    }

    &:active {
        border-color: $button-yellow-active-border-color;
        @include linear-gradient(to top, $button-yellow-active-first-color, $button-yellow-active-second-color);
    }

    &[disabled], &.button-disabled {
        @include opacity(.6);
        cursor: default;

        &:hover, &:active {
            @include linear-gradient(to top, $button-yellow-first-color, $button-yellow-second-color);
            border-bottom: 1px solid $button-yellow-border-color;
        }
    }
}

//White button
@mixin button-white {
    cursor: pointer;

    @include border-radius(3px);
    @include opacity(.9);
    @include linear-gradient(to bottom, $button-white-first-color, $button-white-second-color);
    border-bottom: 1px solid $button-white-border-bottom-color;
    border-top: 1px solid $button-white-border-top-color;
    border-left: 1px solid $button-white-border-side-color;
    border-right: 1px solid $button-white-border-side-color;
    color: $black-link-color;
    padding: 0.3rem 0.6rem;

    &:hover {
        @include opacity(1);
        @include linear-gradient(to bottom, $button-white-hover-first-color, $button-white-hover-second-color);
        border-bottom: 1px solid $button-white-hover-border-bottom-color;
        border-top: 1px solid $button-white-hover-border-top-color;
        border-left: 1px solid $button-white-hover-border-side-color;
        border-right: 1px solid $button-white-hover-border-side-color;
    }

    &:active {
        @include linear-gradient(to bottom, $button-white-active-first-color, $button-white-active-second-color);
        border-bottom: 1px solid $button-white-active-border-bottom-color;
        border-top: 1px solid $button-white-active-border-top-color;
        border-left: 1px solid $button-white-active-border-side-color;
        border-right: 1px solid $button-white-active-border-side-color;
    }

    &[disabled], &.button-disabled {
        @include opacity(.6);
        cursor: default;

        &:hover, &:active {
            border-bottom: 1px solid $button-white-border-bottom-color;
            border-top: 1px solid $button-white-border-top-color;
            border-left: 1px solid $button-white-border-side-color;
            border-right: 1px solid $button-white-border-side-color;
            @include linear-gradient(to bottom, $button-white-hover-first-color, $button-white-hover-second-color);
        }
    }
}

//Turquoise button
@mixin button-turquoise {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: $sans;
    @include border-radius(3px);
    @include opacity(.9);
    @include linear-gradient($button-turquoise-first-color 5%, $button-turquoise-second-color 80%);
    border-color: $button-turquoise-border-top-color $button-turquoise-border-side-color $button-turquoise-border-bottom-color;
    border-style: solid;
    border-width: 1px;
    color: $white-link-color;
    white-space: nowrap;
    padding: 2px 12px 3px;

    &:hover {
        @include opacity(1);
        @include linear-gradient($button-turquoise-hover-first-color 5%, $button-turquoise-hover-second-color 80%);
        border-color: $button-turquoise-hover-border-top-color $button-turquoise-hover-border-side-color $button-turquoise-hover-border-bottom-color;
    }

    &:active {
        @include opacity(1);
        @include linear-gradient($button-turquoise-active-first-color 5%, $button-turquoise-active-second-color 80%);
        @include box-shadow(inset, 0, 2px, 4px, rgba(0,33,39,.85));
        border-color: $button-turquoise-active-border-top-color $button-turquoise-active-border-side-color $button-turquoise-active-border-bottom-color;
    }

    &[disabled], &.button-disabled {
        @include opacity(.6);
        cursor: default;

        &:hover, &:active {
            @include linear-gradient($button-turquoise-first-color 5%, $button-turquoise-second-color 80%);
            border-color: $button-turquoise-border-top-color $button-turquoise-border-side-color $button-turquoise-border-bottom-color;
        }
    }
}
