﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 100%; }

a, input, select, textarea, button {
  outline: 0; }

img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

pre, xmp, plaintext, listing {
  white-space: pre; }

.hidden, [hidden] {
  display: none; }

.nowrap {
  white-space: nowrap; }

.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed; }

.solid {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

.position-is__relative {
  position: relative !important; }

.position-is__absolute {
  position: absolute !important; }

.position-is__fixed {
  position: fixed !important; }

/* ==================================================================== */
/* STANDART BLOCKS
/* =================================================================== */
.col-lg {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  .col-lg-1 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    width: 8.333333%; }
  .col-lg-2 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    width: 16.666667%; }
  .col-lg-3 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%; }
  .col-lg-4 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%; }
  .col-lg-5 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    width: 41.666667%; }
  .col-lg-6 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%; }
  .col-lg-7 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    width: 58.333333%; }
  .col-lg-8 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%; }
  .col-lg-9 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%; }
  .col-lg-10 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    width: 83.333333%; }
  .col-lg-11 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    width: 91.666667%; }
  .col-lg-12 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; }
  .col-lg-text-left {
    text-align: left; }
  .col-lg-text-center {
    text-align: center; }
  .col-lg-text-right {
    text-align: right; }
  .col-lg-block-center {
    margin-left: auto;
    margin-right: auto; }

.notransparent {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

@keyframes hopacityoff {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hopacityon {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ==================================================================== */
/* STANDART LINKS
/* =================================================================== */
a {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  color: #1252a1;
  text-decoration: none;
  border-color: rgba(18, 82, 161, 0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  a:hover {
    text-decoration: none;
    border-color: rgba(18, 82, 161, 0.8); }
  a.__no-border {
    border-bottom: none; }

.standart-text-link__black {
  color: #000;
  border-color: rgba(0, 0, 0, 0.4); }
  .standart-text-link__black:focus, .standart-text-link__black:hover {
    border-color: rgba(0, 0, 0, 0.8); }

.standart-text-link__blue {
  color: #2e98ff;
  border-color: rgba(46, 152, 255, 0.4); }
  .standart-text-link__blue:focus, .standart-text-link__blue:hover {
    border-color: rgba(46, 152, 255, 0.8); }

.standart-text-link__light-gray {
  color: #ededed;
  border-color: rgba(237, 237, 237, 0.4); }
  .standart-text-link__light-gray:focus, .standart-text-link__light-gray:hover {
    border-color: rgba(237, 237, 237, 0.8); }

.standart-text-link__dark-gray {
  color: #707375;
  border-color: rgba(112, 115, 117, 0.4); }
  .standart-text-link__dark-gray:focus, .standart-text-link__dark-gray:hover {
    border-color: rgba(112, 115, 117, 0.8); }

.standart-text-link__white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4); }
  .standart-text-link__white:focus, .standart-text-link__white:hover {
    border-color: rgba(255, 255, 255, 0.8); }

.standart-text-link__green {
  color: #008200;
  border-color: rgba(0, 130, 0, 0.4); }
  .standart-text-link__green:focus, .standart-text-link__green:hover {
    border-color: rgba(0, 130, 0, 0.8); }

.standart-text-link__attention {
  color: #e2001a;
  border-color: rgba(226, 0, 26, 0.4); }
  .standart-text-link__attention:focus, .standart-text-link__attention:hover {
    border-color: rgba(226, 0, 26, 0.8); }

.standart-text-link__standart {
  color: #1252a1;
  border-color: rgba(18, 82, 161, 0.4); }
  .standart-text-link__standart:focus, .standart-text-link__standart:hover {
    border-color: rgba(18, 82, 161, 0.8); }

/* ==================================================================== */
/* STANDART BUTTONS
/* =================================================================== */
.button {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .button-white {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #f3f3f3);
    background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
    background: linear-gradient(to bottom, #fff, #f3f3f3);
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #efefef;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    color: #000;
    padding: 0.3rem 0.6rem; }
    .button-white:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #b7b7b7;
      border-top: 1px solid #f7f7f7;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0; }
    .button-white:active {
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #dedede;
      border-top: 1px solid #a2a2a2;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede; }
    .button-white[disabled]:hover, .button-white[disabled]:active, .button-white.button-disabled:hover, .button-white.button-disabled:active {
      border-bottom: 1px solid #b0b0b0;
      border-top: 1px solid #efefef;
      border-left: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      background: #fff;
      background: -webkit-linear-gradient(top, #fff, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
      background: linear-gradient(to bottom, #fff, #f3f3f3); }
  .button-yellow {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #febb2d;
    background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
    background: -moz-linear-gradient(to top, #febb2d, #fecc47);
    background: linear-gradient(to top, #febb2d, #fecc47);
    border-bottom: 1px solid #c47a14;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-yellow:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #c47a14; }
    .button-yellow:active {
      border-color: #efac1f;
      background: #efac1f;
      background: -webkit-linear-gradient(bottom, #efac1f, #f1b821);
      background: -moz-linear-gradient(to top, #efac1f, #f1b821);
      background: linear-gradient(to top, #efac1f, #f1b821); }
    .button-yellow[disabled], .button-yellow.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-yellow[disabled]:hover, .button-yellow[disabled]:active, .button-yellow.button-disabled:hover, .button-yellow.button-disabled:active {
        background: #febb2d;
        background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
        background: -moz-linear-gradient(to top, #febb2d, #fecc47);
        background: linear-gradient(to top, #febb2d, #fecc47);
        border-bottom: 1px solid #c47a14; }
  .button-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #bfbfbf;
    background: -webkit-linear-gradient(bottom, #bfbfbf, #dbdbdb);
    background: -moz-linear-gradient(to top, #bfbfbf, #dbdbdb);
    background: linear-gradient(to top, #bfbfbf, #dbdbdb);
    border-bottom: 1px solid #272727;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #272727; }
    .button-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button-very-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #dbdbdb;
    background: -webkit-linear-gradient(bottom, #dbdbdb, #f3f3f3);
    background: -moz-linear-gradient(to top, #dbdbdb, #f3f3f3);
    background: linear-gradient(to top, #dbdbdb, #f3f3f3);
    border-bottom: 1px solid #b4b4b4;
    color: #707375;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 0.6rem; }
    .button-very-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #000; }
    .button-very-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button[disabled], .button.button-disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: default; }
  .button-gray-glass {
    -webkit-box-shadow: 0 2px 0px 0 #fff inset;
    -moz-box-shadow: 0 2px 0px 0 #fff inset;
    box-shadow: 0 2px 0px 0 #fff inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
    background: -webkit-linear-gradient(bottom, #ffffff, #ededed);
    background: -moz-linear-gradient(to top, #ffffff, #ededed);
    background: linear-gradient(to top, #ffffff, #ededed);
    border: 1px solid #9b9b9b;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.23rem 1.2rem;
    position: relative; }
    .button-gray-glass:hover {
      border-color: #c6c6c6; }
    .button-gray-glass:active {
      background: #dfdfdf;
      background: -webkit-linear-gradient(top, #dfdfdf, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #dfdfdf, #f3f3f3);
      background: linear-gradient(to bottom, #dfdfdf, #f3f3f3); }
    .button-gray-glass[disabled], .button-gray-glass.button-disabled {
      opacity: 1;
      filter: alpha(opacity=100);
      border-color: #c6c6c6;
      cursor: default;
      color: #707375; }
  .button-yellow-glass {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #f9da94;
    background: -webkit-linear-gradient(top, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: -moz-linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    border-top: 1px solid #fceac1;
    border-bottom: 1px solid #876101;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    padding: 0.27rem 1.2rem;
    position: relative;
    opacity: 0.95;
    filter: alpha(opacity=95); }
    .button-yellow-glass:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-top: 1px solid #fceac1; }
  .button-turquoise {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #257584;
    background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
    background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
    background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
    border-color: #3d8491 #126a7a #004d5b;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    white-space: nowrap;
    padding: 2px 12px 3px; }
    .button-turquoise:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #287f8f;
      background: -webkit-linear-gradient(-90deg, #287f8f 5%, #287f8f 80%);
      background: -moz-linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      background: linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      border-color: #3d8491 #166c7c #005766; }
    .button-turquoise:active {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #257584;
      background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
      background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
      background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      -moz-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      border-color: #01272e #013842 #014a56; }
    .button-turquoise[disabled], .button-turquoise.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-turquoise[disabled]:hover, .button-turquoise[disabled]:active, .button-turquoise.button-disabled:hover, .button-turquoise.button-disabled:active {
        background: #257584;
        background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
        background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
        background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
        border-color: #3d8491 #126a7a #004d5b; }

.id2-rx-user-informer-block, .id2-rx-user-informer-popup *, .id2-rx-user-informer-icon {
  box-sizing: content-box; }
  .id2-rx-user-informer-block a, .id2-rx-user-informer-popup * a, .id2-rx-user-informer-icon a {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none; }

.opinionsupport-shadow-1967 {
  position: fixed !important; }

.id2Notify .id2NotifyContent,
.opinionsupport-rating-block-1967,
.opinionsupport-rating-list-item-1967.opinionsupport-rating-list-item-active-1967 {
  box-sizing: content-box; }

