@import "_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 100%;
}
a, input, select, textarea, button {
	outline: 0;
}
img {
  border: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
pre, xmp, plaintext, listing {
  white-space: pre;
}
.hidden, [hidden] {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
.solid {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: '';
}

//Position for JS
.position-is {
    &__relative {
        position: relative !important;
    }

    &__absolute {
        position: absolute !important;
    }

    &__fixed {
        position: fixed !important;
    }
}

/* ==================================================================== */
/* STANDART BLOCKS
/* =================================================================== */
.col-lg {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    &-1 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
          -ms-flex: 0 0 8.333333%;
              flex: 0 0 8.333333%;
      width: 8.333333%;
    }
    &-2 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
          -ms-flex: 0 0 16.666667%;
              flex: 0 0 16.666667%;
      width: 16.666667%;
    }
    &-3 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      width: 25%;
    }
    &-4 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
          -ms-flex: 0 0 33.333333%;
              flex: 0 0 33.333333%;
      width: 33.333333%;
    }
    &-5 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
          -ms-flex: 0 0 41.666667%;
              flex: 0 0 41.666667%;
      width: 41.666667%;
    }
    &-6 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      width: 50%;
    }
    &-7 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
          -ms-flex: 0 0 58.333333%;
              flex: 0 0 58.333333%;
      width: 58.333333%;
    }
    &-8 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
          -ms-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      width: 66.666667%;
    }
    &-9 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;
      width: 75%;
    }
    &-10 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
          -ms-flex: 0 0 83.333333%;
              flex: 0 0 83.333333%;
      width: 83.333333%;
    }
    &-11 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
          -ms-flex: 0 0 91.666667%;
              flex: 0 0 91.666667%;
      width: 91.666667%;
    }
    &-12 {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      width: 100%;
    }
    &-text {
      &-left {
        text-align: left;
      }
      &-center {
        text-align: center;
      }
      &-right {
        text-align: right;
      }
    }
    &-block-center {
      margin-left: auto;
      margin-right: auto;
    }
  }

.notransparent {
    @include opacity(1,1); // with !important
}

//Animations
//TODO to file

@keyframes hopacityoff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes hopacityon {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@import "base/links.scss";
@import "base/buttons.scss";
@import "exceptions/id2.scss";