@import "libs/font-awesome/font-awesome.scss";
@import "fonts.scss";
@import "base.scss";
@import "areas/right-menu.scss";
@import "areas/menu/menu.scss";
@import "areas/header/header.scss";
@import "areas/footer.scss";
@import "areas/content-navigation-menu.scss";
@import "areas/promo-footer.scss";
@import "areas/content-footer.scss";
@import "areas/login.scss";
@import "areas/tips.scss";
@import "areas/expert-link.scss";

//CONTENT
.page-wrapper-common {
    height: 100%;
    width: 100%;
    min-width: $window-min-width;
    display: table;
    background-color: $body-background-color;
}

.content-block-common {
    position: relative;
    display: table-row;
    height: 100%;
}
.page-content-common-wrapper-padding-bottom {
    margin-bottom: 100px;
}
.content-block-common-row {
    display: table;
    position: relative;
    width: 100%;
}
.page-content-common-wrapper {
  background-color: $paper-background-color;
  position: relative;
  min-height: $content-min-height;
}
.page-content-common {
  position: relative;
  min-height: $content-min-height;
}

//LEFT COLUMN
.left-column-content-common {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: $left-column-max-width + $left-column-padding-left;
    padding-left: $left-column-padding-left;
}

//RIGHT COLUMN
.right-column-content-common {
    display: table-cell;
    position: relative;
    min-width: $right-column-min-width;
}

//COMMON SHADOW BLOCK
.shadow-common {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include opacity(0.3);
    background-color: $black-link-color;
    z-index: 20002;
    &.show-shadow-common {
      display: block;
    }
    &.show-shadow-common-hide-all {
      display: block;
      z-index: 30000;
    }
}

/* ==================================================================== */
/* CORRECTIONS
/* =================================================================== */
.fa {
    &-star {
        font-size: 0.8em;

        &.test-done {
            color: $test-done-color !important;
        }
    }

    &-youtube-play {
        font-size: 0.7em;
    }

    &-search {
        font-size: 0.9em;
    }
}


