/* ==================================================================== */
/* STANDART FONTS
/* =================================================================== */

//serif
@font-face {
    font-family: 'PT Serif';
    src: url('/res/fonts/ptf55f_w.eot');
    src: local('PT Serif'), url('/res/fonts/ptf55f_w.woff') format('woff'), url('/res/fonts/ptf55f_w.ttf') format('truetype'), url('/res/fonts/ptf55f_w.svg#PTSerif-Regular') format('svg');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    src: url('/res/fonts/ptf56f_w.eot');
    src: local('PT Serif Italic'), url('/res/fonts/ptf56f_w.woff') format('woff'), url('/res/fonts/ptf56f_w.ttf') format('truetype'), url('/res/fonts/ptf56f_w.svg#PTSerif-Italic') format('svg');
}

@font-face {
    font-family: 'PT Serif';
    src: url('/res/fonts/ptf75f_w.eot');
    font-style: normal;
    font-weight: bold;
    src: local('PT Serif Bold'), url('/res/fonts/ptf75f_w.woff') format('woff'), url('/res/fonts/ptf75f_w.ttf') format('truetype'), url('/res/fonts/ptf75f_w.svg#PTSerif-Bold') format('svg');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: url('/res/fonts/ptf76f_w.eot');
    src: local('PT Serif Bold Italic'), url('/res/fonts/ptf76f_w.woff') format('woff'), url('/res/fonts/ptf76f_w.ttf') format('truetype'), url('/res/fonts/ptf76f_w.svg#PTSerif-BoldItalic') format('svg');
}

//sans

@font-face {
	font-family: 'PT Sans';
	src: url('/res/fonts/pts55f_w.eot');
	src: local('PT Sans'), url('/res/fonts/pts55f_w.woff') format('woff'), url('/res/fonts/pts55f_w.ttf') format('truetype'), url('/res/fonts/pts55f_w.svg#PTSans-Regular') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	src: url('/res/fonts/pts56f_w.eot');
	src: local('PT Sans Italic'), url('/res/fonts/pts56f_w.woff') format('woff'), url('/res/fonts/pts56f_w.ttf') format('truetype'), url('/res/fonts/pts56f_w.svg#PTSans-Italic') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	src: url('/res/fonts/pts75f_w.eot');
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), url('/res/fonts/pts75f_w.woff') format('woff'), url('/res/fonts/pts75f_w.ttf') format('truetype'), url('/res/fonts/pts75f_w.svg#PTSans-Bold') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	src: url('/res/fonts/pts76f_w.eot');
	src: local('PT Sans Bold Italic'), url('/res/fonts/pts76f_w.woff') format('woff'), url('/res/fonts/pts76f_w.ttf') format('truetype'), url('/res/fonts/pts76f_w.svg#PTSans-BoldItalic') format('svg');
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('/res/fonts/ptn57f_w.eot');
	src: local('PT Sans Narrow'), url('/res/fonts/ptn57f_w.woff') format('woff'), url('/res/fonts/ptn57f_w.ttf') format('truetype'), url('/res/fonts/ptn57f_w.svg#PTSans-Narrow') format('svg');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url('/res/fonts/ptn77f_w.eot');
	src: local('PT Sans Narrow Bold'), url('/res/fonts/ptn77f_w.woff') format('woff'), url('/res/fonts/ptn77f_w.ttf') format('truetype'), url('/res/fonts/ptn77f_w.svg#PTSans-NarrowBold') format('svg');
}