﻿@import "_variables.scss";
//Custom colors
$standart-red: #ed1b23;
$standart-turquoise: #008a83;
$standart-green: #007f49;
$standart-purple: #78439a;

$rubriccolor: (rubric-red, $standart-red),
            (rubric-turquoise, $standart-turquoise),
            (rubric-green, $standart-green),
            (rubric-purple, $standart-purple);


$standart-red-bgr: #ffefe0;
$standart-turquoise-bgr: #e1f2ef;
$standart-green-bgr: #deebe4;
$standart-purple-bgr: #eae5f2;

$rubricbackgroundcolor: (rubric-red, $standart-red-bgr),
                    (rubric-turquoise, $standart-turquoise-bgr),
                    (rubric-green, $standart-green-bgr),
                    (rubric-purple, $standart-purple-bgr);

//Отступы слева/справа в статье
$article-right-field-padding: 268px;
$article-left-field-padding: 24px;

//Параметры дебита
$article-debit-background: #edf0f2;
$article-debit-calc-color: #a7a7a7;
$article-debit-1-background: #d3ebf1;
$article-debit-2-background: #ffefe0;
$article-debit-2-border-color: #ed1b23;

//Параметры элемента highlighted
$highlighted-border-color: #d0d1d1;
$highlighted-background-color: #f0f2f3;

//Критичный размер окна
$media-screen-critical-value: 1185px;

//Размер концевика
$article-trailer-size: 45px;

//Mixins
//Responsive
@mixin hide-on-small-sreen {
    @media screen and (max-width: $media-screen-critical-value) {
        display: none;
    }
}
//Rubric colors
@mixin rubrictext($param) {
    @each $rubricname, $color in $rubriccolor {
        .#{$rubricname} & {
            #{$param}: $color;
        }
    }
}

@mixin rubriclink {
    @each $rubricname, $color in $rubriccolor {
        .#{$rubricname} & {
            @include link($color);
        }
    }
}
//ARTICLE
//Right elements
@mixin right-element {
    position: absolute;
    right: $article-right-element-right;
    width: $article-right-element-width;
}
//full width
@mixin full-width {
    margin-right: -$article-right-field-padding;
}
//photo to the right
@mixin photo-absolute-right {
    position: absolute;
    bottom: 0;
    right: 10px;
    top: auto;
}
//Настроение
@each $mood in 'good', 'bad', 'normal' {
    .index-page-block__mood-#{$mood}:before {
        @include translate(0, -50%);
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 28px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/res/images/custom-elements/clouds/cloud-#{$mood}.png");
    }
}

.getrubrictextcolor {
    @include rubrictext(color);
}

.getrubriclinccolor {
    @include rubriclink;
}

.promo-footer__item-image-block-about-background,
.article-page-block__notice__iphone-background {
    @include linear-gradient(rgb(0, 175, 225) 0%, rgb(0, 126, 177) 21%, rgb(0, 73, 126) 42%, rgb(0, 114, 165) 74%, rgb(0, 169, 220) 95%, rgb(0, 175, 225) 99%);
}


//Основной шрифт сайта
.page-wrapper-common {
    // font-family: $sans;
}

//Блок бюро
.bureau-block {
    &__text-wrapper {
        border-left: 1px solid $black-link-color;
        border-top: 1px solid $black-link-color;
        border-bottom: 1px solid $black-link-color;
    }

    &__corner {
        &:before {
            border: 1px solid $black-link-color;
        }
    }

    &__link {
        &:hover {
            & .bureau-block__link-text {
                border-color: transparentize($black-link-color, .2);
            }
        }

        &-text {
            @include link($black-link-color);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }

    &__year {
        &:after {
            //content: "2012";
        }
    }
}

/* ==================================================================== */
/* HEADER
/* ==================================================================== */
.header-block-common__main-link-background {
    background-color: $black-link-color;
}

/* ==================================================================== */
/* CARDS
/* ==================================================================== */
.cards__content-item,
.cards__menu-current:before {

}

/* ==================================================================== */
/* ARCHIVE PANEL
/* ==================================================================== */
.menu-panel__archive-list-item__text {
}

.menu-panel__archive-list-item__month {
}

.menu-panel__archive-list-item__year {
}

.menu-panel__archive-list-item__number {
}

/* ==================================================================== */
/* FAQ PAGE
/* ==================================================================== */
.faq-page-block__content {
    //Основной шрифт сайта
}

/* ==================================================================== */
/* ANNOUNCE PAGE
/* ==================================================================== */
.announce-page-block {
    & .index-page-block__number-month {
    }
}

.announce__list {
    &-item {
        & a {
        }
    }
}

.index-page-block__number-announce {
}
/* ==================================================================== */
/* INDEX PAGE
/* ==================================================================== */
.index-page-block {
    &__header {
    }

    &__logo {
        &-wrapper {
            @include col-lg-4;
        }
    }

    &__person {
        @include reverse-table-cells;

        &-wrapper {
            @include col-lg-5;
        }

        &-image {
            vertical-align: bottom;
            @include hide-on-small-sreen;
        }

        &-text {
            vertical-align: top;

            &-rubric {
            }

            &-link {
            }

            &-announce {
                display: block;
            }
        }
    }

    &__number {
        &-wrapper {
            @include col-lg-3;
        }
    }
    //Футер
    &__content-footer {
    }

    &__bureau-wrapper {
        @include hide-on-small-sreen;
        @include col-lg-3;
    }

    &__rating-wrapper {
        @include col-lg-3;
        padding-right: 15px;
    }

    &__legal-wrapper {
        @include col-lg-4;
        padding-right: 15px;
    }

    &__barcode-wrapper {
        @include col-lg-2;
    }

    &__article-read {
        @include link($article-read-color);
    }

    &__rubric-read {
        color: $article-read-color;
    }
}
/* ==================================================================== */
/* CONTENT STYLES
/* ==================================================================== */
.article-page-block {
    &__person {
        width: 220px;
    }

    &__rubric {
        &-block {
        }
    }

    &__subrubric {
    }

    &__details-wrapper {
        & h1 {
        }
    }

    &__logo {
        &-wrapper {
        }
    }

    &__number {
        &-wrapper {
        }
    }

    &__trailer {
        width: $article-trailer-size;
        height: $article-trailer-size;
    }

    &__announce-block {
        &-closed {
            padding-left: $article-left-field-padding;
            padding-right: $article-right-field-padding;
        }
    }

    &__author {
    }

    &__content {
        &-wrapper {
            padding-left: $article-left-field-padding;
            padding-right: $article-right-field-padding;

            & .doc {
            }

            & p {
            }

            & hr {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            //Заголовки
            & h1 {
                font-size: em(40);
                line-height: 1.1;
            }

            & h2 {
                margin-bottom: 10px;
            }

            & h3 {
            }

            & h4 {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            & h5 {
            }

            & h6 {
            }
            //Списки
            & ul {
                li {
                }
            }

            & ol {
                li {
                }
            }
            //Бледный текст
            & .weakp {
                @extend .paletext !optional;
            }

            & .paletext {
            }
            //Футнот
            & .footnote {
                font-family: $sans;
            }
            //Буквица
            & .letter {
                @extend .epistula !optional;
            }

            & .epistula {
                float: left;
            }
            //Сторно
            & .storno {
                border: 1px solid #9a9a9a;
                padding: 0 4px;
            }
            //Капитель
            & .capitel {
                text-transform: uppercase;
                letter-spacing: 0.04em;
                font-size: 0.85em;
            }
            //Цветной фон
            & .highlighted {
                @include border-radius(6px);
                margin-left: -9px;
                margin-top: 10px;
                padding: 6px 19px 8px 9px;
                border: 1px solid $highlighted-border-color;
                background-color: $highlighted-background-color;
            }

            //blockquote
            & blockquote {
            }
            //complexhead
            & .complexhead {
                &header {
                }

                &text {
                }
            }
            //Imagebox
            & .imagebox {
                & > div {
                }
            }
            //Стикер
            & .sticker {
                @include right-element;
            }
            
            //Ремарки
            .remarkType02 {
                @extend .remark-type__2 !optional;
            }

            & .remark {
                @include right-element;
                z-index: 1;

                & * {
                    font: inherit;
                }

                &photo {
                }

                & h3 {
                }

                & p {
                }
                //типы ремарок
                &-type {
                    &__2 {
                        text-align: center;

                        & .vin {
                            &text {
                                white-space: nowrap;
                                font-weight: bold;
                            }

                            &note {
                            }
                        }
                    }
                }
            }
            //cbody
            .cbody {
            }
            //debit
            .debitType {
                @extend .debitwrapper !optional;
            }

            .debitType01 {
                @extend .debit-type__1 !optional;
            }

            .debitType02 {
                @extend .debit-type__2 !optional;
            }

            .debit {
                font-family: $sans;
                border-collapse: inherit;
                position: relative;
                margin-bottom: 19px;

                & td {
                    vertical-align: top;
                }

                &wrapper {
                    @include border-radius(5px);
                    display: table;
                    background-color: $article-debit-background;
                    border: 1px solid $black-link-color;
                    padding: 4px 7px 5px 7px;
                    width: 317px;
                }

                &date {
                    position: absolute;
                    width: 50px;
                    left: -50px;
                    top: 0;
                    font-size: 15px;
                }

                &text {
                    display: table-cell;
                    font-size: 16px;
                    line-height: 18px;
                }

                &note {
                    font-size: 15px;
                    line-height: 18px;
                    padding-top: 3px;
                }

                &calc {
                    padding-left: 5px;
                    font-size: 15px;
                    color: $article-debit-calc-color;
                }

                &sum {
                    display: table-cell;
                    padding: 0 0 0 20px;
                    white-space: nowrap;
                    font-size: 18px;
                    line-height: 22px;
                }

                &-type {
                    &__1 {
                        display: table;
                        width: 317px;
                        background-color: $article-debit-1-background; //замена
                    }

                    &__2 {
                        display: table;
                        background-color: $article-debit-2-background;
                        border: 1px solid $article-debit-2-border-color;
                        border-radius: 5px;
                        padding: 4px 7px 5px 7px;

                        & .debittext {
                            color: $article-debit-2-border-color;
                        }
                    }
                }
            }
            //example
            & .example {
                & * {
                    font: inherit;
                }

                &header {
                }

                &text {
                }
            }
            //vin
            & .vin {
                & .vintext {
                    white-space: nowrap;
                    font-weight: bold;
                }

                & .vinnote {
                }
            }
            //inline
            & .inlineType01 {
                @extend .inline !optional;
            }

            & .inlineType02 {
                @extend .inline !optional;
                @extend .inline-type__2 !optional;
            }

            & .inline {
                @include full-width;
                position: relative;

                & * {
                    font: inherit;
                }

                & b, & strong {
                    font-weight: bold;
                }

                & table {
                    margin-right: 0;
                }

                &-image-wrapper {
                }

                &-text-wrapper {
                }

                &-type {
                    &__2 {
                        padding-right: 330px;

                        img {
                            @include photo-absolute-right;
                        }
                    }
                }
            }
            //newsmaker
            & .newsmaker {
                & .nwheader {
                    @extend .newsmaker-header !optional;
                }

                & .nwname {
                    @extend .newsmaker-name !optional;
                }

                & .nwinfo {
                    @extend .newsmaker-info !optional;
                }

                & .nwtext {
                    @extend .newsmaker-text !optional;
                }
            }

            & .newsmaker {
                @include full-width;
                position: relative;
                padding-right: 330px;

                & * {
                    font: inherit;
                }

                &-header {
                }

                &-name {
                }

                &-info {
                }

                &-text {
                    &-wrapper {
                    }
                }

                &-image-wrapper {
                    line-height: 1px;
                }

                & img {
                }
            }
            //newsmaker2
            & .newsmaker2 {
                & .nwname {
                    @extend .newsmaker2-name !optional;
                }

                & .nwinfo {
                    @extend .newsmaker2-info !optional;
                }

                & .nwtext {
                    @extend .newsmaker2-text !optional;
                }
            }

            & .newsmaker2 {
                @include full-width;
                position: relative;
                padding-right: 330px;

                & * {
                    font: inherit;
                }

                &-header {
                }

                &-name {
                }

                &-info {
                }

                &-text {
                    &-wrapper {
                    }
                }

                &-image-wrapper {
                    line-height: 1px;
                }

                & img {
                }
            }
            //blank
            & .article-image {
                @extend .blank !optional;
            }

            & .article-image .page {
                @extend .blank-image-wrapper !optional;
            }

            & .article-image .line {
                @extend .blank-line !optional;
            }

            & .article-image .note {
                @extend .blank-text !optional;
            }

            & .blank {
                @include full-width;
                position: relative;

                &-image-wrapper {
                    position: relative;
                }

                &-line {
                    position: absolute;
                    border-bottom: 1px dashed $black-link-color;
                    z-index: 20;
                    height: 1px;
                }

                &-text {
                    position: absolute;
                }

                & img {
                    width: 100%;
                }
            }
            //table
            & .article-table {
                @extend .table !optional;

                &.tabletype04 {
                    @extend .table-type__4 !optional;
                }
            }

            & .article-table .row {
                @extend .table-row !optional;
            }

            & .table {
                @include full-width;

                & th {
                }

                & td {
                }

                &-row {
                    &-header {
                    }
                }

                & .entryheader1 {
                }

                & .entryheader2 {
                }

                &-type {
                    &__4 {
                    }
                }
            }
        }
    }

    &__additional {
        padding-left: $article-left-field-padding;
        padding-right: $article-right-field-padding;

        & ul {
            padding: 0;
        }
    }
}

//Прочтенная статья
.standart__article-read {
    @include link($article-read-color);
}

//Book article fix
.book-article-page-block__content {
    & .remark {
        position: relative;
        width: auto;
        right: inherit;
    }
}
