﻿.index-page-block__mood-good:before {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("/res/images/custom-elements/clouds/cloud-good.png"); }

.index-page-block__mood-bad:before {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("/res/images/custom-elements/clouds/cloud-bad.png"); }

.index-page-block__mood-normal:before {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("/res/images/custom-elements/clouds/cloud-normal.png"); }

.rubric-red .getrubrictextcolor {
  color: #ed1b23; }

.rubric-turquoise .getrubrictextcolor {
  color: #008a83; }

.rubric-green .getrubrictextcolor {
  color: #007f49; }

.rubric-purple .getrubrictextcolor {
  color: #78439a; }

.rubric-red .getrubriclinccolor {
  color: #ed1b23;
  border-color: rgba(237, 27, 35, 0.2); }
  .rubric-red .getrubriclinccolor:hover {
    border-color: rgba(237, 27, 35, 0.6); }

.rubric-turquoise .getrubriclinccolor {
  color: #008a83;
  border-color: rgba(0, 138, 131, 0.2); }
  .rubric-turquoise .getrubriclinccolor:hover {
    border-color: rgba(0, 138, 131, 0.6); }

.rubric-green .getrubriclinccolor {
  color: #007f49;
  border-color: rgba(0, 127, 73, 0.2); }
  .rubric-green .getrubriclinccolor:hover {
    border-color: rgba(0, 127, 73, 0.6); }

.rubric-purple .getrubriclinccolor {
  color: #78439a;
  border-color: rgba(120, 67, 154, 0.2); }
  .rubric-purple .getrubriclinccolor:hover {
    border-color: rgba(120, 67, 154, 0.6); }

.promo-footer__item-image-block-about-background,
.article-page-block__notice__iphone-background {
  background: #00afe1;
  background: -webkit-linear-gradient(-90deg, #00afe1 0%, #007eb1 21%, #00497e 42%, #0072a5 74%, #00a9dc 95%, #00afe1 99%);
  background: -moz-linear-gradient(180deg, #00afe1 0%, #007eb1 21%, #00497e 42%, #0072a5 74%, #00a9dc 95%, #00afe1 99%);
  background: linear-gradient(180deg, #00afe1 0%, #007eb1 21%, #00497e 42%, #0072a5 74%, #00a9dc 95%, #00afe1 99%); }

.bureau-block__text-wrapper {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.bureau-block__corner:before {
  border: 1px solid #000; }

.bureau-block__link:hover .bureau-block__link-text {
  border-color: rgba(0, 0, 0, 0.8); }

.bureau-block__link-text {
  color: #000;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px; }
  .bureau-block__link-text:hover {
    border-color: rgba(0, 0, 0, 0.6); }

/* ==================================================================== */
/* HEADER
/* ==================================================================== */
.header-block-common__main-link-background {
  background-color: #000; }

/* ==================================================================== */
/* CARDS
/* ==================================================================== */
/* ==================================================================== */
/* ARCHIVE PANEL
/* ==================================================================== */
/* ==================================================================== */
/* FAQ PAGE
/* ==================================================================== */
/* ==================================================================== */
/* ANNOUNCE PAGE
/* ==================================================================== */
/* ==================================================================== */
/* INDEX PAGE
/* ==================================================================== */
.index-page-block__logo-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  width: 33.333333%; }

.index-page-block__person {
  display: table;
  direction: rtl; }
  .index-page-block__person-wrapper {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    width: 41.666667%; }
  .index-page-block__person-image {
    vertical-align: bottom; }
    @media screen and (max-width: 1185px) {
      .index-page-block__person-image {
        display: none; } }
  .index-page-block__person-text {
    vertical-align: top; }
    .index-page-block__person-text-announce {
      display: block; }

.index-page-block__number-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%; }

.index-page-block__bureau-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%; }
  @media screen and (max-width: 1185px) {
    .index-page-block__bureau-wrapper {
      display: none; } }

.index-page-block__rating-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  padding-right: 15px; }

.index-page-block__legal-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  width: 33.333333%;
  padding-right: 15px; }

.index-page-block__barcode-wrapper {
  vertical-align: top;
  display: table-cell;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  width: 16.666667%; }

.index-page-block__article-read {
  color: #a0a1a5;
  border-color: rgba(160, 161, 165, 0.2); }
  .index-page-block__article-read:hover {
    border-color: rgba(160, 161, 165, 0.6); }

.index-page-block__rubric-read {
  color: #a0a1a5; }

/* ==================================================================== */
/* CONTENT STYLES
/* ==================================================================== */
.article-page-block__person {
  width: 220px; }

.article-page-block__trailer {
  width: 45px;
  height: 45px; }

.article-page-block__announce-block-closed {
  padding-left: 24px;
  padding-right: 268px; }

.article-page-block__content-wrapper {
  padding-left: 24px;
  padding-right: 268px; }
  .article-page-block__content-wrapper hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  .article-page-block__content-wrapper h1 {
    font-size: 2.5em;
    line-height: 1.1; }
  .article-page-block__content-wrapper h2 {
    margin-bottom: 10px; }
  .article-page-block__content-wrapper h4 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .article-page-block__content-wrapper .footnote {
    font-family: Arial, Helvetica, sans-serif; }
  .article-page-block__content-wrapper .epistula, .article-page-block__content-wrapper .letter {
    float: left; }
  .article-page-block__content-wrapper .storno {
    border: 1px solid #9a9a9a;
    padding: 0 4px; }
  .article-page-block__content-wrapper .capitel {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.85em; }
  .article-page-block__content-wrapper .highlighted {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin-left: -9px;
    margin-top: 10px;
    padding: 6px 19px 8px 9px;
    border: 1px solid #d0d1d1;
    background-color: #f0f2f3; }
  .article-page-block__content-wrapper .sticker {
    position: absolute;
    right: 65px;
    width: 226px; }
  .article-page-block__content-wrapper .remark {
    position: absolute;
    right: 65px;
    width: 226px;
    z-index: 1; }
    .article-page-block__content-wrapper .remark * {
      font: inherit; }
    .article-page-block__content-wrapper .remark-type__2, .article-page-block__content-wrapper .remarkType02 {
      text-align: center; }
      .article-page-block__content-wrapper .remark-type__2 .vintext, .article-page-block__content-wrapper .remarkType02 .vintext {
        white-space: nowrap;
        font-weight: bold; }
  .article-page-block__content-wrapper .debit {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: inherit;
    position: relative;
    margin-bottom: 19px; }
    .article-page-block__content-wrapper .debit td {
      vertical-align: top; }
    .article-page-block__content-wrapper .debitwrapper, .article-page-block__content-wrapper .debitType {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      display: table;
      background-color: #edf0f2;
      border: 1px solid #000;
      padding: 4px 7px 5px 7px;
      width: 317px; }
    .article-page-block__content-wrapper .debitdate {
      position: absolute;
      width: 50px;
      left: -50px;
      top: 0;
      font-size: 15px; }
    .article-page-block__content-wrapper .debittext {
      display: table-cell;
      font-size: 16px;
      line-height: 18px; }
    .article-page-block__content-wrapper .debitnote {
      font-size: 15px;
      line-height: 18px;
      padding-top: 3px; }
    .article-page-block__content-wrapper .debitcalc {
      padding-left: 5px;
      font-size: 15px;
      color: #a7a7a7; }
    .article-page-block__content-wrapper .debitsum {
      display: table-cell;
      padding: 0 0 0 20px;
      white-space: nowrap;
      font-size: 18px;
      line-height: 22px; }
    .article-page-block__content-wrapper .debit-type__1, .article-page-block__content-wrapper .debitType01 {
      display: table;
      width: 317px;
      background-color: #d3ebf1; }
    .article-page-block__content-wrapper .debit-type__2, .article-page-block__content-wrapper .debitType02 {
      display: table;
      background-color: #ffefe0;
      border: 1px solid #ed1b23;
      border-radius: 5px;
      padding: 4px 7px 5px 7px; }
      .article-page-block__content-wrapper .debit-type__2 .debittext, .article-page-block__content-wrapper .debitType02 .debittext {
        color: #ed1b23; }
  .article-page-block__content-wrapper .example * {
    font: inherit; }
  .article-page-block__content-wrapper .vin .vintext {
    white-space: nowrap;
    font-weight: bold; }
  .article-page-block__content-wrapper .inline, .article-page-block__content-wrapper .inlineType01, .article-page-block__content-wrapper .inlineType02 {
    margin-right: -268px;
    position: relative; }
    .article-page-block__content-wrapper .inline *, .article-page-block__content-wrapper .inlineType01 *, .article-page-block__content-wrapper .inlineType02 * {
      font: inherit; }
    .article-page-block__content-wrapper .inline b, .article-page-block__content-wrapper .inlineType01 b, .article-page-block__content-wrapper .inlineType02 b, .article-page-block__content-wrapper .inline strong, .article-page-block__content-wrapper .inlineType01 strong, .article-page-block__content-wrapper .inlineType02 strong {
      font-weight: bold; }
    .article-page-block__content-wrapper .inline table, .article-page-block__content-wrapper .inlineType01 table, .article-page-block__content-wrapper .inlineType02 table {
      margin-right: 0; }
    .article-page-block__content-wrapper .inline-type__2, .article-page-block__content-wrapper .inlineType02 {
      padding-right: 330px; }
      .article-page-block__content-wrapper .inline-type__2 img, .article-page-block__content-wrapper .inlineType02 img {
        position: absolute;
        bottom: 0;
        right: 10px;
        top: auto; }
  .article-page-block__content-wrapper .newsmaker {
    margin-right: -268px;
    position: relative;
    padding-right: 330px; }
    .article-page-block__content-wrapper .newsmaker * {
      font: inherit; }
    .article-page-block__content-wrapper .newsmaker-image-wrapper {
      line-height: 1px; }
  .article-page-block__content-wrapper .newsmaker2 {
    margin-right: -268px;
    position: relative;
    padding-right: 330px; }
    .article-page-block__content-wrapper .newsmaker2 * {
      font: inherit; }
    .article-page-block__content-wrapper .newsmaker2-image-wrapper {
      line-height: 1px; }
  .article-page-block__content-wrapper .blank, .article-page-block__content-wrapper .article-image {
    margin-right: -268px;
    position: relative; }
    .article-page-block__content-wrapper .blank-image-wrapper, .article-page-block__content-wrapper .article-image .page {
      position: relative; }
    .article-page-block__content-wrapper .blank-line, .article-page-block__content-wrapper .article-image .line {
      position: absolute;
      border-bottom: 1px dashed #000;
      z-index: 20;
      height: 1px; }
    .article-page-block__content-wrapper .blank-text, .article-page-block__content-wrapper .article-image .note {
      position: absolute; }
    .article-page-block__content-wrapper .blank img, .article-page-block__content-wrapper .article-image img {
      width: 100%; }
  .article-page-block__content-wrapper .table, .article-page-block__content-wrapper .article-table {
    margin-right: -268px; }

.article-page-block__additional {
  padding-left: 24px;
  padding-right: 268px; }
  .article-page-block__additional ul {
    padding: 0; }

.standart__article-read {
  color: #a0a1a5;
  border-color: rgba(160, 161, 165, 0.2); }
  .standart__article-read:hover {
    border-color: rgba(160, 161, 165, 0.6); }

.book-article-page-block__content .remark {
  position: relative;
  width: auto;
  right: inherit; }

