﻿/* ==================================================================== */
/* ARTICLE WORD PAGE
/* ==================================================================== */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000;
  background: #ffffff !important;
  line-height: 1.5; }

.red {
  color: #ed1b23; }

.yellow {
  color: #ff9900; }

.green {
  color: #007f49; }

.blue {
  color: #99ccff; }

.turquoise {
  color: #008a83; }

.purple {
  color: #78439a; }

.black {
  color: #000; }

.gray:not(td) {
  color: #a7a7a7; }

b {
  font-weight: bold; }

img {
  border: none; }

li {
  list-style-type: none; }

ul {
  list-style: none;
  list-style-type: none; }

ol {
  list-style: none;
  list-style-type: none; }

pre,
.newsmaker,
.newsmaker2,
.remark,
.inline,
.dashed-block,
.testInArticleContainer {
  page-break-inside: avoid; }

table {
  page-break-inside: auto; }

tr {
  page-break-inside: avoid;
  page-break-after: auto; }

iframe, ins {
  display: none;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  line-height: 0 !important;
  white-space: nowrap; }

input {
  display: none; }

.clearfix {
  clear: both;
  display: block; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

h1 {
  font-size: 24pt; }

table {
  margin-bottom: 20pt;
  width: 100% !important;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; }

td {
  padding: 16pt;
  font-size: 12pt;
  vertical-align: top; }

th {
  padding: 16pt;
  font-size: 14pt;
  vertical-align: middle;
  font-weight: bold;
  text-align: center; }

dt {
  display: block;
  clear: both;
  font-weight: bold; }

dd {
  display: block;
  clear: both; }

.print-page-block__rubric {
  display: none; }

.print-page-block__subrubric {
  text-transform: uppercase; }

.print-page-block__person-image,
.print-page-block__person-text,
.print-page-block__person-header {
  display: none; }

.print-page-block__rubric-image {
  display: none; }

.entryheader1 {
  font-weight: bold;
  font-size: 12pt; }

.entryheader2 {
  font-weight: bold; }

.storno {
  border: 1px dotted #000000; }

.newsmaker {
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  margin-top: 30px; }

.nwheader {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  margin-bottom: 20px; }

.newsmaker2 {
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  margin-top: 30px; }

.nwtext {
  font-size: 16pt; }

.nwname {
  font-weight: bold; }

.remark {
  border-left: 2px solid #000000;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px; }

.remarkType02 {
  border-left: 2px solid #000000;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 0; }

.dashed-block {
  border: 1px solid #000000;
  padding: 10px 230px 30px 10px;
  margin-top: 20px;
  position: relative; }

.test {
  padding-left: 80px; }

.num {
  font-size: 16pt;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 1; }

.radio {
  display: none; }

.question {
  font-weight: bold; }

.right-answer {
  margin-bottom: 11px;
  padding: 13px 57px 17px 20px;
  display: block; }

.vintext {
  white-space: nowrap;
  font-weight: bold;
  font-size: 24pt; }

.vinnote {
  font-weight: bold; }

.testInArticleQAContainer {
  padding: 22px 36px 24px 36px; }

.testInArticleStarContainer {
  display: none; }

.testInArticle {
  position: relative;
  margin: 39px auto 40px auto;
  width: 682px;
  min-height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 22px;
  color: #000000; }

.testInArticleName {
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 13px; }

.testInArticleStar {
  display: none; }

.testInArticleQuest {
  clear: both;
  margin-bottom: 16px; }

.testInArticleAnswer {
  clear: both;
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 11px;
  position: relative; }

.testInArticleNameWrong,
.testInArticleNameRightig,
.testInArticleBack,
.testInArticleSolution,
.testInArticleBigStar,
.testInArticleBigStar > img,
.testInArticleBack,
.testInArticleStarContainer,
.testInArticleStarText {
  display: none; }

.endarticle {
  display: none; }

.training-cloud,
.training-cloud-wrapper,
.training-cloud-wrapper > span,
.training-cloud-close {
  display: none; }

.replacer {
  margin-bottom: 10px; }

.replacer div {
  display: inline; }

.replacer div.front {
  margin-right: 1%; }

.replacer div img {
  max-width: 49%; }

.poll {
  padding: 10px 0 10px 30px; }

.front {
  display: none; }

.pollheader {
  margin: 0 0 13px 0;
  font-size: 140%;
  font-weight: bold; }

.pollitem {
  margin: 0 0 13px 0; }

.pollnote {
  margin: 0 0 13px 0; }

