﻿@import "../../_variables.scss";
/* ==================================================================== */
/* BANNER RESUB
/* =================================================================== */
$banner-width: 640px;
$h2-color: #d02628;
$p-color: #333132;
$button-border-color: #e2e2e1;
$button-background-color: #fecc00;

.customer-info-block__resub {
    @include set-element-to-page-center;
    z-index: 30001;
    width: $banner-width;
    font-family: $sans;
    background-color: $white-link-color;
    @include box-shadow(0, 0, 23px, 0, rgba(0, 0, 0, 1));

    &-header {
        display: table;
        padding-bottom: 32px;

        &-image {
            display: table-cell;
            vertical-align: top;
        }
    }

    &-link {
        border: none;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 10px 60px 45px 60px;
        display: block;
        overflow: hidden;
        text-decoration: none;

        & h2 {
            color: $h2-color;
            font-size: 38px;
            line-height: 44px;
            display: table-cell;
            vertical-align: top;
            padding-top: 47px;
            text-align: left;
            font-weight: normal;
        }

        & p {
            font-size: 24px;
            color: $p-color;
            line-height: 32px;
            text-align: center;
            padding: 0;
            margin: 0 0 39px 0;
        }
    }

    &-print {
        text-align: center;

        &-button {
            background-color: $button-background-color;
            @include border-radius(8px);
            color: $black-link-color;
            font-size: 26px;
            font-weight: bold;
            line-height: 20px;
            padding: 17px 55px 17px 18px;
            display: inline-block;
            border-bottom: 3px solid $button-border-color;
            position: relative;

            &:after {
                content: "→";
                position: absolute;
                right: 15px;
                @include border-radius(50%);
                border: 2px solid $black-link-color;
                height: 26px;
                width: 26px;
                text-align: center;
                display: block;
                font-family: monospace;
                font-size: 30px;
                line-height: 22px;
                font-weight: bold;
                top: 50%;
                @include translate(0, -50%);
            }
        }
    }
}
