﻿/* ==================================================================== */
/* BANNER DEMO
/* =================================================================== */
.customer-info-block__demo {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 30001;
  border: 4px solid #ebb437;
  width: 632px;
  font-family: Arial, Helvetica, sans-serif; }
  .customer-info-block__demo-wrapper {
    display: table;
    position: relative;
    width: 100%; }
  .customer-info-block__demo-left, .customer-info-block__demo .bannerAfterDemo .leftBlock {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    background-color: #3c464d;
    padding: 34px 30px 40px 30px;
    color: #fff;
    width: 287px; }
    .customer-info-block__demo-left h2, .customer-info-block__demo .bannerAfterDemo .leftBlock h2 {
      margin: 0 0 20px 0;
      padding: 0;
      font-size: 30px;
      line-height: 36px;
      font-family: "Arial Black", Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase; }
    .customer-info-block__demo-left p, .customer-info-block__demo .bannerAfterDemo .leftBlock p {
      margin: 0 0 43px 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px; }
      .customer-info-block__demo-left p.customer-info-block__demo-description, .customer-info-block__demo-left p.small, .customer-info-block__demo .bannerAfterDemo .leftBlock p.customer-info-block__demo-description, .customer-info-block__demo .bannerAfterDemo .leftBlock p.small {
        margin: 0 0 26px 0;
        padding: 0;
        font-size: 12px;
        line-height: 16px;
        color: #c5c5c5; }
  .customer-info-block__demo-right, .customer-info-block__demo .bannerAfterDemo .rightBlock {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    background-color: #fff;
    padding: 19px 15px 40px 60px;
    font-size: 12px;
    line-height: 16px; }
    .customer-info-block__demo-right p, .customer-info-block__demo .bannerAfterDemo .rightBlock p {
      margin: 0 0 11px 0;
      padding: 0; }
  .customer-info-block__demo-close, .customer-info-block__demo .bannerAfterDemo .next {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #febb2d;
    background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
    background: -moz-linear-gradient(to top, #febb2d, #fecc47);
    background: linear-gradient(to top, #febb2d, #fecc47);
    border-bottom: 1px solid #c47a14;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 11px 0;
    width: 175px;
    display: table;
    font-size: 16px;
    line-height: 20px; }
    .customer-info-block__demo-close:hover, .customer-info-block__demo .bannerAfterDemo .next:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #c47a14; }
    .customer-info-block__demo-close:active, .customer-info-block__demo .bannerAfterDemo .next:active {
      border-color: #efac1f;
      background: #efac1f;
      background: -webkit-linear-gradient(bottom, #efac1f, #f1b821);
      background: -moz-linear-gradient(to top, #efac1f, #f1b821);
      background: linear-gradient(to top, #efac1f, #f1b821); }
    .customer-info-block__demo-close[disabled], .customer-info-block__demo-close.button-disabled, .customer-info-block__demo .bannerAfterDemo .next[disabled], .customer-info-block__demo .bannerAfterDemo .next.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .customer-info-block__demo-close[disabled]:hover, .customer-info-block__demo-close[disabled]:active, .customer-info-block__demo-close.button-disabled:hover, .customer-info-block__demo-close.button-disabled:active, .customer-info-block__demo .bannerAfterDemo .next[disabled]:hover, .customer-info-block__demo .bannerAfterDemo .next[disabled]:active, .customer-info-block__demo .bannerAfterDemo .next.button-disabled:hover, .customer-info-block__demo .bannerAfterDemo .next.button-disabled:active {
        background: #febb2d;
        background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
        background: -moz-linear-gradient(to top, #febb2d, #fecc47);
        background: linear-gradient(to top, #febb2d, #fecc47);
        border-bottom: 1px solid #c47a14; }
  .customer-info-block__demo-list, .customer-info-block__demo .bannerAfterDemo ul {
    margin: 0 0 14px 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea; }
    .customer-info-block__demo-list li, .customer-info-block__demo .bannerAfterDemo ul li {
      margin: 0 0 0 -42px;
      padding: 6px 0 29px 42px;
      list-style: none;
      background-position: left 8px;
      background-repeat: no-repeat;
      background-size: 32px auto; }
      .customer-info-block__demo-list li:first-child, .customer-info-block__demo .bannerAfterDemo ul li:first-child {
        margin-top: 18px;
        padding-top: 0px;
        background-position: left 2px; }

.customer-info-block__demo-free {
  background-image: url("/res/images/customer-info/customer-info-block__demo-free-icon.png"); }

.customer-info-block__demo-archive {
  background-image: url("/res/images/customer-info/customer-info-block__demo-archive-icon.png"); }

.customer-info-block__demo-npd {
  background-image: url("/res/images/customer-info/customer-info-block__demo-npd-icon.png"); }

