﻿@charset "UTF-8";
/* ==================================================================== */
/* BANNER RESUB
/* =================================================================== */
.customer-info-block__resub {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 30001;
  width: 640px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  -webkit-box-shadow: 0 0 23px 0 black ;
  -moz-box-shadow: 0 0 23px 0 black ;
  box-shadow: 0 0 23px 0 black ; }
  .customer-info-block__resub-header {
    display: table;
    padding-bottom: 32px; }
    .customer-info-block__resub-header-image {
      display: table-cell;
      vertical-align: top; }
  .customer-info-block__resub-link {
    border: none;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 60px 45px 60px;
    display: block;
    overflow: hidden;
    text-decoration: none; }
    .customer-info-block__resub-link h2 {
      color: #d02628;
      font-size: 38px;
      line-height: 44px;
      display: table-cell;
      vertical-align: top;
      padding-top: 47px;
      text-align: left;
      font-weight: normal; }
    .customer-info-block__resub-link p {
      font-size: 24px;
      color: #333132;
      line-height: 32px;
      text-align: center;
      padding: 0;
      margin: 0 0 39px 0; }
  .customer-info-block__resub-print {
    text-align: center; }
    .customer-info-block__resub-print-button {
      background-color: #fecc00;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      color: #000;
      font-size: 26px;
      font-weight: bold;
      line-height: 20px;
      padding: 17px 55px 17px 18px;
      display: inline-block;
      border-bottom: 3px solid #e2e2e1;
      position: relative; }
      .customer-info-block__resub-print-button:after {
        content: "→";
        position: absolute;
        right: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #000;
        height: 26px;
        width: 26px;
        text-align: center;
        display: block;
        font-family: monospace;
        font-size: 30px;
        line-height: 22px;
        font-weight: bold;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }

