﻿/* ==================================================================== */
/* BANNER NAPADALKA
/* =================================================================== */
.customer-info-block__napadalka {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 30001;
  width: 660px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EBEBEB;
  padding: 45px 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -21px 26px 59px 0 rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: -21px 26px 59px 0 rgba(0, 0, 0, 0.5) ;
  box-shadow: -21px 26px 59px 0 rgba(0, 0, 0, 0.5) ; }
  .customer-info-block__napadalka h2 {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 20px;
    font-weight: normal;
    margin: 0 0 22px 0; }
  .customer-info-block__napadalka-mark {
    background: url("/res/images/customer-info/customer-info-block__napadalka-mark-background.png") no-repeat left top transparent;
    height: 39px;
    margin-left: -3px;
    padding: 3px 21px 4px 5px;
    width: 225px; }
  .customer-info-block__napadalka-instructuion {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 25px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center; }
  .customer-info-block__napadalka-rating {
    white-space: nowrap;
    text-align: center;
    position: relative;
    margin-bottom: 46px; }
    .customer-info-block__napadalka-rating-scale {
      position: relative; }
      .customer-info-block__napadalka-rating-scale ul {
        font-size: 0;
        margin: 0;
        padding: 0; }
      .customer-info-block__napadalka-rating-scale li {
        list-style: none;
        background: url("/res/images/customer-info/customer-info-block__napadalka-rating-scale-background.png") no-repeat left top transparent;
        height: 35px;
        font-size: 18px;
        margin-left: 8px;
        padding-top: 5px;
        width: 33px;
        cursor: pointer;
        display: inline-block;
        position: relative; }
        .customer-info-block__napadalka-rating-scale li:hover, .customer-info-block__napadalka-rating-scale li.customer-info-block__napadalka-rating-selected {
          background-position: right top; }
        .customer-info-block__napadalka-rating-scale li:first-child {
          margin-left: 0; }
          .customer-info-block__napadalka-rating-scale li:first-child:before {
            content: attr(data-customer-info-block__napadalka-rating-no);
            font-size: 11px;
            position: absolute;
            right: 50%;
            top: 100%; }
        .customer-info-block__napadalka-rating-scale li:last-child:after {
          content: attr(data-customer-info-block__napadalka-rating-yes);
          font-size: 11px;
          position: absolute;
          left: 50%;
          top: 100%; }
  .customer-info-block__napadalka-textarea {
    border-color: #808080 #C0C0C0 #E0E0E0 #BEBEBE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0 5px 6px -6px gray inset;
    -moz-box-shadow: 0 5px 6px -6px gray inset;
    box-shadow: 0 5px 6px -6px gray inset;
    height: 92px;
    padding: 5px;
    vertical-align: top;
    width: 467px;
    overflow: auto;
    resize: none; }
    .customer-info-block__napadalka-textarea-block {
      font-size: 17px;
      margin-bottom: 28px;
      padding: 0 55px;
      text-align: left; }
    .customer-info-block__napadalka-textarea-header {
      margin-bottom: 8px;
      font-size: 17px;
      line-height: 21px; }
  .customer-info-block__napadalka-send-button {
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
    border: none;
    font-size: 22px;
    height: 63px;
    padding-bottom: 10px;
    width: 176px;
    cursor: pointer;
    background: url("/res/images/customer-info/customer-info-block__napadalka-send-button-background.png") no-repeat left top transparent; }
  .customer-info-block__napadalka-close {
    height: 18px;
    right: 17px;
    top: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
    font-size: 22px;
    line-height: 18px; }

