﻿@import "../../_variables.scss";
/* ==================================================================== */
/* BANNER COOCKIE
/* =================================================================== */
$border-color: #1e1e1e;
$background-color: #2d343a;

.customer-info-block__coockie {
    width: 100%;
    min-height: $coockie-banner-height;
    background-color: $background-color;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20004;
    border-top: 1px solid $border-color;
    display: none;

    &-content {
        font-size: 14px;
        font-family: $sans;
        color: $white-link-color;
        text-align: left;
        font-weight: normal;
        padding: 20px 60px 20px 20px;
    }

    &-close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 15px;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: $white-link-color;
            top: 15px;
        }

        &:before {
            @include rotate(45);
        }

        &:after {
            @include rotate(-45);
        }
    }
}

.cookie-not-accepted {
    & .page-wrapper-common {
        margin-bottom: $coockie-banner-height;
    }

    & .menu-block-common {
        bottom: $coockie-banner-height + 17px;
    }

    & .customer-info-block__coockie {
        display: block;
    }

    & .menu-panel__archive {
        margin-bottom: $coockie-banner-height - 1px;
    }

    & .right-sidebar-menu-container-wrapper-next {
        bottom: $coockie-banner-height + 30px;
    }
}
