﻿/* ==================================================================== */
/* BANNER COOCKIE
/* =================================================================== */
.customer-info-block__coockie {
  width: 100%;
  min-height: 72px;
  background-color: #2d343a;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20004;
  border-top: 1px solid #1e1e1e;
  display: none; }
  .customer-info-block__coockie-content {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
    font-weight: normal;
    padding: 20px 60px 20px 20px; }
  .customer-info-block__coockie-close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 15px; }
    .customer-info-block__coockie-close:before, .customer-info-block__coockie-close:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #fff;
      top: 15px; }
    .customer-info-block__coockie-close:before {
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .customer-info-block__coockie-close:after {
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.cookie-not-accepted .page-wrapper-common {
  margin-bottom: 72px; }

.cookie-not-accepted .menu-block-common {
  bottom: 89px; }

.cookie-not-accepted .customer-info-block__coockie {
  display: block; }

.cookie-not-accepted .menu-panel__archive {
  margin-bottom: 71px; }

.cookie-not-accepted .right-sidebar-menu-container-wrapper-next {
  bottom: 102px; }

