@import "../../_variables.scss";
/* ==================================================================== */
/* BANNER NAPADALKA
/* =================================================================== */

$banner-width: 660px;
$banner-background-color: #EBEBEB;
$textarea-border-color: #808080 #C0C0C0 #E0E0E0 #BEBEBE;


.customer-info-block__napadalka {
    @include set-element-to-page-center;
    z-index: 30001;
    width: $banner-width;
    font-family: $sans;
    background-color: $banner-background-color;
    padding: 45px 40px;
    @include border-radius(10px);
    @include box-shadow(-21px, 26px, 59px, 0, rgba(0, 0, 0, .5));

    & h2 {
        font-size: 30px;
        padding-left: 40px;
        padding-right: 20px;
        font-weight: normal;
        margin: 0 0 22px 0;
    }

    &-mark {
        background: url("/res/images/customer-info/customer-info-block__napadalka-mark-background.png") no-repeat left top transparent;
        height: 39px;
        margin-left: -3px;
        padding: 3px 21px 4px 5px;
        width: 225px;
    }

    &-instructuion {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 25px;
        padding-left: 38px;
        padding-right: 38px;
        text-align: center;
    }


    &-rating {
        white-space: nowrap;
        text-align: center;
        position: relative;
        margin-bottom: 46px;

        &-scale {
            position: relative;

            & ul {
                font-size: 0;
                margin: 0;
                padding: 0;
            }

            & li {
                list-style: none;
                background: url("/res/images/customer-info/customer-info-block__napadalka-rating-scale-background.png") no-repeat left top transparent;
                height: 35px;
                font-size: 18px;
                margin-left: 8px;
                padding-top: 5px;
                width: 33px;
                cursor: pointer;
                display: inline-block;
                position: relative;

                &:hover, &.customer-info-block__napadalka-rating-selected {
                    background-position: right top;
                }

                &:first-child {
                    margin-left: 0;

                    &:before {
                        content: attr(data-customer-info-block__napadalka-rating-no);
                        font-size: 11px;
                        position: absolute;
                        right: 50%;
                        top: 100%;
                    }
                }

                &:last-child {
                    &:after {
                        content: attr(data-customer-info-block__napadalka-rating-yes);
                        font-size: 11px;
                        position: absolute;
                        left: 50%;
                        top: 100%;
                    }
                }
            }
        }
    }

    &-textarea {
        border-color: $textarea-border-color;
        @include border-radius(4px);
        border-style: solid;
        border-width: 1px;
        @include box-shadow(0, 5px, 6px, -6px, rgba(128, 128, 128, 1), inset);
        height: 92px;
        padding: 5px;
        vertical-align: top;
        width: 467px;
        overflow: auto;
        resize: none;

        &-block {
            font-size: 17px;
            margin-bottom: 28px;
            padding: 0 55px;
            text-align: left;
        }

        &-header {
            margin-bottom: 8px;
            font-size: 17px;
            line-height: 21px;
        }
    }

    &-send {

        &-button {
            line-height: 54px;
            text-align: center;
            margin: 0 auto;
            border: none;
            font-size: 22px;
            height: 63px;
            padding-bottom: 10px;
            width: 176px;
            cursor: pointer;
            background: url("/res/images/customer-info/customer-info-block__napadalka-send-button-background.png") no-repeat left top transparent;
        }
    }

    &-close {
        height: 18px;
        right: 17px;
        top: 18px;
        width: 18px;
        cursor: pointer;
        position: absolute;
        font-size: 22px;
        line-height: 18px;
    }
}
