@import "../../_variables.scss";
/* ==================================================================== */
/* BANNER DEMO
/* =================================================================== */

$banner-width: 632px;
$border-color: #ebb437;
$background-left-color: #3c464d;
$description-color: #c5c5c5;
$list-border-color: #eaeaea;


.customer-info-block__demo {
    @include set-element-to-page-center;
    z-index: 30001;
    border: 4px solid $border-color;
    width: $banner-width;
    font-family: $sans;

    &-wrapper {
        display: table;
        position: relative;
        width: 100%;
    }

    &-left, .bannerAfterDemo .leftBlock {
        @include col-lg-6;
        background-color: $background-left-color;
        padding: 34px 30px 40px 30px;
        color: $white-link-color;
        width: 287px;

        & h2 {
            margin: 0 0 20px 0;
            padding: 0;
            font-size: 30px;
            line-height: 36px;
            font-family: $arial-black;
            font-weight: bold;
            text-transform: uppercase;
        }

        & p {
            margin: 0 0 43px 0;
            padding: 0;
            font-size: 16px;
            line-height: 20px;

            &.customer-info-block__demo-description, &.small {
                margin: 0 0 26px 0;
                padding: 0;
                font-size: 12px;
                line-height: 16px;
                color: $description-color;
            }
        }
    }

    &-right, .bannerAfterDemo .rightBlock {
        @include col-lg-6;
        background-color: $white-link-color;
        padding: 19px 15px 40px 60px;
        font-size: 12px;
        line-height: 16px;

        & p {
            margin: 0 0 11px 0;
            padding: 0;
        }
    }

    &-close, .bannerAfterDemo .next {
        @include button-yellow;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0 11px 0;
        width: 175px;
        display: table;
        font-size: 16px;
        line-height: 20px;
    }

    &-list, .bannerAfterDemo ul {
        margin: 0 0 14px 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid $list-border-color;
        border-bottom: 1px solid $list-border-color;

        & li {
            margin: 0 0 0 -42px;
            padding: 6px 0 29px 42px;
            list-style: none;
            background-position: left 8px;
            background-repeat: no-repeat;
            background-size: 32px auto;

            &:first-child {
                margin-top: 18px;
                padding-top: 0px;
                background-position: left 2px;
            }
        }
    }
}

@each $name in 'free', 'archive', 'npd' {
    .customer-info-block__demo-#{$name} {
        background-image: url("/res/images/customer-info/customer-info-block__demo-#{$name}-icon.png");
    }
}