﻿/* ==================================================================== */
/* SEARCH FIELD LARGE
/* =================================================================== */
.search-field__large {
  width: 100%;
  position: relative;
  margin-left: -13px;
  margin-bottom: 50px; }
  .search-field__large-text-field {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 13px;
    padding-right: 130px;
    height: 30px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; }
    .search-field__large-text-field-wrapper {
      width: 100%;
      /*position: relative;*/ }
  .search-field__large-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 13px;
    right: 130px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    top: 29px;
    z-index: 2;
    max-height: 0; }
    .search-field__large-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 500px;
      top: 30px; }
    .search-field__large-tips-highlighted {
      color: #707375; }
    .search-field__large-tips-selected {
      background-color: #ededed; }
    .search-field__large-tips ul {
      list-style-type: none; }
      .search-field__large-tips ul li {
        padding: 2px 0 4px 20px; }
        .search-field__large-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }
  .search-field__large-submit {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    display: table-cell;
    position: absolute;
    right: 0;
    bottom: 0; }
    .search-field__large-submit-wrapper {
      display: table-cell; }

/* ==================================================================== */
/* COMPLAINT FORM
/* ==================================================================== */
.search-complaint-form {
  font-size: 16px;
  padding: 0 0 28px 0; }
  .search-complaint-form-switcher {
    color: #e2001a;
    border-color: rgba(226, 0, 26, 0.2);
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    .search-complaint-form-switcher:hover {
      border-color: rgba(226, 0, 26, 0.6); }
  .search-complaint-form-success {
    color: #008200;
    display: none; }
  .search-complaint-form-block {
    display: none; }
  .search-complaint-form-textarea {
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 0 5px;
    margin: 10px 0;
    font-size: 16px; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

