@import "../../_variables.scss";
/* ==================================================================== */
/* SEARCH FIELD LARGE
/* =================================================================== */
$indent: 13px;
$input-height: 30px;
$input-right: 130px;

.search-field__large {
    width: 100%;
    position: relative;
    margin-left: -$indent;
    margin-bottom: 50px;

    &-text-field {
        @include border-radius(20px);
        @include box-shadow(0, 1px, 3px, -1px, $dark-gray-link-color, inset);
        border-top: 1px solid $dark-gray-link-color;
        font-size: 16px;
        border-bottom: 1px solid $input-border-color;
        padding-left: $indent;
        padding-right: $input-right;
        height: $input-height;
        width: 100%;
        font-family: $sans;

        &-wrapper {
            width: 100%;
            /*position: relative;*/
        }
    }

    &-tips {
        background-color: $white-link-color;
        border-right: 1px solid $input-border-color;
        border-bottom: 1px solid $input-border-color;
        border-left: 1px solid $input-border-color;
        left: $indent;
        right: $input-right;
        font-family: $sans;
        overflow: hidden;
        font-size: 15px;
        position: absolute;
        top: $input-height - 1px;
        z-index: 2;
        max-height: 0;

        &-visible {
            @include transition(max-height $slide-height-down);
            max-height: 500px;
            top: $input-height;
        }

        &-highlighted {
            color: $dark-gray-link-color;
        }

        &-selected {
            background-color: $light-gray-link-color;
        }

        & ul {
            list-style-type: none;

            & li {
                padding: 2px 0 4px 20px;

                &:hover {
                    background-color: $light-gray-link-color;
                    cursor: pointer;
                }
            }
        }
    }

    &-submit {
        @include transition-property(none);
        display: table-cell;
        position: absolute;
        right: 0;
        bottom: 0;

        &-wrapper {
            display: table-cell;
        }
    }
}

@import "search-complaint-form.scss";
@import "search-field-tips.scss";
