@import "../../_variables.scss";
/* ==================================================================== */
/* SEARCH FORM ADVANCED
/* =================================================================== */
$form-background-color: #f2f2f2;
$form-top-padding: 20px;
$square-input-height: 32px;
$round-input-height: 22px;
$right-padding-requisite: 2px;

.search-form-advanced {
    font-family: $sans;
    position: relative;
    display: block;
    padding-left: $service-page-padding-left;
    padding-right: 68px;
    padding-top: 3px;
    font-size: 13px;
    margin-right: -$service-page-padding-right;
    margin-left: -$service-page-padding-left;
    background-color: $white-link-color;
    margin-bottom: 40px;

    & .search-field__large {
        margin-bottom: 0;
    }

    &__switcher {
        @include border-radius(16px);
        border: 1px solid rgba(0,0,0,0.3);
        height: 31px;
        width: 55px;
        cursor: pointer;
        text-align: center;
        font-size: 46px;
        font-family: serif;
        line-height: 6px;
        position: absolute;
        right: -67px;
        margin-top: -1px;
        top: 0;
        background-color: $white-link-color;
    }

    &-bottom-wrapper {
        display: none;
    }
    //IF FULL VIEW
    &__full {
        @include box-shadow-many(inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4));
        background-color: $form-background-color;
        padding-top: $form-top-padding;
        margin-top: -17px;

        & .search-form-advanced-bottom-wrapper {
            display: block;
        }

        & .search-field__large {
            left: 0;
        }

        & .search-field__large {
            position: static;
        }

        & .search-field__large-submit {
            right: 68px;
            bottom: 20px;
        }

        & .search-form-advanced__switcher {
            background-color: rgba(0,0,0,0.1);
            @include box-shadow(inset, 0, 1px, 2px, rgba(0,0,0,0.7));
            right: 14px;
            top: $form-top-padding;
        }

        & .search-field__large-tips {
            display: none;
        }
    }

    &-line {
        padding: 7px 0;
        width: 100%;
        display: table;
    }

    & label input[type=checkbox] {
        position: relative;
        vertical-align: middle;
        bottom: 0;
    }

    &-cell {
        position: relative;
        padding-bottom: 8px;

        & label {
            padding-bottom: 2px;
            display: block;
        }
    }

    &-input {
        @include box-shadow(0, 1px, 3px, -1px, $dark-gray-link-color, inset);
        border-top: 1px solid $dark-gray-link-color;
        border-bottom: 1px solid $input-border-color;
        padding: 0 5px;
        width: 100%;

        &-error {
            color: $attention-link-color;
            border: 1px solid $attention-link-color;
        }

        &-square {
            height: $square-input-height;
        }

        &-round {
            @include border-radius(10px);
            height: $round-input-height;
        }

        &-wrapper {
            padding-right: 14px;
            padding-bottom: 10px;
        }
    }

    &__requisite {
        width: 90%;
        display: table;

        &-number {
            @include col-lg-6;
            padding-right: $right-padding-requisite;
        }

        &-date-from {
            @include col-lg-3;
            padding-right: $right-padding-requisite;

            &-description {
                color: $dark-gray-link-color;
                font-size: 11px;
                white-space: nowrap;
                position: absolute;
            }
        }

        &-date-to {
            @include col-lg-3;
        }
    }

    &__category {
        width: 100%;
        display: table;

        & input {
            padding-left: 22px;
        }

        &-type {
            @include col-lg-4;
            padding-right: 25px;
        }

        &-organization {
            @include col-lg-4;
            padding-right: 25px;
        }

        &-place {
            @include col-lg-4;
        }
    }

    &__list {
        @include box-shadow(0, 1px, 3px, -1px, $dark-gray-link-color, inset);
        border-left: 1px solid $input-border-color;
        border-right: 1px solid $input-border-color;
        border-bottom: 1px solid $input-border-color;
        border-top: 1px solid $dark-gray-link-color;
        height: 300px;
        background-color: $white-link-color;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;

        &-selected {
            background-color: $blue-background-color;
        }

        &-strong {
            font-weight: bold;
        }

        & ul {
            & li {
                padding: 1px 10px 2px 10px;
                margin: 2px 0;
                cursor: pointer;
            }
        }

        &-preloader {
            background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center $white-link-color;
        }
    }

    &__result {
        padding: 0 141px 0 0;
        min-height: 60px;
    }

    &-tips {
        background-color: $white-link-color;
        overflow: hidden;
        font-size: 15px;
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 1;
        right: $right-padding-requisite;
        max-height: 0;

        &-visible {
            border: 1px solid $input-border-color;
            @include transition(max-height $slide-height-down);
            max-height: 500px;
        }

        &-selected {
            background-color: $light-gray-link-color;
        }

        & ul {
            list-style-type: none;

            & li {
                padding: 2px 5px 3px;

                &:hover {
                    background-color: $light-gray-link-color;
                    cursor: pointer;
                }
            }
        }
    }

    & .fa-search {
        color: $dark-gray-link-color;
        position: absolute;
        top: 22px;
        left: 6px;
    }
}

@import "search-field-large.scss";