@import "../../_variables.scss";
/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
@each $name in 'npd', 'form' {
  .search-field__tips-#{$name} {
    background-image: url("/res/images/search/search-field-#{$name}-icon.png");
    background-repeat: no-repeat;
  }
}

.search-field__tips-npd {
    background-position: 3px 3px;
}

.search-field__tips-form {
    background-position: 3px 4px;
}