﻿/* ==================================================================== */
/* SEARCH FORM ADVANCED
/* =================================================================== */
.search-form-advanced {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: block;
  padding-left: 50px;
  padding-right: 68px;
  padding-top: 3px;
  font-size: 13px;
  margin-right: -190px;
  margin-left: -50px;
  background-color: #fff;
  margin-bottom: 40px; }
  .search-form-advanced .search-field__large {
    margin-bottom: 0; }
  .search-form-advanced__switcher {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 31px;
    width: 55px;
    cursor: pointer;
    text-align: center;
    font-size: 46px;
    font-family: serif;
    line-height: 6px;
    position: absolute;
    right: -67px;
    margin-top: -1px;
    top: 0;
    background-color: #fff; }
  .search-form-advanced-bottom-wrapper {
    display: none; }
  .search-form-advanced__full {
    -webkit-box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-top: -17px; }
    .search-form-advanced__full .search-form-advanced-bottom-wrapper {
      display: block; }
    .search-form-advanced__full .search-field__large {
      left: 0; }
    .search-form-advanced__full .search-field__large {
      position: static; }
    .search-form-advanced__full .search-field__large-submit {
      right: 68px;
      bottom: 20px; }
    .search-form-advanced__full .search-form-advanced__switcher {
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) ;
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) ;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) ;
      right: 14px;
      top: 20px; }
    .search-form-advanced__full .search-field__large-tips {
      display: none; }
  .search-form-advanced-line {
    padding: 7px 0;
    width: 100%;
    display: table; }
  .search-form-advanced label input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 0; }
  .search-form-advanced-cell {
    position: relative;
    padding-bottom: 8px; }
    .search-form-advanced-cell label {
      padding-bottom: 2px;
      display: block; }
  .search-form-advanced-input {
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 5px;
    width: 100%; }
    .search-form-advanced-input-error {
      color: #e2001a;
      border: 1px solid #e2001a; }
    .search-form-advanced-input-square {
      height: 32px; }
    .search-form-advanced-input-round {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      height: 22px; }
    .search-form-advanced-input-wrapper {
      padding-right: 14px;
      padding-bottom: 10px; }
  .search-form-advanced__requisite {
    width: 90%;
    display: table; }
    .search-form-advanced__requisite-number {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      padding-right: 2px; }
    .search-form-advanced__requisite-date-from {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      width: 25%;
      padding-right: 2px; }
      .search-form-advanced__requisite-date-from-description {
        color: #707375;
        font-size: 11px;
        white-space: nowrap;
        position: absolute; }
    .search-form-advanced__requisite-date-to {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      width: 25%; }
  .search-form-advanced__category {
    width: 100%;
    display: table; }
    .search-form-advanced__category input {
      padding-left: 22px; }
    .search-form-advanced__category-type {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      width: 33.333333%;
      padding-right: 25px; }
    .search-form-advanced__category-organization {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      width: 33.333333%;
      padding-right: 25px; }
    .search-form-advanced__category-place {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      width: 33.333333%; }
  .search-form-advanced__list {
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid #707375;
    height: 300px;
    background-color: #fff;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    .search-form-advanced__list-selected {
      background-color: #bfe4ff; }
    .search-form-advanced__list-strong {
      font-weight: bold; }
    .search-form-advanced__list ul li {
      padding: 1px 10px 2px 10px;
      margin: 2px 0;
      cursor: pointer; }
    .search-form-advanced__list-preloader {
      background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center #fff; }
  .search-form-advanced__result {
    padding: 0 141px 0 0;
    min-height: 60px; }
  .search-form-advanced-tips {
    background-color: #fff;
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 1;
    right: 2px;
    max-height: 0; }
    .search-form-advanced-tips-visible {
      border: 1px solid rgba(0, 0, 0, 0.2);
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 500px; }
    .search-form-advanced-tips-selected {
      background-color: #ededed; }
    .search-form-advanced-tips ul {
      list-style-type: none; }
      .search-form-advanced-tips ul li {
        padding: 2px 5px 3px; }
        .search-form-advanced-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }
  .search-form-advanced .fa-search {
    color: #707375;
    position: absolute;
    top: 22px;
    left: 6px; }

/* ==================================================================== */
/* SEARCH FIELD LARGE
/* =================================================================== */
.search-field__large {
  width: 100%;
  position: relative;
  margin-left: -13px;
  margin-bottom: 50px; }
  .search-field__large-text-field {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 13px;
    padding-right: 130px;
    height: 30px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; }
    .search-field__large-text-field-wrapper {
      width: 100%;
      /*position: relative;*/ }
  .search-field__large-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 13px;
    right: 130px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    top: 29px;
    z-index: 2;
    max-height: 0; }
    .search-field__large-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 500px;
      top: 30px; }
    .search-field__large-tips-highlighted {
      color: #707375; }
    .search-field__large-tips-selected {
      background-color: #ededed; }
    .search-field__large-tips ul {
      list-style-type: none; }
      .search-field__large-tips ul li {
        padding: 2px 0 4px 20px; }
        .search-field__large-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }
  .search-field__large-submit {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    display: table-cell;
    position: absolute;
    right: 0;
    bottom: 0; }
    .search-field__large-submit-wrapper {
      display: table-cell; }

/* ==================================================================== */
/* COMPLAINT FORM
/* ==================================================================== */
.search-complaint-form {
  font-size: 16px;
  padding: 0 0 28px 0; }
  .search-complaint-form-switcher {
    color: #e2001a;
    border-color: rgba(226, 0, 26, 0.2);
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    .search-complaint-form-switcher:hover {
      border-color: rgba(226, 0, 26, 0.6); }
  .search-complaint-form-success {
    color: #008200;
    display: none; }
  .search-complaint-form-block {
    display: none; }
  .search-complaint-form-textarea {
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 0 5px;
    margin: 10px 0;
    font-size: 16px; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

