@import "../../_variables.scss";
/* ==================================================================== */
/* COMPLAINT FORM
/* ==================================================================== */
.search-complaint-form {
    font-size: 16px;
    padding: 0 0 28px 0;
    &-header {

    }
    &-switcher {
        @include link($attention-link-color);
        cursor: pointer;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    &-success {
        color: $green-link-color;
        display: none;
    }
    &-block {
        display: none;
    }
    &-textarea {
        @include box-shadow(0, 1px, 3px, -1px, $dark-gray-link-color, inset);
        border-top: 1px solid $dark-gray-link-color;
        width: 100%;
        height: 200px;
        resize: none;
        padding: 0 5px;
        margin: 10px 0;
        font-size: 16px;
    }
    &-submit {
        &-block {

        }
    }
}