@import "../../_variables.scss";
/* ==================================================================== */
/* SEARCH TABS MENU
/* =================================================================== */
$search-tab-color: #e5e5e5;

.search-tabs-menu {
    & ul {
        font-size: 0;
    }
    &-item {
        @include border-radius-side(left, top, 7px);
        @include border-radius-side(right, top, 7px);
        @include box-shadow(0, 6px, 8px, 0, rgba(0, 0, 0, 0.75));
        list-style-type: none;
        display: inline-block;
        background-color: $search-tab-color;
        font-size: 12px;
        padding: 8px 16px 0 16px;
        font-family: $sans;
        margin-right: 1px;
        height: 28px;
        &-active {
            background-color: $white-link-color;
        }
    }
}