﻿.id2-rx-user-informer-block, .id2-rx-user-informer-popup *, .id2-rx-user-informer-icon {
  box-sizing: content-box; }
  .id2-rx-user-informer-block a, .id2-rx-user-informer-popup * a, .id2-rx-user-informer-icon a {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none; }

.opinionsupport-shadow-1967 {
  position: fixed !important; }

.id2Notify .id2NotifyContent,
.opinionsupport-rating-block-1967,
.opinionsupport-rating-list-item-1967.opinionsupport-rating-list-item-active-1967 {
  box-sizing: content-box; }

