@import "../_variables.scss";
.id2-rx-user-informer-block , .id2-rx-user-informer-popup *, .id2-rx-user-informer-icon  {
  box-sizing: content-box;
  & a {
    @include transition-property(none);
  }
}

.opinionsupport-shadow-1967 {
    position: fixed !important;
}

.id2Notify .id2NotifyContent,
.opinionsupport-rating-block-1967,
.opinionsupport-rating-list-item-1967.opinionsupport-rating-list-item-active-1967{
    box-sizing: content-box;
}