﻿.fotorama-wrap {
  color: white; }
  .fotorama-wrap h2 {
    color: black; }

.fotorama-wrap .fotorama__thumb-border {
  background: none !important;
  border-color: #f9d476 #f6c047 #f3ad18 !important; }

.fotorama-wrap .fotorama__nav--thumbs .fotorama-wrap__author {
  position: absolute;
  top: 16px;
  left: 60px;
  width: 148px;
  font-size: 13px !important;
  line-height: 16px !important;
  font-family: Arial, Helvetica, sans-serif; }

.fotorama-wrap .fotorama-wrap__blockquote {
  margin-left: 320px;
  margin-top: 40px;
  width: 500px; }

.fotorama-wrap .fotorama-wrap__blockquote p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px; }

.fotorama-wrap .fotorama-wrap__author {
  font-size: 13px !important;
  line-height: 16px !important;
  font-family: Arial, Helvetica, sans-serif; }

.fotorama-wrap .fotorama__wrap,
.fotorama-wrap .fotorama__frame {
  background: url("/res/images/promo/fotorama/fotorama__wrap.jpg") transparent no-repeat top left !important; }

.fotorama-wrap .fotorama__thumbs {
  background: url("/res/images/promo/fotorama/fotorama__wrap.jpg") transparent no-repeat bottom left !important; }

.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  background: none; }

