//FONT
.page-wrapper-common {
}
//HEADER
.promo__header {
    & h1 {

        &-description {
        }
    }

    & span {

        &:after {
        }
    }
}

//Bureau year
.bureau-block__year {
    &:after {
       // content: "2012";
    }
}
