@import "../_variables.scss";
/* ==================================================================== */
/* BOOK COVER
/* ==================================================================== */

.book__new-book {
    position: absolute;
    right: 0;

    &:before {
        content: "";
        background: url(/res/images/service-elements/main-books__new-book-background.png) no-repeat scroll right transparent;
        display: block;
        height: 69px;
        position: absolute;
        top: -1px;
        width: 69px;
        z-index: 3;
        right: 0;
    }

    & span {
        @include rotate(45);
        @include transform-origin(top left);
        color: $white-link-color;
        font-family: $sans;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        right: -13px;
        z-index: 4;
        top: 2px;
    }
}

.book__book-cover {
    position: relative;
    line-height: 1px;
    display: inline-block;
    z-index: 1;

    &:before {
        content: "";
        background: url(/res/images/service-elements/main-books__book-cover-top.png) no-repeat left top 0/100% auto transparent;
        display: block;
        height: 6px;
        position: absolute;
        top: -4px;
        width: 100%;
        left: 0;
    }

    &:after {
        @include scale(.9);
        @include box-shadow(0, 0, 21px, 4px, $black-link-color);
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        bottom: 1px;
        z-index: -1;
        right: 3px;
    }
}

.book__book-block {
    border: none;
    position: relative;
    display: inline-block;
    line-height: 0;

    &:before {
        background: url(/res/images/service-elements/main-books__book-cover.png) no-repeat left top transparent;
        content: "";
        position: absolute;
        width: 100%;
        height: 119px;
        left: 0;
        bottom: 0;
        z-index: 2;
    }
}

.book__main-book__image {
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: bottom;

    &-wrapper {
        background: url(/res/images/service-elements/main-books__main-book-shelf.png) no-repeat center bottom transparent;
        width: 178px;
        position: relative;
        padding-bottom: 4px;
        z-index: 1;

        &:before {
            @include scale(.9);
            @include box-shadow(0, -6px, 37px, 2px, $black-link-color);
            content: "";
            position: absolute;
            width: 100%;
            bottom: -6px;
            z-index: -1;
            left: 0;
        }
    }
}
