@import "../_variables.scss";
/* ==================================================================== */
/* CLOSED PLATE for Books (you don`t have permission bla-bla-bla)
/* ==================================================================== */
$plate-background: #efefef;
$plate-border-color: #e5e5e5 #cccccc #b4b4b4;
$footer-background: #e0e0e0;

.closed-plate {
    min-width: 530px;
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-right: 345px;

    &-wrapper {
        @include box-shadow(0, 4px, 15px, 0, rgba(74, 70, 62, 0.35));
        @include border-radius(4px);
        color: $black-link-color;
        font: 14px/18px sans-serif;
        background-clip: padding-box;
        background-color: $plate-background;
        border-color: $plate-border-color;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        margin-left: 3px;
        text-align: left;
    }

    &-top {
        padding: 24px 20px 25px;
    }

    &-header {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin: 0 0 16px;
        color: $black-link-color;
        font-family: $sans;
    }

    &-table {
        display: table;
        width: 100%;
    }

    &-left {
        @include col-lg-9;
        font-size: 14px;
        line-height: 18px;

        & p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 1em;
        }

        & .button {
            font-size: 16px;
            height: 36px;
            padding: 9px 16px;
        }
    }

    &-right {
        @include col-lg-3;
    }

    &-footer {
        background-color: $footer-background;
        padding: 14px 20px;
        font-size: 11px;
        line-height: 14px;
        font-family: $sans;
        color: $black-link-color;

        &-logo {
            position: relative;
            width: 166px;
            height: 22px;
            background: url(/res/images/logos/action-mcfr_362x36-black.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100%;
            display: inline-block;
            margin: 0 12px -7px 0;
            vertical-align: middle;
            line-height: 1px;
        }

        &-text {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
