@import "../_variables.scss";
/* ==================================================================== */
/* COMMENTS
/* ==================================================================== */

$active-color: #feea87;
$wr-border-color: #e1e1e1;
$wr-border-hover-color: #c7c7c7;
$border-color-1: #d7d7d9;
$text-color: #6f6f6f;
$textarea-color: #bfbfbf;
$textarea-border: #d9d9d9;
$form-width: 270px;

.comment-right-shadow {
    @include opacity(.6);
    background-color: $white-link-color;
    display: block;
    height: 100%;
    position: absolute;
    width: calc(100% - #{$article-angle-size});
    z-index: 1001;
    display: none;
}

.comment-right-shadow:after {
    border-bottom: 50px solid $white-link-color;
    border-right: 50px solid transparent;
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    @include opacity(1);
}


.comment-active-content-element {
    z-index: 1001;
    position: relative;
}

.comment-right-informer {
    position: absolute;
    z-index: 1500;
    right: 21px;
    visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: content-box;
}

.comment-right-informer.visible {
    display: block;
    visibility: visible;
}

.comment-right-informer.active .comment-right-informer-wr {
    color: $black-link-color;
    background-color: $active-color;
    border: none;
    padding: 3px 11px 4px;
    visibility: visible;
}

.comment-right-informer.active .comment-right-informer-wr:before {
    background: none;
}

.comment-right-informer-wr {
    @include border-radius(2px);
    background-color: $white-link-color;
    border: 1px solid $wr-border-color;
    font-size: 11px;
    line-height: 11px;
    line-height: 11px;
    padding: 2px 10px 3px;
    display: block;
    color: $text-color;
    cursor: pointer;
    font-family: $sans;
}

.comment-right-informer-wr:before {
    background: url("/res/images/comments/comment-icons-informer.png") no-repeat scroll left top transparent;
    bottom: -6px;
    content: "";
    height: 7px;
    left: 4px;
    position: absolute;
    width: 10px;
}

.comment-right-informer-wr:hover {
    border-color: $wr-border-hover-color;
}

.comment-right-informer-wr:hover:before {
    background-position: right top;
    left: -1px;
}

.comment-right-block-form-container {
    background-color: $white-link-color;
    padding: 25px 21px 0;
    position: absolute;
    right: auto;
    margin-left: -331px;
    top: 0;
    width: $form-width;
    border-right: 1px solid $border-color-1;
    @include box-shadow(-3px, 1px, 7px, 0, rgba(50, 50, 50, 0.2));
    font-family: $sans;
    box-sizing: content-box;
}

.comment-right-block-form-container.fixed {
    top: 0;
    bottom: 0;
    right: auto;
    margin-left: -331px;
    overflow-y: scroll;
    position: fixed;
}

.comment-right-block-form-container-hidder {
    position: fixed;
    width: 20px;
    top: 10px;
    bottom: 10px;
    z-index: 98;
    background: $white-link-color;
    margin-left: -39px;
    display: none;
}

.comment-right-block-form.not-active .comment-right-block-form-header {
    display: none;
}

.comment-right-block-form .comment-right-block-form-header.line16 {
    line-height: 16px;
}

.comment-right-block-form.not-active .comment-right-block-form-button {
    display: none;
}

.comment-right-block-form.not-active .comment-right-block-form-textarea {
    height: 42px;
    color: $textarea-color;
}

.comment-right-block-form-arrow {
    position: absolute;
    left: -19px;
    z-index: 98;
    top: 9px;
    display: none;
}

.comment-right-informer.active .comment-right-block-form-arrow {
    display: block;
}

.comment-right-block-form-arrow:after, .comment-right-block-form-arrow:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.comment-right-block-form-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: $white-link-color;
    border-width: 8px;
    margin-top: -8px;
}

.comment-right-block-form-arrow:before {
    border-color: rgba(215, 215, 217, 0);
    border-left-color: $border-color-1;
    border-width: 9px;
    margin-top: -9px;
}

.comment-right-block-form-body {
    padding-bottom: 50px;
}

.comment-right-block-form-header {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 6px;
    margin-top: -2px;
}

.comment-right-block-form-textarea-block {
    margin-bottom: 8px;
}

.comment-right-block-form-textarea {
    background-color: $white-link-color;
    border: 1px solid $textarea-border;
    @include border-radius(3px);
    display: block;
    font-family: $sans;
    font-size: 13px;
    line-height: 16px;
    height: 108px;
    padding: 3px 5px;
    resize: inherit;
    width: 260px;
    color: $black-link-color;
}

.grey-button {
    @include button-white;
}

.comment-right-block-comments {
    margin-top: 9px;
    padding-bottom: 3px;
}

.comment-right-block-comment-item {
    margin-bottom: 21px;
}

.comment-right-block-comment-item-name {
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 7px;
}

.comment-right-block-comment-item-name.mag-icon:before {
    background: url("/res/favicon.ico") no-repeat scroll left top transparent;
    background-size: 16px auto;
    content: "";
    height: 16px;
    margin-left: -21px;
    margin-top: -2px;
    position: absolute;
    width: 16px;
}

.comment-right-block-comment-item-name.mag-icon {
    padding-left: 22px;
}

.comment-right-block-comment-item-text {
    font-size: 13px;
    line-height: 16px;
    width: 268px;
}

.comment-right-block-comment-item-text p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 5px;
}
