﻿@charset "UTF-8";
/* ==================================================================== */
/* COMPARISON
/* =================================================================== */
.comparisonContainer {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 0 65px 0;
  background: #e4e5e7 url("/res/images/article-elements/comparison-bgr.png") right top no-repeat; }

.comparisonFirst {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  clip: rect(auto, 220px, auto, auto); }

.comparisonFirst,
.comparisonLast {
  margin: 40px; }

.comparisonFirst img,
.comparisonLast img {
  width: 100%; }

.comparisonContainer:hover:before,
.comparisonContainer.overlay:before {
  content: "";
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000; }

.comparisonHandle {
  cursor: pointer;
  height: 38px;
  width: 38px;
  position: absolute;
  left: 65%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40; }

.comparisonHandle:before,
.comparisonHandle:after {
  cursor: default;
  content: "";
  display: block;
  width: 3px;
  background: white;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.comparisonHandle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.comparisonHandle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.comparisonHandleLeftArrow,
.comparisonHandleRightArrow {
  border: 6px inset transparent;
  height: 0;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 0; }

.comparisonHandleLeftArrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.comparisonHandleRightArrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.comparisonFirstText,
.comparisonLastText {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -21px;
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  text-shadow: 0px 1px 1px #aaa;
  font-family: 'TextbookNewWeb', Arial, Helvetica, sans-serif; }

.comparisonContainer:hover .comparisonFirstText,
.comparisonContainer.overlay .comparisonFirstText,
.comparisonContainer:hover .comparisonLastText,
.comparisonContainer.overlay .comparisonLastText {
  display: block; }

.comparisonFirstText {
  color: #ed1b23;
  right: 50px; }

.comparisonLastText {
  color: #007f49;
  left: 50px; }

.nocolor .comparisonFirstText,
.nocolor .comparisonLastText {
  color: #000000; }

/* Элемент статьи «Было - стало» - end */

