@import "../_variables.scss";
/* ==================================================================== */
/* CONTENT FOOTER
/* ==================================================================== */
$content-footer-min-height: 80px;
$content-footer-padding: 0;

.content-footer {
    padding: $content-footer-padding;
    min-height: $content-footer-min-height;
    position: relative;    
    display: table;
    width: 100%;
}

.publisher-block {

    &-logo {
        margin-bottom: 6px;        
    }

    &-info {
        position: relative;
        font-family: $sans;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
    }
}

.legal-info {
    position: relative;
    font-family: $sans;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
}

.barcode {
    display: inline-table;

    &-left {
        display: table-cell;
        vertical-align: bottom;
    }

    &-right {
        display: table-cell;
        vertical-align: bottom;
        padding-left: 10px;

        &-image {
            position: relative;

            &:before {
                content: attr(data-barcode);
                font-size: 11px;
                font-weight: normal;
                font-family: $sans;
                top: -13px;
                right: 0;
                display: table;
                width: 100%;
                text-align: right;
            }
        }
    }
}

.bureau-block {
    width: auto;
    position: relative;

    &__link {
        width: auto;
        text-decoration: none;
        background: none;
        border-bottom: none;
        position: relative;
        display: inline-block;
    }

    &__text-wrapper {
        @include border-radius(2px);
        padding-right: 2px;
        height: 38px;
        min-height: 37px;
        padding-left: 7px;
        display: block;
        vertical-align: baseline;
        width: 110px;
        border-right: none;
        left: auto;
        top: auto;
        line-height: 13px;
        position: relative;
    }

    &__text {
        display: inline-block;
        font: 11px/14px $sans;
        letter-spacing: normal;
        margin-top: 5px;
        vertical-align: middle;
        white-space: normal;
        border: medium none;
        text-decoration: none;
        margin-left: 1px;
        left: auto;
        top: auto;
        line-height: 13px;
    }

    &__link-text {
        left: auto;
        top: auto;
        line-height: 13px;
    }

    &__corner {
        display: inline-block;
        height: 38px;
        overflow: hidden;
        position: absolute;
        right: -18px;
        top: 0;
        vertical-align: top;
        width: 19px;
        left: auto;

        &:before {
            @include border-radius(0 6px);
            @include rotate(-45);
            @include transform-origin(top left);
            position: absolute;
            content: '';
            z-index: 0;
            top: 0;
            left: 100%;
            height: 29px;
            width: 30px;
            margin-left: -44px;
            margin-top: 20px;
        }
    }

    &__year {
        font-size: 10px;
        font-family: $sans;
        display: inline-block;
        position: relative;
        top: 18px;
        right: -15px;

        &:after {
            content: "2012";
        }
    }

    &__designed-at {
        font-size: 11px;
        font-family: $sans;
        display: inline-block;
        position: relative;
        right: 1px;
        top: 8px;
    }
}

