@import "../_variables.scss";
/* ==================================================================== */
/* CONTENT NAVIGATION MENU
/* ==================================================================== */
$content-navigation-menu-font: 12px;

.content-navigation-menu {
    &-block {
        padding-top: 5px;
        padding-bottom: 10px;
        line-height: 1.3;

        .article-page-block & {
            text-align: right;
            padding-top: 10px;
            padding-bottom: 18px;
            margin-right: -$content-navigation-item-margin-right;
        }

        .npd-doc__top-panel & {
            right: $npd-top-panel-padding;
            bottom: 6px;
            z-index: 1;
        }

        &-wrapper {
            min-height: 36px;

            .book-page-block__content & {
                position: absolute;
                right: 35px;
                top: 50px;
            }
        }
    }

    &-list {
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: $content-navigation-item-margin-right;

            & a {
                @include link($blue-link-color);

                &.content-navigation-menu-link__announce {
                    @include link($attention-link-color);
                }
            }
        }
    }
    //icons
    &-item {
        font-family: $sans;
        font-size: $content-navigation-menu-font;
        font-style: normal;
        position: relative;
        white-space: nowrap;
    }

    &-link {
        &__announce {
            margin-left: 18px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__announce.png) no-repeat scroll left top/14px auto transparent;
                width: 14px;
                height: 14px;
                left: -18px;
                margin-top: 3px;
                padding-right: 18px;
            }
        }

        &__android {
            margin-left: 16px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__android.png) no-repeat scroll left top/63px auto transparent;
                width: 17px;
                height: 16px;
                margin-top: 2px;
                left: -16px;
            }
        }

        &__flipping {
            margin-left: 19px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__flipping.png) no-repeat scroll left top/60px auto transparent;
                width: 22px;
                height: 15px;
                margin-top: 2px;
                left: -19px;
            }
        }

        &__anotherlang {
            margin-left: 16px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__anotherlang.png) no-repeat scroll left top/50px auto transparent;
                width: 17px;
                height: 16px;
                left: -16px;
                margin-top: 3px;
            }
        }

        &__googlepress {
            margin-left: 22px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__googlepress.png) no-repeat scroll left top/64px auto transparent;
                width: 26px;
                height: 14px;
                left: -22px;
                margin-top: 4px;
            }
        }

        &__iphone {
            margin-left: 12px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__iphone.png) no-repeat scroll left top/35px auto transparent;
                width: 26px;
                height: 14px;
                left: -12px;
                margin-top: 4px;
            }
        }

        &__mobile {
            margin-left: 24px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__mobile.png) no-repeat scroll left top/55px auto transparent;
                width: 26px;
                height: 16px;
                left: -24px;
                margin-top: 4px;
            }
        }

        &__toword {
            margin-left: 22px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__toword.png) no-repeat scroll left top/45px auto transparent;
                width: 26px;
                height: 17px;
                left: -22px;
                margin-top: 1px;
            }
        }

        &__winphone {
            margin-left: 17px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__winphone.png) no-repeat scroll left top/45px auto transparent;
                width: 26px;
                height: 14px;
                left: -17px;
                margin-top: 3px;
            }
        }

        &__print {
            margin-left: 22px;

            &:before {
                content: '';
                position: absolute;
                background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__print.png) no-repeat scroll left top/40px auto transparent;
                width: 24px;
                height: 17px;
                left: -22px;
                margin-top: 1px;
            }
        }
    }

    &-short {
        & ul li:last-child {
            margin-right: 0;
        }
    }

    &-breadcrumbs {
        font-size: 0;

        & a {
            @include link($blue-link-color);
        }

        & span {
            font-size: 14px;
            padding-right: 5px;
        }

        .book-page-block__content & {
            position: absolute;
            top: 53px;
        }

        .article-page-block__content & {
            padding-top: 26px;
            padding-right: 300px;
        }

        &-wrapper {
            padding-bottom: 57px;
        }

        &-item {
            font-family: $sans;
            font-size: $content-navigation-menu-font !important;
            font-style: normal;
            line-height: 1.6;
            margin-right: 55px;

            & + i {
                font-size: 10px;
                margin-left: -55px;
                padding: 0 6px;
            }
        }
    }
}