/*@import "../_variables.scss";*/
/* ==================================================================== */
/* COUNTRY FLAGS
/* ==================================================================== */

.phone-country-select {
    background-image: url(/res/images/phone-country-select.png);
    background-position: 7px 9px;
    background-repeat: no-repeat;
    height: 29px;
    width: 31px;
    z-index: 1;

    //flags
    .RU & {
        background-position: 7px -31px;
    }

    .BY & {
        background-position: 7px -71px;
    }

    .KZ & {
        background-position: 7px -111px;
    }

    .UA & {
        background-position: 7px -151px;
    }

    .AZ & {
        background-position: 7px -191px;
    }

    .LV & {
        background-position: 7px -231px;
    }

    .MD & {
        background-position: 7px -271px;
    }

    .TM & {
        background-position: 7px -311px;
    }

    .AM & {
        background-position: 7px -351px;
    }

    .GE & {
        background-position: 7px -391px;
    }

    .KG & {
        background-position: 7px -431px;
    }

    .LT & {
        background-position: 7px -471px;
    }

    .TJ & {
        background-position: 7px -511px;
    }

    .UZ & {
        background-position: 7px -551px;
    }

    .EE & {
        background-position: 7px -591px;
    }

    //position
    .demo__block__phone-number & {
        left: 0;
        position: absolute;
        top: 1px;
    }
}
