﻿/* ==================================================================== */
/* ESTIMATE FORM
/* ==================================================================== */
.estimate {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  .estimate-smile-block {
    width: 342px;
    position: relative;
    z-index: 1; }
  .estimate-line {
    padding-bottom: 17px; }
  .estimate-block-left {
    display: table-cell;
    vertical-align: top;
    width: 165px; }
  .estimate-block-right {
    display: table-cell;
    vertical-align: top; }
  .estimate-smile-block .estimate-block-left {
    vertical-align: middle; }
  .estimate-smile-block .estimate-block-right {
    vertical-align: middle; }
  .estimate-smile-list {
    display: inline-block;
    margin-left: -3px;
    white-space: nowrap; }
    .estimate-smile-list li {
      cursor: pointer;
      display: inline-block;
      list-style: outside none none;
      margin-right: 0;
      margin-top: 0;
      text-align: center; }
      .estimate-smile-list li span {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: 0.25s all;
        -o-transition: 0.25s all;
        -webkit-transition: 0.25s all;
        transition: 0.25s all;
        color: #2e98ff;
        font-size: 16px;
        display: block;
        line-height: 22px;
        padding-left: 4px;
        padding-right: 6px;
        padding-top: 3px;
        height: 29px;
        min-width: 29px; }
        .estimate-smile-list li span.estimate-smile-active, .estimate-smile-list li span:hover {
          background-color: #feea87;
          color: #000; }
  .estimate-form {
    border-top: 1px solid #ebebeb;
    display: none;
    padding-bottom: 21px;
    padding-top: 8px;
    margin-right: 25px; }
    .estimate-form-textarea {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #d9d9d9;
      font-size: 16px;
      resize: inherit;
      height: 122px;
      width: 412px;
      padding: 7px 8px;
      display: block; }
  .estimate-comment-block {
    display: none; }
  .estimate-comment-list li {
    margin-bottom: 9px;
    list-style: none; }
    .estimate-comment-list li span {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer; }
      .estimate-comment-list li span.estimate-comment-active, .estimate-comment-list li span:hover {
        background-color: #feea87;
        color: #000;
        border: none;
        padding: 2px 5px 3px;
        margin-left: -5px; }
  .estimate-preloader {
    background: url("/res/images/preloaders/preloader__white.gif") no-repeat scroll center center/100% auto transparent;
    display: none;
    float: right;
    height: 27px;
    margin-left: 5px;
    width: 27px; }

