@import "../_variables.scss";
/* ==================================================================== */
/* ESTIMATE FORM
/* ==================================================================== */
$smile-size: 29px;
$left-block-width: 165px;
$textarea-height: 122px;
$textarea-width: 412px;
$smile-active-color: #feea87;
$border-color: #ebebeb;
$textarea-border-color: #d9d9d9;

.estimate {
  position: relative;
  font-family: $sans;
  font-size: 13px;
  &-smile-block {
    width: $estimate-smile-text-block-width;
    position: relative;
    z-index: 1;
  }
  &-line {
    padding-bottom: 17px;
  }
  &-block {
    &-left {
      display: table-cell;
      vertical-align: top;
      width: $left-block-width;
    }
    &-right {
      display: table-cell;
      vertical-align: top;
    }
  }
  &-smile {
    &-block {
      & .estimate-block-left {
        vertical-align: middle;
      }
      & .estimate-block-right {
        vertical-align: middle;
      }
    }
    &-list {
      display: inline-block;
      margin-left: -3px;
      white-space: nowrap;
      & li {
        cursor: pointer;
        display: inline-block;
        list-style: outside none none;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
        & span {
          @include border-radius(4px);
          @include transition($hover-links);
          color: $blue-link-color;
          font-size: 16px;
          display: block;
          line-height: 22px;
          padding-left: 4px;
          padding-right: 6px;
          padding-top: 3px;
          height: $smile-size;
          min-width: $smile-size;
          &.estimate-smile-active {
            background-color: $smile-active-color;
            color: $black-link-color;
          }
          &:hover {
            @extend .estimate-smile-active;
          }
        }
      }
    }
  }
  &-form {
    border-top: 1px solid $border-color;
    display: none;
    padding-bottom: 21px;
    padding-top: 8px;
    margin-right: 25px;
    &-textarea {
      @include border-radius(3px);
      border: 1px solid $textarea-border-color;
      font-size: 16px;
      resize: inherit;
      height: $textarea-height;
      width: $textarea-width;
      padding: 7px 8px;
      display: block;
    }
  }
  &-comment {
    &-block {
      display: none;
    }
    &-list {
      & li {
        margin-bottom: 9px;
        list-style: none;
        & span {
          @include border-radius(4px);
          cursor: pointer;
          &.estimate-comment-active {
            background-color: $smile-active-color;
            color: $black-link-color;
            border: none;
            padding: 2px 5px 3px;
            margin-left: -5px;
          }
          &:hover {
            @extend .estimate-comment-active;
          }
        }
      }
    }
  }
  &-preloader {
    background: url("/res/images/preloaders/preloader__white.gif") no-repeat scroll center center/100% auto transparent;
    display: none;
    float: right;
    height: 27px;
    margin-left: 5px;
    width: 27px;
  }
}
