@import "../_variables.scss";
/* ==================================================================== */
/* EXPERT LINK
/* ==================================================================== */

//article button
.article-page-block__expert {
    font-family: $sans;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: $estimate-smile-text-block-width + 100;

    &-text {
        display: table-cell;
        vertical-align: middle;
        padding-right: 14px;
        line-height: 14px;
        text-align: right;
    }

    &-link {
        @include border-radius(4px);
        height: 16px;
        padding: 3px 15px 4px;
        vertical-align: middle;
        border-style: solid;
        border-width: 1px;
        white-space: nowrap;

        &-block {
            display: table-cell;
            vertical-align: top;
        }
    }
}

//header button
.header-block__expert {
    margin-right: 12px;

    &-link {
        @include link($light-gray-link-color);
        @include border-radius(3px);
        text-decoration: none;
        font-family: $sans;
        font-size: 11px;
        line-height: 20px;
        padding: 3px 12px 5px;
        position: relative;
        border-style: solid;
        border-width: 1px;
        white-space: nowrap;
    }
}
