@import "../_variables.scss";
/* ==================================================================== */
/* FOOTER
/* ==================================================================== */
.footer-common {
    @include box-shadow(inset, 1px, 2px, 9px, darken($footer-background-color,3%));
    height: 118px;
    background-color: $footer-background-color;
    padding-top: 7px;

    & .left-column-content-common .content-block-common-row > div {
        padding-right: 36px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__item {
        color: $dark-gray-link-color;
        font-family: $sans;

        &-text {
            font-family: $sans;
            font-size: 13px;
            position: relative;
            z-index: 3;
        }

        &-bigger-text {
            font-size: 24px;
            padding-bottom: 6px;
            padding-right: 10px;
            font-family: $serif;
        }
    }

    &__menu {
        padding-top: 8px;

        li {
            list-style-type: none;
            display: inline-block;
            padding-left: 23px;
        }
    }
}