@import "../_variables.scss";
/* ==================================================================== */
/* LOGIN FORM
/* ==================================================================== */
$background-color: #ececec;
$border-color: #d6d6d6;

.login-form {
    padding-top: 90px;
    padding-bottom: 100px;

    &-wrapper {
        font-family: $sans;
        color: $black-link-color;
        border-bottom: 1px dashed $border-color;
        border-top: 1px dashed $border-color;
        padding-left: $article-page-padding-left;
        padding-bottom: 26px;
        margin-bottom: 25px;
        overflow: hidden;
        background: url(/res/images/access/access-lock.png) right center no-repeat $background-color;
    }

    &__header {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        padding-top: 17px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 28px;
    }

    &__table {
        display: table;
        width: 100%;

        &-left {
            @include col-lg-6;
            border-right: 1px dashed $border-color;
            padding-right: 60px;
        }

        &-right {
            @include col-lg-6;
            padding-left: 60px;
        }
    }

    & p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 3px !important;

        & + span {
            margin-top: 18px !important;
            display: block;
        }
    }

    & .button {
        font-size: 16px;
        padding: 9px 12px 8px 12px !important;
        margin-top: 14px !important;
        line-height: 19px;
        white-space: nowrap;
        border: none !important;
    }
}
