@import "../_variables.scss";
/* ==================================================================== */
/* PACKET
/* ==================================================================== */
$background-color: rgba(60,70,77, 0.7);
$background-color-animated: rgba(60,70,77, 0);
$font: Georgia,"Times New Roman",serif;

.packet {
    background-color: $background-color;
    z-index: 3;
    position: absolute;
    top: -$index-page-decor-elem-param;
    bottom: -10px;
    left: 0;
    right: 0;
    @include opacity(0);
    display: none;

    &.packet-showed {
        display: block;
        animation-name: hopacityon;
        animation-duration: .3s;
        @include opacity(1);
    }

    &-block {
        max-width: $left-column-max-width;
        min-width: $window-min-width - $right-column-min-width - $left-column-padding-left;
        position: absolute;
        left: 0;
        top: 0;
        right: -$right-column-min-width;
        bottom: 0;
        margin-right: $right-column-min-width;
        overflow: hidden;

        &.position-is__fixed {
            left: $left-column-padding-left;
            right: 0;
        }

        &.packet-sticker__bottom {
            /*overflow: visible;
            top: 50%;*/
        }
    }

    &-sticker {
        position: absolute;
        background: url(/res/images/index-elements/packet-image.png) left top no-repeat;
        background-size: 100% auto;
        width: 624px;
        height: 713px;
        left: 50%;
        margin-left: -180px;
        font-family: $font;
        color: $white-link-color;
        text-align: center;
        display: block;

        .position-is__fixed & {
            margin-top: -180px;
            top: 50%;
        }

        .packet-sticker__top & {
            top: 135px;
        }

        .packet-sticker__bottom & {
            bottom: 0;
        }
    }

    &-text {
        position: relative;
        width: 360px;
        height: 360px;
    }

    &-header {
        font-size: 60px;
        line-height: 55px;
        padding: 68px 50px 17px 50px;
    }

    &-number {
        padding: 0 0 32px 0;
        font-family: $sans;
        font-size: 18px;
    }

    &-link {
        font-size: 30px;

        & span {
            @include link($white-link-color);
            cursor: pointer;
        }
    }



    &-animation {
        &.packet {
            background-color: $background-color-animated;
            @include transition(background-color .7s linear);
        }

        & .packet-sticker {
            top: -500px;
            left: -500px;
            animation-duration: .7s;
        }


        & .position-is__fixed {
            & .packet-sticker {
                animation-name: rocket-f;
            }
        }

        & .packet-sticker__top {
            & .packet-sticker {
                animation-name: rocket-t;
            }
        }

        & .packet-sticker__bottom {
            & .packet-sticker {
                animation-name: rocket-b;
            }
        }
    }
}

@keyframes rocket-f {
    from {
        top: 50%;
        left: 50%;
    }

    to {
        top: -600px;
        left: -600px;
    }
}

@keyframes rocket-t {
    from {
        left: 50%;
        top: 135px;
    }

    to {
        top: -600px;
        left: -600px;
    }
}

@keyframes rocket-b {
    from {
        left: 50%;
        top: 80%;
    }

    to {
        top: -600px;
        left: -600px;
    }
}
