@import "../_variables.scss";
/* ==================================================================== */
/* POPULAR BLOCKS
/* =================================================================== */
$border-link-color: #2d343a;
$notice__black-color: #1e2326;
$notice__black-header-color: #ffcc39;
$notice__blue-color: #1e81e8;
$notice__blue-header-color: #02ffff;
$notice__yellow-color: #ffcc39;
$notice__border-color: #b28e28;
$notice__iphon-logo-alpha-size: 74px;
$notice__iphon-image-padding-top: 26px;

@mixin link-large {
    border-bottom: none;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    padding-top: 21px;
    background-repeat: repeat-x;
    background-position: center top;
    display: block;
}

.article-page-block__popular {
    position: relative;

    &-wrapper {
        margin: 15px 0 15px 0;
        overflow: hidden;
        position: relative;
        display: table;
        width: 100%;
    }

    & a {
        color: $white-link-color;
        border-left: 1px solid $border-link-color;
        display: block;
        border-bottom: none;
        position: relative;
        padding: 16px 0 1000px 15px;
        margin: 5px 15px -1000px -15px;
        height: 100%;

        &:hover {
            & span {
                border-color: transparentize($white-link-color, .2);
            }
        }
    }

    & h3 {
        color: $dark-gray-link-color;
        font-family: $sans;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
    }

    & p {
        margin-bottom: 66px;
        padding-right: 0.8em;
    }

    &-item {
        position: relative;

        & span.article-page-block__popular-item__has-test i {
            padding-left: 3px;
        }
    }

    &__main-1-others-2 {
        &__other {
            @include col-lg-3;
            font-size: 16px;
            line-height: 20px;
        }

        &__main {
            @include col-lg-6;
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__main-2 {
        &__main {
            @include col-lg-6;
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__main-1 {
        &__main {
            font-size: 40px;
            line-height: 50px;
        }
    }

    &__main-1-others-1 {
        &__other {
            @include col-lg-3;
            font-size: 16px;
            line-height: 20px;
        }

        &__main {
            @include col-lg-9;
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__main-2-others-1 {
        &__other {
            @include col-lg-4;
            font-size: 16px;
            line-height: 20px;
        }

        &__main {
            @include col-lg-4;
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__main-1-others-1-medium {
        &__other-medium {
            @include col-lg-4;
            font-size: 24px;
            line-height: 30px;
        }

        &__main {
            @include col-lg-8;
            font-size: 36px;
            line-height: 40px;
        }
    }
}

// Adv blocks
.article-page-block__notice {
    vertical-align: top;
    display: table-cell;
    width: 20%;
    font-family: $sans;
    position: relative;
    margin: 0;
    padding: 0;

    &-header {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding-bottom: 10px;
        display: block;
    }

    &-text {
        margin-bottom: 0;
        font-size: 13px;
        display: block;
        padding-bottom: 85px;
    }

    &-image {
        width: 100%;
        margin-bottom: 56px;
        position: relative;
    }

    & .action-pop-block-button {
        padding: 4px 12px 4px 12px;
        position: absolute;
        bottom: 43px;
        text-align: center;
        left: 14px;
        max-width: 200px;
    }

    &__black {
        @include link-large;
        background-color: $notice__black-color;
        padding-left: 14px;
        padding-right: 14px;

        & .article-page-block__notice-header {
            color: $notice__black-header-color;
        }

        & .article-page-block__notice-text {
            color: $white-link-color;
        }

        & .action-pop-block-button {
            @include button-yellow;
        }
    }

    &__blue {
        @include link-large;
        background-color: $notice__blue-color;
        padding-left: 14px;
        padding-right: 14px;

        & .article-page-block__notice-header {
            color: $notice__blue-header-color;
        }

        & .article-page-block__notice-text {
            color: $white-link-color;
        }

        & .action-pop-block-button {
            @include button-simple(3px, $notice__blue-header-color, 1px, solid);
            @include transition($hover-links);
            @include opacity(.9);
            color: $notice__blue-header-color;
            font-size: 13px;

            &:hover {
                @include opacity(1);
            }
        }
    }

    &__yellow {
        @include link-large;
        background-color: $notice__yellow-color;
        background-size: 184px auto;
        padding-left: 14px;
        padding-right: 14px;

        & .article-page-block__notice-header {
            border-bottom: 1px solid $notice__border-color;
            color: $black-link-color;
            font-size: 24px;
            margin-bottom: 9px;
            margin-left: -14px;
            margin-right: -14px;
            padding-bottom: 29px;
            padding-left: 14px;
        }

        & .article-page-block__notice-text {
            color: $black-link-color;
        }

        & .action-pop-block-button {
            @include button-simple(3px, $notice__border-color, 1px, solid);
            @include transition($hover-links);
            @include opacity(.9);
            color: $black-link-color;
            font-size: 13px;

            &:hover {
                @include opacity(1);
            }
        }
    }

    &__iphone {
        border-left: 1px solid $border-link-color;
        padding-left: 15px;

        &-image-block {
            @include col-lg-6;
            position: relative;
            padding-top: $notice__iphon-image-padding-top;
            min-width: 85px;

            &:before {
                content: "";
                background-repeat: no-repeat;
                background-size: 100%;
                height: 60%;
                width: 60%;
                position: absolute;
                text-align: center;
                left: 50%;
                top: 35%;
                margin-left: -30%;
                margin-top: -13%;
                z-index: 1;
            }
        }

        &-background {
            height: 55%;
            display: block;
            position: absolute;
            left: 4px;
            right: 4px;
            top: 13%;
        }

        & .article-page-block__notice-text {
            @include col-lg-6;
            margin: 0;
            padding: 21px 0 0 15px;

            & ul {
                list-style: none;

                & li {
                    font-size: 13px;
                    line-height: 16px;
                    margin: 0 0 8px 0;
                    padding: 0;
                }
            }
        }

        & .article-page-block__notice-header {
            color: $dark-gray-link-color;
            font-family: $sans;
            font-size: 16px;
            line-height: 20px;
            font-weight: normal;
        }
    }

    &__android {
        border-left: 1px solid $border-link-color;

        &-image-block {
            @include col-lg-6;
            position: relative;
            padding-top: 8px;
            overflow: hidden;
            min-width: 100px;

            &:before {
                @include rotate (45);
                content: "";
                background-repeat: no-repeat;
                background-size: 100%;
                height: 58%;
                width: 58%;
                position: absolute;
                text-align: center;
                left: 0;
                margin-left: -45%;
                margin-top: 50%;
                z-index: 1;
            }
        }

        & .article-page-block__notice-text {
            @include col-lg-6;
            margin: 0;
            padding: 21px 0 0 15px;

            & ul {
                list-style: none;

                & li {
                    font-size: 13px;
                    line-height: 16px;
                    margin: 0 0 8px 0;
                    padding: 0;
                }
            }
        }

        & .article-page-block__notice-header {
            color: $dark-gray-link-color;
            font-family: $sans;
            font-size: 16px;
            line-height: 20px;
            font-weight: normal;
        }
    }
}

@each $name in 'black', 'blue', 'yellow' {
    .article-page-block__notice__#{$name} {
        background-image: url("/res/images/promo-footer/notice/article-page-block__notice__#{$name}.png");
    }
}

@each $name in 'iphone', 'android' {
    .article-page-block__notice__#{$name}-image-block:before {
        background-image: url("/res/images/logos/logo-alpha.png");
    }
}

// support old classes
@each $name in 'black', 'blue', 'yellow' {
    .action-block-#{$name} {
        @extend .article-page-block__notice__#{$name};
    }
}

.action-pop-block-header {
    @extend .article-page-block__notice-header;
}

.action-pop-block-text {
    @extend .article-page-block__notice-text;
}



.action-pop-image {
    margin: 0 !important;
    padding: 8px 0 0 0 !important;
    border: 0px none !important;
    width: 50% !important;
    height: auto !important;
    display: table-cell;

    & img {
        width: 100% !important;
        margin-bottom: 56px !important;
    }
}

.action-pop-image-container {
    border-left: 1px solid $border-link-color;
    margin-left: -15px;
    margin-top: 5px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}

.table100percent {
    display: table;
    width: 100%;
}

.action-pop-image.with-padding {
    padding: 20px 0 0 15px !important;
}

.action-pop-link-block {
    margin: 0 !important;
    padding: 16px 0 0 15px !important;
    display: table-cell;
    vertical-align: top;

    & h3 {
        color: $dark-gray-link-color;
        font-family: $sans;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        padding-bottom: 10px;
        display: block;
    }

    & ul {
        list-style: none;

        & li {
            font-size: 13px;
            line-height: 16px;
            margin: 0 0 8px 0;
            padding: 0;

            & a {
                @include link($white-link-color);
            }
        }
    }
}
