﻿/* ==================================================================== */
/* POPULAR BLOCKS
/* =================================================================== */
.article-page-block__popular {
  position: relative; }
  .article-page-block__popular-wrapper {
    margin: 15px 0 15px 0;
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%; }
  .article-page-block__popular a {
    color: #fff;
    border-left: 1px solid #2d343a;
    display: block;
    border-bottom: none;
    position: relative;
    padding: 16px 0 1000px 15px;
    margin: 5px 15px -1000px -15px;
    height: 100%; }
    .article-page-block__popular a:hover span {
      border-color: rgba(255, 255, 255, 0.8); }
  .article-page-block__popular h3 {
    color: #707375;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal; }
  .article-page-block__popular p {
    margin-bottom: 66px;
    padding-right: 0.8em; }
  .article-page-block__popular-item {
    position: relative; }
    .article-page-block__popular-item span.article-page-block__popular-item__has-test i {
      padding-left: 3px; }
  .article-page-block__popular__main-1-others-2__other {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    font-size: 16px;
    line-height: 20px; }
  .article-page-block__popular__main-1-others-2__main {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    font-size: 32px;
    line-height: 40px; }
  .article-page-block__popular__main-2__main {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    font-size: 32px;
    line-height: 40px; }
  .article-page-block__popular__main-1__main {
    font-size: 40px;
    line-height: 50px; }
  .article-page-block__popular__main-1-others-1__other {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    font-size: 16px;
    line-height: 20px; }
  .article-page-block__popular__main-1-others-1__main {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    font-size: 32px;
    line-height: 40px; }
  .article-page-block__popular__main-2-others-1__other {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;
    font-size: 16px;
    line-height: 20px; }
  .article-page-block__popular__main-2-others-1__main {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;
    font-size: 24px;
    line-height: 30px; }
  .article-page-block__popular__main-1-others-1-medium__other-medium {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;
    font-size: 24px;
    line-height: 30px; }
  .article-page-block__popular__main-1-others-1-medium__main {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%;
    font-size: 36px;
    line-height: 40px; }

.article-page-block__notice {
  vertical-align: top;
  display: table-cell;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  padding: 0; }
  .article-page-block__notice-header, .action-pop-block-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 10px;
    display: block; }
  .article-page-block__notice-text, .action-pop-block-text {
    margin-bottom: 0;
    font-size: 13px;
    display: block;
    padding-bottom: 85px; }
  .article-page-block__notice-image {
    width: 100%;
    margin-bottom: 56px;
    position: relative; }
  .article-page-block__notice .action-pop-block-button {
    padding: 4px 12px 4px 12px;
    position: absolute;
    bottom: 43px;
    text-align: center;
    left: 14px;
    max-width: 200px; }
  .article-page-block__notice__black, .action-block-black {
    border-bottom: none;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    padding-top: 21px;
    background-repeat: repeat-x;
    background-position: center top;
    display: block;
    background-color: #1e2326;
    padding-left: 14px;
    padding-right: 14px; }
    .article-page-block__notice__black .article-page-block__notice-header, .action-block-black .article-page-block__notice-header, .article-page-block__notice__black .action-pop-block-header, .action-block-black .action-pop-block-header {
      color: #ffcc39; }
    .article-page-block__notice__black .article-page-block__notice-text, .action-block-black .article-page-block__notice-text, .article-page-block__notice__black .action-pop-block-text, .action-block-black .action-pop-block-text {
      color: #fff; }
    .article-page-block__notice__black .action-pop-block-button, .action-block-black .action-pop-block-button {
      border: none;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      opacity: 0.9;
      filter: alpha(opacity=90);
      background: #febb2d;
      background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
      background: -moz-linear-gradient(to top, #febb2d, #fecc47);
      background: linear-gradient(to top, #febb2d, #fecc47);
      border-bottom: 1px solid #c47a14;
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      padding: 0.2rem 1.3rem; }
      .article-page-block__notice__black .action-pop-block-button:hover, .action-block-black .action-pop-block-button:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        border-bottom: 1px solid #c47a14; }
      .article-page-block__notice__black .action-pop-block-button:active, .action-block-black .action-pop-block-button:active {
        border-color: #efac1f;
        background: #efac1f;
        background: -webkit-linear-gradient(bottom, #efac1f, #f1b821);
        background: -moz-linear-gradient(to top, #efac1f, #f1b821);
        background: linear-gradient(to top, #efac1f, #f1b821); }
      .article-page-block__notice__black .action-pop-block-button[disabled], .action-block-black .action-pop-block-button[disabled], .article-page-block__notice__black .action-pop-block-button.button-disabled, .action-block-black .action-pop-block-button.button-disabled {
        opacity: 0.6;
        filter: alpha(opacity=60);
        cursor: default; }
        .article-page-block__notice__black .action-pop-block-button[disabled]:hover, .action-block-black .action-pop-block-button[disabled]:hover, .article-page-block__notice__black .action-pop-block-button[disabled]:active, .action-block-black .action-pop-block-button[disabled]:active, .article-page-block__notice__black .action-pop-block-button.button-disabled:hover, .action-block-black .action-pop-block-button.button-disabled:hover, .article-page-block__notice__black .action-pop-block-button.button-disabled:active, .action-block-black .action-pop-block-button.button-disabled:active {
          background: #febb2d;
          background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
          background: -moz-linear-gradient(to top, #febb2d, #fecc47);
          background: linear-gradient(to top, #febb2d, #fecc47);
          border-bottom: 1px solid #c47a14; }
  .article-page-block__notice__blue, .action-block-blue {
    border-bottom: none;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    padding-top: 21px;
    background-repeat: repeat-x;
    background-position: center top;
    display: block;
    background-color: #1e81e8;
    padding-left: 14px;
    padding-right: 14px; }
    .article-page-block__notice__blue .article-page-block__notice-header, .action-block-blue .article-page-block__notice-header, .article-page-block__notice__blue .action-pop-block-header, .action-block-blue .action-pop-block-header {
      color: #02ffff; }
    .article-page-block__notice__blue .article-page-block__notice-text, .action-block-blue .article-page-block__notice-text, .article-page-block__notice__blue .action-pop-block-text, .action-block-blue .action-pop-block-text {
      color: #fff; }
    .article-page-block__notice__blue .action-pop-block-button, .action-block-blue .action-pop-block-button {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border-color: #02ffff;
      border-width: 1px;
      border-style: solid;
      -moz-transition: 0.25s all;
      -o-transition: 0.25s all;
      -webkit-transition: 0.25s all;
      transition: 0.25s all;
      opacity: 0.9;
      filter: alpha(opacity=90);
      color: #02ffff;
      font-size: 13px; }
      .article-page-block__notice__blue .action-pop-block-button:hover, .action-block-blue .action-pop-block-button:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
  .article-page-block__notice__yellow, .action-block-yellow {
    border-bottom: none;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    padding-top: 21px;
    background-repeat: repeat-x;
    background-position: center top;
    display: block;
    background-color: #ffcc39;
    background-size: 184px auto;
    padding-left: 14px;
    padding-right: 14px; }
    .article-page-block__notice__yellow .article-page-block__notice-header, .action-block-yellow .article-page-block__notice-header, .article-page-block__notice__yellow .action-pop-block-header, .action-block-yellow .action-pop-block-header {
      border-bottom: 1px solid #b28e28;
      color: #000;
      font-size: 24px;
      margin-bottom: 9px;
      margin-left: -14px;
      margin-right: -14px;
      padding-bottom: 29px;
      padding-left: 14px; }
    .article-page-block__notice__yellow .article-page-block__notice-text, .action-block-yellow .article-page-block__notice-text, .article-page-block__notice__yellow .action-pop-block-text, .action-block-yellow .action-pop-block-text {
      color: #000; }
    .article-page-block__notice__yellow .action-pop-block-button, .action-block-yellow .action-pop-block-button {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border-color: #b28e28;
      border-width: 1px;
      border-style: solid;
      -moz-transition: 0.25s all;
      -o-transition: 0.25s all;
      -webkit-transition: 0.25s all;
      transition: 0.25s all;
      opacity: 0.9;
      filter: alpha(opacity=90);
      color: #000;
      font-size: 13px; }
      .article-page-block__notice__yellow .action-pop-block-button:hover, .action-block-yellow .action-pop-block-button:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
  .article-page-block__notice__iphone {
    border-left: 1px solid #2d343a;
    padding-left: 15px; }
    .article-page-block__notice__iphone-image-block {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      position: relative;
      padding-top: 26px;
      min-width: 85px; }
      .article-page-block__notice__iphone-image-block:before {
        content: "";
        background-repeat: no-repeat;
        background-size: 100%;
        height: 60%;
        width: 60%;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 35%;
        margin-left: -30%;
        margin-top: -13%;
        z-index: 1; }
    .article-page-block__notice__iphone-background {
      height: 55%;
      display: block;
      position: absolute;
      left: 4px;
      right: 4px;
      top: 13%; }
    .article-page-block__notice__iphone .article-page-block__notice-text, .article-page-block__notice__iphone .action-pop-block-text {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      margin: 0;
      padding: 21px 0 0 15px; }
      .article-page-block__notice__iphone .article-page-block__notice-text ul, .article-page-block__notice__iphone .action-pop-block-text ul {
        list-style: none; }
        .article-page-block__notice__iphone .article-page-block__notice-text ul li, .article-page-block__notice__iphone .action-pop-block-text ul li {
          font-size: 13px;
          line-height: 16px;
          margin: 0 0 8px 0;
          padding: 0; }
    .article-page-block__notice__iphone .article-page-block__notice-header, .article-page-block__notice__iphone .action-pop-block-header {
      color: #707375;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal; }
  .article-page-block__notice__android {
    border-left: 1px solid #2d343a; }
    .article-page-block__notice__android-image-block {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      position: relative;
      padding-top: 8px;
      overflow: hidden;
      min-width: 100px; }
      .article-page-block__notice__android-image-block:before {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        background-repeat: no-repeat;
        background-size: 100%;
        height: 58%;
        width: 58%;
        position: absolute;
        text-align: center;
        left: 0;
        margin-left: -45%;
        margin-top: 50%;
        z-index: 1; }
    .article-page-block__notice__android .article-page-block__notice-text, .article-page-block__notice__android .action-pop-block-text {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      margin: 0;
      padding: 21px 0 0 15px; }
      .article-page-block__notice__android .article-page-block__notice-text ul, .article-page-block__notice__android .action-pop-block-text ul {
        list-style: none; }
        .article-page-block__notice__android .article-page-block__notice-text ul li, .article-page-block__notice__android .action-pop-block-text ul li {
          font-size: 13px;
          line-height: 16px;
          margin: 0 0 8px 0;
          padding: 0; }
    .article-page-block__notice__android .article-page-block__notice-header, .article-page-block__notice__android .action-pop-block-header {
      color: #707375;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal; }

.article-page-block__notice__black, .action-block-black {
  background-image: url("/res/images/promo-footer/notice/article-page-block__notice__black.png"); }

.article-page-block__notice__blue, .action-block-blue {
  background-image: url("/res/images/promo-footer/notice/article-page-block__notice__blue.png"); }

.article-page-block__notice__yellow, .action-block-yellow {
  background-image: url("/res/images/promo-footer/notice/article-page-block__notice__yellow.png"); }

.article-page-block__notice__iphone-image-block:before {
  background-image: url("/res/images/logos/logo-alpha.png"); }

.article-page-block__notice__android-image-block:before {
  background-image: url("/res/images/logos/logo-alpha.png"); }

.action-pop-image {
  margin: 0 !important;
  padding: 8px 0 0 0 !important;
  border: 0px none !important;
  width: 50% !important;
  height: auto !important;
  display: table-cell; }
  .action-pop-image img {
    width: 100% !important;
    margin-bottom: 56px !important; }

.action-pop-image-container {
  border-left: 1px solid #2d343a;
  margin-left: -15px;
  margin-top: 5px;
  margin-bottom: -1000px;
  padding-bottom: 1000px; }

.table100percent {
  display: table;
  width: 100%; }

.action-pop-image.with-padding {
  padding: 20px 0 0 15px !important; }

.action-pop-link-block {
  margin: 0 !important;
  padding: 16px 0 0 15px !important;
  display: table-cell;
  vertical-align: top; }
  .action-pop-link-block h3 {
    color: #707375;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    padding-bottom: 10px;
    display: block; }
  .action-pop-link-block ul {
    list-style: none; }
    .action-pop-link-block ul li {
      font-size: 13px;
      line-height: 16px;
      margin: 0 0 8px 0;
      padding: 0; }
      .action-pop-link-block ul li a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .action-pop-link-block ul li a:hover {
          border-color: rgba(255, 255, 255, 0.6); }

