@import "../_variables.scss";
/* ==================================================================== */
/* PROMO FOOTER
/* =================================================================== */
$promo-block-text-color: #b2b2b2;
$promo-header-border-color: #2d343a;
$promo-image-about-logo-size: 55px;
$promo-image-cart-logo-size: 66px;
$promo-image-free-logo-size: 110px;

.promo-footer {
    text-align: center;
    color: $promo-block-text-color;

    &__header {
        font-size: 22px;
        border-bottom: 1px solid $promo-header-border-color;
        padding-bottom: 24px;
        margin-bottom: 31px;
        padding-top: 35px;
    }

    &__content {
        padding-bottom: 56px;
    }

    &__text {
        font-size: 13px;
        line-height: 17px;
        font-family: $sans;
        padding: 0 10px 10px 10px;
    }

    &__item {
        &-link {
            border-bottom: none;

            &-block {
                margin-bottom: 5px;
            }

            &-text {
                @include transition($hover-links);
                @include link($white-link-color);
                border-bottom-width: 1px;
                border-bottom-style: solid;
                font-size: 16px;
                font-weight: bold;

                &-block {
                    display: inline;
                }
            }
        }

        &-image {
            width: 100%;
            position: relative;

            &-block {
                line-height: 1px;
                display: inline-table;
                position: relative;
                padding-bottom: 14px;

                &-about {
                    width: 140px;
                    height: 110px;

                    &:before {
                        content: "";
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: $promo-image-about-logo-size;
                        width: $promo-image-about-logo-size;
                        position: absolute;
                        text-align: center;
                        left: 50%;
                        top: 34%;
                        margin-left: - $promo-image-about-logo-size / 2;
                        margin-top: - $promo-image-about-logo-size / 2;
                        z-index: 1;
                    }

                    &-background {
                        @include border-radius(2px);
                        height: 83px;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 1px;
                        right: 2px;
                    }
                }

                &-cart {
                    width: 125px;
                    height: 120px;
                    margin-top: -10px;

                    &:before {
                        content: "";
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: $promo-image-cart-logo-size;
                        width: $promo-image-cart-logo-size;
                        position: absolute;
                        text-align: center;
                        right: 10px;
                        top: 0;
                    }
                }

                &-free {
                    width: 73px;
                    right: -19px;
                    height: 124px;
                    top: -1px;

                    &:before {
                        content: "";
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: $promo-image-free-logo-size;
                        width: $promo-image-free-logo-size;
                        position: absolute;
                        text-align: center;
                        right: 1px;
                        top: 1px;
                    }

                    &:after {
                        @include rotate(45);
                        @include transform-origin(top left);
                        content: attr(data-freetext);
                        font-family: $sans;
                        position: absolute;
                        text-align: center;
                        right: 49px;
                        top: 8px;
                        font-size: 12px;
                        color: $black-link-color;
                        line-height: 1px;
                        text-transform: capitalize;
                        height: 1px;
                        width: 1px;
                    }
                }
            }
        }
    }
}

@each $name in 'about', 'cart', 'free' {
    .promo-footer__item-image-block-#{$name}:before {
        background-image: url("/res/images/logos/logo-alpha.png");
    }
}
