﻿/* ==================================================================== */
/* READ PROGRESS (circle icons)
/* =================================================================== */
.read-progress-icon {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 27px;
  height: 26px;
  background-image: url("/res/images/read-progress/read-progress-icon-small.png");
  background-position: 0 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat; }
  .read-progress-icon__0 {
    background-position: 0px 0; }
  .read-progress-icon__1 {
    background-position: -27px 0; }
  .read-progress-icon__2 {
    background-position: -54px 0; }
  .read-progress-icon__3 {
    background-position: -81px 0; }
  .read-progress-icon__4 {
    background-position: -108px 0; }
  .read-progress-icon__5 {
    background-position: -135px 0; }
  .read-progress-icon__6 {
    background-position: -162px 0; }
  .read-progress-icon__7 {
    background-position: -189px 0; }
  .read-progress-icon__8 {
    background-position: -216px 0; }
  .read-progress-icon__9 {
    background-position: -243px 0; }
  .read-progress-icon__10 {
    background-position: -270px 0; }
  .read-progress-icon__11 {
    background-position: -297px 0; }
  .read-progress-icon__12 {
    background-position: -324px 0; }
  .read-progress-icon__13 {
    background-position: -351px 0; }
  .read-progress-icon__14 {
    background-position: -378px 0; }
  .read-progress-icon__15 {
    background-position: -405px 0; }
  .read-progress-icon__16 {
    background-position: -432px 0; }
  .read-progress-icon__17 {
    background-position: -459px 0; }
  .read-progress-icon__18 {
    background-position: -486px 0; }
  .read-progress-icon__19 {
    background-position: -513px 0; }
  .read-progress-icon__20 {
    background-position: -540px 0; }
  .read-progress-icon__21 {
    background-position: -567px 0; }
  .read-progress-icon__22 {
    background-position: -594px 0; }
  .read-progress-icon__23 {
    background-position: -621px 0; }
  .read-progress-icon__24 {
    background-position: -648px 0; }
  .read-progress-icon__25 {
    background-position: -675px 0; }
  .read-progress-icon__26 {
    background-position: -702px 0; }
  .read-progress-icon__27 {
    background-position: -729px 0; }
  .read-progress-icon__28 {
    background-position: -756px 0; }
  .read-progress-icon__29 {
    background-position: -783px 0; }
  .read-progress-icon__30 {
    background-position: -810px 0; }
  .read-progress-icon__31 {
    background-position: -837px 0; }
  .read-progress-icon__32 {
    background-position: -864px 0; }
  .read-progress-icon__33 {
    background-position: -891px 0; }
  .read-progress-icon__34 {
    background-position: -918px 0; }
  .read-progress-icon__35 {
    background-position: -945px 0; }
  .read-progress-icon__36 {
    background-position: -972px 0; }
  .read-progress-icon__37 {
    background-position: -999px 0; }
  .read-progress-icon__38 {
    background-position: -1026px 0; }
  .read-progress-icon__39 {
    background-position: -1053px 0; }
  .read-progress-icon__40 {
    background-position: -1080px 0; }
  .read-progress-icon__41 {
    background-position: -1107px 0; }
  .read-progress-icon__42 {
    background-position: -1134px 0; }
  .read-progress-icon__43 {
    background-position: -1161px 0; }
  .read-progress-icon__44 {
    background-position: -1188px 0; }
  .read-progress-icon__45 {
    background-position: -1215px 0; }
  .read-progress-icon__46 {
    background-position: -1242px 0; }
  .read-progress-icon__47 {
    background-position: -1269px 0; }
  .read-progress-icon__48 {
    background-position: -1296px 0; }
  .read-progress-icon__49 {
    background-position: -1323px 0; }
  .read-progress-icon__50 {
    background-position: -1350px 0; }
  .read-progress-icon__51 {
    background-position: -1377px 0; }
  .read-progress-icon__52 {
    background-position: -1404px 0; }
  .read-progress-icon__53 {
    background-position: -1431px 0; }
  .read-progress-icon__54 {
    background-position: -1458px 0; }
  .read-progress-icon__55 {
    background-position: -1485px 0; }
  .read-progress-icon__56 {
    background-position: -1512px 0; }
  .read-progress-icon__57 {
    background-position: -1539px 0; }
  .read-progress-icon__58 {
    background-position: -1566px 0; }
  .read-progress-icon__59 {
    background-position: -1593px 0; }
  .read-progress-icon__60 {
    background-position: -1620px 0; }
  .read-progress-icon__61 {
    background-position: -1647px 0; }
  .read-progress-icon__62 {
    background-position: -1674px 0; }
  .read-progress-icon__63 {
    background-position: -1701px 0; }
  .read-progress-icon__64 {
    background-position: -1728px 0; }
  .read-progress-icon__65 {
    background-position: -1755px 0; }
  .read-progress-icon__66 {
    background-position: -1782px 0; }
  .read-progress-icon__67 {
    background-position: -1809px 0; }
  .read-progress-icon__68 {
    background-position: -1836px 0; }
  .read-progress-icon__69 {
    background-position: -1863px 0; }
  .read-progress-icon__70 {
    background-position: -1890px 0; }
  .read-progress-icon__71 {
    background-position: -1917px 0; }
  .read-progress-icon__72 {
    background-position: -1944px 0; }
  .read-progress-icon__73 {
    background-position: -1971px 0; }
  .read-progress-icon__74 {
    background-position: -1998px 0; }
  .read-progress-icon__75 {
    background-position: -2025px 0; }
  .read-progress-icon__76 {
    background-position: -2052px 0; }
  .read-progress-icon__77 {
    background-position: -2079px 0; }
  .read-progress-icon__78 {
    background-position: -2106px 0; }
  .read-progress-icon__79 {
    background-position: -2133px 0; }
  .read-progress-icon__80 {
    background-position: -2160px 0; }
  .read-progress-icon__81 {
    background-position: -2187px 0; }
  .read-progress-icon__82 {
    background-position: -2214px 0; }
  .read-progress-icon__83 {
    background-position: -2241px 0; }
  .read-progress-icon__84 {
    background-position: -2268px 0; }
  .read-progress-icon__85 {
    background-position: -2295px 0; }
  .read-progress-icon__86 {
    background-position: -2322px 0; }
  .read-progress-icon__87 {
    background-position: -2349px 0; }
  .read-progress-icon__88 {
    background-position: -2376px 0; }
  .read-progress-icon__89 {
    background-position: -2403px 0; }
  .read-progress-icon__90 {
    background-position: -2430px 0; }
  .read-progress-icon__91 {
    background-position: -2457px 0; }
  .read-progress-icon__92 {
    background-position: -2484px 0; }
  .read-progress-icon__93 {
    background-position: -2511px 0; }
  .read-progress-icon__94 {
    background-position: -2538px 0; }
  .read-progress-icon__95 {
    background-position: -2565px 0; }
  .read-progress-icon__96 {
    background-position: -2592px 0; }
  .read-progress-icon__97 {
    background-position: -2619px 0; }
  .read-progress-icon__98 {
    background-position: -2646px 0; }
  .read-progress-icon__99 {
    background-position: -2673px 0; }
  .read-progress-icon__100 {
    background-position: -2700px 0; }
  .read-progress-icon.menu-panel__archive-list-item__read {
    top: 0;
    left: -13px; }
  .read-progress-icon.menu-panel__content__menu-item__read-statistic-icon {
    right: 0;
    top: 50%; }
  .read-progress-icon.menu-block-common-item__content-read-progress {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -12px;
    top: -2px; }
  .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityon;
    animation-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-block-common-item-active .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityoff;
    animation-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0); }

.read-progress-block {
  padding-bottom: 60px;
  padding-top: 40px; }

.read-progress-icon-big {
  background-image: url("/res/images/read-progress/read-progress-icon-big.png");
  background-size: auto auto;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-position: left center;
  width: 53px;
  height: 53px; }
  .read-progress-icon-big__0 {
    background-position: 0px center; }
  .read-progress-icon-big__1 {
    background-position: -53px center; }
  .read-progress-icon-big__2 {
    background-position: -106px center; }
  .read-progress-icon-big__3 {
    background-position: -159px center; }
  .read-progress-icon-big__4 {
    background-position: -212px center; }
  .read-progress-icon-big__5 {
    background-position: -265px center; }
  .read-progress-icon-big__6 {
    background-position: -318px center; }
  .read-progress-icon-big__7 {
    background-position: -371px center; }
  .read-progress-icon-big__8 {
    background-position: -424px center; }
  .read-progress-icon-big__9 {
    background-position: -477px center; }
  .read-progress-icon-big__10 {
    background-position: -530px center; }
  .read-progress-icon-big__11 {
    background-position: -583px center; }
  .read-progress-icon-big__12 {
    background-position: -636px center; }
  .read-progress-icon-big__13 {
    background-position: -689px center; }
  .read-progress-icon-big__14 {
    background-position: -742px center; }
  .read-progress-icon-big__15 {
    background-position: -795px center; }
  .read-progress-icon-big__16 {
    background-position: -848px center; }
  .read-progress-icon-big__17 {
    background-position: -901px center; }
  .read-progress-icon-big__18 {
    background-position: -954px center; }
  .read-progress-icon-big__19 {
    background-position: -1007px center; }
  .read-progress-icon-big__20 {
    background-position: -1060px center; }
  .read-progress-icon-big__21 {
    background-position: -1113px center; }
  .read-progress-icon-big__22 {
    background-position: -1166px center; }
  .read-progress-icon-big__23 {
    background-position: -1219px center; }
  .read-progress-icon-big__24 {
    background-position: -1272px center; }
  .read-progress-icon-big__25 {
    background-position: -1325px center; }
  .read-progress-icon-big__26 {
    background-position: -1378px center; }
  .read-progress-icon-big__27 {
    background-position: -1431px center; }
  .read-progress-icon-big__28 {
    background-position: -1484px center; }
  .read-progress-icon-big__29 {
    background-position: -1537px center; }
  .read-progress-icon-big__30 {
    background-position: -1590px center; }
  .read-progress-icon-big__31 {
    background-position: -1643px center; }
  .read-progress-icon-big__32 {
    background-position: -1696px center; }
  .read-progress-icon-big__33 {
    background-position: -1749px center; }
  .read-progress-icon-big__34 {
    background-position: -1802px center; }
  .read-progress-icon-big__35 {
    background-position: -1855px center; }
  .read-progress-icon-big__36 {
    background-position: -1908px center; }
  .read-progress-icon-big__37 {
    background-position: -1961px center; }
  .read-progress-icon-big__38 {
    background-position: -2014px center; }
  .read-progress-icon-big__39 {
    background-position: -2067px center; }
  .read-progress-icon-big__40 {
    background-position: -2120px center; }
  .read-progress-icon-big__41 {
    background-position: -2173px center; }
  .read-progress-icon-big__42 {
    background-position: -2226px center; }
  .read-progress-icon-big__43 {
    background-position: -2279px center; }
  .read-progress-icon-big__44 {
    background-position: -2332px center; }
  .read-progress-icon-big__45 {
    background-position: -2385px center; }
  .read-progress-icon-big__46 {
    background-position: -2438px center; }
  .read-progress-icon-big__47 {
    background-position: -2491px center; }
  .read-progress-icon-big__48 {
    background-position: -2544px center; }
  .read-progress-icon-big__49 {
    background-position: -2597px center; }
  .read-progress-icon-big__50 {
    background-position: -2650px center; }
  .read-progress-icon-big__51 {
    background-position: -2703px center; }
  .read-progress-icon-big__52 {
    background-position: -2756px center; }
  .read-progress-icon-big__53 {
    background-position: -2809px center; }
  .read-progress-icon-big__54 {
    background-position: -2862px center; }
  .read-progress-icon-big__55 {
    background-position: -2915px center; }
  .read-progress-icon-big__56 {
    background-position: -2968px center; }
  .read-progress-icon-big__57 {
    background-position: -3021px center; }
  .read-progress-icon-big__58 {
    background-position: -3074px center; }
  .read-progress-icon-big__59 {
    background-position: -3127px center; }
  .read-progress-icon-big__60 {
    background-position: -3180px center; }
  .read-progress-icon-big__61 {
    background-position: -3233px center; }
  .read-progress-icon-big__62 {
    background-position: -3286px center; }
  .read-progress-icon-big__63 {
    background-position: -3339px center; }
  .read-progress-icon-big__64 {
    background-position: -3392px center; }
  .read-progress-icon-big__65 {
    background-position: -3445px center; }
  .read-progress-icon-big__66 {
    background-position: -3498px center; }
  .read-progress-icon-big__67 {
    background-position: -3551px center; }
  .read-progress-icon-big__68 {
    background-position: -3604px center; }
  .read-progress-icon-big__69 {
    background-position: -3657px center; }
  .read-progress-icon-big__70 {
    background-position: -3710px center; }
  .read-progress-icon-big__71 {
    background-position: -3763px center; }
  .read-progress-icon-big__72 {
    background-position: -3816px center; }
  .read-progress-icon-big__73 {
    background-position: -3869px center; }
  .read-progress-icon-big__74 {
    background-position: -3922px center; }
  .read-progress-icon-big__75 {
    background-position: -3975px center; }
  .read-progress-icon-big__76 {
    background-position: -4028px center; }
  .read-progress-icon-big__77 {
    background-position: -4081px center; }
  .read-progress-icon-big__78 {
    background-position: -4134px center; }
  .read-progress-icon-big__79 {
    background-position: -4187px center; }
  .read-progress-icon-big__80 {
    background-position: -4240px center; }
  .read-progress-icon-big__81 {
    background-position: -4293px center; }
  .read-progress-icon-big__82 {
    background-position: -4346px center; }
  .read-progress-icon-big__83 {
    background-position: -4399px center; }
  .read-progress-icon-big__84 {
    background-position: -4452px center; }
  .read-progress-icon-big__85 {
    background-position: -4505px center; }
  .read-progress-icon-big__86 {
    background-position: -4558px center; }
  .read-progress-icon-big__87 {
    background-position: -4611px center; }
  .read-progress-icon-big__88 {
    background-position: -4664px center; }
  .read-progress-icon-big__89 {
    background-position: -4717px center; }
  .read-progress-icon-big__90 {
    background-position: -4770px center; }
  .read-progress-icon-big__91 {
    background-position: -4823px center; }
  .read-progress-icon-big__92 {
    background-position: -4876px center; }
  .read-progress-icon-big__93 {
    background-position: -4929px center; }
  .read-progress-icon-big__94 {
    background-position: -4982px center; }
  .read-progress-icon-big__95 {
    background-position: -5035px center; }
  .read-progress-icon-big__96 {
    background-position: -5088px center; }
  .read-progress-icon-big__97 {
    background-position: -5141px center; }
  .read-progress-icon-big__98 {
    background-position: -5194px center; }
  .read-progress-icon-big__99 {
    background-position: -5247px center; }
  .read-progress-icon-big__100 {
    background-position: -5300px center; }
  .read-progress-icon-big-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 53px;
    height: 53px; }

.read-progress-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 21px;
  padding-left: 10px; }

