﻿/* ==================================================================== */
/* PRINT, SAVE, ESTIMATE READING TIME etc
/* =================================================================== */
.right-sidebar-menu-container-wrapper {
  display: block;
  min-width: 68px;
  width: 100%;
  z-index: 3; }
  .right-sidebar-menu-container-wrapper.position-is__fixed {
    width: calc(100% - 1172px);
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-top: 1px; }
  .right-sidebar-menu-container-wrapper.position-is__absolute {
    bottom: 0; }
  .right-sidebar-menu-container-wrapper-next {
    opacity: 0.01;
    filter: alpha(opacity=1);
    bottom: 50px;
    padding-top: 50px;
    display: block;
    min-width: 68px;
    width: 100%;
    z-index: 3; }
    .right-sidebar-menu-container-wrapper-next.notransparent {
      z-index: 0; }
    .right-sidebar-menu-container-wrapper-next.position-is__fixed {
      width: calc(100% - 1172px);
      top: auto;
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      margin-top: 1px;
      min-width: 68px;
      padding-top: 0; }

.right-sidebar-menu-item {
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-bottom: 34px;
  position: relative; }
  @media screen and (max-width: 1340px) {
    .right-sidebar-menu-item {
      margin-bottom: 15px; } }
  .right-sidebar-menu-item-icon {
    position: relative;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: inline-block; }
    .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item-icon:after {
      content: "";
      display: block;
      background-repeat: no-repeat; }
    .right-sidebar-menu-item-icon:before {
      position: relative; }
    .right-sidebar-menu-item-icon:after {
      opacity: 0;
      filter: alpha(opacity=0);
      position: absolute;
      top: 0; }
      @media screen and (max-width: 1340px) {
        .right-sidebar-menu-item-icon:after {
          -moz-transition-property: none;
          -webkit-transition-property: none;
          -o-transition-property: none;
          transition-property: none; } }
    .right-sidebar-menu-item-icon:hover {
      cursor: pointer; }
      .right-sidebar-menu-item-icon:hover:after {
        opacity: 1;
        filter: alpha(opacity=100); }
      .right-sidebar-menu-item-icon:hover + .right-sidebar-menu-item-tip {
        display: block; }
    .right-sidebar-menu-item-icon-wrapper {
      position: relative; }
      .right-sidebar-menu-item-icon-wrapper a {
        border-bottom: none; }
  .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
    height: 62px;
    width: 62px;
    background-size: 143px 59px; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
        height: 32px;
        width: 24px;
        background-size: 55px 24px; } }
  .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:before {
    background-position: left top; }
  .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
    background-position: right top; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
        right: 1px; } }
  .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
    height: 62px;
    width: 76px;
    background-size: 226px 61px; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
        height: 23px;
        width: 29px;
        background-size: 88px 23px; } }
  .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before {
    background-position: right top; }
  .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
    background-position: -74px top; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
        background-position: -29px top; } }
  .page-wrapper-common-form .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:hover:before {
    opacity: 1;
    filter: alpha(opacity=100); }
  .page-wrapper-common-form .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:hover:after {
    opacity: 0;
    filter: alpha(opacity=0); }
  .article-page-block__article-favorite .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before,
  .article-page-block__article-favorite .right-sidebar-menu-item__add-to-favorite:hover .right-sidebar-menu-item-icon:before {
    opacity: 0;
    filter: alpha(opacity=0); }
  .article-page-block__article-favorite .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after,
  .article-page-block__article-favorite .right-sidebar-menu-item__add-to-favorite:hover .right-sidebar-menu-item-icon:after {
    opacity: 1;
    filter: alpha(opacity=100);
    background-position: 2px top; }
  .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:after {
    height: 62px;
    width: 62px;
    background-size: 143px 53px; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:after {
        height: 24px;
        width: 24px;
        background-size: 56px 22px; } }
  .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:before {
    background-position: left top; }
  .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:after {
    background-position: right top; }
  .right-sidebar-menu-item__timer-svg {
    width: 62px;
    height: 62px; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item__timer-svg {
        width: 19px;
        height: 19px; } }
  .right-sidebar-menu-item__timer-circle {
    fill: rgba(255, 255, 255, 0);
    stroke: #808589;
    stroke-width: 1px; }
  .right-sidebar-menu-item__timer-fill {
    fill: rgba(137, 142, 145, 0.25); }
  .right-sidebar-menu-item__timer .right-sidebar-menu-item-icon:hover {
    cursor: default; }
  .right-sidebar-menu-item__next {
    display: none;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px; }
    @media screen and (max-width: 1600px) {
      .right-sidebar-menu-item__next {
        margin-left: 0;
        margin-right: 0; } }
    .right-sidebar-menu-item__next .right-sidebar-menu-item {
      margin-bottom: 0; }
    .article-page-block__article-single .right-sidebar-menu-item__next {
      display: block; }
    .right-sidebar-menu-item__next .right-sidebar-menu-item-icon {
      display: none;
      margin-bottom: 5px; }
      @media screen and (max-width: 1600px) {
        .right-sidebar-menu-item__next .right-sidebar-menu-item-icon {
          display: inline-block; } }
      .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
        height: 58px;
        width: 60px;
        background-size: 131px 58px; }
        @media screen and (max-width: 1340px) {
          .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:before, .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
            height: 17px;
            width: 9px;
            background-size: 9px 100px; } }
      .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:before {
        background-position: left top; }
      .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
        background-position: right top; }
        @media screen and (max-width: 1340px) {
          .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
            background-position: left -50px; } }
    .right-sidebar-menu-item__next-link {
      border: none; }
    .right-sidebar-menu-item__next .right-sidebar-menu-item-icon-text {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.2);
      border-bottom-width: 1px;
      border-bottom-style: solid; }
      .right-sidebar-menu-item__next .right-sidebar-menu-item-icon-text:hover {
        border-color: rgba(255, 255, 255, 0.6); }
      @media screen and (max-width: 1600px) {
        .right-sidebar-menu-item__next .right-sidebar-menu-item-icon-text {
          display: none; } }
    .right-sidebar-menu-item__next .right-sidebar-menu-item-text {
      display: none; }
      @media screen and (max-width: 1600px) {
        .right-sidebar-menu-item__next .right-sidebar-menu-item-text {
          display: block; } }
    .right-sidebar-menu-item__next-header {
      color: #808080;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: normal; }
      @media screen and (max-width: 1600px) {
        .right-sidebar-menu-item__next-header {
          display: none; } }
    .right-sidebar-menu-item__next.right-sidebar-menu-item__next-right .right-sidebar-menu-item-icon,
    .article-page-block__article-single .right-sidebar-menu-item__next .right-sidebar-menu-item-icon {
      -moz-transform: translate(-50%, 0) rotate(-90deg);
      -o-transform: translate(-50%, 0) rotate(-90deg);
      -ms-transform: translate(-50%, 0) rotate(-90deg);
      -webkit-transform: translate(-50%, 0) rotate(-90deg);
      transform: translate(-50%, 0) rotate(-90deg); }
  .right-sidebar-menu-item-text {
    color: #808080;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item-text {
        display: none; } }
    .right-sidebar-menu-item-text a {
      color: #808080;
      border-color: rgba(128, 128, 128, 0.2); }
      .right-sidebar-menu-item-text a:hover {
        border-color: rgba(128, 128, 128, 0.6); }
  .right-sidebar-menu-item-tip {
    background: #feffff;
    background: -webkit-linear-gradient(-90deg, #feffff 0%, #edf1f4 67%, #edf1f4 67%, #dde1e3 100%);
    background: -moz-linear-gradient(180deg, #feffff 0%, #edf1f4 67%, #edf1f4 67%, #dde1e3 100%);
    background: linear-gradient(180deg, #feffff 0%, #edf1f4 67%, #edf1f4 67%, #dde1e3 100%);
    -webkit-box-shadow: -3px 7px 9px 0 rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: -3px 7px 9px 0 rgba(0, 0, 0, 0.3) ;
    box-shadow: -3px 7px 9px 0 rgba(0, 0, 0, 0.3) ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: none;
    font-size: 0.75em;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 17px 10px 17px;
    position: absolute;
    top: 50%;
    right: 70%;
    margin-right: 34px;
    min-width: 130px;
    white-space: nowrap; }
    @media screen and (max-width: 1340px) {
      .right-sidebar-menu-item-tip {
        right: 30%; } }
    .right-sidebar-menu-item-tip:after {
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent #ffffff;
      right: -9px;
      top: 50%;
      z-index: 1; }

.right-sidebar-menu-item__print .right-sidebar-menu-item-icon:before,
.right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
  background-image: url("/res/images/right-menu/right-sidebar-menu-item__print.png"); }
  @media screen and (max-width: 1340px) {
    .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:before,
    .right-sidebar-menu-item__print .right-sidebar-menu-item-icon:after {
      background-image: url("/res/images/right-menu/right-sidebar-menu-item__print-small.png"); } }

.right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before,
.right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
  background-image: url("/res/images/right-menu/right-sidebar-menu-item__add-to-favorite.png"); }
  @media screen and (max-width: 1340px) {
    .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:before,
    .right-sidebar-menu-item__add-to-favorite .right-sidebar-menu-item-icon:after {
      background-image: url("/res/images/right-menu/right-sidebar-menu-item__add-to-favorite-small.png"); } }

.right-sidebar-menu-item__download .right-sidebar-menu-item-icon:before,
.right-sidebar-menu-item__download .right-sidebar-menu-item-icon:after {
  background-image: url("/res/images/right-menu/right-sidebar-menu-item__download.png"); }
  @media screen and (max-width: 1340px) {
    .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:before,
    .right-sidebar-menu-item__download .right-sidebar-menu-item-icon:after {
      background-image: url("/res/images/right-menu/right-sidebar-menu-item__download-small.png"); } }

.right-sidebar-menu-item__next .right-sidebar-menu-item-icon:before,
.right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
  background-image: url("/res/images/right-menu/right-sidebar-menu-item__next.png"); }
  @media screen and (max-width: 1340px) {
    .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:before,
    .right-sidebar-menu-item__next .right-sidebar-menu-item-icon:after {
      background-image: url("/res/images/right-menu/right-sidebar-menu-item__next-small.png"); } }

