@import "../_variables.scss";
/* ==================================================================== */
/* PRINT, SAVE, ESTIMATE READING TIME etc
/* =================================================================== */
$leftwidth: $left-column-max-width + $left-column-padding-left;
$icon-hover-animation: opacity 0.3s ease-in-out;
$icon-text-color: #808080;
$icon-size: 62px;
$add-to-favorite-icon-width: 76px;
$tip-angle-width: 17px;
$transform-width: 1340px;

.right-sidebar-menu {
    &-container-wrapper {
        display: block;
        min-width: $right-column-min-width;
        width: 100%;
        z-index: 3;

        &.position-is__fixed {
            width: calc(100% - #{$leftwidth});
            top: 50%;
            @include translate(0, -50%);
            margin-top: 1px;
        }

        &.position-is__absolute {
            bottom: 0;
        }

        &-next {
            @include opacity(.01);
            bottom: 50px;
            padding-top: 50px;
            display: block;
            min-width: 68px;
            width: 100%;
            z-index: 3;

            &.notransparent {
                z-index: 0;
            }

            &.position-is__fixed {
                width: calc(100% - #{$leftwidth});
                top: auto;
                @include translate(0, 0);
                margin-top: 1px;
                min-width: $right-column-min-width;
                padding-top: 0;
            }
        }
    }

    &-item {
        margin-left: auto;
        margin-right: auto;
        display: table;
        margin-bottom: 34px;
        position: relative;

        @media screen and (max-width: $transform-width) {
            margin-bottom: 15px;
        }

        &-icon {
            position: relative;
            left: 50%;
            @include translate(-50%, 0);
            display: inline-block;

            &:before, &:after {
                content: "";
                display: block;
                background-repeat: no-repeat;
            }

            &:before {
                position: relative;
            }

            &:after {
                @include opacity(0);
                //  @include transition($icon-hover-animation);
                position: absolute;
                top: 0;

                @media screen and (max-width: $transform-width) {
                    @include transition-property(none);
                }
            }

            &:hover {
                cursor: pointer;

                &:after {
                    @include opacity(1);
                    // display: block;
                }

                & + .right-sidebar-menu-item-tip {
                    //  @include opacity(1);
                    display: block;
                }
            }

            &-wrapper {
                position: relative;
                 & a {
                     border-bottom: none;
                 }
            }
        }
        //Печать
        &__print {
            & .right-sidebar-menu-item-icon {
                &:before, &:after {
                    height: $icon-size;
                    width: $icon-size;
                    background-size: 143px 59px;

                    @media screen and (max-width: $transform-width) {
                        height: 32px;
                        width: 24px;
                        background-size: 55px 24px;
                    }
                }

                &:before {
                    background-position: left top;
                }

                &:after {
                    background-position: right top;

                    @media screen and (max-width: $transform-width) {
                        right: 1px;
                    }
                }
            }
        }
        //Добавить в закладки
        &__add-to-favorite {
            & .right-sidebar-menu-item-icon {
                &:before, &:after {
                    height: $icon-size;
                    width: $add-to-favorite-icon-width;
                    background-size: 226px 61px;

                    @media screen and (max-width: $transform-width) {
                        height: 23px;
                        width: 29px;
                        background-size: 88px 23px;
                    }
                }

                &:before {
                    background-position: right top;
                }

                &:after {
                    background-position: -74px top;

                    @media screen and (max-width: $transform-width) {
                        background-position: -29px top;
                    }
                }

                .page-wrapper-common-form &:hover {
                    &:before {
                        @include opacity(1);
                    }

                    &:after {
                        @include opacity(0);
                    }
                }
            }

            .article-page-block__article-favorite & .right-sidebar-menu-item-icon,
            .article-page-block__article-favorite &:hover .right-sidebar-menu-item-icon {
                &:before {
                    @include opacity(0);
                }

                &:after {
                    @include opacity(1);
                    background-position: 2px top;
                }
            }
        }
        //Скачать
        &__download {
            & .right-sidebar-menu-item-icon {
                &:before, &:after {
                    height: $icon-size;
                    width: $icon-size;
                    background-size: 143px 53px;

                    @media screen and (max-width: $transform-width) {
                        height: 24px;
                        width: 24px;
                        background-size: 56px 22px;
                    }
                }

                &:before {
                    background-position: left top;
                }

                &:after {
                    background-position: right top;
                }
            }
        }

        &__timer {
            &-svg {
                width: $icon-size;
                height: $icon-size;

                @media screen and (max-width: $transform-width) {
                    width: 19px;
                    height: 19px;
                }
            }

            &-circle {
                fill: rgba(255, 255, 255, 0);
                stroke: #808589;
                stroke-width: 1px;
            }

            &-fill {
                fill: rgba(137, 142, 145, 0.25);
            }

            & .right-sidebar-menu-item-icon {
                &:hover {
                    cursor: default;
                }
            }
        }
        //Следующая статья
        &__next {
            display: none;
            margin-bottom: 0;
            margin-left: 30px;
            margin-right: 30px;
            padding-bottom: 20px;

            @media screen and (max-width: 1600px) {
                margin-left: 0;
                margin-right: 0;
            }

            & .right-sidebar-menu-item {
                margin-bottom: 0;
            }

            .article-page-block__article-single & {
                display: block;
            }

            & .right-sidebar-menu-item-icon {
                display: none;
                margin-bottom: 5px;

                @media screen and (max-width: 1600px) {
                    display: inline-block;
                }

                &:before, &:after {
                    height: 58px;
                    width: 60px;
                    background-size: 131px 58px;

                    @media screen and (max-width: $transform-width) {
                        height: 17px;
                        width: 9px;
                        background-size: 9px 100px;
                    }
                }

                &:before {
                    background-position: left top;
                }

                &:after {
                    background-position: right top;

                    @media screen and (max-width: $transform-width) {
                        background-position: left -50px;
                    }
                }
            }

            &-link {
                border: none;
            }

            & .right-sidebar-menu-item-icon-text {
                @include link($white-link-color);
                border-bottom-width: 1px;
                border-bottom-style: solid;

                @media screen and (max-width: 1600px) {
                    display: none;
                }
            }

            & .right-sidebar-menu-item-text {
                display: none;

                @media screen and (max-width: 1600px) {
                    display: block;
                }
            }

            &-header {
                color: $icon-text-color;
                display: block;
                font-family: $sans;
                font-size: 14px;
                line-height: 18px;
                font-weight: normal;

                @media screen and (max-width: 1600px) {
                    display: none;
                }
            }

            &.right-sidebar-menu-item__next-right .right-sidebar-menu-item-icon,
            .article-page-block__article-single & .right-sidebar-menu-item-icon {
                @include transform(translate(-50%, 0) rotate(-90deg));
            }
        }


        &-text {
            color: $icon-text-color;
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            font-family: $sans;

            @media screen and (max-width: $transform-width) {
                display: none;
            }

            & a {
                @include link($icon-text-color);
            }
        }

        &-tip {
            @include linear-gradient(#feffff 0%,#edf1f4 67%,#edf1f4 67%,#dde1e3 100%);
            @include box-shadow(-3px, 7px, 9px, 0, rgba(0, 0, 0, 0.3));
            @include border-radius(5px);
            @include translate(0, -50%);
            //  @include transition($icon-hover-animation);
            // @include opacity(0);
            display: none;
            font-size: em(12);
            line-height: 1.2;
            font-family: $sans;
            padding: 10px $tip-angle-width 10px 17px;
            position: absolute;
            top: 50%;
            right: 70%;
            margin-right: 2*$tip-angle-width;
            min-width: 130px;
            white-space: nowrap;

            @media screen and (max-width: $transform-width) {
                right: 30%;
            }

            &:after {
                @include translate(0, -50%);
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 10px;
                border-color: transparent transparent transparent #ffffff;
                right: -9px;
                top: 50%;
                z-index: 1;
            }
        }
    }
}

@each $name in 'print', 'add-to-favorite', 'download', 'next' {
    .right-sidebar-menu-item__#{$name} .right-sidebar-menu-item-icon:before,
    .right-sidebar-menu-item__#{$name} .right-sidebar-menu-item-icon:after {
        background-image: url("/res/images/right-menu/right-sidebar-menu-item__#{$name}.png");

        @media screen and (max-width: $transform-width) {
            background-image: url("/res/images/right-menu/right-sidebar-menu-item__#{$name}-small.png");
        }
    }
}
