@import "../_variables.scss";
/* ==================================================================== */
/* TEST IN ARTICLE
/* =================================================================== */
$test-in-article-background-color: #fbf3cd;
$test-in-article-clicked-background-color: #efdfad;
$test-in-article-color: #403d32;
$test-in-article-hover-color: #fef1b6;
$test-in-article-shadow-color: #9e906f;
$test-in-article-answer-border-color: #bfba9b;
$test-in-article-clicked-border-color: #b99f7c;
$test-in-article-margin-right: -240px;
$test-in-article-margin-top: 45px;

.testInArticle {
  @extend .test-in-article__container;
}
.testInArticleContainer {
  @extend .test-in-article;
}
.testInArticleQAContainer {
  @extend .test-in-article__qa-container;
}
.testInArticleName {
  @extend .test-in-article__name;
}
.testInArticleNameWrong {
  @extend .test-in-article__name-wrong;
}
.testInArticleNameRightig {
  @extend .test-in-article__name-right;
}
.testInArticleQuest {
  @extend .test-in-article__question;
}
.testInArticleSolution {
  @extend .test-in-article__solution;
}
.testInArticleAnswer {
  @extend .test-in-article__answer;
}
.testInArticleStarContainer {
  @extend .test-in-article__star-wrapper;
}
.testInArticleStar {
  @extend .test-in-article__star;
}
.testInArticleBigStar {
  @extend .test-in-article__star-big;
}
.testInArticleStarText {
  @extend .test-in-article__star-text;
}
.testInArticleBack {
  @extend .test-in-article__back;
}

.test-in-article {
    margin-right: $test-in-article-margin-right;
    margin-top: $test-in-article-margin-top;
    position: relative;

    &__container {
        position: relative;
        margin: 39px auto 40px auto;
        width: 682px;
        min-height: 90px;
        background-color: $test-in-article-background-color;
        font-family: $sans;
        font-size: 16px;
        line-height: 22px;
        color: $test-in-article-color;

        & .lt {
            position: absolute;
            width: 69px;
            height: 59px;
            top: -39px;
            left: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) 0 0 no-repeat;
        }

        & .t {
            position: absolute;
            height: 59px;
            top: -39px;
            left: 20px;
            right: 20px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) 0 -158px repeat-x;
        }

        & .rt {
            position: absolute;
            width: 69px;
            height: 59px;
            top: -39px;
            right: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) -69px 0 no-repeat;
        }

        & .r {
            position: absolute;
            width: 69px;
            top: 20px;
            bottom: 20px;
            right: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) -642px top repeat-y;
        }

        & .rb {
            position: absolute;
            width: 69px;
            height: 79px;
            bottom: -59px;
            right: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) -138px 0 no-repeat;
        }

        & .b {
            position: absolute;
            height: 79px;
            bottom: -59px;
            left: 20px;
            right: 20px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) 0 -276px repeat-x;
        }

        & .lb {
            position: absolute;
            width: 69px;
            height: 79px;
            bottom: -59px;
            left: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) -207px 0 no-repeat;
        }

        & .l {
            position: absolute;
            width: 69px;
            top: 20px;
            bottom: 20px;
            left: -49px;
            background: url(/res/images/article-elements/test-in-article/test-background.png) -780px 0 repeat-y;
        }

        &.pushed {
            & .lt {
                background-position: 0 -79px;
            }

            & .t {
                background-position: 0 -217px;
            }

            & .rt {
                background-position: -69px -79px;
            }

            & .r {
                background-position: -711px 0;
            }

            & .rb {
                background-position: -138px -79px;
            }

            & .b {
                background-position: 0 -355px;
            }

            & .lb {
                background-position: -207px -79px;
            }

            & .l {
                background-position: -849px 0;
            }
        }
    }

    &__qa-container {
        padding: 22px 200px 24px 36px;
    }

    &__name {
        font-size: 30px;
        font-weight: bold;
        line-height: 95%;
        margin-bottom: 13px;

        .rightig &, .wrong & {
            display: none;
        }

        &-wrong {
            display: none;
            font-size: 30px;
            line-height: 22px;
            font-weight: bold;
            color: #595648;
            margin-bottom: 13px;

            .wrong & {
                display: block;
            }
        }

        &-right {
            display: none;
            font-size: 30px;
            line-height: 22px;
            font-weight: bold;
            color: #e36200;
            margin-bottom: 13px;

            .rightig & {
                display: block;
            }
        }
    }

    &__question {
        clear: both;
        margin-bottom: 16px;
    }

    &__solution {
        display: none;
        clear: both;
        margin-bottom: 16px;

        .rightig & {
            display: block;
        }
    }

    &__answer {
        display: inline-block;
        position: relative;
        float: left;
        clear: both;
        margin-bottom: 11px;
        font-size: 13px;
        line-height: 18px;
        border-top: 1px solid $test-in-article-answer-border-color;
        border-bottom: 1px solid $test-in-article-answer-border-color;
        min-width: 55px;
        text-align: center;

        &:before, &:after {
            border-left: 1px solid $test-in-article-answer-border-color;
            content: " ";
            position: absolute;
            width: 50px;
            height: 50%;
            left: -1px;
            overflow: hidden;
        }

        &:before {
            @include transform-origin(0 0);
            @include skew(-45, 0);
            top: 0;
        }

        &:after {
            @include transform-origin(0 100%);
            @include skew(45, 0);
            bottom: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: $test-in-article-hover-color;

            &:before, &:after {
                background-color: $test-in-article-hover-color;
            }

            & .bgr {
                &:before, &:after {
                    background-color: $test-in-article-hover-color;
                }
            }
        }

        &:active, &.clicked {
            @include box-shadow(0, 6px, 1px, -5px, $test-in-article-clicked-border-color, inset);
            background-color: $test-in-article-clicked-background-color;
            cursor: default;
            @include opacity(1);

            &:before {
                @include box-shadow(6px, 6px, 1px, -5px, $test-in-article-clicked-border-color, inset);
                background-color: $test-in-article-clicked-background-color;
            }

            &:after {
                background-color: $test-in-article-clicked-background-color;
            }

            & .bgr {
                &:before {
                    @include box-shadow(-5px, 5px, 1px, -4px, $test-in-article-clicked-border-color, inset);
                    background-color: $test-in-article-clicked-background-color;
                }

                &:after {
                    background-color: $test-in-article-clicked-background-color;
                }
            }
        }

        & .bgr {
            padding: 5px 6px 7px 6px;
            position: relative;
            z-index: 1;
            text-align: left;

            &:before, &:after {
                border-right: 1px solid $test-in-article-answer-border-color;
                content: " ";
                position: absolute;
                width: 50px;
                z-index: -1;
                right: -1px;
                height: 50%;
                overflow: hidden;
            }

            &:before {
                @include transform-origin(0 0);
                @include skew(45, 0);
                top: 0;
            }

            &:after {
                @include transform-origin(0 100%);
                @include skew(-45, 0);
                bottom: 0;
            }
        }

        .wrong &:not(.clicked), .right &:not(.clicked), .rightig &:not(.clicked) {
            background-color: $test-in-article-background-color;
            box-shadow: none;
            @include opacity(.4);
            cursor: default;

            &:before, &:after {
                background-color: $test-in-article-background-color;
                box-shadow: none;
            }

            & .bgr {
                &:before, &:after {
                    background-color: $test-in-article-background-color;
                    box-shadow: none;
                }
            }
        }

        &-animation {
            &__1 {
                background-color: $test-in-article-background-color !important;

                &:before, &:after {
                    background-color: $test-in-article-background-color !important;
                }

                & .bgr {
                    &:before, &:after {
                        background-color: $test-in-article-background-color !important;
                    }
                }
            }

            &__2 {
                background-color: $test-in-article-hover-color !important;

                &:before, &:after {
                    background-color: $test-in-article-hover-color !important;
                }

                & .bgr {
                    &:before, &:after {
                        background-color: $test-in-article-hover-color !important;
                    }
                }
            }
        }
    }

    &__star {
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        background: url(/res/images/article-elements/test-in-article/icon__test-not-completed.png) center center no-repeat;

        &-big {
            display: none;
            position: absolute;
            left: -65px;
            top: -65px;
            width: 230px;
            height: 244px;
            background: url(/res/images/article-elements/test-in-article/icon__test-completed.png) center center no-repeat;
            background-size: contain;

            & img {
                display: none;
            }
        }

        &-wrapper {
            position: absolute;
            right: 33px;
            top: 26px;
        }

        &-text {
            font-size: 13px;
            font-style: italic;
            line-height: 16px;
            position: absolute;
            right: 33px;
            top: 137px;
            width: 100px;
            text-align: center;
        }
    }

    &__back {
        @include transition($hover-links);
        display: table;
        padding: 12px 0 9px 0;
        display: none;

        & span {
            cursor: pointer;
        }
    }

    &__qa-container.wrong &__back {
        display: block;
    }
}