﻿/* ==================================================================== */
/* TEST IN ARTICLE
/* =================================================================== */
.test-in-article, .testInArticleContainer {
  margin-right: -240px;
  margin-top: 45px;
  position: relative; }
  .test-in-article__container, .testInArticle {
    position: relative;
    margin: 39px auto 40px auto;
    width: 682px;
    min-height: 90px;
    background-color: #fbf3cd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #403d32; }
    .test-in-article__container .lt, .testInArticle .lt {
      position: absolute;
      width: 69px;
      height: 59px;
      top: -39px;
      left: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) 0 0 no-repeat; }
    .test-in-article__container .t, .testInArticle .t {
      position: absolute;
      height: 59px;
      top: -39px;
      left: 20px;
      right: 20px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) 0 -158px repeat-x; }
    .test-in-article__container .rt, .testInArticle .rt {
      position: absolute;
      width: 69px;
      height: 59px;
      top: -39px;
      right: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) -69px 0 no-repeat; }
    .test-in-article__container .r, .testInArticle .r {
      position: absolute;
      width: 69px;
      top: 20px;
      bottom: 20px;
      right: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) -642px top repeat-y; }
    .test-in-article__container .rb, .testInArticle .rb {
      position: absolute;
      width: 69px;
      height: 79px;
      bottom: -59px;
      right: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) -138px 0 no-repeat; }
    .test-in-article__container .b, .testInArticle .b {
      position: absolute;
      height: 79px;
      bottom: -59px;
      left: 20px;
      right: 20px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) 0 -276px repeat-x; }
    .test-in-article__container .lb, .testInArticle .lb {
      position: absolute;
      width: 69px;
      height: 79px;
      bottom: -59px;
      left: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) -207px 0 no-repeat; }
    .test-in-article__container .l, .testInArticle .l {
      position: absolute;
      width: 69px;
      top: 20px;
      bottom: 20px;
      left: -49px;
      background: url(/res/images/article-elements/test-in-article/test-background.png) -780px 0 repeat-y; }
    .test-in-article__container.pushed .lt, .pushed.testInArticle .lt {
      background-position: 0 -79px; }
    .test-in-article__container.pushed .t, .pushed.testInArticle .t {
      background-position: 0 -217px; }
    .test-in-article__container.pushed .rt, .pushed.testInArticle .rt {
      background-position: -69px -79px; }
    .test-in-article__container.pushed .r, .pushed.testInArticle .r {
      background-position: -711px 0; }
    .test-in-article__container.pushed .rb, .pushed.testInArticle .rb {
      background-position: -138px -79px; }
    .test-in-article__container.pushed .b, .pushed.testInArticle .b {
      background-position: 0 -355px; }
    .test-in-article__container.pushed .lb, .pushed.testInArticle .lb {
      background-position: -207px -79px; }
    .test-in-article__container.pushed .l, .pushed.testInArticle .l {
      background-position: -849px 0; }
  .test-in-article__qa-container, .testInArticleQAContainer {
    padding: 22px 200px 24px 36px; }
  .test-in-article__name, .testInArticleName {
    font-size: 30px;
    font-weight: bold;
    line-height: 95%;
    margin-bottom: 13px; }
    .rightig .test-in-article__name, .rightig .testInArticleName, .wrong .test-in-article__name, .wrong .testInArticleName {
      display: none; }
    .test-in-article__name-wrong, .testInArticleNameWrong {
      display: none;
      font-size: 30px;
      line-height: 22px;
      font-weight: bold;
      color: #595648;
      margin-bottom: 13px; }
      .wrong .test-in-article__name-wrong, .wrong .testInArticleNameWrong {
        display: block; }
    .test-in-article__name-right, .testInArticleNameRightig {
      display: none;
      font-size: 30px;
      line-height: 22px;
      font-weight: bold;
      color: #e36200;
      margin-bottom: 13px; }
      .rightig .test-in-article__name-right, .rightig .testInArticleNameRightig {
        display: block; }
  .test-in-article__question, .testInArticleQuest {
    clear: both;
    margin-bottom: 16px; }
  .test-in-article__solution, .testInArticleSolution {
    display: none;
    clear: both;
    margin-bottom: 16px; }
    .rightig .test-in-article__solution, .rightig .testInArticleSolution {
      display: block; }
  .test-in-article__answer, .testInArticleAnswer {
    display: inline-block;
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 11px;
    font-size: 13px;
    line-height: 18px;
    border-top: 1px solid #bfba9b;
    border-bottom: 1px solid #bfba9b;
    min-width: 55px;
    text-align: center; }
    .test-in-article__answer:before, .testInArticleAnswer:before, .test-in-article__answer:after, .testInArticleAnswer:after {
      border-left: 1px solid #bfba9b;
      content: " ";
      position: absolute;
      width: 50px;
      height: 50%;
      left: -1px;
      overflow: hidden; }
    .test-in-article__answer:before, .testInArticleAnswer:before {
      moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -moz-transform: skew(-45deg, 0deg);
      -o-transform: skew(-45deg, 0deg);
      -ms-transform: skew(-45deg, 0deg);
      -webkit-transform: skew(-45deg, 0deg);
      transform: skew(-45deg, 0deg);
      top: 0; }
    .test-in-article__answer:after, .testInArticleAnswer:after {
      moz-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -moz-transform: skew(45deg, 0deg);
      -o-transform: skew(45deg, 0deg);
      -ms-transform: skew(45deg, 0deg);
      -webkit-transform: skew(45deg, 0deg);
      transform: skew(45deg, 0deg);
      bottom: 0; }
    .test-in-article__answer:hover, .testInArticleAnswer:hover {
      cursor: pointer;
      background-color: #fef1b6; }
      .test-in-article__answer:hover:before, .testInArticleAnswer:hover:before, .test-in-article__answer:hover:after, .testInArticleAnswer:hover:after {
        background-color: #fef1b6; }
      .test-in-article__answer:hover .bgr:before, .testInArticleAnswer:hover .bgr:before, .test-in-article__answer:hover .bgr:after, .testInArticleAnswer:hover .bgr:after {
        background-color: #fef1b6; }
    .test-in-article__answer:active, .testInArticleAnswer:active, .test-in-article__answer.clicked, .clicked.testInArticleAnswer {
      -webkit-box-shadow: 0 6px 1px -5px #b99f7c inset;
      -moz-box-shadow: 0 6px 1px -5px #b99f7c inset;
      box-shadow: 0 6px 1px -5px #b99f7c inset;
      background-color: #efdfad;
      cursor: default;
      opacity: 1;
      filter: alpha(opacity=100); }
      .test-in-article__answer:active:before, .testInArticleAnswer:active:before, .test-in-article__answer.clicked:before, .clicked.testInArticleAnswer:before {
        -webkit-box-shadow: 6px 6px 1px -5px #b99f7c inset;
        -moz-box-shadow: 6px 6px 1px -5px #b99f7c inset;
        box-shadow: 6px 6px 1px -5px #b99f7c inset;
        background-color: #efdfad; }
      .test-in-article__answer:active:after, .testInArticleAnswer:active:after, .test-in-article__answer.clicked:after, .clicked.testInArticleAnswer:after {
        background-color: #efdfad; }
      .test-in-article__answer:active .bgr:before, .testInArticleAnswer:active .bgr:before, .test-in-article__answer.clicked .bgr:before, .clicked.testInArticleAnswer .bgr:before {
        -webkit-box-shadow: -5px 5px 1px -4px #b99f7c inset;
        -moz-box-shadow: -5px 5px 1px -4px #b99f7c inset;
        box-shadow: -5px 5px 1px -4px #b99f7c inset;
        background-color: #efdfad; }
      .test-in-article__answer:active .bgr:after, .testInArticleAnswer:active .bgr:after, .test-in-article__answer.clicked .bgr:after, .clicked.testInArticleAnswer .bgr:after {
        background-color: #efdfad; }
    .test-in-article__answer .bgr, .testInArticleAnswer .bgr {
      padding: 5px 6px 7px 6px;
      position: relative;
      z-index: 1;
      text-align: left; }
      .test-in-article__answer .bgr:before, .testInArticleAnswer .bgr:before, .test-in-article__answer .bgr:after, .testInArticleAnswer .bgr:after {
        border-right: 1px solid #bfba9b;
        content: " ";
        position: absolute;
        width: 50px;
        z-index: -1;
        right: -1px;
        height: 50%;
        overflow: hidden; }
      .test-in-article__answer .bgr:before, .testInArticleAnswer .bgr:before {
        moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -moz-transform: skew(45deg, 0deg);
        -o-transform: skew(45deg, 0deg);
        -ms-transform: skew(45deg, 0deg);
        -webkit-transform: skew(45deg, 0deg);
        transform: skew(45deg, 0deg);
        top: 0; }
      .test-in-article__answer .bgr:after, .testInArticleAnswer .bgr:after {
        moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -moz-transform: skew(-45deg, 0deg);
        -o-transform: skew(-45deg, 0deg);
        -ms-transform: skew(-45deg, 0deg);
        -webkit-transform: skew(-45deg, 0deg);
        transform: skew(-45deg, 0deg);
        bottom: 0; }
    .wrong .test-in-article__answer:not(.clicked), .wrong .testInArticleAnswer:not(.clicked), .right .test-in-article__answer:not(.clicked), .right .testInArticleAnswer:not(.clicked), .rightig .test-in-article__answer:not(.clicked), .rightig .testInArticleAnswer:not(.clicked) {
      background-color: #fbf3cd;
      box-shadow: none;
      opacity: 0.4;
      filter: alpha(opacity=40);
      cursor: default; }
      .wrong .test-in-article__answer:not(.clicked):before, .wrong .testInArticleAnswer:not(.clicked):before, .wrong .test-in-article__answer:not(.clicked):after, .wrong .testInArticleAnswer:not(.clicked):after, .right .test-in-article__answer:not(.clicked):before, .right .testInArticleAnswer:not(.clicked):before, .right .test-in-article__answer:not(.clicked):after, .right .testInArticleAnswer:not(.clicked):after, .rightig .test-in-article__answer:not(.clicked):before, .rightig .testInArticleAnswer:not(.clicked):before, .rightig .test-in-article__answer:not(.clicked):after, .rightig .testInArticleAnswer:not(.clicked):after {
        background-color: #fbf3cd;
        box-shadow: none; }
      .wrong .test-in-article__answer:not(.clicked) .bgr:before, .wrong .testInArticleAnswer:not(.clicked) .bgr:before, .wrong .test-in-article__answer:not(.clicked) .bgr:after, .wrong .testInArticleAnswer:not(.clicked) .bgr:after, .right .test-in-article__answer:not(.clicked) .bgr:before, .right .testInArticleAnswer:not(.clicked) .bgr:before, .right .test-in-article__answer:not(.clicked) .bgr:after, .right .testInArticleAnswer:not(.clicked) .bgr:after, .rightig .test-in-article__answer:not(.clicked) .bgr:before, .rightig .testInArticleAnswer:not(.clicked) .bgr:before, .rightig .test-in-article__answer:not(.clicked) .bgr:after, .rightig .testInArticleAnswer:not(.clicked) .bgr:after {
        background-color: #fbf3cd;
        box-shadow: none; }
    .test-in-article__answer-animation__1 {
      background-color: #fbf3cd !important; }
      .test-in-article__answer-animation__1:before, .test-in-article__answer-animation__1:after {
        background-color: #fbf3cd !important; }
      .test-in-article__answer-animation__1 .bgr:before, .test-in-article__answer-animation__1 .bgr:after {
        background-color: #fbf3cd !important; }
    .test-in-article__answer-animation__2 {
      background-color: #fef1b6 !important; }
      .test-in-article__answer-animation__2:before, .test-in-article__answer-animation__2:after {
        background-color: #fef1b6 !important; }
      .test-in-article__answer-animation__2 .bgr:before, .test-in-article__answer-animation__2 .bgr:after {
        background-color: #fef1b6 !important; }
  .test-in-article__star, .testInArticleStar {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background: url(/res/images/article-elements/test-in-article/icon__test-not-completed.png) center center no-repeat; }
    .test-in-article__star-big, .testInArticleBigStar {
      display: none;
      position: absolute;
      left: -65px;
      top: -65px;
      width: 230px;
      height: 244px;
      background: url(/res/images/article-elements/test-in-article/icon__test-completed.png) center center no-repeat;
      background-size: contain; }
      .test-in-article__star-big img, .testInArticleBigStar img {
        display: none; }
    .test-in-article__star-wrapper, .testInArticleStarContainer {
      position: absolute;
      right: 33px;
      top: 26px; }
    .test-in-article__star-text, .testInArticleStarText {
      font-size: 13px;
      font-style: italic;
      line-height: 16px;
      position: absolute;
      right: 33px;
      top: 137px;
      width: 100px;
      text-align: center; }
  .test-in-article__back, .testInArticleBack {
    -moz-transition: 0.25s all;
    -o-transition: 0.25s all;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    display: table;
    padding: 12px 0 9px 0;
    display: none; }
    .test-in-article__back span, .testInArticleBack span {
      cursor: pointer; }
  .test-in-article__qa-container.wrong .test-in-article__back, .wrong.testInArticleQAContainer .test-in-article__back, .test-in-article__qa-container.wrong .testInArticleBack, .wrong.testInArticleQAContainer .testInArticleBack {
    display: block; }

