@import "../_variables.scss";
/* ==================================================================== */
/* TEST SIMPLE
/* ==================================================================== */
$article-test-right-li-background-color: #c8dd78;
$article-test-wrong-li-background-color: #f58466;
$article-test-wrong-li-shadow: #ba664e;
$article-test-right-li-shadow: #9ba859;
$article-test-circle-color: $black-link-color;
$article-test-right-answer-background-color: #f8f6eb;
$article-test-hovered-label-color: #e1e1e1;
$article-test-hovered-label-background-color: #ececec;
$article-test-li-padding: 5px 20px;
$article-test-li-margin-left: -16px;

& .test {
    margin: 20px 0 0 58px;
    padding-left: 0;
    line-height: 28px;

    & li {
        list-style-type: none;
        padding-top: 0;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -5px;
        margin-bottom: 16px;
        position: relative;

        &:before {
            content: "" !important;
        }

        & label {
            display: block;
        }
    }

    & .num {
        @include border-radius(50%);
        display: block;
        float: left;
        font-size: 18px;
        font-weight: bold;
        height: 48px;
        margin-left: -57px;
        margin-top: -10px;
        padding-top: 12px;
        text-align: center;
        width: 48px;
        background-color: $black-link-color;
        color: $white-link-color;
    }

    & .radio {
        display: none;
        float: left;
        margin-left: -26px;
        margin-top: 2px;
        width: 25px;
    }

    & .article-test-hoveredlabel {
        @include border-radius(10px);
        @include box-shadow(0, 1px, 1px, rgb(232, 232, 232), inset);
        border: 1px solid $article-test-hovered-label-color;
        background-color: $article-test-hovered-label-background-color;
        margin-left: $article-test-li-margin-left;
        padding: $article-test-li-padding;
        display: block;
        margin-bottom: -6px !important;
        margin-top: -6px !important;
        margin-left: -16px;
        padding: 5px 15px;
        cursor: pointer;
    }

    & .righta {
        @include box-shadow(0, 1px, 1px, $article-test-right-li-shadow, inset);
        @include border-radius(10px);
        border: 1px solid $article-test-right-li-shadow;
        background-color: $article-test-right-li-background-color;
        margin-left: $article-test-li-margin-left;
        padding: $article-test-li-padding;
    }

    & .wronga {
        @include box-shadow(0, 1px, 1px, $article-test-wrong-li-shadow, inset);
        @include border-radius(10px);
        border: 1px solid $article-test-wrong-li-shadow;
        background-color: $article-test-wrong-li-background-color;
        margin-left: $article-test-li-margin-left;
        padding: $article-test-li-padding;
    }

    & .question {
        padding-bottom: 18px;
        font-weight: bold;
    }

    & .right-answer {
        @include border-radius(10px);
        background-color: $article-test-right-answer-background-color;
        font-family: $sans;
        font-size: 0.8125em;
        line-height: 1.3em;
        margin-bottom: 11px;
        display: none;
        padding: 13px 57px 17px 20px;
        margin-left: -21px;
    }
}
