﻿/* ==================================================================== */
/* TIPS
/* =================================================================== */
.tips {
  display: none;
  position: absolute;
  z-index: 1; }
  .tips__black {
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1;
    padding: 9px 10px 0;
    top: -55px;
    height: 33px;
    left: 0;
    min-width: 70px;
    text-align: center; }
    .tips__black:before {
      content: "";
      position: absolute;
      left: 38px;
      border-style: solid;
      border-width: 10px 11px 0 11px;
      border-color: #000 transparent transparent transparent;
      top: 32px;
      background-image: none;
      height: auto;
      width: auto; }
    .tips__black.tips__position-right:before {
      right: 38px; }
  .tips__position-center {
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%; }
    .tips__position-center:before {
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      left: 50%; }
  .tips__position-right {
    right: 0;
    left: auto; }
    .tips__position-right:before {
      left: auto; }

