@import "../_variables.scss";
/* ==================================================================== */
/* TIPS
/* =================================================================== */
$tips__black-height: 33px;

.tips {
    display: none;
    position: absolute;
    z-index: 1;

    &__black {
        @include opacity(.75);
        @include border-radius(4px);
        background-color: $black-link-color;
        color: $white-link-color;
        font-family: $sans;
        font-size: 13px;
        line-height: 1;
        padding: 9px 10px 0;
        top: -$tips__black-height - 22px;
        height: $tips__black-height;
        left: 0;
        min-width: 70px;
        text-align: center;

        &:before {
            content: "";
            position: absolute;
            left: 38px;
            border-style: solid;
            border-width: 10px 11px 0 11px;
            border-color: $black-link-color transparent transparent transparent;
            top: $tips__black-height - 1px;
            background-image: none;
            height: auto;
            width: auto;
        }

        &.tips__position-right {
            &:before {
                right: 38px;
            }
        }
    }

    &__position-center {
        @include translate(-50%, 0);
        left: 50%;

        &:before {
            @include translate(-50%, 0);
            left: 50%;
        }
    }

    &__position-right {
        right: 0;
        left: auto;

        &:before {
            left: auto;
        }
    }
}