﻿/* ==================================================================== */
/* TOP HEADER COMMON
/* ==================================================================== */
.top-header-block-common {
  left: 0;
  right: 0;
  top: 0;
  display: block;
  padding: 0px 10px 0px 10px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #ededed;
  background: #292929;
  font-family: Arial, Helvetica, sans-serif;
  height: 34px; }

.header-block-common .top-header-block-common {
  position: absolute; }

.top-header-block-common ul {
  display: table;
  width: 100%;
  margin-bottom: 0; }
  .top-header-block-common ul li {
    padding: 7px 0 8px 0;
    display: table-cell;
    white-space: nowrap; }
    .top-header-block-common ul li a {
      color: #ededed;
      border-bottom: 0px none;
      text-decoration: none; }
      .top-header-block-common ul li a:hover {
        color: #fff; }
    .top-header-block-common ul li:first-child {
      width: 100%; }
      .top-header-block-common ul li:first-child a {
        margin-top: 3px;
        display: block;
        text-indent: -9000px;
        width: 126px;
        height: 16px;
        position: relative;
        background: url(/res/images/logos/action-mcfr.svg) left top;
        background-size: contain;
        background-repeat: no-repeat; }

