@import "../_variables.scss";
/* ==================================================================== */
/* TOP HEADER COMMON
/* ==================================================================== */
$background-color: #292929;

.top-header-block-common {
    left: 0;
    right: 0;
    top: 0;
    display: block;
    padding: 0px 10px 0px 10px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: $light-gray-link-color;
    background: $background-color;
    font-family: $sans;
    height: $top-header-height;
}

.header-block-common .top-header-block-common {
    position: absolute;
}

.top-header-block-common ul {
    display: table;
    width: 100%;
    margin-bottom: 0;

    & li {
        padding: 7px 0 8px 0;
        display: table-cell;
        white-space: nowrap;       

        & a {
            color: $light-gray-link-color;
            border-bottom: 0px none;
            text-decoration: none;

            &:hover {
                color: $white-link-color;
            }
        }

        &:first-child {
            width: 100%;

            & a {
                margin-top: 3px;
                display: block;
                text-indent: -9000px;
                width: 126px;
                height: 16px;
                position: relative;
                background: url(/res/images/logos/action-mcfr.svg) left top;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
