﻿/* ==================================================================== */
/* ARTICLE PRINT PAGE
/* ==================================================================== */
$color: #000000;
$background: #ffffff;
$border: #cccccc;
$font: Georgia, Times, "Times New Roman", serif;

//reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: $font;
    color: $color;
}

b {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $font;
    color: $color;
}

ul, ul li {
    list-style: none;
}

img {
    border: none;
}

a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

//page
@page {
    margin: 2cm;
}

body {
    font-family: $font;
    color: $color;
    background: $background !important;
    line-height: 1.5;
}

//коррекция разбивки
a {
    page-break-inside: avoid;
}

blockquote {
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}


pre,
.newsmaker,
.newsmaker2,
.remark,
.inline,
.dashed-block,
.print-page-block__content-wrapper .test > li,
.testInArticleContainer {
    page-break-inside: avoid;
}

table {
    page-break-inside: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

ul, ol, dl {
    page-break-before: avoid;
}

//прячем видео и iframe
iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0 !important;
    white-space: nowrap;
}
//
.clearfix {
    clear: both;
    display: block;
}

.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    content: '';
}

h1 {
    font-size: 24pt;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.print-page-block {
    //рубрика
    &__rubric {
        font-size: 16pt;
        font-weight: bold;
        display: block;
        text-transform: uppercase;

        &-block {
            padding-bottom: 5px;
        }
    }
    //подрубрика
    &__subrubric {
        font-size: 14pt;
        font-weight: bold;
    }
    //шапка
    &__header {
        display: table;
        width: 100%;
        border-bottom: 3px solid $color;
        padding-bottom: 10pt;
        margin-bottom: 15pt;
    }

    &__logo-wrapper {
        display: table-cell;
        vertical-align: top;
        text-align: right;
    }

    &__number-wrapper {
        display: table-cell;
        vertical-align: top;
        text-align: left;
        font-size: 14pt;
    }

    &__rubric-image {
        display: none;
    }

    &__person {
        display: none;
    }
    //содержание
    &__content {
        page-break-after: always;

        & h3 {
            margin: 10px 0 0;
        }
    }
    //анонс
    &__announce-block {
        margin-bottom: 35px;

        & dl {
            & dt {
                & b {
                    padding-right: 10px;
                }

                & a {
                    font-weight: bold;
                }
            }
        }
    }
    //контент
    &__content-wrapper {
        margin-bottom: 40px;

        a {
            color: $color;
            text-decoration: none;
        }

        & table {
            border-collapse: collapse;
            margin-bottom: 20px;
            width: 100% !important;
        }

        & table td {
            padding: 16px;
            border: 1px solid $color;
            font-size: 77%;
            vertical-align: top;
        }

        & table th {
            padding: 16px;
            border: 1px solid $color;
            font-size: 90%;
            vertical-align: middle;
            font-weight: bold;
            text-align: center;
        }

        & > div {
            margin-bottom: 20px;
        }

        & .entryheader1 {
            font-weight: bold;
            font-size: 12pt;
        }

        & .entryheader2 {
            font-weight: bold;
        }
        //newsmaker
        & .newsmaker {
            margin-bottom: 10px;
            overflow: hidden;
            border-bottom: 1px solid $color;
            margin-top: 30px;

            & img {
                width: 120px;
                float: right;
            }

            & .nwheader {
                border-top: 1px solid $color;
                border-bottom: 1px solid $color;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
        //newsmaker2
        & .newsmaker2 {
            margin-bottom: 10px;
            overflow: hidden;
            border-bottom: 1px solid $color;
            margin-top: 30px;

            & .nwtext {
                font-weight: bold;
                font-size: 16pt;
            }

            & img {
                width: 120px;
                float: right;
            }

            & .nwname {
                font-weight: bold;
            }
        }
        //ремарка
        & .remark {
            border-left: 2px solid $color;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;

            &photo {
            }

            & h3 {
            }
        }
        //типы ремарок
        & .remarkType02 {
            border-left: 2px solid $color;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-top: 0;

            & .vin {

                &text {
                    white-space: nowrap;
                    font-weight: bold;
                    font-size: 18pt;
                }

                &note {
                    font-weight: bold;
                }
            }
        }
        //inline
        & .dashed-block {
            border: 1px solid $color;
            padding: 10px 230px 30px 10px;
            margin-top: 20px;
            position: relative;
        }
        //vin
        & .vin {
            & .vintext {
                white-space: nowrap;
                font-weight: bold;
                font-size: 18pt;
            }

            & .vinnote {
                font-weight: bold;
            }
        }
        //test
        & .test {
            padding-left: 80px;

            & li {
                list-style-type: none;
                padding-top: 0;
                padding-bottom: 2px;
                padding-left: 5px;
                padding-right: 5px;
                margin-left: -5px;
                margin-bottom: 16px;
            }

            & .num {
                display: block;
                float: left;
                font-size: 16pt;
                font-weight: bold;
                height: 36px;
                margin-left: -57px;
                margin-top: -10px;
                padding-top: 12px;
                color: $color;
                text-align: center;
                border: 1px solid $color;
                width: 48px;
                line-height: 1;
                border-radius: 50px;
            }

            & .radio {
                display: none;
                float: left;
                margin-left: -26px;
                margin-top: 2px;
                width: 25px;
            }

            & .question {
                margin-bottom: 18px;
                padding-bottom: 0;
                font-weight: bold;
            }

            & .right-answer {
                margin-bottom: 11px;
                padding: 13px 57px 17px 20px;
                margin-left: -21px;
                display: block;
                border: 1px solid $color;
            }
        }
        //test star
        .testInArticleContainer {
            margin-top: 45px;
        }

        .testInArticleQAContainer {
            padding: 22px 36px 24px 36px;
            border: 1px solid $color;
        }

        .testInArticleStarContainer {
            position: absolute;
            right: 33px;
            top: 26px;
        }

        .testInArticle {
            position: relative;
            margin: 39px auto 40px auto;
            width: 682px;
            min-height: 90px;
            font-family: $font;
            line-height: 22px;
            color: $color;
        }

        .testInArticleName {
            font-size: 30px;
            font-weight: bold;
            line-height: 22px;
            margin-bottom: 13px;
        }

        .testInArticleStar {
            height: 100px;
            margin-bottom: 10px;
            position: relative;
            width: 100px;
        }

        .testInArticleQuest {
            clear: both;
            margin-bottom: 16px;
        }

        .testInArticleStarText {
            font-size: 13px;
            font-style: italic;
            line-height: 16px;
            position: absolute;
            right: 33px;
            text-align: center;
            top: 137px;
            width: 100px;
        }

        .testInArticleAnswer {
            clear: both;
            display: inline-block;
            float: left;
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 11px;
            position: relative;
        }

        .testInArticleAnswer .bgr {
            border: 1px solid $color;
            border-radius: 10px;
            padding: 5px 6px 7px 6px;
        }

        .testInArticleSolution {
            margin-bottom: 10px;
        }

        .testInArticleNameWrong,
        .testInArticleNameRightig,
        .testInArticleBack,
        .testInArticleSolution,
        .testInArticleBigStar > img,
        .testInArticleBack,
        .testInArticleStarContainer,
        .testInArticleStarText {
            display: none;
        }

        .endarticle {
            display: none;
        }
    }
}

.article-page-block__author {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.article-page-block__author-text-wrapper {
    &-1, &-2, &-3 {
        background-color: transparent !important;
    }
}
