﻿/* ==================================================================== */
/* ARTICLE PRINT PAGE
/* ==================================================================== */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000; }

b {
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000; }

ul, ul li {
  list-style: none; }

img {
  border: none; }

a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@page {
  margin: 2cm; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000;
  background: #ffffff !important;
  line-height: 1.5; }

a {
  page-break-inside: avoid; }

blockquote {
  page-break-inside: avoid; }

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  page-break-inside: avoid; }

img {
  page-break-inside: avoid;
  page-break-after: avoid; }

pre,
.newsmaker,
.newsmaker2,
.remark,
.inline,
.dashed-block,
.print-page-block__content-wrapper .test > li,
.testInArticleContainer {
  page-break-inside: avoid; }

table {
  page-break-inside: auto; }

tr {
  page-break-inside: avoid;
  page-break-after: auto; }

ul, ol, dl {
  page-break-before: avoid; }

iframe, ins {
  display: none;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  line-height: 0 !important;
  white-space: nowrap; }

.clearfix {
  clear: both;
  display: block; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

h1 {
  font-size: 24pt; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px; }

p {
  margin-bottom: 10px; }

.print-page-block__rubric {
  font-size: 16pt;
  font-weight: bold;
  display: block;
  text-transform: uppercase; }
  .print-page-block__rubric-block {
    padding-bottom: 5px; }

.print-page-block__subrubric {
  font-size: 14pt;
  font-weight: bold; }

.print-page-block__header {
  display: table;
  width: 100%;
  border-bottom: 3px solid #000000;
  padding-bottom: 10pt;
  margin-bottom: 15pt; }

.print-page-block__logo-wrapper {
  display: table-cell;
  vertical-align: top;
  text-align: right; }

.print-page-block__number-wrapper {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  font-size: 14pt; }

.print-page-block__rubric-image {
  display: none; }

.print-page-block__person {
  display: none; }

.print-page-block__content {
  page-break-after: always; }
  .print-page-block__content h3 {
    margin: 10px 0 0; }

.print-page-block__announce-block {
  margin-bottom: 35px; }
  .print-page-block__announce-block dl dt b {
    padding-right: 10px; }
  .print-page-block__announce-block dl dt a {
    font-weight: bold; }

.print-page-block__content-wrapper {
  margin-bottom: 40px; }
  .print-page-block__content-wrapper a {
    color: #000000;
    text-decoration: none; }
  .print-page-block__content-wrapper table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100% !important; }
  .print-page-block__content-wrapper table td {
    padding: 16px;
    border: 1px solid #000000;
    font-size: 77%;
    vertical-align: top; }
  .print-page-block__content-wrapper table th {
    padding: 16px;
    border: 1px solid #000000;
    font-size: 90%;
    vertical-align: middle;
    font-weight: bold;
    text-align: center; }
  .print-page-block__content-wrapper > div {
    margin-bottom: 20px; }
  .print-page-block__content-wrapper .entryheader1 {
    font-weight: bold;
    font-size: 12pt; }
  .print-page-block__content-wrapper .entryheader2 {
    font-weight: bold; }
  .print-page-block__content-wrapper .newsmaker {
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #000000;
    margin-top: 30px; }
    .print-page-block__content-wrapper .newsmaker img {
      width: 120px;
      float: right; }
    .print-page-block__content-wrapper .newsmaker .nwheader {
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      font-weight: bold;
      margin-bottom: 20px; }
  .print-page-block__content-wrapper .newsmaker2 {
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #000000;
    margin-top: 30px; }
    .print-page-block__content-wrapper .newsmaker2 .nwtext {
      font-weight: bold;
      font-size: 16pt; }
    .print-page-block__content-wrapper .newsmaker2 img {
      width: 120px;
      float: right; }
    .print-page-block__content-wrapper .newsmaker2 .nwname {
      font-weight: bold; }
  .print-page-block__content-wrapper .remark {
    border-left: 2px solid #000000;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px; }
  .print-page-block__content-wrapper .remarkType02 {
    border-left: 2px solid #000000;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 0; }
    .print-page-block__content-wrapper .remarkType02 .vintext {
      white-space: nowrap;
      font-weight: bold;
      font-size: 18pt; }
    .print-page-block__content-wrapper .remarkType02 .vinnote {
      font-weight: bold; }
  .print-page-block__content-wrapper .dashed-block {
    border: 1px solid #000000;
    padding: 10px 230px 30px 10px;
    margin-top: 20px;
    position: relative; }
  .print-page-block__content-wrapper .vin .vintext {
    white-space: nowrap;
    font-weight: bold;
    font-size: 18pt; }
  .print-page-block__content-wrapper .vin .vinnote {
    font-weight: bold; }
  .print-page-block__content-wrapper .test {
    padding-left: 80px; }
    .print-page-block__content-wrapper .test li {
      list-style-type: none;
      padding-top: 0;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: -5px;
      margin-bottom: 16px; }
    .print-page-block__content-wrapper .test .num {
      display: block;
      float: left;
      font-size: 16pt;
      font-weight: bold;
      height: 36px;
      margin-left: -57px;
      margin-top: -10px;
      padding-top: 12px;
      color: #000000;
      text-align: center;
      border: 1px solid #000000;
      width: 48px;
      line-height: 1;
      border-radius: 50px; }
    .print-page-block__content-wrapper .test .radio {
      display: none;
      float: left;
      margin-left: -26px;
      margin-top: 2px;
      width: 25px; }
    .print-page-block__content-wrapper .test .question {
      margin-bottom: 18px;
      padding-bottom: 0;
      font-weight: bold; }
    .print-page-block__content-wrapper .test .right-answer {
      margin-bottom: 11px;
      padding: 13px 57px 17px 20px;
      margin-left: -21px;
      display: block;
      border: 1px solid #000000; }
  .print-page-block__content-wrapper .testInArticleContainer {
    margin-top: 45px; }
  .print-page-block__content-wrapper .testInArticleQAContainer {
    padding: 22px 36px 24px 36px;
    border: 1px solid #000000; }
  .print-page-block__content-wrapper .testInArticleStarContainer {
    position: absolute;
    right: 33px;
    top: 26px; }
  .print-page-block__content-wrapper .testInArticle {
    position: relative;
    margin: 39px auto 40px auto;
    width: 682px;
    min-height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 22px;
    color: #000000; }
  .print-page-block__content-wrapper .testInArticleName {
    font-size: 30px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 13px; }
  .print-page-block__content-wrapper .testInArticleStar {
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    width: 100px; }
  .print-page-block__content-wrapper .testInArticleQuest {
    clear: both;
    margin-bottom: 16px; }
  .print-page-block__content-wrapper .testInArticleStarText {
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    position: absolute;
    right: 33px;
    text-align: center;
    top: 137px;
    width: 100px; }
  .print-page-block__content-wrapper .testInArticleAnswer {
    clear: both;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 11px;
    position: relative; }
  .print-page-block__content-wrapper .testInArticleAnswer .bgr {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px 6px 7px 6px; }
  .print-page-block__content-wrapper .testInArticleSolution {
    margin-bottom: 10px; }
  .print-page-block__content-wrapper .testInArticleNameWrong,
  .print-page-block__content-wrapper .testInArticleNameRightig,
  .print-page-block__content-wrapper .testInArticleBack,
  .print-page-block__content-wrapper .testInArticleSolution,
  .print-page-block__content-wrapper .testInArticleBigStar > img,
  .print-page-block__content-wrapper .testInArticleBack,
  .print-page-block__content-wrapper .testInArticleStarContainer,
  .print-page-block__content-wrapper .testInArticleStarText {
    display: none; }
  .print-page-block__content-wrapper .endarticle {
    display: none; }

.article-page-block__author {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.article-page-block__author-text-wrapper-1, .article-page-block__author-text-wrapper-2, .article-page-block__author-text-wrapper-3 {
  background-color: transparent !important; }

