/* ==================================================================== */
/* CALENDAR PRINT PAGE
/* ==================================================================== */

* {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

h1 {
    font-size: 18px;
    padding-bottom: 20px;
}

table {
    border-bottom: none;
    border-right: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

table td {
    border-left: none !important;
    border-top: none !important;
}

table th {
    background-color: #ffffff !important;
    border-left: none !important;
    border-top: none !important;
    color: #000000;
    border-bottom: 1px solid #e6e6e6;
    font-weight: normal;
}

.event-calendar-block-table th {
    text-transform: uppercase;
}

.event-calendar-block-table table td {
    padding: 5px !important;
}

.event-calendar-block-table table td span {
    display: block;
    padding: 2px 4px 3px 0;
    text-align: right;
}

.event-calendar-block-table table .week-end {
    font-weight: bold;
}

.event-calendar-block-table table .day-disable {
    color: #cccccc !important;
}

.event-calendar-block-table table td .daylink {
    border: 1px solid #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #000;
}

.event-calendar-main-block {
    clear: both;
    display: block;
    padding-bottom: 20px;
    position: relative;
}

.event-calendar-info-block-short {
    display: table-cell;
    padding-left: 20px;
    width: 200px;
}

.event-calendar-block-table {
    display: table-cell;
    margin-bottom: 20px;
    margin-right: 38px;
    width: 233px;
}

.event-calendar-month-block {
    display: table;
    position: relative;
}

h4 {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0;
}

.event-calendar-info-block-short-lc {
    display: table-cell;
    width: 100px;
    white-space: nowrap;
}

.event-calendar-info-block-short-lc + span {
    display: table-cell;
    text-align: right;
    width: 27px;
}

.event-calendar-info-block-short-hour .event-calendar-info-block-short-lc {
    width: 90px;
}

.event-calendar-info-block-short-hour .event-calendar-info-block-short-lc + span {
    width: 37px;
}

.event-calendar-info-block-short-b {
    margin-bottom: 10px;
}

.event-calendar-week-koment {
    font-size: 9px;
}

.event-calendar-back {
    float: left;
    font-size: 10px;
    line-height: 15px;
    margin-left: 18px;
    padding-top: 4px !important;
    position: relative;
}

.event-calendar-main-block h4 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0;
}

.event-calendar-year-block-table-day th .event-calendar-year-block-monthname {
    font: 9px Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.event-calendar-year-block-table-day {
    font-size: 9px;
}

.event-calendar-year-block-table-day-kvarts th {
    text-transform: none;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts {
    margin-top: 25px;
}

.event-calendar-announce-block p {
    font-size: 11px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
}

.event-calendar-events {
    margin-top: 40px;
}

.event-calendar-events h2 {
    font: bold 16px/1 Arial,Helvetica,sans-serif;
}

.event-calendar-events th {
    font-weight: bold;
    text-align: left;
    padding-bottom: 13px;
    padding-top: 4px;
    padding-left: 0;
}

.event-calendar-events td {
    padding-left: 0;
}

.event-calendar-events-table th:first-child, .event-calendar-events-table td:first-child {
    width: 30% !important;
}

.event-calendar-events-table-task-date {
    border-top: 1px solid #e6e6e6 !important;
    font: bold 9px/1 Arial,Helvetica,sans-serif;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
}

.event-calendar-events-b-header {
    font: bold 14px/1 Arial,Helvetica,sans-serif;
    padding-bottom: 0;
    padding-top: 10px;
}

.event-calendar-events-s-header {
    font: bold 10px/1.38462 Arial,Helvetica,sans-serif;
    padding-bottom: 0;
}

table.event-calendar-year-block-table-day td {
    padding: 10px 4px !important;
    text-align: left !important;
}

table.event-calendar-year-block-table-day th {
    padding-left: 3px !important;
}

table.event-calendar-year-block-table-day td span {
    padding: 0;
    text-align: left;
}

.task-changes {
    font-weight: bold;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts td:last-child {
    font-weight: bold;
}

.event-calendar-month-block .event-calendar-block-table table td {
    font-size: 12px;
}

.event-calendar-month-block .event-calendar-block-table table th {
    font-size: 9px;
}

.event-calendar-events td p {
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.calendar-top-panel {
    display: none;
}

.event-calendar-events-top-switcher.event-calendar-events-active,
.event-calendar-events-title {
    display: none;
}

.event-calendar-events .event-calendar-events-title.event-calendar-events-active {
    display: inline;
}