﻿/* ==================================================================== */
/* DOCUMENT PRINT PAGE
/* ==================================================================== */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000; }

b {
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000; }

ul, ul li {
  list-style: none; }

.img {
  border: none; }

a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@page {
  margin: 2cm; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #000000;
  background: #ffffff !important;
  line-height: 1.5; }

a {
  page-break-inside: avoid; }

blockquote {
  page-break-inside: avoid; }

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  page-break-inside: avoid; }

img {
  page-break-inside: avoid;
  page-break-after: avoid; }

table {
  page-break-inside: auto; }

tr {
  page-break-inside: avoid;
  page-break-after: auto; }

ul, ol, dl {
  page-break-before: avoid; }

iframe, ins {
  display: none;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  line-height: 0 !important;
  white-space: nowrap; }

.clearfix {
  clear: both;
  display: block; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

h1 {
  font-size: 24pt; }

h3 {
  font-size: 14pt; }

h1, h2, h4, h5, h6 {
  margin-bottom: 10px; }

p {
  margin-bottom: 10px; }
  p.headertext {
    font-weight: bold;
    font-size: 14pt; }

.double-br {
  display: block;
  margin-bottom: 12px; }

.vrezHeadNpd > span {
  font-weight: bold; }

table {
  border-collapse: collapse; }

table td {
  padding: 5px 10px 5px 3px;
  vertical-align: middle; }

.bdTop {
  border-top: 1px solid #000000;
  padding: 6px; }

.bdBottom {
  border-bottom: 1px solid #000000; }

.bdRight {
  border-right: 1px solid #000000; }

.bdLeft {
  border-left: 1px solid #000000;
  padding: 4px; }

.bdAll, .bdAll td {
  border: 1px solid #000000; }

.article-page-block__rubric-block {
  padding-bottom: 20px; }

