﻿/* ==================================================================== */
/* ARTICLE PRINT PAGE
/* ==================================================================== */
$color: #000000;
$background: #ffffff;
$border: #cccccc;
$font: Times, "Times New Roman", serif;

//reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td {   
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    font-size: 98%;
    font-family: $font;
    color: $color;
}

b {
    font-weight: bold;
}

* {
    font-family: $font;
    color: $color;
}

img {
    border: none;
}

a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

//page
@page {
    margin: 2cm;
}

body {
    font-family: $font;
    color: $color;
    background: $background !important;
    line-height: 1.5;
}

//коррекция разбивки
a {
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

table {
    page-break-inside: auto;
}

tr {
    page-break-inside: auto;
    page-break-after: auto;
}

h1 {
    font-size: 24pt;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h3 {
    padding-left: 20px;
}

p {
    margin-bottom: 10px;
}

.content-navigation-menu-item {
    display: none;
}

table, table td {
    border: none !important;
    padding: 5px 10px 6px;
}

ul {
    padding-left: 40px;
}

.terms-block-table-right-column {
    display: none;
}