﻿/* ==================================================================== */
/* ARTICLE PRINT PAGE SKIN
/* ==================================================================== */
.print-page-block__rubric {
  display: none; }

.print-page-block__subrubric {
  text-transform: uppercase; }

