@import "../_variables.scss";
/* ==================================================================== */
/* STANDART TD BACKGROUND COLORS (article)
/* =================================================================== */

.article-page-block__content-wrapper .article-table td {

    & .red {
       background-color: $td-background-red;
       color: $black-link-color;
    }

    & .yellow {
        background-color: $td-background-yellow;
    }

    & .green {
        background-color: $td-background-green;
    }

    & .blue {
        background-color: $td-background-blue;
    }

    & .turquoise {
        background-color: $td-background-turquoise;
    }

    & .purple {
        background-color: $td-background-purple;
    }

    & .white {
        background-color: $td-background-white;
    }

    & .black {
        background-color: $td-background-black;
        color: $white-link-color;
    }

    & .gray {
        background-color: $td-background-gray;
    }
}
