@import "../_variables.scss";
/* ==================================================================== */
/* STANDART BUTTONS
/* =================================================================== */
.button {
    @include transition($hover-links);
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &-white {
        @include border-radius(3px);
        @include opacity(.9);
        @include linear-gradient(to bottom, $button-white-first-color, $button-white-second-color);
        border-bottom: 1px solid $button-white-border-bottom-color;
        border-top: 1px solid $button-white-border-top-color;
        border-left: 1px solid $button-white-border-side-color;
        border-right: 1px solid $button-white-border-side-color;
        color: $black-link-color;
        padding: 0.3rem 0.6rem;

        &:hover {
            @include opacity(1);
            @include linear-gradient(to bottom, $button-white-hover-first-color, $button-white-hover-second-color);
            border-bottom: 1px solid $button-white-hover-border-bottom-color;
            border-top: 1px solid $button-white-hover-border-top-color;
            border-left: 1px solid $button-white-hover-border-side-color;
            border-right: 1px solid $button-white-hover-border-side-color;
        }

        &:active {
            @include linear-gradient(to bottom, $button-white-hover-first-color, $button-white-hover-second-color);
            border-bottom: 1px solid $button-white-active-border-bottom-color;
            border-top: 1px solid $button-white-active-border-top-color;
            border-left: 1px solid $button-white-active-border-side-color;
            border-right: 1px solid $button-white-active-border-side-color;
        }

        &[disabled], &.button-disabled {
            &:hover, &:active {
                border-bottom: 1px solid $button-white-border-bottom-color;
                border-top: 1px solid $button-white-border-top-color;
                border-left: 1px solid $button-white-border-side-color;
                border-right: 1px solid $button-white-border-side-color;
                @include linear-gradient(to bottom, $button-white-first-color, $button-white-second-color);
            }
        }
    }

    &-yellow {
        @include border-radius(3px);
        @include opacity(.9);
        @include linear-gradient(to top, $button-yellow-first-color, $button-yellow-second-color);
        border-bottom: 1px solid $button-yellow-border-color;
        color: $black-link-color;
        font-family: $sans;
        font-size: 14px;
        padding: 0.2rem 1.3rem;

        &:hover {
            @include opacity(1);
            border-bottom: 1px solid $button-yellow-border-color;
        }

        &:active {
            border-color: $button-yellow-active-border-color;
            @include linear-gradient(to top, $button-yellow-active-first-color, $button-yellow-active-second-color);
        }

        &[disabled], &.button-disabled {
            @include opacity(.6);
            cursor: default;

            &:hover, &:active {
                @include linear-gradient(to top, $button-yellow-first-color, $button-yellow-second-color);
                border-bottom: 1px solid $button-yellow-border-color;
            }
        }
    }

    &-light-gray {
        @include border-radius(3px);
        @include linear-gradient(to top, $button-light-gray-first-color, $button-light-gray-second-color);
        border-bottom: 1px solid $button-light-gray-border-color;
        color: $black-link-color;
        font-family: $sans;
        font-size: 14px;
        padding: 0.2rem 1.3rem;

        &:hover {
            @include opacity(1);
            border-bottom: 1px solid $button-light-gray-border-color;
        }

        &:active {
            @include linear-gradient(to top, $button-light-gray-active-first-color, $button-light-gray-active-second-color);
        }
    }

    &-very-light-gray {
        @include border-radius(3px);
        @include linear-gradient(to top, $button-very-light-gray-first-color, $button-very-light-gray-second-color);
        border-bottom: 1px solid $button-very-light-gray-border-color;
        color: $dark-gray-link-color;
        font-family: $sans;
        font-size: 14px;
        padding: 0.2rem 0.6rem;

        &:hover {
            @include opacity(1);
            color: $black-link-color;
        }

        &:active {
            @include linear-gradient(to top, $button-light-gray-active-first-color, $button-light-gray-active-second-color);
        }
    }

    &[disabled], &.button-disabled {
        @include opacity(.6);
        cursor: default;
    }

    &-gray-glass {
        @include box-shadow(0, 2px, 0px, 0, $white-link-color, inset);
        @include border-radius(20px);
        @include linear-gradient(to top, $button-gray-glass-first-color, $button-gray-glass-second-color);
        border: 1px solid $button-gray-glass-border-color;
        color: $black-link-color;
        font-family: $sans;
        font-size: 18px;
        padding: 0.23rem 1.2rem;
        position: relative;

        &:hover {
            border-color: $button-gray-glass-hover-border-color;
        }

        &:active {
            @include linear-gradient(to bottom, $button-gray-glass-active-first-color, $button-gray-glass-active-second-color);
        }

        &[disabled], &.button-disabled {
            @include opacity(1);
            border-color: $button-gray-glass-hover-border-color;
            cursor: default;
            color: $dark-gray-link-color;
        }
    }


    &-yellow-glass {
        @include transition(none);
        @include border-radius(4px);
        @include linear-gradient(to bottom, rgb(249, 218, 148) 0%, rgb(247, 201, 101) 21%, rgb(241, 173, 79) 54%, rgb(239, 157, 22) 55%, rgb(245, 192, 123) 97%, rgb(191, 148, 65) 100%);
        border-top: 1px solid $button-yellow-glass-top-border-color;
        border-bottom: 1px solid $button-yellow-glass-bottom-border-color;
        color: $black-link-color;
        font-family: $sans;
        font-size: 20px;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
        padding: 0.27rem 1.2rem;
        position: relative;
        @include opacity(.95);

        &:hover {
            @include opacity(1);
            border-top: 1px solid $button-yellow-glass-top-border-color;
        }
    }

    &-turquoise {
        cursor: pointer;
        font-size: 16px;
        font-weight: normal;
        font-family: $sans;
        @include border-radius(3px);
        @include opacity(.9);
        @include linear-gradient($button-turquoise-first-color 5%, $button-turquoise-second-color 80%);
        border-color: $button-turquoise-border-top-color $button-turquoise-border-side-color $button-turquoise-border-bottom-color;
        border-style: solid;
        border-width: 1px;
        color: $white-link-color;
        white-space: nowrap;
        padding: 2px 12px 3px;

        &:hover {
            @include opacity(1);
            @include linear-gradient($button-turquoise-hover-first-color 5%, $button-turquoise-hover-second-color 80%);
            border-color: $button-turquoise-hover-border-top-color $button-turquoise-hover-border-side-color $button-turquoise-hover-border-bottom-color;
        }

        &:active {
            @include opacity(1);
            @include linear-gradient($button-turquoise-active-first-color 5%, $button-turquoise-active-second-color 80%);
            @include box-shadow(inset, 0, 2px, 4px, rgba(0,33,39,.85));
            border-color: $button-turquoise-active-border-top-color $button-turquoise-active-border-side-color $button-turquoise-active-border-bottom-color;
        }

        &[disabled], &.button-disabled {
            @include opacity(.6);
            cursor: default;

            &:hover, &:active {
                @include linear-gradient($button-turquoise-first-color 5%, $button-turquoise-second-color 80%);
                border-color: $button-turquoise-border-top-color $button-turquoise-border-side-color $button-turquoise-border-bottom-color;
            }
        }
    }
}
