@import "../_variables.scss";
/* ==================================================================== */
/* STANDART LINKS
/* =================================================================== */
// Set colors and borders
a {
    @include transition($hover-links);
    color: $standart-link-color;
    text-decoration: none;
    border-color: transparentize($standart-link-color, .6);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &:hover {
        text-decoration: none;
        border-color: transparentize($standart-link-color, .2);
    }

    &.__no-border {
        border-bottom: none;
    }
}

// Link borders colors
@each $linkclass, $color in $linkscolor {
    .standart-text-link__#{$linkclass} {
        color: $color;
        border-color: transparentize($color, .6);

        &:focus,
        &:hover {
            border-color: transparentize($color, .2);
        }
    }
}