@import "../_variables.scss";
/* ==================================================================== */
/* STANDART TEXT COLORS (article)
/* =================================================================== */

.article-page-block__content {
    & .bad-text {
        color: $text-color-bad;
    }

    & .red {
       //color: $text-color-red;
    }

    & .yellow {
        color: $text-color-yellow;
    }

    & .green {
        color: $text-color-green;
    }

    & .blue {
        color: $text-color-blue;
    }

    & .turquoise {
        color: $text-color-turquoise;
    }

    & .purple {
        color: $text-color-purple;
    }

    & .white {
        color: $text-color-white;
    }

    & .black {
        color: $text-color-black;
    }

    & .gray {
        color: $text-color-gray;
    }
}
