﻿/* ==================================================================== */
/* CONTENT PANEL
/* =================================================================== */
.menu-panel__content {
  -webkit-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: left;
  overflow: hidden;
  z-index: 20003;
  font-size: 13px;
  line-height: 14px;
  display: none;
  margin-left: -600px; }
  .menu-panel__content-preloader {
    background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center #fff; }
  .menu-panel__content-add-to-favorite {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 89px;
    padding-top: 5px;
    color: #a0a1a5;
    display: none;
    cursor: pointer;
    border-bottom: none;
    white-space: nowrap;
    z-index: 1; }
    .menu-panel__content-add-to-favorite:before {
      content: "";
      position: absolute;
      top: 10px;
      right: 96px;
      width: 26px;
      height: 12px;
      background-image: url(/res/images/menu/menu-panel__content-bookmark-icon.png);
      background-position: 0 0;
      background-repeat: no-repeat; }
    .menu-panel__content-add-to-favorite:hover {
      color: #7890a5;
      border-bottom: none; }
      .menu-panel__content-add-to-favorite:hover:before {
        background-position: -26px 0; }
    .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite, .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:hover {
      display: block; }
      .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:before, .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:hover:before {
        background-position: -52px 0; }
  .menu-panel__content__menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0; }
    .menu-panel__content__menu-line {
      height: 37px;
      border-bottom: 1px solid #e1e1e1;
      display: table;
      width: 100%; }
      .menu-panel__content__menu-line-list li {
        list-style-type: none;
        display: inline-block;
        padding-left: 18px; }
      .menu-panel__content__menu-line-left {
        display: table-cell;
        vertical-align: middle; }
        .menu-panel__content__menu-line-left > div {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 16px;
          padding-bottom: 16px;
          cursor: pointer;
          display: table-cell; }
      .menu-panel__content__menu-line-right {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 33px; }
      .menu-panel__content__menu-line-shadow {
        -webkit-box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ;
        -moz-box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ;
        box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ; }
    .menu-panel__content__menu-item-pop-link {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      cursor: pointer; }
      .menu-panel__content__menu-item-pop-link:hover {
        border-color: rgba(46, 152, 255, 0.6); }
      .menu-panel__content__menu-item-pop-link-has-menu {
        position: relative; }
        .menu-panel__content__menu-item-pop-link-has-menu:before, .menu-panel__content__menu-item-pop-link-has-menu:after {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          top: 5px; }
        .menu-panel__content__menu-item-pop-link-has-menu:before {
          border-top-color: #2e98ff;
          border-width: 5px;
          margin-left: -5px;
          right: -18px;
          top: 6px; }
        .menu-panel__content__menu-item-pop-link-has-menu:after {
          border-top-color: #fff;
          border-width: 4px;
          margin-left: -4px;
          right: -17px; }
      .menu-panel__content__menu-item-pop-link-back {
        position: relative; }
        .menu-panel__content__menu-item-pop-link-back:before, .menu-panel__content__menu-item-pop-link-back:after {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          top: 8px; }
        .menu-panel__content__menu-item-pop-link-back:before {
          border-right-color: #2e98ff;
          border-width: 5px;
          margin-top: -5px;
          left: -17px; }
        .menu-panel__content__menu-item-pop-link-back:after {
          border-right-color: #fff;
          border-width: 4px;
          margin-top: -4px;
          left: -14px; }
      .menu-panel__content__menu-item-pop-link-active {
        color: #000;
        border-color: rgba(0, 0, 0, 0.2); }
        .menu-panel__content__menu-item-pop-link-active:hover {
          border-color: rgba(0, 0, 0, 0.6); }
        .menu-panel__content__menu-item-pop-link-active:before {
          border-top-color: #000; }
    .menu-panel__content__menu-item__read-statistic {
      padding-right: 38px;
      position: relative; }
  .menu-panel__content__current-magazine-list {
    position: absolute;
    top: 94px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .menu-panel__content__current-magazine-list-wrapper {
      padding-bottom: 40px; }
    .menu-panel__content__current-magazine-list h3 {
      margin: 0 21px 0 40px;
      padding: 5px 40px 0 0;
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 11px;
      border-top: 1px solid #e1e1e1; }
      .menu-panel__content__current-magazine-list h3:first-child {
        border-top: none; }
    .menu-panel__content__current-magazine-list-rubric-list {
      margin-bottom: 27px; }
      .menu-panel__content__current-magazine-list-rubric-list li {
        list-style-type: none;
        font-size: 13px;
        line-height: 18px;
        position: relative; }
        .menu-panel__content__current-magazine-list-rubric-list li a {
          display: block;
          padding: 5px 149px 6px 40px;
          text-decoration: none;
          border: none;
          position: relative; }
          .menu-panel__content__current-magazine-list-rubric-list li a span, .menu-panel__content__current-magazine-list-rubric-list li a i {
            color: #000;
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom: none; }
            .menu-panel__content__current-magazine-list-rubric-list li a span:hover, .menu-panel__content__current-magazine-list-rubric-list li a i:hover {
              border-color: rgba(0, 0, 0, 0.6); }
            .menu-panel__content__current-magazine-list-rubric-list li a span.menu-panel__content__has-add i, .menu-panel__content__current-magazine-list-rubric-list li a i.menu-panel__content__has-add i {
              padding-left: 3px; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__not-read:before {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            content: "";
            position: absolute;
            background-color: #2e98ff;
            display: block;
            left: 20px;
            top: 10px;
            height: 9px;
            width: 9px; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:before {
            display: none; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read span, .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read i {
            border-bottom: none;
            color: #a0a1a5; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:hover span, .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:hover i {
            border-bottom: none;
            color: #a0a1a5; }
        .menu-panel__content__current-magazine-list-rubric-list li:hover {
          background-color: #bfe4ff; }
          .menu-panel__content__current-magazine-list-rubric-list li:hover > .menu-panel__content-add-to-favorite {
            display: block; }
        .menu-panel__content__current-magazine-list-rubric-list li.menu-panel__content__list-active {
          background-color: #bfe4ff; }
  .menu-panel__content__years-list, .menu-panel__content__magazines-list {
    -webkit-box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    position: absolute;
    z-index: 3;
    top: 47px;
    bottom: 0;
    width: 100%;
    background-color: #ededed;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 60px;
    display: none; }
    .menu-panel__content__years-list .menu-panel__content__list-active, .menu-panel__content__magazines-list .menu-panel__content__list-active {
      background-color: #bfe4ff; }
    .menu-panel__content__years-list:hover .menu-panel__content__list-active, .menu-panel__content__magazines-list:hover .menu-panel__content__list-active {
      background-color: transparent; }
    .menu-panel__content__years-list ul li, .menu-panel__content__magazines-list ul li {
      padding: 6px 40px 5px 40px;
      cursor: pointer;
      font-size: 13px;
      line-height: 18px; }
      .menu-panel__content__years-list ul li:hover, .menu-panel__content__magazines-list ul li:hover {
        background-color: #bfe4ff; }
  .menu-panel__content__magazines-list {
    top: 94px; }
  .menu-panel__content__codex-list {
    position: absolute;
    top: 47px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .menu-panel__content__codex-list-wrapper {
      padding-left: 19px;
      padding-bottom: 60px; }
    .menu-panel__content__codex-list h2 {
      font: bold 24px/28px Arial, Helvetica, sans-serif;
      margin: 0 0 25px 0;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list h3 {
      font: bold 24px/28px Arial, Helvetica, sans-serif;
      margin-top: -25px;
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 25px; }
    .menu-panel__content__codex-list h4 {
      font: 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .menu-panel__content__codex-list a {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2); }
      .menu-panel__content__codex-list a:hover {
        border-color: rgba(46, 152, 255, 0.6); }
    .menu-panel__content__codex-list-chapter {
      margin-top: 5px;
      position: relative;
      padding: 2px 20px 2px 50px;
      font: bold 16px/20px Arial, Helvetica, sans-serif !important;
      margin: 10px 0; }
      .menu-panel__content__codex-list-chapter strong {
        position: absolute;
        left: 20px;
        padding: 0;
        font-weight: bold; }
    .menu-panel__content__codex-list-article {
      font: normal 13px/18px Arial, Helvetica, sans-serif;
      margin-top: 5px;
      position: relative;
      padding: 2px 20px 2px 50px; }
    .menu-panel__content__codex-list-section {
      font: 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .menu-panel__content__codex-list-subsection {
      font: bold 20px/24px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-paragraph {
      font: bold 13px/18px Arial, Helvetica, sans-serif;
      margin: 10px 0 7px;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-subparagraph {
      font: normal 13px/18px Arial, Helvetica, sans-serif;
      font-style: italic;
      margin: 10px 0 7px;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-supplement {
      font: bold 13px/18px Arial, Helvetica, sans-serif;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px; }
      .menu-panel__content__codex-list-supplement strong {
        text-align: left;
        white-space: nowrap;
        display: table-cell;
        padding-left: 0;
        padding-right: 4px; }
        .menu-panel__content__codex-list-supplement strong + .menu-panel__content__codex-list-number {
          text-align: left;
          width: auto; }
    .menu-panel__content__codex-list-number {
      width: 60px;
      text-align: right;
      white-space: nowrap;
      display: table-cell;
      padding-left: 0; }
    .menu-panel__content__codex-list-cell {
      display: table-cell;
      padding-left: 0;
      width: auto; }
    .menu-panel__content__codex-list-full {
      padding: 5px 70px 0 20px;
      margin-top: 5px;
      line-height: 18px; }
    .menu-panel__content__codex-list-bold {
      font: bold 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-right: 20px;
      padding-left: 20px; }
      .menu-panel__content__codex-list-bold a {
        font: normal 13px/18px Arial, Helvetica, sans-serif;
        position: relative;
        padding: 0 2px; }
    .menu-panel__content__codex-list-main li {
      list-style-type: none;
      margin-bottom: 20px;
      margin-left: -20px; }
      .menu-panel__content__codex-list-main li a {
        padding: 5px 70px 6px 40px;
        border-bottom: none;
        font-weight: bold;
        font-size: 14px;
        color: #000;
        display: block; }
        .menu-panel__content__codex-list-main li a:hover {
          background-color: #bfe4ff; }
    .menu-panel__content__codex-list-main-parts li {
      margin-bottom: 0;
      margin-left: 0; }
      .menu-panel__content__codex-list-main-parts li a {
        font-weight: normal; }
    .menu-panel__content__codex-list-description {
      padding: 5px 70px 0 20px;
      font-size: 13px;
      line-height: 18px;
      color: #707375; }
  .menu-panel__content__books-list {
    position: absolute;
    top: 47px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif; }
    .menu-panel__content__books-list-wrapper {
      padding-bottom: 60px; }
    .menu-panel__content__books-list h2 {
      padding: 0 70px 0 40px;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 11px;
      line-height: 26px; }
    .menu-panel__content__books-list h3 {
      padding: 0 70px 0 40px;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 7px;
      margin-top: 7px;
      line-height: 16px; }
      .menu-panel__content__books-list h3.menu-panel__content__books-list-header-padding {
        margin-top: 30px; }
      .menu-panel__content__books-list h3 + h3 {
        margin-top: 7px !important; }
    .menu-panel__content__books-list h2 + h3 {
      padding-top: 6px;
      margin-top: 7px !important; }
    .menu-panel__content__books-list p {
      font-size: 13px;
      line-height: 18px; }
    .menu-panel__content__books-list a {
      display: block;
      padding: 5px 149px 6px 40px;
      color: #000;
      text-decoration: none;
      border: 0 none;
      position: relative; }
      .menu-panel__content__books-list a:hover {
        background-color: #bfe4ff; }

