﻿@charset "UTF-8";
/* ==================================================================== */
/* MENU (FIXED BUTTONS)
/* =================================================================== */
.menu-block-common {
  position: fixed;
  visibility: hidden;
  z-index: 20004;
  margin: 0;
  bottom: 18px;
  padding-left: 30px;
  width: 100%; }
  .menu-block-common-item {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 22px;
    float: left;
    visibility: visible;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #5d5d5d;
    border: 1px solid #454546;
    cursor: pointer;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 2px;
    display: block;
    margin-left: -1px; }
    .menu-block-common-item a {
      color: #fff;
      border: none; }
    .menu-block-common-item__content {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      margin-right: 20px; }
    .menu-block-common-item__bookmarks {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      margin-right: 20px;
      padding-left: 39px;
      display: none; }
      .menu-block-common-item__bookmarks:before {
        background: url("/res/images/menu/menu-block-common-item__bookmarks.png") no-repeat scroll left top transparent;
        content: "";
        height: 10px;
        left: 13px;
        position: absolute;
        top: 4px;
        width: 22px;
        background-size: 22px 20px; }
    .menu-block-common-item__themes {
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-left-radius: 4px; }
    .menu-block-common-item:hover {
      background-color: #19191A;
      border-color: #19191A; }
    .menu-block-common-item-active, .menu-block-common-item-active:hover {
      background-color: #fd3;
      border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset ;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset ;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset ;
      color: #000; }
      .menu-block-common-item-active:before, .menu-block-common-item-active:hover:before {
        background-position: left bottom; }
      .menu-block-common-item-active a, .menu-block-common-item-active:hover a {
        color: #000; }
    .hidden + .menu-block-common-item__archive {
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-left-radius: 4px; }
    .menu-block-common-item__magazines {
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-right-radius: 4px; }
      .menu-block-common-item__magazines-new {
        background-color: #801818;
        border-color: #4d0707; }
        .menu-block-common-item__magazines-new:hover {
          background-color: #8e3333;
          border-color: #6b1414; }
        .menu-block-common-item__magazines-new.menu-block-common-item-active, .menu-block-common-item__magazines-new.menu-block-common-item-active:hover {
          background-color: #5c0d0d;
          border-color: #2d0202;
          color: #fff; }
    .menu-block-common-item__support {
      right: 30px;
      position: absolute;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }

.menu-panel__wide {
  font-size: 13px;
  line-height: 14px;
  min-width: 1000px;
  max-width: 1200px;
  width: 80% !important;
  clip: rect(0, auto, auto, 0);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 20003;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff; }
  .menu-panel__wide h3 {
    display: block;
    padding: 3px 15px 4px 15px;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 16px; }
  .menu-panel__wide ul {
    padding: 0 0 39px 0; }
    .menu-panel__wide ul li {
      list-style-type: none;
      line-height: 16px; }
      .menu-panel__wide ul li > span {
        padding: 5px 15px;
        display: block; }
        .menu-panel__wide ul li > span:hover {
          cursor: pointer; }
        .menu-panel__wide ul li > span.menu-panel__wide-item-active {
          background-color: #bfe4ff; }
  .menu-panel__wide-item {
    height: 100%;
    border-right: 1px solid #dddddd;
    display: block;
    position: absolute;
    top: 0;
    width: 250px;
    background-color: #f4f4f4;
    overflow: auto;
    padding-bottom: 60px;
    padding-top: 15px; }
    .menu-panel__wide-item-article-list {
      height: 100%;
      border-right: 1px solid #dddddd;
      position: absolute;
      top: 0;
      display: block;
      background-color: #fff;
      z-index: 3;
      min-width: 250px;
      max-width: 950px;
      overflow: auto;
      padding-bottom: 60px;
      padding-top: 15px;
      right: 0; }
      .menu-panel__wide-item-article-list h2 {
        padding-top: 0;
        padding-bottom: 5px;
        line-height: 24px;
        padding-left: 20px; }
      .menu-panel__wide-item-article-list ul li {
        display: block;
        padding: 3px 20px 7px;
        line-height: 20px; }
        .menu-panel__wide-item-article-list ul li a {
          color: #2e98ff;
          border-color: rgba(46, 152, 255, 0.2); }
          .menu-panel__wide-item-article-list ul li a:hover {
            border-color: rgba(46, 152, 255, 0.6); }

.menu-panel__wide-item:nth-child(1) {
  left: 0px; }
  .menu-panel__wide-item:nth-child(1) + .menu-panel__wide-item-article-list {
    left: 250px; }

.menu-panel__wide-item:nth-child(2) {
  left: 250px; }
  .menu-panel__wide-item:nth-child(2) + .menu-panel__wide-item-article-list {
    left: 500px; }

.menu-panel__wide-item:nth-child(3) {
  left: 500px; }
  .menu-panel__wide-item:nth-child(3) + .menu-panel__wide-item-article-list {
    left: 750px; }

.menu-panel__wide-item:nth-child(4) {
  left: 750px; }
  .menu-panel__wide-item:nth-child(4) + .menu-panel__wide-item-article-list {
    left: 1000px; }

/* ==================================================================== */
/* CONTENT PANEL
/* =================================================================== */
.menu-panel__content {
  -webkit-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: left;
  overflow: hidden;
  z-index: 20003;
  font-size: 13px;
  line-height: 14px;
  display: none;
  margin-left: -600px; }
  .menu-panel__content-preloader {
    background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center #fff; }
  .menu-panel__content-add-to-favorite {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 89px;
    padding-top: 5px;
    color: #a0a1a5;
    display: none;
    cursor: pointer;
    border-bottom: none;
    white-space: nowrap;
    z-index: 1; }
    .menu-panel__content-add-to-favorite:before {
      content: "";
      position: absolute;
      top: 10px;
      right: 96px;
      width: 26px;
      height: 12px;
      background-image: url(/res/images/menu/menu-panel__content-bookmark-icon.png);
      background-position: 0 0;
      background-repeat: no-repeat; }
    .menu-panel__content-add-to-favorite:hover {
      color: #7890a5;
      border-bottom: none; }
      .menu-panel__content-add-to-favorite:hover:before {
        background-position: -26px 0; }
    .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite, .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:hover {
      display: block; }
      .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:before, .menu-panel__content-add-to-favorite.menu-panel__content-article-favorite:hover:before {
        background-position: -52px 0; }
  .menu-panel__content__menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0; }
    .menu-panel__content__menu-line {
      height: 37px;
      border-bottom: 1px solid #e1e1e1;
      display: table;
      width: 100%; }
      .menu-panel__content__menu-line-list li {
        list-style-type: none;
        display: inline-block;
        padding-left: 18px; }
      .menu-panel__content__menu-line-left {
        display: table-cell;
        vertical-align: middle; }
        .menu-panel__content__menu-line-left > div {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 16px;
          padding-bottom: 16px;
          cursor: pointer;
          display: table-cell; }
      .menu-panel__content__menu-line-right {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 33px; }
      .menu-panel__content__menu-line-shadow {
        -webkit-box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ;
        -moz-box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ;
        box-shadow: 0px 3px 3px 0 rgba(50, 50, 50, 0.2) ; }
    .menu-panel__content__menu-item-pop-link {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      cursor: pointer; }
      .menu-panel__content__menu-item-pop-link:hover {
        border-color: rgba(46, 152, 255, 0.6); }
      .menu-panel__content__menu-item-pop-link-has-menu {
        position: relative; }
        .menu-panel__content__menu-item-pop-link-has-menu:before, .menu-panel__content__menu-item-pop-link-has-menu:after {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          top: 5px; }
        .menu-panel__content__menu-item-pop-link-has-menu:before {
          border-top-color: #2e98ff;
          border-width: 5px;
          margin-left: -5px;
          right: -18px;
          top: 6px; }
        .menu-panel__content__menu-item-pop-link-has-menu:after {
          border-top-color: #fff;
          border-width: 4px;
          margin-left: -4px;
          right: -17px; }
      .menu-panel__content__menu-item-pop-link-back {
        position: relative; }
        .menu-panel__content__menu-item-pop-link-back:before, .menu-panel__content__menu-item-pop-link-back:after {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          top: 8px; }
        .menu-panel__content__menu-item-pop-link-back:before {
          border-right-color: #2e98ff;
          border-width: 5px;
          margin-top: -5px;
          left: -17px; }
        .menu-panel__content__menu-item-pop-link-back:after {
          border-right-color: #fff;
          border-width: 4px;
          margin-top: -4px;
          left: -14px; }
      .menu-panel__content__menu-item-pop-link-active {
        color: #000;
        border-color: rgba(0, 0, 0, 0.2); }
        .menu-panel__content__menu-item-pop-link-active:hover {
          border-color: rgba(0, 0, 0, 0.6); }
        .menu-panel__content__menu-item-pop-link-active:before {
          border-top-color: #000; }
    .menu-panel__content__menu-item__read-statistic {
      padding-right: 38px;
      position: relative; }
  .menu-panel__content__current-magazine-list {
    position: absolute;
    top: 94px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .menu-panel__content__current-magazine-list-wrapper {
      padding-bottom: 40px; }
    .menu-panel__content__current-magazine-list h3 {
      margin: 0 21px 0 40px;
      padding: 5px 40px 0 0;
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 11px;
      border-top: 1px solid #e1e1e1; }
      .menu-panel__content__current-magazine-list h3:first-child {
        border-top: none; }
    .menu-panel__content__current-magazine-list-rubric-list {
      margin-bottom: 27px; }
      .menu-panel__content__current-magazine-list-rubric-list li {
        list-style-type: none;
        font-size: 13px;
        line-height: 18px;
        position: relative; }
        .menu-panel__content__current-magazine-list-rubric-list li a {
          display: block;
          padding: 5px 149px 6px 40px;
          text-decoration: none;
          border: none;
          position: relative; }
          .menu-panel__content__current-magazine-list-rubric-list li a span, .menu-panel__content__current-magazine-list-rubric-list li a i {
            color: #000;
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom: none; }
            .menu-panel__content__current-magazine-list-rubric-list li a span:hover, .menu-panel__content__current-magazine-list-rubric-list li a i:hover {
              border-color: rgba(0, 0, 0, 0.6); }
            .menu-panel__content__current-magazine-list-rubric-list li a span.menu-panel__content__has-add i, .menu-panel__content__current-magazine-list-rubric-list li a i.menu-panel__content__has-add i {
              padding-left: 3px; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__not-read:before {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px;
            content: "";
            position: absolute;
            background-color: #2e98ff;
            display: block;
            left: 20px;
            top: 10px;
            height: 9px;
            width: 9px; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:before {
            display: none; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read span, .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read i {
            border-bottom: none;
            color: #a0a1a5; }
          .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:hover span, .menu-panel__content__current-magazine-list-rubric-list li a.menu-panel__content__read:hover i {
            border-bottom: none;
            color: #a0a1a5; }
        .menu-panel__content__current-magazine-list-rubric-list li:hover {
          background-color: #bfe4ff; }
          .menu-panel__content__current-magazine-list-rubric-list li:hover > .menu-panel__content-add-to-favorite {
            display: block; }
        .menu-panel__content__current-magazine-list-rubric-list li.menu-panel__content__list-active {
          background-color: #bfe4ff; }
  .menu-panel__content__years-list, .menu-panel__content__magazines-list {
    -webkit-box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    box-shadow: inset 0 3px 3px 0 rgba(50, 50, 50, 0.2);
    position: absolute;
    z-index: 3;
    top: 47px;
    bottom: 0;
    width: 100%;
    background-color: #ededed;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 60px;
    display: none; }
    .menu-panel__content__years-list .menu-panel__content__list-active, .menu-panel__content__magazines-list .menu-panel__content__list-active {
      background-color: #bfe4ff; }
    .menu-panel__content__years-list:hover .menu-panel__content__list-active, .menu-panel__content__magazines-list:hover .menu-panel__content__list-active {
      background-color: transparent; }
    .menu-panel__content__years-list ul li, .menu-panel__content__magazines-list ul li {
      padding: 6px 40px 5px 40px;
      cursor: pointer;
      font-size: 13px;
      line-height: 18px; }
      .menu-panel__content__years-list ul li:hover, .menu-panel__content__magazines-list ul li:hover {
        background-color: #bfe4ff; }
  .menu-panel__content__magazines-list {
    top: 94px; }
  .menu-panel__content__codex-list {
    position: absolute;
    top: 47px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .menu-panel__content__codex-list-wrapper {
      padding-left: 19px;
      padding-bottom: 60px; }
    .menu-panel__content__codex-list h2 {
      font: bold 24px/28px Arial, Helvetica, sans-serif;
      margin: 0 0 25px 0;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list h3 {
      font: bold 24px/28px Arial, Helvetica, sans-serif;
      margin-top: -25px;
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 25px; }
    .menu-panel__content__codex-list h4 {
      font: 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .menu-panel__content__codex-list a {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2); }
      .menu-panel__content__codex-list a:hover {
        border-color: rgba(46, 152, 255, 0.6); }
    .menu-panel__content__codex-list-chapter {
      margin-top: 5px;
      position: relative;
      padding: 2px 20px 2px 50px;
      font: bold 16px/20px Arial, Helvetica, sans-serif !important;
      margin: 10px 0; }
      .menu-panel__content__codex-list-chapter strong {
        position: absolute;
        left: 20px;
        padding: 0;
        font-weight: bold; }
    .menu-panel__content__codex-list-article {
      font: normal 13px/18px Arial, Helvetica, sans-serif;
      margin-top: 5px;
      position: relative;
      padding: 2px 20px 2px 50px; }
    .menu-panel__content__codex-list-section {
      font: 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .menu-panel__content__codex-list-subsection {
      font: bold 20px/24px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-paragraph {
      font: bold 13px/18px Arial, Helvetica, sans-serif;
      margin: 10px 0 7px;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-subparagraph {
      font: normal 13px/18px Arial, Helvetica, sans-serif;
      font-style: italic;
      margin: 10px 0 7px;
      padding-right: 20px;
      padding-left: 20px; }
    .menu-panel__content__codex-list-supplement {
      font: bold 13px/18px Arial, Helvetica, sans-serif;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px; }
      .menu-panel__content__codex-list-supplement strong {
        text-align: left;
        white-space: nowrap;
        display: table-cell;
        padding-left: 0;
        padding-right: 4px; }
        .menu-panel__content__codex-list-supplement strong + .menu-panel__content__codex-list-number {
          text-align: left;
          width: auto; }
    .menu-panel__content__codex-list-number {
      width: 60px;
      text-align: right;
      white-space: nowrap;
      display: table-cell;
      padding-left: 0; }
    .menu-panel__content__codex-list-cell {
      display: table-cell;
      padding-left: 0;
      width: auto; }
    .menu-panel__content__codex-list-full {
      padding: 5px 70px 0 20px;
      margin-top: 5px;
      line-height: 18px; }
    .menu-panel__content__codex-list-bold {
      font: bold 18px/22px Arial, Helvetica, sans-serif;
      margin: 10px 0;
      padding-right: 20px;
      padding-left: 20px; }
      .menu-panel__content__codex-list-bold a {
        font: normal 13px/18px Arial, Helvetica, sans-serif;
        position: relative;
        padding: 0 2px; }
    .menu-panel__content__codex-list-main li {
      list-style-type: none;
      margin-bottom: 20px;
      margin-left: -20px; }
      .menu-panel__content__codex-list-main li a {
        padding: 5px 70px 6px 40px;
        border-bottom: none;
        font-weight: bold;
        font-size: 14px;
        color: #000;
        display: block; }
        .menu-panel__content__codex-list-main li a:hover {
          background-color: #bfe4ff; }
    .menu-panel__content__codex-list-main-parts li {
      margin-bottom: 0;
      margin-left: 0; }
      .menu-panel__content__codex-list-main-parts li a {
        font-weight: normal; }
    .menu-panel__content__codex-list-description {
      padding: 5px 70px 0 20px;
      font-size: 13px;
      line-height: 18px;
      color: #707375; }
  .menu-panel__content__books-list {
    position: absolute;
    top: 47px;
    padding-top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif; }
    .menu-panel__content__books-list-wrapper {
      padding-bottom: 60px; }
    .menu-panel__content__books-list h2 {
      padding: 0 70px 0 40px;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 11px;
      line-height: 26px; }
    .menu-panel__content__books-list h3 {
      padding: 0 70px 0 40px;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 7px;
      margin-top: 7px;
      line-height: 16px; }
      .menu-panel__content__books-list h3.menu-panel__content__books-list-header-padding {
        margin-top: 30px; }
      .menu-panel__content__books-list h3 + h3 {
        margin-top: 7px !important; }
    .menu-panel__content__books-list h2 + h3 {
      padding-top: 6px;
      margin-top: 7px !important; }
    .menu-panel__content__books-list p {
      font-size: 13px;
      line-height: 18px; }
    .menu-panel__content__books-list a {
      display: block;
      padding: 5px 149px 6px 40px;
      color: #000;
      text-decoration: none;
      border: 0 none;
      position: relative; }
      .menu-panel__content__books-list a:hover {
        background-color: #bfe4ff; }

/* ==================================================================== */
/* ARCHIVE PANEL
/* =================================================================== */
.menu-panel__archive {
  position: fixed;
  text-align: left;
  z-index: 20003;
  bottom: 0;
  right: 0;
  width: 100%; }
  .menu-panel__archive-year-list {
    list-style-type: none;
    display: table;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: -4px; }
    .menu-panel__archive-year-list-item {
      margin-right: 20px;
      display: inline-block;
      vertical-align: bottom;
      position: relative; }
  .menu-panel__archive-list {
    list-style-type: none; }
    .menu-panel__archive-list-item {
      -webkit-box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      -moz-box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      display: inline-block;
      vertical-align: bottom;
      width: 155px;
      position: relative;
      margin-left: -10px;
      z-index: 1; }
      .menu-panel__archive-list-item:first-child {
        margin-left: 20px; }
      .menu-panel__archive-list-item:after {
        background: url("/res/images/menu/menu-panel__archive-item-shadow.png") no-repeat scroll 0 0/100% auto transparent;
        content: "";
        height: 90px;
        position: absolute;
        width: 250px;
        display: block; }
      .menu-panel__archive-list-item-current {
        z-index: 2; }
        .menu-panel__archive-list-item-current:before {
          border: 3px solid #2e98ff;
          content: "";
          height: 223px;
          position: absolute;
          right: 0;
          width: 152px;
          z-index: 2; }
        .menu-panel__archive-list-item-current:after {
          background-image: url("/res/images/menu/menu-panel__archive-item-current-shadow.png");
          width: 244px; }
      .menu-panel__archive-list-item-free a:before {
        content: "";
        background: url(/res/images/menu/menu-panel__archive-list-item-free.png) no-repeat scroll right 0/100% auto transparent;
        display: block;
        height: 85px;
        margin-left: 3px;
        position: absolute;
        right: 0;
        top: 0px;
        width: 82px;
        z-index: 3; }
      .menu-panel__archive-list-item-free a:after {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        moz-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        content: attr(data-freetext);
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        right: -24px;
        top: -2px;
        font-size: 12px;
        color: #000;
        z-index: 4;
        height: 19px;
        width: 82px; }
      .menu-panel__archive-list-item a {
        border-bottom: none;
        position: relative;
        display: block;
        white-space: normal; }
      .menu-panel__archive-list-item__month {
        position: absolute; }
      .menu-panel__archive-list-item__year {
        position: absolute; }
      .menu-panel__archive-list-item__text {
        position: absolute; }
      .menu-panel__archive-list-item__number {
        position: absolute; }
      .menu-panel__archive-list-item__test {
        display: inline-block;
        position: absolute;
        text-align: center;
        width: 155px;
        bottom: -38px;
        left: 0;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1;
        font-size: 13px; }
        .menu-panel__archive-list-item__test-done {
          height: 30px;
          padding-left: 26px;
          padding-right: 3px;
          padding-top: 1px;
          font-size: 30px;
          color: #a6a6a6; }
          .menu-panel__archive-list-item__test-done:before {
            background: url(/res/images/menu/menu-panel__archive-item-star.png) no-repeat scroll -19px 0/52px 15px transparent;
            content: "";
            height: 15px;
            margin-left: -16px;
            margin-top: 6px;
            overflow: hidden;
            position: absolute;
            width: 15px; }
          .menu-panel__archive-list-item__test-done__some {
            color: #000; }
            .menu-panel__archive-list-item__test-done__some:before {
              background-position: left 0; }
  .menu-panel__archive-navigation-block {
    left: 0;
    right: 0;
    background-color: #fff;
    height: 81px; }
  .menu-panel__archive-scrollarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    height: 23px;
    overflow: hidden; }
    .menu-panel__archive-scrollarea-left {
      background-color: #fff;
      height: 17px;
      position: absolute;
      top: 3px;
      left: 1px;
      cursor: pointer;
      width: 34px;
      z-index: 2; }
      .menu-panel__archive-scrollarea-left:before {
        content: "...";
        left: 12px;
        position: absolute;
        top: -6px; }
    .menu-panel__archive-scrollarea-right {
      background-color: #fff;
      height: 17px;
      position: absolute;
      top: 3px;
      right: 1px;
      cursor: pointer;
      width: 34px;
      z-index: 2; }
      .menu-panel__archive-scrollarea-right:after {
        content: "...";
        right: 12px;
        position: absolute;
        top: -6px; }
    .menu-panel__archive-scrollarea-wrapper {
      left: 650px;
      right: 21px;
      bottom: 18px;
      position: absolute;
      z-index: 2; }
    .menu-panel__archive-scrollarea-year-list {
      position: relative;
      white-space: nowrap;
      width: 100%;
      display: inline;
      cursor: pointer; }
      .menu-panel__archive-scrollarea-year-list-item {
        margin-left: -4px;
        text-align: center;
        height: 5px;
        border-right: 1px solid #e6e6e6;
        white-space: nowrap;
        min-width: 90px;
        display: inline-block;
        list-style: none; }
        .menu-panel__archive-scrollarea-year-list-item-text {
          color: #000;
          font-size: 11px;
          font-weight: normal;
          text-shadow: none !important;
          height: 22px;
          display: inline;
          font-family: Arial, Helvetica, sans-serif; }
  .menu-panel__archive-scrollbar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    height: 23px;
    top: 0;
    width: 88px;
    background-color: #fd3;
    border: 1px solid #e5c72e;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px; }
    .menu-panel__archive-scrollbar.left {
      left: 0; }
    .menu-panel__archive-scrollbar.right {
      right: 0; }
  .menu-panel__archive-packet {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(56, 77, 92, 0.6); }
    .menu-panel__archive-packet-text {
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-family: "Times New Roman", serif;
      text-align: center;
      font-size: 22px;
      line-height: 20px;
      position: absolute;
      left: 50%;
      top: 50%; }
    .menu-panel__archive-packet img {
      width: 100%; }

/* ==================================================================== */
/* READ PROGRESS (circle icons)
/* =================================================================== */
.read-progress-icon {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 27px;
  height: 26px;
  background-image: url("/res/images/read-progress/read-progress-icon-small.png");
  background-position: 0 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat; }
  .read-progress-icon__0 {
    background-position: 0px 0; }
  .read-progress-icon__1 {
    background-position: -27px 0; }
  .read-progress-icon__2 {
    background-position: -54px 0; }
  .read-progress-icon__3 {
    background-position: -81px 0; }
  .read-progress-icon__4 {
    background-position: -108px 0; }
  .read-progress-icon__5 {
    background-position: -135px 0; }
  .read-progress-icon__6 {
    background-position: -162px 0; }
  .read-progress-icon__7 {
    background-position: -189px 0; }
  .read-progress-icon__8 {
    background-position: -216px 0; }
  .read-progress-icon__9 {
    background-position: -243px 0; }
  .read-progress-icon__10 {
    background-position: -270px 0; }
  .read-progress-icon__11 {
    background-position: -297px 0; }
  .read-progress-icon__12 {
    background-position: -324px 0; }
  .read-progress-icon__13 {
    background-position: -351px 0; }
  .read-progress-icon__14 {
    background-position: -378px 0; }
  .read-progress-icon__15 {
    background-position: -405px 0; }
  .read-progress-icon__16 {
    background-position: -432px 0; }
  .read-progress-icon__17 {
    background-position: -459px 0; }
  .read-progress-icon__18 {
    background-position: -486px 0; }
  .read-progress-icon__19 {
    background-position: -513px 0; }
  .read-progress-icon__20 {
    background-position: -540px 0; }
  .read-progress-icon__21 {
    background-position: -567px 0; }
  .read-progress-icon__22 {
    background-position: -594px 0; }
  .read-progress-icon__23 {
    background-position: -621px 0; }
  .read-progress-icon__24 {
    background-position: -648px 0; }
  .read-progress-icon__25 {
    background-position: -675px 0; }
  .read-progress-icon__26 {
    background-position: -702px 0; }
  .read-progress-icon__27 {
    background-position: -729px 0; }
  .read-progress-icon__28 {
    background-position: -756px 0; }
  .read-progress-icon__29 {
    background-position: -783px 0; }
  .read-progress-icon__30 {
    background-position: -810px 0; }
  .read-progress-icon__31 {
    background-position: -837px 0; }
  .read-progress-icon__32 {
    background-position: -864px 0; }
  .read-progress-icon__33 {
    background-position: -891px 0; }
  .read-progress-icon__34 {
    background-position: -918px 0; }
  .read-progress-icon__35 {
    background-position: -945px 0; }
  .read-progress-icon__36 {
    background-position: -972px 0; }
  .read-progress-icon__37 {
    background-position: -999px 0; }
  .read-progress-icon__38 {
    background-position: -1026px 0; }
  .read-progress-icon__39 {
    background-position: -1053px 0; }
  .read-progress-icon__40 {
    background-position: -1080px 0; }
  .read-progress-icon__41 {
    background-position: -1107px 0; }
  .read-progress-icon__42 {
    background-position: -1134px 0; }
  .read-progress-icon__43 {
    background-position: -1161px 0; }
  .read-progress-icon__44 {
    background-position: -1188px 0; }
  .read-progress-icon__45 {
    background-position: -1215px 0; }
  .read-progress-icon__46 {
    background-position: -1242px 0; }
  .read-progress-icon__47 {
    background-position: -1269px 0; }
  .read-progress-icon__48 {
    background-position: -1296px 0; }
  .read-progress-icon__49 {
    background-position: -1323px 0; }
  .read-progress-icon__50 {
    background-position: -1350px 0; }
  .read-progress-icon__51 {
    background-position: -1377px 0; }
  .read-progress-icon__52 {
    background-position: -1404px 0; }
  .read-progress-icon__53 {
    background-position: -1431px 0; }
  .read-progress-icon__54 {
    background-position: -1458px 0; }
  .read-progress-icon__55 {
    background-position: -1485px 0; }
  .read-progress-icon__56 {
    background-position: -1512px 0; }
  .read-progress-icon__57 {
    background-position: -1539px 0; }
  .read-progress-icon__58 {
    background-position: -1566px 0; }
  .read-progress-icon__59 {
    background-position: -1593px 0; }
  .read-progress-icon__60 {
    background-position: -1620px 0; }
  .read-progress-icon__61 {
    background-position: -1647px 0; }
  .read-progress-icon__62 {
    background-position: -1674px 0; }
  .read-progress-icon__63 {
    background-position: -1701px 0; }
  .read-progress-icon__64 {
    background-position: -1728px 0; }
  .read-progress-icon__65 {
    background-position: -1755px 0; }
  .read-progress-icon__66 {
    background-position: -1782px 0; }
  .read-progress-icon__67 {
    background-position: -1809px 0; }
  .read-progress-icon__68 {
    background-position: -1836px 0; }
  .read-progress-icon__69 {
    background-position: -1863px 0; }
  .read-progress-icon__70 {
    background-position: -1890px 0; }
  .read-progress-icon__71 {
    background-position: -1917px 0; }
  .read-progress-icon__72 {
    background-position: -1944px 0; }
  .read-progress-icon__73 {
    background-position: -1971px 0; }
  .read-progress-icon__74 {
    background-position: -1998px 0; }
  .read-progress-icon__75 {
    background-position: -2025px 0; }
  .read-progress-icon__76 {
    background-position: -2052px 0; }
  .read-progress-icon__77 {
    background-position: -2079px 0; }
  .read-progress-icon__78 {
    background-position: -2106px 0; }
  .read-progress-icon__79 {
    background-position: -2133px 0; }
  .read-progress-icon__80 {
    background-position: -2160px 0; }
  .read-progress-icon__81 {
    background-position: -2187px 0; }
  .read-progress-icon__82 {
    background-position: -2214px 0; }
  .read-progress-icon__83 {
    background-position: -2241px 0; }
  .read-progress-icon__84 {
    background-position: -2268px 0; }
  .read-progress-icon__85 {
    background-position: -2295px 0; }
  .read-progress-icon__86 {
    background-position: -2322px 0; }
  .read-progress-icon__87 {
    background-position: -2349px 0; }
  .read-progress-icon__88 {
    background-position: -2376px 0; }
  .read-progress-icon__89 {
    background-position: -2403px 0; }
  .read-progress-icon__90 {
    background-position: -2430px 0; }
  .read-progress-icon__91 {
    background-position: -2457px 0; }
  .read-progress-icon__92 {
    background-position: -2484px 0; }
  .read-progress-icon__93 {
    background-position: -2511px 0; }
  .read-progress-icon__94 {
    background-position: -2538px 0; }
  .read-progress-icon__95 {
    background-position: -2565px 0; }
  .read-progress-icon__96 {
    background-position: -2592px 0; }
  .read-progress-icon__97 {
    background-position: -2619px 0; }
  .read-progress-icon__98 {
    background-position: -2646px 0; }
  .read-progress-icon__99 {
    background-position: -2673px 0; }
  .read-progress-icon__100 {
    background-position: -2700px 0; }
  .read-progress-icon.menu-panel__archive-list-item__read {
    top: 0;
    left: -13px; }
  .read-progress-icon.menu-panel__content__menu-item__read-statistic-icon {
    right: 0;
    top: 50%; }
  .read-progress-icon.menu-block-common-item__content-read-progress {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -12px;
    top: -2px; }
  .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityon;
    animation-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-block-common-item-active .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityoff;
    animation-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0); }

.read-progress-block {
  padding-bottom: 60px;
  padding-top: 40px; }

.read-progress-icon-big {
  background-image: url("/res/images/read-progress/read-progress-icon-big.png");
  background-size: auto auto;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-position: left center;
  width: 53px;
  height: 53px; }
  .read-progress-icon-big__0 {
    background-position: 0px center; }
  .read-progress-icon-big__1 {
    background-position: -53px center; }
  .read-progress-icon-big__2 {
    background-position: -106px center; }
  .read-progress-icon-big__3 {
    background-position: -159px center; }
  .read-progress-icon-big__4 {
    background-position: -212px center; }
  .read-progress-icon-big__5 {
    background-position: -265px center; }
  .read-progress-icon-big__6 {
    background-position: -318px center; }
  .read-progress-icon-big__7 {
    background-position: -371px center; }
  .read-progress-icon-big__8 {
    background-position: -424px center; }
  .read-progress-icon-big__9 {
    background-position: -477px center; }
  .read-progress-icon-big__10 {
    background-position: -530px center; }
  .read-progress-icon-big__11 {
    background-position: -583px center; }
  .read-progress-icon-big__12 {
    background-position: -636px center; }
  .read-progress-icon-big__13 {
    background-position: -689px center; }
  .read-progress-icon-big__14 {
    background-position: -742px center; }
  .read-progress-icon-big__15 {
    background-position: -795px center; }
  .read-progress-icon-big__16 {
    background-position: -848px center; }
  .read-progress-icon-big__17 {
    background-position: -901px center; }
  .read-progress-icon-big__18 {
    background-position: -954px center; }
  .read-progress-icon-big__19 {
    background-position: -1007px center; }
  .read-progress-icon-big__20 {
    background-position: -1060px center; }
  .read-progress-icon-big__21 {
    background-position: -1113px center; }
  .read-progress-icon-big__22 {
    background-position: -1166px center; }
  .read-progress-icon-big__23 {
    background-position: -1219px center; }
  .read-progress-icon-big__24 {
    background-position: -1272px center; }
  .read-progress-icon-big__25 {
    background-position: -1325px center; }
  .read-progress-icon-big__26 {
    background-position: -1378px center; }
  .read-progress-icon-big__27 {
    background-position: -1431px center; }
  .read-progress-icon-big__28 {
    background-position: -1484px center; }
  .read-progress-icon-big__29 {
    background-position: -1537px center; }
  .read-progress-icon-big__30 {
    background-position: -1590px center; }
  .read-progress-icon-big__31 {
    background-position: -1643px center; }
  .read-progress-icon-big__32 {
    background-position: -1696px center; }
  .read-progress-icon-big__33 {
    background-position: -1749px center; }
  .read-progress-icon-big__34 {
    background-position: -1802px center; }
  .read-progress-icon-big__35 {
    background-position: -1855px center; }
  .read-progress-icon-big__36 {
    background-position: -1908px center; }
  .read-progress-icon-big__37 {
    background-position: -1961px center; }
  .read-progress-icon-big__38 {
    background-position: -2014px center; }
  .read-progress-icon-big__39 {
    background-position: -2067px center; }
  .read-progress-icon-big__40 {
    background-position: -2120px center; }
  .read-progress-icon-big__41 {
    background-position: -2173px center; }
  .read-progress-icon-big__42 {
    background-position: -2226px center; }
  .read-progress-icon-big__43 {
    background-position: -2279px center; }
  .read-progress-icon-big__44 {
    background-position: -2332px center; }
  .read-progress-icon-big__45 {
    background-position: -2385px center; }
  .read-progress-icon-big__46 {
    background-position: -2438px center; }
  .read-progress-icon-big__47 {
    background-position: -2491px center; }
  .read-progress-icon-big__48 {
    background-position: -2544px center; }
  .read-progress-icon-big__49 {
    background-position: -2597px center; }
  .read-progress-icon-big__50 {
    background-position: -2650px center; }
  .read-progress-icon-big__51 {
    background-position: -2703px center; }
  .read-progress-icon-big__52 {
    background-position: -2756px center; }
  .read-progress-icon-big__53 {
    background-position: -2809px center; }
  .read-progress-icon-big__54 {
    background-position: -2862px center; }
  .read-progress-icon-big__55 {
    background-position: -2915px center; }
  .read-progress-icon-big__56 {
    background-position: -2968px center; }
  .read-progress-icon-big__57 {
    background-position: -3021px center; }
  .read-progress-icon-big__58 {
    background-position: -3074px center; }
  .read-progress-icon-big__59 {
    background-position: -3127px center; }
  .read-progress-icon-big__60 {
    background-position: -3180px center; }
  .read-progress-icon-big__61 {
    background-position: -3233px center; }
  .read-progress-icon-big__62 {
    background-position: -3286px center; }
  .read-progress-icon-big__63 {
    background-position: -3339px center; }
  .read-progress-icon-big__64 {
    background-position: -3392px center; }
  .read-progress-icon-big__65 {
    background-position: -3445px center; }
  .read-progress-icon-big__66 {
    background-position: -3498px center; }
  .read-progress-icon-big__67 {
    background-position: -3551px center; }
  .read-progress-icon-big__68 {
    background-position: -3604px center; }
  .read-progress-icon-big__69 {
    background-position: -3657px center; }
  .read-progress-icon-big__70 {
    background-position: -3710px center; }
  .read-progress-icon-big__71 {
    background-position: -3763px center; }
  .read-progress-icon-big__72 {
    background-position: -3816px center; }
  .read-progress-icon-big__73 {
    background-position: -3869px center; }
  .read-progress-icon-big__74 {
    background-position: -3922px center; }
  .read-progress-icon-big__75 {
    background-position: -3975px center; }
  .read-progress-icon-big__76 {
    background-position: -4028px center; }
  .read-progress-icon-big__77 {
    background-position: -4081px center; }
  .read-progress-icon-big__78 {
    background-position: -4134px center; }
  .read-progress-icon-big__79 {
    background-position: -4187px center; }
  .read-progress-icon-big__80 {
    background-position: -4240px center; }
  .read-progress-icon-big__81 {
    background-position: -4293px center; }
  .read-progress-icon-big__82 {
    background-position: -4346px center; }
  .read-progress-icon-big__83 {
    background-position: -4399px center; }
  .read-progress-icon-big__84 {
    background-position: -4452px center; }
  .read-progress-icon-big__85 {
    background-position: -4505px center; }
  .read-progress-icon-big__86 {
    background-position: -4558px center; }
  .read-progress-icon-big__87 {
    background-position: -4611px center; }
  .read-progress-icon-big__88 {
    background-position: -4664px center; }
  .read-progress-icon-big__89 {
    background-position: -4717px center; }
  .read-progress-icon-big__90 {
    background-position: -4770px center; }
  .read-progress-icon-big__91 {
    background-position: -4823px center; }
  .read-progress-icon-big__92 {
    background-position: -4876px center; }
  .read-progress-icon-big__93 {
    background-position: -4929px center; }
  .read-progress-icon-big__94 {
    background-position: -4982px center; }
  .read-progress-icon-big__95 {
    background-position: -5035px center; }
  .read-progress-icon-big__96 {
    background-position: -5088px center; }
  .read-progress-icon-big__97 {
    background-position: -5141px center; }
  .read-progress-icon-big__98 {
    background-position: -5194px center; }
  .read-progress-icon-big__99 {
    background-position: -5247px center; }
  .read-progress-icon-big__100 {
    background-position: -5300px center; }
  .read-progress-icon-big-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 53px;
    height: 53px; }

.read-progress-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 21px;
  padding-left: 10px; }

/* ==================================================================== */
/* BOOKMARKS PANEL
/* =================================================================== */
.menu-panel__bookmarks {
  -webkit-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 485px;
  background-color: #fffced;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: left;
  overflow-x: auto;
  z-index: 20003;
  font-size: 13px;
  line-height: 14px; }
  .menu-panel__bookmarks-preloader {
    background: url(/res/images/preloaders/preloader__bookmarks.gif) no-repeat scroll center center #fffced; }
  .menu-panel__bookmarks-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-top: 21px;
    padding-left: 40px;
    padding-bottom: 19px;
    font-weight: bold; }
  .menu-panel__bookmarks-group {
    margin-bottom: 30px; }
    .menu-panel__bookmarks-group-header {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: bold;
      padding-left: 40px;
      color: #000;
      margin-bottom: 7px; }
    .menu-panel__bookmarks-group-list {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #000; }
      .menu-panel__bookmarks-group-list li {
        padding: 0;
        line-height: 18px;
        position: relative;
        cursor: pointer; }
        .menu-panel__bookmarks-group-list li:hover {
          cursor: default;
          background-color: #bfe4ff; }
          .menu-panel__bookmarks-group-list li:hover > .menu-panel__bookmarks-remove {
            display: block; }
      .menu-panel__bookmarks-group-list a, .menu-panel__bookmarks-group-list a:hover {
        color: #000;
        text-decoration: none;
        border: none;
        padding: 6px 70px 6px 40px;
        position: relative;
        display: block; }
  .menu-panel__bookmarks-remove {
    background: url(../images/menu/menu-panel__bookmarks-remove-icon.png) no-repeat scroll 0 0 transparent;
    height: 16px;
    position: absolute;
    right: 32px;
    top: 5px;
    width: 12px;
    display: none;
    z-index: 1;
    background-size: 26px; }
    .menu-panel__bookmarks-remove:hover {
      cursor: pointer;
      background-position: right top; }
  .menu-panel__bookmarks-id2-link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 58px;
    margin-left: 40px;
    margin-right: 70px;
    padding-top: 9px;
    padding-bottom: 10px;
    position: relative;
    text-align: center; }
    .menu-panel__bookmarks-id2-link:hover {
      border-color: rgba(0, 0, 0, 0.6); }
  .menu-panel__bookmarks-empty {
    background: url(/res/images/menu/menu-panel__bookmarks-empty-icon.png) no-repeat scroll center top transparent;
    height: 86px;
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -43px; }
    .menu-panel__bookmarks-empty-text {
      color: #b7b7b7;
      font-size: 13px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-family: Arial, Helvetica, sans-serif; }

/* ==================================================================== */
/* BOOKMARKS PANEL
/* =================================================================== */
.menu-panel__catalogue {
  -webkit-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 730px;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: left;
  overflow-x: auto;
  z-index: 20003;
  font-size: 13px;
  line-height: 14px; }
  .menu-panel__catalogue-preloader {
    background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center #fff; }
  .menu-panel__catalogue-recommended {
    margin: 0 -10px -15px -20px;
    padding: 26px 10px 0 40px;
    border-top: 1px solid #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
    clear: left; }
  .menu-panel__catalogue-menu {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1) ;
    position: absolute;
    width: 730px;
    height: 64px;
    left: 0;
    top: 0;
    z-index: 20004; }
    .menu-panel__catalogue-menu-wrapper {
      position: absolute;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 30px; }
    .menu-panel__catalogue-menu .menu-block-common-item:first-child {
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-left-radius: 4px; }
    .menu-panel__catalogue-menu .menu-block-common-item:last-child {
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-right-radius: 4px; }
  .menu-panel__catalogue-container-list {
    margin: 0 0 13px 0;
    padding: 0;
    list-style: none; }
    .menu-panel__catalogue-container-list-wrapper {
      position: absolute;
      left: 0;
      top: 64px;
      bottom: 0;
      right: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 31px 10px 51px 20px; }
    .menu-panel__catalogue-container-list li {
      line-height: 0;
      position: relative;
      float: left;
      margin: 30px 5px 0 20px;
      height: 170px; }
      .menu-panel__catalogue-container-list li a {
        position: relative;
        display: block;
        border: none; }
        .menu-panel__catalogue-container-list li a > .tips {
          white-space: nowrap;
          z-index: 20005; }
        .menu-panel__catalogue-container-list li a:hover > .tips {
          display: block; }
      .menu-panel__catalogue-container-list li img {
        -webkit-box-shadow: -2px 1px 4px 0px rgba(0, 0, 0, 0.2) ;
        -moz-box-shadow: -2px 1px 4px 0px rgba(0, 0, 0, 0.2) ;
        box-shadow: -2px 1px 4px 0px rgba(0, 0, 0, 0.2) ;
        display: block; }
    .menu-panel__catalogue-container-list-item__new:after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: #e50000;
      content: "✓";
      display: block;
      right: -15px;
      position: absolute;
      top: -16px;
      height: 30px;
      width: 30px;
      background-size: 100%;
      cursor: pointer;
      color: #fff;
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      font-family: Arial, Helvetica, sans-serif; }
    .menu-panel__catalogue-container-list-item__newspaper {
      margin: 30px 5px 0 20px;
      height: 170px; }
    .menu-panel__catalogue-container-list-item__current a:after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      border: 3px solid #2e98ff;
      cursor: pointer; }
    .menu-panel__catalogue-container-list-item__book a:before {
      content: "";
      display: block;
      position: absolute;
      height: 6px;
      width: 6px;
      bottom: -7px;
      left: 10px;
      border-top: 1px solid #c29320;
      background-color: #f0b62b; }
    .menu-panel__catalogue-container-menu-wrapper ~ .menu-panel__catalogue-container-list-wrapper {
      padding-left: 269px; }
  .menu-panel__catalogue-container-menu {
    margin: 18px 0 65px 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%; }
    .menu-panel__catalogue-container-menu li {
      padding: 5px 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 19px;
      cursor: pointer; }
    .menu-panel__catalogue-container-menu-wrapper {
      position: absolute;
      left: 0;
      top: 64px;
      bottom: 0;
      overflow: auto;
      width: 250px;
      background-color: #f4f4f4;
      border-right: 1px solid #dddddd;
      z-index: 1; }
    .menu-panel__catalogue-container-menu-item__active {
      background-color: #bfe4ff; }

/* ==================================================================== */
/* TEST PANEL
/* =================================================================== */
.menu-block-common-item__test {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #363636;
  margin-left: 20px;
  border: none;
  padding-top: 0;
  cursor: default;
  display: none; }
  .menu-block-common-item__test:hover .test-info-block {
    display: block;
    animation-name: hopacityon;
    animation-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-block-common-item__test-wrapper-number {
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px; }
    .menu-block-common-item__test-wrapper-number .fa-star {
      font-size: 12px; }
  .menu-block-common-item__test-wrapper-text {
    color: rgba(255, 255, 255, 0.6); }
  .menu-block-common-item__test-completed .menu-block-common-item__test-wrapper-number {
    color: #fcd437; }

.test-info-block {
  background: #fbf1d0;
  background: -webkit-linear-gradient(top, #fbf1d0 0%, #fde2a0 99%);
  background: -moz-linear-gradient(to bottom, #fbf1d0 0%, #fde2a0 99%);
  background: linear-gradient(to bottom, #fbf1d0 0%, #fde2a0 99%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 15px -5px rgba(51, 25, 5, 0.7) ;
  -moz-box-shadow: 0 10px 15px -5px rgba(51, 25, 5, 0.7) ;
  box-shadow: 0 10px 15px -5px rgba(51, 25, 5, 0.7) ;
  height: 85px;
  padding: 11px 37px 10px 26px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #000;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  /*@include opacity(0);*/
  display: none;
  /*&:hover {
        display: block;
        animation-name: hopacityon;
        animation-duration: .3s;
        @include opacity(1);
    }*/ }
  .test-info-block:before {
    content: "";
    position: absolute;
    left: 50%;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #fde2a0 transparent transparent transparent;
    background-image: none;
    height: auto;
    width: auto;
    top: 100%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .test-info-block-wrapper {
    display: table;
    width: 100%;
    height: 100%; }
  .test-info-block-star {
    display: table-cell;
    padding-right: 21px;
    vertical-align: middle; }
  .test-info-block-text {
    display: table-cell;
    position: relative;
    vertical-align: middle; }
    .test-info-block-text-big {
      font-size: 30px; }

/*Удалить
#onlineConsultant {
    display: none;
}*/
.chat-btn .test-balloon {
  display: block;
  visibility: hidden;
  position: absolute;
  right: 40px;
  width: 1px;
  border: 0 none;
  overflow: hidden;
  white-space: nowrap;
  padding: 7px 0px; }

.chat-btn .balloon {
  /*
    display: block;
    visibility: hidden;
    */
  display: none;
  position: absolute;
  overflow: visible;
  right: 36px;
  bottom: -1px;
  border: 1px solid #8c9ca9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #d6dfe6;
  cursor: default;
  text-shadow: none;
  color: black;
  padding: 7px 10px;
  line-height: 16px;
  font-size: 13px; }

.chat-btn .balloon:after {
  /*    background: transparent url('/i/chat/balloon-tail.png');  */
  position: absolute;
  width: 13px;
  height: 9px;
  right: -13px;
  bottom: 10px;
  content: ''; }

/* кнопка чата
/* -------------------------------------------------- */
.main-footer-menu {
  min-height: 28px; }

.main-footer-menu ul .btn-assistant {
  margin-left: 0;
  position: fixed;
  right: 18px; }

.main-footer-menu ul .btn-assistant a {
  padding-left: 18px;
  /*    background: url("/img-new/buttons/toolbar-icons-bss.png") 0 -109px no-repeat;   */ }

.main-footer-menu ul .btn-assistant.online a {
  background-position: 0 -83px; }

.chat-message__text.not-recieved {
  color: #a9a9a9; }

.chat-message__text.sent {
  color: #a9a9a9;
  position: relative; }

.chat-message__text.sent .chat-message__date {
  display: none; }

.chat-message__text.sent:after {
  position: absolute;
  top: 1px;
  right: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("/res/images/chat/ajax-loader-ok.gif") no-repeat 0 0; }

.chat-message__text.sent.to.customer:after {
  display: none; }

/* scroller (baron)
/* -------------------------------------------------- */
.scroller {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

.scroller::-webkit-scrollbar {
  width: 0; }

.scroller__track {
  display: none;
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 10px;
  bottom: 10px;
  width: 10px; }

.scroller__bar {
  position: absolute;
  z-index: 1;
  right: 2px;
  width: 6px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.scroller_state_active .scroller__track {
  display: block; }

.scroller_state_active .scroller__bar {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear; }

.scroller_state_active:hover .scroller__bar {
  background: rgba(0, 0, 0, 0.3); }

/* slider
/* -------------------------------------------------- */
.slider {
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  height: auto;
  -webkit-transition: left 0.4s linear;
  -moz-transition: left 0.4s linear;
  -ms-transition: left 0.4s linear;
  -o-transition: left 0.4s linear;
  transition: left 0.4s linear; }

.slider__in {
  position: relative;
  height: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.slider__column {
  float: left;
  overflow: hidden;
  position: relative;
  height: 100%;
  margin-right: -100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.slider_viewtype_right {
  z-index: 20003;
  left: auto;
  -moz-box-shadow: -8px 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: -8px 0 16px rgba(0, 0, 0, 0.4); }

.slider_viewtype_right .slider__in {
  padding: 86px 0 249px;
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -ms-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear; }

.page-index .slider_viewtype_right .slider__in {
  padding-top: 166px; }

.page-index.warning .slider_viewtype_right .slider__in {
  padding-top: 196px; }

.page-index.warning.scrolled .slider_viewtype_right .slider__in {
  padding-top: 164px; }

.scrolled .slider_viewtype_right .slider__in {
  padding-top: 134px; }

.warning .slider_viewtype_right .slider__in,
.holdreq-enabled .slider_viewtype_right .slider__in {
  padding-top: 237px; }

.warning.holdreq-enabled .slider_viewtype_right .slider__in {
  padding-top: 267px; }

.warning.scrolled .slider_viewtype_right .slider__in,
.holdreq-enabled.scrolled .slider_viewtype_right .slider__in {
  padding-top: 164px; }

.warning.holdreq-enabled.scrolled .slider_viewtype_right .slider__in {
  padding-top: 194px; }

.scrolled .slider_viewtype_right .chat__header {
  top: 58px; }

.warning .slider_viewtype_right .chat__header,
.holdreq-enabled .slider_viewtype_right .chat__header {
  top: 161px; }

.warning.holdreq-enabled .slider_viewtype_right .chat__header {
  top: 191px; }

.warning.scrolled .slider_viewtype_right .chat__header,
.holdreq-enabled.scrolled .slider_viewtype_right .chat__header {
  top: 88px; }

.warning.holdreq-enabled.scrolled .slider_viewtype_right .chat__header {
  top: 118px; }

.slider_viewtype_bottom {
  top: auto;
  width: 80%;
  -webkit-transition: bottom 0.4s linear;
  -moz-transition: bottom 0.4s linear;
  -ms-transition: bottom 0.4s linear;
  -o-transition: bottom 0.4s linear;
  transition: bottom 0.4s linear; }

/* chat
/* -------------------------------------------------- */
.chat {
  right: -358px;
  width: 338px;
  font: 13px / 18px Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  color: #000; }

.chat .close {
  top: 10px;
  right: 10px;
  z-index: 101; }

.page-index .chat .close {
  top: 100px; }

.scrolled .chat .close {
  top: 68px; }

.warning .chat .close {
  top: 170px; }

.warning.scrolled .chat .close {
  top: 97px; }

.holdreq-enabled .chat .close {
  top: 171px; }

.holdreq-enabled.warning .chat .close {
  top: 200px; }

.holdreq-enabled.scrolled .chat .close {
  top: 98px; }

.holdreq-enabled.warning.scrolled .chat .close {
  top: 127px; }

.chat__header {
  top: 0px;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  height: 86px;
  padding: 10px 29px 10px 16px;
  background: #e0e4ec; }

.page-index .chat__header {
  top: 90px; }

.warning .chat__header {
  top: 161px; }

@media only screen and (min-width: 1700px) {
  .chat__header {
    top: 0 !important; }
  .permanent-warning .chat__header,
  .warning .chat__header {
    top: 29px !important; }
  .chat .slider__in {
    padding-top: 86px !important; }
  .warning .chat .slider__in {
    padding-top: 115px !important; }
  .chat .close {
    top: 10px !important; }
  .permanent-warning .chat .b-close,
  .warning .chat .close {
    top: 39px !important; } }

.chat__body {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.chat__body:before,
.chat__body:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
  content: "";
  display: block; }

.chat__body:before {
  top: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%); }

.lt-ie9 .chat__body:before {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); }

.chat__body:after {
  bottom: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.lt-ie9 .chat__body:before {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

.chat__reply {
  height: 196px;
  padding: 10px 20px 10px 16px; }

.chat-expert {
  display: none; }

.chat-expert__image {
  float: left;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #a3a8ae; }

.chat-expert__text {
  overflow: hidden;
  font-weight: bold;
  text-align: left; }

.chat-expert__name {
  display: block; }

.chat-expert__descr {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.chat-warning {
  display: none;
  text-align: left; }

.chat-messages {
  padding: 0.769em 20px 0.769em 16px; }

.chat-message__title {
  clear: both;
  float: left;
  font: 16px / 18px Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: bold;
  margin: -1px 5px 0 0; }

.chat-message__title:after {
  content: ": ";
  display: inline; }

.chat-message__text {
  position: relative;
  margin: 0 0 0.571em;
  padding-right: 25px;
  word-wrap: break-word;
  text-align: left; }

.chat-message__text_type_notice {
  /*font-style: italic;*/ }

.chat-message__text_type_error {
  font-style: italic;
  color: #e41a00; }

.chat-message__text:last-child {
  margin-bottom: 0; }

.chat-message__date {
  font: 9px / 18px Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  text-align: right;
  color: #a9a9a9;
  position: absolute;
  right: 0;
  bottom: -0.111em; }

/* form_type_chat-reply
/* -------------------------------------------------- */
.form_type_chat-reply {
  position: relative;
  padding: 0; }

.form_type_chat-reply .form-field_type_textarea {
  width: 100%;
  height: 130px;
  padding: 5px 20px 5px 8px;
  color: #999999;
  background: transparent;
  resize: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  overflow-y: scroll; }

.form_type_chat-reply .form-field_type_submit {
  position: absolute;
  z-index: 1000;
  right: 12px;
  bottom: 3px;
  width: 24px;
  font-size: 0;
  color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer; }

.form_type_chat-reply.form_state_active {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }

.form_type_chat-reply.form_state_active .form-field_type_textarea {
  color: #000000; }

.form_type_chat-reply.form_state_active .form-field_type_submit {
  opacity: 0.6; }

.form_type_chat-reply.disabled {
  opacity: 0.5; }

.form_type_chat-reply.disabled > * {
  cursor: default; }

/*скрываем стилями livetex*/
.lt-chat,
.chat-window,
#tuna_1,
.loadtesting-ok #onlineConsultant,
.loadtesting-ok .btn-assistant {
  display: none !important; }

.chat__evaliation {
  font: normal 11px/22px Arial, sans-serif;
  text-align: right;
  margin: 10px 0 12px;
  display: none; }

.chat__evaliation-label {
  font-weight: bold;
  color: #5a5a5a;
  float: left; }

.chat__evaliation-btn {
  display: inline-block;
  width: 98px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  text-align: center;
  position: relative;
  z-index: 0;
  text-decoration: none;
  cursor: pointer; }

.chat__evaliation-btn:hover {
  text-decoration: none; }

.chat__evaliation-btn-good {
  color: #107810;
  border-radius: 3px 0 0 3px;
  right: -1px; }

.chat__evaliation-btn-good:hover {
  color: #107810;
  border-color: #a2cba2;
  z-index: 1; }

.chat__evaliation-btn-good.active {
  border-color: #a2cba2;
  background: #e4fae4;
  z-index: 1;
  cursor: default; }

.chat__evaliation-btn-bad {
  color: #f05b4d;
  border-radius: 0 3px 3px 0; }

.chat__evaliation-btn-bad:hover {
  color: #f05b4d;
  border-color: #e5c1c1;
  z-index: 1; }

.chat__evaliation-btn-bad.active {
  border-color: #e5c1c1;
  background: #fbe6e6;
  z-index: 1;
  cursor: default; }

.ico_content_enter {
  background: url("/res/images/chat/ico.png") no-repeat scroll -100px 0 transparent; }

.ico {
  border: medium none;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  width: 20px; }

.b-loader {
  background: url("/res/images/chat/b-loader.gif") no-repeat scroll 0 0 transparent;
  display: none;
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  width: 32px; }

.btn-assistant {
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 13px;
  position: fixed;
  text-align: center;
  z-index: 1701;
  border: 1px solid #454546;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 14px 4px 0;
  background-color: #5d5d5d; }

.btn-assistant:hover {
  background-color: #19191A;
  border-color: #19191A; }

.btn-assistant.active {
  background: none repeat scroll 0 0 #fd3;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #000; }

.btn-assistant span {
  background: url("/res/images/chat/toolbar-icons-KSS.png") no-repeat scroll 10px -108px transparent;
  padding-left: 27px; }

.btn-assistant.online span {
  background-position: 10px -212px; }

.close {
  background: url("/res/images/chat/close.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 17px;
  position: absolute;
  width: 17px;
  z-index: 101;
  top: 10px; }

.close:hover {
  background-position: -17px 0; }

.chat-message__btn {
  display: inline-block;
  padding: 2px 16px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  background-color: #1a9200;
  border: 1px solid #127c00;
  color: white;
  margin: 0 0 0.571em; }

.chat-message__btn:hover {
  background-color: #157900;
  border-color: #0e6200;
  color: white;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s; }

