﻿@import "../../_variables.scss";
/* ==================================================================== */
/* BOOKMARKS PANEL
/* =================================================================== */
$panel-width: 730px;
$menu-height: 64px;
$panel-background-color: $white-link-color;
$panel-text-left-padding: 40px;
$book-indikator-border: #c29320;
$book-indikator-bgr: #f0b62b;
$galka-cover: #e50000;
$container-menu-width: 250px;
$border-right-color: #dddddd;
$background-menu-panel-color: #f4f4f4;
$border-color: #e6e6e6;

.menu-panel__catalogue {
    @include box-shadow(10px, 0, 20px, 0, rgba(0,0,0,0.2));
    font-family: $sans;
    width: $panel-width;
    background-color: $panel-background-color;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: left;
    overflow-x: auto;
    z-index: 20003;
    font-size: 13px;
    line-height: 14px;

    &-preloader {
        background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center $panel-background-color;
    }

    &-recommended {
        margin: 0 -10px -15px -20px;
        padding: 26px 10px 0 40px;
        border-top: 1px solid $border-color;
        font-family: $sans;
        font-size: 13px;
        line-height: 19px;
        clear: left;
    }

    &-menu {
        background-color: $panel-background-color;
        @include box-shadow(0px, 3px, 10px, 0px, rgba(0, 0, 0, 0.1));
        position: absolute;
        width: $panel-width;
        height: $menu-height;
        left: 0;
        top: 0;
        z-index: 20004;

        &-wrapper {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            left: $navi-button-block-left;
        }

        & .menu-block-common-item {

            &:first-child {
                @include border-radius-side(left, top, 4px);
                @include border-radius-side(left, bottom, 4px);
            }

            &:last-child {
                @include border-radius-side(right, top, 4px);
                @include border-radius-side(right, bottom, 4px);
            }
        }
    }

    &-container {

        &-list {
            margin: 0 0 13px 0;
            padding: 0;
            list-style: none;

            &-wrapper {
                position: absolute;
                left: 0;
                top: $menu-height;
                bottom: 0;
                right: 0;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 31px 10px 51px 20px;
            }

            & li {
                line-height: 0;
                position: relative;
                float: left;
                margin: 30px 5px 0 20px;
                height: 170px;

                & a {
                    position: relative;
                    display: block;
                    border: none;

                    & > .tips {
                        white-space: nowrap;
                        z-index: 20005;
                    }

                    &:hover {
                        & > .tips {
                            display: block;
                        }
                    }
                }

                & img {
                    @include box-shadow(-2px, 1px, 4px, 0px, rgba(0, 0, 0, 0.2));
                    display: block;
                }
            }

            &-item {
                &__new {

                    &:after {
                        @include border-radius(50%);
                        background-color: $galka-cover;
                        content: "✓";
                        display: block;
                        right: -15px;
                        position: absolute;
                        top: -16px;
                        height: 30px;
                        width: 30px;
                        background-size: 100%;
                        cursor: pointer;
                        color: $white-link-color;
                        text-align: center;
                        font-size: 22px;
                        line-height: 28px;
                        font-family: $sans;
                    }
                }

                &__newspaper {
                    margin: 30px 5px 0 20px;
                    height: 170px;
                }

                &__current {
                    & a {
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            border: 3px solid $blue-link-color;
                            cursor: pointer;
                        }
                    }
                }

                &__book {
                    & a {

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            height: 6px;
                            width: 6px;
                            bottom: -7px;
                            left: 10px;
                            border-top: 1px solid $book-indikator-border;
                            background-color: $book-indikator-bgr;
                        }
                    }
                }
            }

            &-wrapper {
                .menu-panel__catalogue-container-menu-wrapper ~ & {
                    padding-left: $container-menu-width + 19px;
                }
            }
        }

        &-menu {
            margin: 18px 0 65px 0;
            padding: 0;
            list-style: none;
            float: left;
            width: 100%;

            & li {
                padding: 5px 15px;
                font-family: $sans;
                font-size: 13px;
                line-height: 19px;
                cursor: pointer;
            }

            &-wrapper {
                position: absolute;
                left: 0;
                top: 64px;
                bottom: 0;
                overflow: auto;
                width: $container-menu-width;
                background-color: $background-menu-panel-color;
                border-right: 1px solid $border-right-color;
                z-index: 1;
            }

            &-item {

                &__active {
                    background-color: $blue-background-color;
                }
            }
        }
    }
}
