@import "../../_variables.scss";
/* ==================================================================== */
/* BOOKMARKS PANEL
/* =================================================================== */
$panel-width: 485px;
$panel-background-color: #fffced;
$list-bgr-color: #bfe4ff;
$panel-text-left-padding: 40px;
$empty-text-color: #b7b7b7;

.menu-panel__bookmarks {
    @include box-shadow(10px, 0, 20px, 0, rgba(0,0,0,0.2));
    font-family: $sans;
    width: $panel-width;
    background-color: $panel-background-color;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: left;
    overflow-x: auto;
    z-index: 20003;
    font-size: 13px;
    line-height: 14px;

    &-preloader {
        background: url(/res/images/preloaders/preloader__bookmarks.gif) no-repeat scroll center center $panel-background-color;
    }

    &-header {
        font-family: $sans;
        font-size: 19px;
        padding-top: 21px;
        padding-left: $panel-text-left-padding;
        padding-bottom: 19px;
        font-weight: bold;
    }

    &-group {
        margin-bottom: 30px;

        &-header {
            font-family: $sans;
            font-size: 13px;
            font-weight: bold;
            padding-left: $panel-text-left-padding;
            color: $black-link-color;
            margin-bottom: 7px;
        }

        &-list {
            font-family: $sans;
            font-size: 13px;
            color: $black-link-color;

            & li {
                padding: 0;
                line-height: 18px;
                position: relative;
                cursor: pointer;

                &:hover {
                    cursor: default;
                    background-color: $list-bgr-color;

                    & > .menu-panel__bookmarks-remove {
                        display: block;
                    }
                }
            }

            & a, & a:hover {
                color: $black-link-color;
                text-decoration: none;
                border: none;
                padding: 6px 70px 6px $panel-text-left-padding;
                position: relative;
                display: block;
            }
        }
    }

    &-remove {
        background: url(../images/menu/menu-panel__bookmarks-remove-icon.png) no-repeat scroll 0 0 transparent;
        height: 16px;
        position: absolute;
        right: 32px;
        top: 5px;
        width: 12px;
        display: none;
        z-index: 1;
        background-size: 26px;

        &:hover {
            cursor: pointer;
            background-position: right top;
        }
    }

    &-id2-link {
        @include border-radius(5px);
        @include link($black-link-color);
        border-style: solid;
        border-width: 1px;
        display: block;
        font-family: $sans;
        font-size: 14px;
        margin-bottom: 58px;
        margin-left: $panel-text-left-padding;
        margin-right: 70px;
        padding-top: 9px;
        padding-bottom: 10px;
        position: relative;
        text-align: center;
    }

    &-empty {
        background: url(/res/images/menu/menu-panel__bookmarks-empty-icon.png) no-repeat scroll center top transparent;
        height: 86px;
        width: 100%;
        top: 50%;
        position: absolute;
        margin-top: -43px;

        &-text {
            color: $empty-text-color;
            font-size: 13px;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            font-family: $sans;
        }
    }
}
