﻿/* ==================================================================== */
/* ARCHIVE PANEL
/* =================================================================== */
.menu-panel__archive {
  position: fixed;
  text-align: left;
  z-index: 20003;
  bottom: 0;
  right: 0;
  width: 100%; }
  .menu-panel__archive-year-list {
    list-style-type: none;
    display: table;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: -4px; }
    .menu-panel__archive-year-list-item {
      margin-right: 20px;
      display: inline-block;
      vertical-align: bottom;
      position: relative; }
  .menu-panel__archive-list {
    list-style-type: none; }
    .menu-panel__archive-list-item {
      -webkit-box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      -moz-box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      box-shadow: -16px 0 5px 0 rgba(0, 0, 0, 0.2) ;
      display: inline-block;
      vertical-align: bottom;
      width: 155px;
      position: relative;
      margin-left: -10px;
      z-index: 1; }
      .menu-panel__archive-list-item:first-child {
        margin-left: 20px; }
      .menu-panel__archive-list-item:after {
        background: url("/res/images/menu/menu-panel__archive-item-shadow.png") no-repeat scroll 0 0/100% auto transparent;
        content: "";
        height: 90px;
        position: absolute;
        width: 250px;
        display: block; }
      .menu-panel__archive-list-item-current {
        z-index: 2; }
        .menu-panel__archive-list-item-current:before {
          border: 3px solid #2e98ff;
          content: "";
          height: 223px;
          position: absolute;
          right: 0;
          width: 152px;
          z-index: 2; }
        .menu-panel__archive-list-item-current:after {
          background-image: url("/res/images/menu/menu-panel__archive-item-current-shadow.png");
          width: 244px; }
      .menu-panel__archive-list-item-free a:before {
        content: "";
        background: url(/res/images/menu/menu-panel__archive-list-item-free.png) no-repeat scroll right 0/100% auto transparent;
        display: block;
        height: 85px;
        margin-left: 3px;
        position: absolute;
        right: 0;
        top: 0px;
        width: 82px;
        z-index: 3; }
      .menu-panel__archive-list-item-free a:after {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        moz-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        content: attr(data-freetext);
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        right: -24px;
        top: -2px;
        font-size: 12px;
        color: #000;
        z-index: 4;
        height: 19px;
        width: 82px; }
      .menu-panel__archive-list-item a {
        border-bottom: none;
        position: relative;
        display: block;
        white-space: normal; }
      .menu-panel__archive-list-item__month {
        position: absolute; }
      .menu-panel__archive-list-item__year {
        position: absolute; }
      .menu-panel__archive-list-item__text {
        position: absolute; }
      .menu-panel__archive-list-item__number {
        position: absolute; }
      .menu-panel__archive-list-item__test {
        display: inline-block;
        position: absolute;
        text-align: center;
        width: 155px;
        bottom: -38px;
        left: 0;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1;
        font-size: 13px; }
        .menu-panel__archive-list-item__test-done {
          height: 30px;
          padding-left: 26px;
          padding-right: 3px;
          padding-top: 1px;
          font-size: 30px;
          color: #a6a6a6; }
          .menu-panel__archive-list-item__test-done:before {
            background: url(/res/images/menu/menu-panel__archive-item-star.png) no-repeat scroll -19px 0/52px 15px transparent;
            content: "";
            height: 15px;
            margin-left: -16px;
            margin-top: 6px;
            overflow: hidden;
            position: absolute;
            width: 15px; }
          .menu-panel__archive-list-item__test-done__some {
            color: #000; }
            .menu-panel__archive-list-item__test-done__some:before {
              background-position: left 0; }
  .menu-panel__archive-navigation-block {
    left: 0;
    right: 0;
    background-color: #fff;
    height: 81px; }
  .menu-panel__archive-scrollarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    height: 23px;
    overflow: hidden; }
    .menu-panel__archive-scrollarea-left {
      background-color: #fff;
      height: 17px;
      position: absolute;
      top: 3px;
      left: 1px;
      cursor: pointer;
      width: 34px;
      z-index: 2; }
      .menu-panel__archive-scrollarea-left:before {
        content: "...";
        left: 12px;
        position: absolute;
        top: -6px; }
    .menu-panel__archive-scrollarea-right {
      background-color: #fff;
      height: 17px;
      position: absolute;
      top: 3px;
      right: 1px;
      cursor: pointer;
      width: 34px;
      z-index: 2; }
      .menu-panel__archive-scrollarea-right:after {
        content: "...";
        right: 12px;
        position: absolute;
        top: -6px; }
    .menu-panel__archive-scrollarea-wrapper {
      left: 650px;
      right: 21px;
      bottom: 18px;
      position: absolute;
      z-index: 2; }
    .menu-panel__archive-scrollarea-year-list {
      position: relative;
      white-space: nowrap;
      width: 100%;
      display: inline;
      cursor: pointer; }
      .menu-panel__archive-scrollarea-year-list-item {
        margin-left: -4px;
        text-align: center;
        height: 5px;
        border-right: 1px solid #e6e6e6;
        white-space: nowrap;
        min-width: 90px;
        display: inline-block;
        list-style: none; }
        .menu-panel__archive-scrollarea-year-list-item-text {
          color: #000;
          font-size: 11px;
          font-weight: normal;
          text-shadow: none !important;
          height: 22px;
          display: inline;
          font-family: Arial, Helvetica, sans-serif; }
  .menu-panel__archive-scrollbar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15) ;
    height: 23px;
    top: 0;
    width: 88px;
    background-color: #fd3;
    border: 1px solid #e5c72e;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px; }
    .menu-panel__archive-scrollbar.left {
      left: 0; }
    .menu-panel__archive-scrollbar.right {
      right: 0; }
  .menu-panel__archive-packet {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(56, 77, 92, 0.6); }
    .menu-panel__archive-packet-text {
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-family: "Times New Roman", serif;
      text-align: center;
      font-size: 22px;
      line-height: 20px;
      position: absolute;
      left: 50%;
      top: 50%; }
    .menu-panel__archive-packet img {
      width: 100%; }

/* ==================================================================== */
/* READ PROGRESS (circle icons)
/* =================================================================== */
.read-progress-icon {
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 27px;
  height: 26px;
  background-image: url("/res/images/read-progress/read-progress-icon-small.png");
  background-position: 0 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat; }
  .read-progress-icon__0 {
    background-position: 0px 0; }
  .read-progress-icon__1 {
    background-position: -27px 0; }
  .read-progress-icon__2 {
    background-position: -54px 0; }
  .read-progress-icon__3 {
    background-position: -81px 0; }
  .read-progress-icon__4 {
    background-position: -108px 0; }
  .read-progress-icon__5 {
    background-position: -135px 0; }
  .read-progress-icon__6 {
    background-position: -162px 0; }
  .read-progress-icon__7 {
    background-position: -189px 0; }
  .read-progress-icon__8 {
    background-position: -216px 0; }
  .read-progress-icon__9 {
    background-position: -243px 0; }
  .read-progress-icon__10 {
    background-position: -270px 0; }
  .read-progress-icon__11 {
    background-position: -297px 0; }
  .read-progress-icon__12 {
    background-position: -324px 0; }
  .read-progress-icon__13 {
    background-position: -351px 0; }
  .read-progress-icon__14 {
    background-position: -378px 0; }
  .read-progress-icon__15 {
    background-position: -405px 0; }
  .read-progress-icon__16 {
    background-position: -432px 0; }
  .read-progress-icon__17 {
    background-position: -459px 0; }
  .read-progress-icon__18 {
    background-position: -486px 0; }
  .read-progress-icon__19 {
    background-position: -513px 0; }
  .read-progress-icon__20 {
    background-position: -540px 0; }
  .read-progress-icon__21 {
    background-position: -567px 0; }
  .read-progress-icon__22 {
    background-position: -594px 0; }
  .read-progress-icon__23 {
    background-position: -621px 0; }
  .read-progress-icon__24 {
    background-position: -648px 0; }
  .read-progress-icon__25 {
    background-position: -675px 0; }
  .read-progress-icon__26 {
    background-position: -702px 0; }
  .read-progress-icon__27 {
    background-position: -729px 0; }
  .read-progress-icon__28 {
    background-position: -756px 0; }
  .read-progress-icon__29 {
    background-position: -783px 0; }
  .read-progress-icon__30 {
    background-position: -810px 0; }
  .read-progress-icon__31 {
    background-position: -837px 0; }
  .read-progress-icon__32 {
    background-position: -864px 0; }
  .read-progress-icon__33 {
    background-position: -891px 0; }
  .read-progress-icon__34 {
    background-position: -918px 0; }
  .read-progress-icon__35 {
    background-position: -945px 0; }
  .read-progress-icon__36 {
    background-position: -972px 0; }
  .read-progress-icon__37 {
    background-position: -999px 0; }
  .read-progress-icon__38 {
    background-position: -1026px 0; }
  .read-progress-icon__39 {
    background-position: -1053px 0; }
  .read-progress-icon__40 {
    background-position: -1080px 0; }
  .read-progress-icon__41 {
    background-position: -1107px 0; }
  .read-progress-icon__42 {
    background-position: -1134px 0; }
  .read-progress-icon__43 {
    background-position: -1161px 0; }
  .read-progress-icon__44 {
    background-position: -1188px 0; }
  .read-progress-icon__45 {
    background-position: -1215px 0; }
  .read-progress-icon__46 {
    background-position: -1242px 0; }
  .read-progress-icon__47 {
    background-position: -1269px 0; }
  .read-progress-icon__48 {
    background-position: -1296px 0; }
  .read-progress-icon__49 {
    background-position: -1323px 0; }
  .read-progress-icon__50 {
    background-position: -1350px 0; }
  .read-progress-icon__51 {
    background-position: -1377px 0; }
  .read-progress-icon__52 {
    background-position: -1404px 0; }
  .read-progress-icon__53 {
    background-position: -1431px 0; }
  .read-progress-icon__54 {
    background-position: -1458px 0; }
  .read-progress-icon__55 {
    background-position: -1485px 0; }
  .read-progress-icon__56 {
    background-position: -1512px 0; }
  .read-progress-icon__57 {
    background-position: -1539px 0; }
  .read-progress-icon__58 {
    background-position: -1566px 0; }
  .read-progress-icon__59 {
    background-position: -1593px 0; }
  .read-progress-icon__60 {
    background-position: -1620px 0; }
  .read-progress-icon__61 {
    background-position: -1647px 0; }
  .read-progress-icon__62 {
    background-position: -1674px 0; }
  .read-progress-icon__63 {
    background-position: -1701px 0; }
  .read-progress-icon__64 {
    background-position: -1728px 0; }
  .read-progress-icon__65 {
    background-position: -1755px 0; }
  .read-progress-icon__66 {
    background-position: -1782px 0; }
  .read-progress-icon__67 {
    background-position: -1809px 0; }
  .read-progress-icon__68 {
    background-position: -1836px 0; }
  .read-progress-icon__69 {
    background-position: -1863px 0; }
  .read-progress-icon__70 {
    background-position: -1890px 0; }
  .read-progress-icon__71 {
    background-position: -1917px 0; }
  .read-progress-icon__72 {
    background-position: -1944px 0; }
  .read-progress-icon__73 {
    background-position: -1971px 0; }
  .read-progress-icon__74 {
    background-position: -1998px 0; }
  .read-progress-icon__75 {
    background-position: -2025px 0; }
  .read-progress-icon__76 {
    background-position: -2052px 0; }
  .read-progress-icon__77 {
    background-position: -2079px 0; }
  .read-progress-icon__78 {
    background-position: -2106px 0; }
  .read-progress-icon__79 {
    background-position: -2133px 0; }
  .read-progress-icon__80 {
    background-position: -2160px 0; }
  .read-progress-icon__81 {
    background-position: -2187px 0; }
  .read-progress-icon__82 {
    background-position: -2214px 0; }
  .read-progress-icon__83 {
    background-position: -2241px 0; }
  .read-progress-icon__84 {
    background-position: -2268px 0; }
  .read-progress-icon__85 {
    background-position: -2295px 0; }
  .read-progress-icon__86 {
    background-position: -2322px 0; }
  .read-progress-icon__87 {
    background-position: -2349px 0; }
  .read-progress-icon__88 {
    background-position: -2376px 0; }
  .read-progress-icon__89 {
    background-position: -2403px 0; }
  .read-progress-icon__90 {
    background-position: -2430px 0; }
  .read-progress-icon__91 {
    background-position: -2457px 0; }
  .read-progress-icon__92 {
    background-position: -2484px 0; }
  .read-progress-icon__93 {
    background-position: -2511px 0; }
  .read-progress-icon__94 {
    background-position: -2538px 0; }
  .read-progress-icon__95 {
    background-position: -2565px 0; }
  .read-progress-icon__96 {
    background-position: -2592px 0; }
  .read-progress-icon__97 {
    background-position: -2619px 0; }
  .read-progress-icon__98 {
    background-position: -2646px 0; }
  .read-progress-icon__99 {
    background-position: -2673px 0; }
  .read-progress-icon__100 {
    background-position: -2700px 0; }
  .read-progress-icon.menu-panel__archive-list-item__read {
    top: 0;
    left: -13px; }
  .read-progress-icon.menu-panel__content__menu-item__read-statistic-icon {
    right: 0;
    top: 50%; }
  .read-progress-icon.menu-block-common-item__content-read-progress {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -12px;
    top: -2px; }
  .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityon;
    animation-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-block-common-item-active .read-progress-icon.menu-block-common-item-showed {
    animation-name: hopacityoff;
    animation-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0); }

.read-progress-block {
  padding-bottom: 60px;
  padding-top: 40px; }

.read-progress-icon-big {
  background-image: url("/res/images/read-progress/read-progress-icon-big.png");
  background-size: auto auto;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-position: left center;
  width: 53px;
  height: 53px; }
  .read-progress-icon-big__0 {
    background-position: 0px center; }
  .read-progress-icon-big__1 {
    background-position: -53px center; }
  .read-progress-icon-big__2 {
    background-position: -106px center; }
  .read-progress-icon-big__3 {
    background-position: -159px center; }
  .read-progress-icon-big__4 {
    background-position: -212px center; }
  .read-progress-icon-big__5 {
    background-position: -265px center; }
  .read-progress-icon-big__6 {
    background-position: -318px center; }
  .read-progress-icon-big__7 {
    background-position: -371px center; }
  .read-progress-icon-big__8 {
    background-position: -424px center; }
  .read-progress-icon-big__9 {
    background-position: -477px center; }
  .read-progress-icon-big__10 {
    background-position: -530px center; }
  .read-progress-icon-big__11 {
    background-position: -583px center; }
  .read-progress-icon-big__12 {
    background-position: -636px center; }
  .read-progress-icon-big__13 {
    background-position: -689px center; }
  .read-progress-icon-big__14 {
    background-position: -742px center; }
  .read-progress-icon-big__15 {
    background-position: -795px center; }
  .read-progress-icon-big__16 {
    background-position: -848px center; }
  .read-progress-icon-big__17 {
    background-position: -901px center; }
  .read-progress-icon-big__18 {
    background-position: -954px center; }
  .read-progress-icon-big__19 {
    background-position: -1007px center; }
  .read-progress-icon-big__20 {
    background-position: -1060px center; }
  .read-progress-icon-big__21 {
    background-position: -1113px center; }
  .read-progress-icon-big__22 {
    background-position: -1166px center; }
  .read-progress-icon-big__23 {
    background-position: -1219px center; }
  .read-progress-icon-big__24 {
    background-position: -1272px center; }
  .read-progress-icon-big__25 {
    background-position: -1325px center; }
  .read-progress-icon-big__26 {
    background-position: -1378px center; }
  .read-progress-icon-big__27 {
    background-position: -1431px center; }
  .read-progress-icon-big__28 {
    background-position: -1484px center; }
  .read-progress-icon-big__29 {
    background-position: -1537px center; }
  .read-progress-icon-big__30 {
    background-position: -1590px center; }
  .read-progress-icon-big__31 {
    background-position: -1643px center; }
  .read-progress-icon-big__32 {
    background-position: -1696px center; }
  .read-progress-icon-big__33 {
    background-position: -1749px center; }
  .read-progress-icon-big__34 {
    background-position: -1802px center; }
  .read-progress-icon-big__35 {
    background-position: -1855px center; }
  .read-progress-icon-big__36 {
    background-position: -1908px center; }
  .read-progress-icon-big__37 {
    background-position: -1961px center; }
  .read-progress-icon-big__38 {
    background-position: -2014px center; }
  .read-progress-icon-big__39 {
    background-position: -2067px center; }
  .read-progress-icon-big__40 {
    background-position: -2120px center; }
  .read-progress-icon-big__41 {
    background-position: -2173px center; }
  .read-progress-icon-big__42 {
    background-position: -2226px center; }
  .read-progress-icon-big__43 {
    background-position: -2279px center; }
  .read-progress-icon-big__44 {
    background-position: -2332px center; }
  .read-progress-icon-big__45 {
    background-position: -2385px center; }
  .read-progress-icon-big__46 {
    background-position: -2438px center; }
  .read-progress-icon-big__47 {
    background-position: -2491px center; }
  .read-progress-icon-big__48 {
    background-position: -2544px center; }
  .read-progress-icon-big__49 {
    background-position: -2597px center; }
  .read-progress-icon-big__50 {
    background-position: -2650px center; }
  .read-progress-icon-big__51 {
    background-position: -2703px center; }
  .read-progress-icon-big__52 {
    background-position: -2756px center; }
  .read-progress-icon-big__53 {
    background-position: -2809px center; }
  .read-progress-icon-big__54 {
    background-position: -2862px center; }
  .read-progress-icon-big__55 {
    background-position: -2915px center; }
  .read-progress-icon-big__56 {
    background-position: -2968px center; }
  .read-progress-icon-big__57 {
    background-position: -3021px center; }
  .read-progress-icon-big__58 {
    background-position: -3074px center; }
  .read-progress-icon-big__59 {
    background-position: -3127px center; }
  .read-progress-icon-big__60 {
    background-position: -3180px center; }
  .read-progress-icon-big__61 {
    background-position: -3233px center; }
  .read-progress-icon-big__62 {
    background-position: -3286px center; }
  .read-progress-icon-big__63 {
    background-position: -3339px center; }
  .read-progress-icon-big__64 {
    background-position: -3392px center; }
  .read-progress-icon-big__65 {
    background-position: -3445px center; }
  .read-progress-icon-big__66 {
    background-position: -3498px center; }
  .read-progress-icon-big__67 {
    background-position: -3551px center; }
  .read-progress-icon-big__68 {
    background-position: -3604px center; }
  .read-progress-icon-big__69 {
    background-position: -3657px center; }
  .read-progress-icon-big__70 {
    background-position: -3710px center; }
  .read-progress-icon-big__71 {
    background-position: -3763px center; }
  .read-progress-icon-big__72 {
    background-position: -3816px center; }
  .read-progress-icon-big__73 {
    background-position: -3869px center; }
  .read-progress-icon-big__74 {
    background-position: -3922px center; }
  .read-progress-icon-big__75 {
    background-position: -3975px center; }
  .read-progress-icon-big__76 {
    background-position: -4028px center; }
  .read-progress-icon-big__77 {
    background-position: -4081px center; }
  .read-progress-icon-big__78 {
    background-position: -4134px center; }
  .read-progress-icon-big__79 {
    background-position: -4187px center; }
  .read-progress-icon-big__80 {
    background-position: -4240px center; }
  .read-progress-icon-big__81 {
    background-position: -4293px center; }
  .read-progress-icon-big__82 {
    background-position: -4346px center; }
  .read-progress-icon-big__83 {
    background-position: -4399px center; }
  .read-progress-icon-big__84 {
    background-position: -4452px center; }
  .read-progress-icon-big__85 {
    background-position: -4505px center; }
  .read-progress-icon-big__86 {
    background-position: -4558px center; }
  .read-progress-icon-big__87 {
    background-position: -4611px center; }
  .read-progress-icon-big__88 {
    background-position: -4664px center; }
  .read-progress-icon-big__89 {
    background-position: -4717px center; }
  .read-progress-icon-big__90 {
    background-position: -4770px center; }
  .read-progress-icon-big__91 {
    background-position: -4823px center; }
  .read-progress-icon-big__92 {
    background-position: -4876px center; }
  .read-progress-icon-big__93 {
    background-position: -4929px center; }
  .read-progress-icon-big__94 {
    background-position: -4982px center; }
  .read-progress-icon-big__95 {
    background-position: -5035px center; }
  .read-progress-icon-big__96 {
    background-position: -5088px center; }
  .read-progress-icon-big__97 {
    background-position: -5141px center; }
  .read-progress-icon-big__98 {
    background-position: -5194px center; }
  .read-progress-icon-big__99 {
    background-position: -5247px center; }
  .read-progress-icon-big__100 {
    background-position: -5300px center; }
  .read-progress-icon-big-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 53px;
    height: 53px; }

.read-progress-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 21px;
  padding-left: 10px; }

