@import "../../_variables.scss";
/* ==================================================================== */
/* TEST PANEL
/* =================================================================== */
$button-test-background-color: #363636;
$button-test-text-color: rgba(255, 255, 255, 0.6);
$button-test-completed-color: #fcd437;
$test-block-shadow: rgba(51, 25, 5, 0.7);
$arrow-color: #fde2a0;

.menu-block-common-item__test {
    @include border-radius(4px);
    background-color: $button-test-background-color;
    margin-left: 20px;
    border: none;
    padding-top: 0;
    cursor: default;
    display: none;

    &:hover {
        & .test-info-block {
            display: block;
            animation-name: hopacityon;
            animation-duration: .3s;
            @include opacity(1);
        }
    }

    &-wrapper {
        &-number {
            font-size: 16px;
            line-height: 20px;
            padding-left: 5px;

            & .fa-star {
                font-size: 12px;
            }
        }

        &-text {
            color: $button-test-text-color;
        }
    }

    &-completed {
        & .menu-block-common-item__test-wrapper-number {
            color: $button-test-completed-color;
        }
    }
}

.test-info-block {
    @include linear-gradient(to bottom, rgb(251, 241, 208) 0%, rgb(253, 226, 160) 99%);
    @include border-radius(5px);
    @include box-shadow(0, 10px, 15px, -5px, $test-block-shadow);
    height: 85px;
    padding: 11px 37px 10px 26px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    @include translate(-50%, 0);
    color: $black-link-color;
    white-space: nowrap;
    font-family: $sans;
    font-size: 16px;
    line-height: 20px;

    /*@include opacity(0);*/
    display: none;

    /*&:hover {
        display: block;
        animation-name: hopacityon;
        animation-duration: .3s;
        @include opacity(1);
    }*/

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: $arrow-color transparent transparent transparent;
        background-image: none;
        height: auto;
        width: auto;
        top: 100%;
        @include translate(-50%, 0);
    }

    &-wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }

    &-star {
        display: table-cell;
        padding-right: 21px;
        vertical-align: middle;
    }

    &-text {
        display: table-cell;
        position: relative;
        vertical-align: middle;

        &-big {
            font-size: 30px;
        }
    }
}
