@import "../../_variables.scss";
/* ==================================================================== */
/* ARCHIVE PANEL
/* =================================================================== */
$border-color: #e6e6e6;
$scrollbar-color: #fd3;
$scrollbar-border-color: #e5c72e;
$test-not-completed-color: #a6a6a6;
$scrollarea-height: 23px;
$packet-background-color: rgba(56,77,92,.6);

.menu-panel__archive {
    position: fixed;
    text-align: left;
    z-index: 20003;
    bottom: 0;
    right: 0;
    width: 100%;

    &-year {
        &-list {
            list-style-type: none;
            display: table;
            white-space: nowrap;
            font-size: 0;
            margin-bottom: -4px;

            &-item {
                margin-right: 20px;
                display: inline-block;
                vertical-align: bottom;
                position: relative;
            }
        }
    }

    &-list {
        list-style-type: none;

        &-block {
        }

        &-item {
            @include box-shadow(-16px, 0, 5px, 0,rgba(0,0,0,.2));
            display: inline-block;
            vertical-align: bottom;
            width: 155px;
            position: relative;
            margin-left: -10px;
            z-index: 1;

            &:first-child {
                margin-left: 20px;
            }

            &:after {
                background: url("/res/images/menu/menu-panel__archive-item-shadow.png") no-repeat scroll 0 0 / 100% auto transparent;
                content: "";
                height: 90px;
                position: absolute;
                width: 250px;
                display: block;
            }

            &-current {
                z-index: 2;

                &:before {
                    border: 3px solid $blue-link-color;
                    content: "";
                    height: 223px;
                    position: absolute;
                    right: 0;
                    width: 152px;
                    z-index: 2;
                }

                &:after {
                    background-image: url("/res/images/menu/menu-panel__archive-item-current-shadow.png");
                    width: 244px;
                }
            }

            &-free {               

                & a:before {
                    content: "";
                    background: url(/res/images/menu/menu-panel__archive-list-item-free.png) no-repeat scroll right 0 / 100% auto transparent;
                    display: block;
                    height: 85px;
                    margin-left: 3px;
                    position: absolute;
                    right: 0;
                    top: 0px;
                    width: 82px;
                    z-index: 3;
                }

                & a:after {
                    @include rotate(45);
                    @include transform-origin(top left);
                    content: attr(data-freetext);
                    font-family: $sans;
                    position: absolute;
                    text-align: center;
                    right: -24px;
                    top: -2px;
                    font-size: 12px;
                    color: $black-link-color;
                    z-index: 4;
                    height: 19px;
                    width: 82px;
                }
            }

            & a {
                border-bottom: none;
                position: relative;
                display: block;
                white-space: normal;
            }

            &__month {
                position: absolute;
            }

            &__year {
                position: absolute;
            }

            &__text {
                position: absolute;
            }

            &__number {
                position: absolute;
            }

            &__test {
                display: inline-block;
                position: absolute;
                text-align: center;
                width: 155px;
                bottom: -38px;
                left: 0;
                font-family: $sans;
                z-index: 1;
                font-size: 13px;

                &-done {
                    height: 30px;
                    padding-left: 26px;
                    padding-right: 3px;
                    padding-top: 1px;
                    font-size: 30px;
                    color: $test-not-completed-color;

                    &:before {
                        background: url(/res/images/menu/menu-panel__archive-item-star.png) no-repeat scroll -19px 0 / 52px 15px transparent;
                        content: "";
                        height: 15px;
                        margin-left: -16px;
                        margin-top: 6px;
                        overflow: hidden;
                        position: absolute;
                        width: 15px;
                    }

                    &__some {
                        color: $black-link-color;

                        &:before {
                            background-position: left 0;
                        }
                    }
                }
            }
        }
    }

    &-navigation-block {
        left: 0;
        right: 0;
        background-color: $white-link-color;
        height: 81px;
    }

    &-scrollarea {
        @include border-radius(3px);
        background-color: $white-link-color;
        border: 1px solid $border-color;
        height: $scrollarea-height;
        overflow: hidden;

        &-left {
            background-color: $white-link-color;
            height: 17px;
            position: absolute;
            top: 3px;
            left: 1px;
            cursor: pointer;
            width: 34px;
            z-index: 2;

            &:before {
                content: "...";
                left: 12px;
                position: absolute;
                top: -6px;
            }
        }

        &-right {
            background-color: $white-link-color;
            height: 17px;
            position: absolute;
            top: 3px;
            right: 1px;
            cursor: pointer;
            width: 34px;
            z-index: 2;

            &:after {
                content: "...";
                right: 12px;
                position: absolute;
                top: -6px;
            }
        }

        &-wrapper {
            left: 650px;
            right: 21px;
            bottom: 18px;
            position: absolute;
            z-index: 2;
        }

        &-year-list {
            position: relative;
            white-space: nowrap;
            width: 100%;
            display: inline;
            cursor: pointer;

            &-item {
                margin-left: -4px;
                text-align: center;
                height: 5px;
                border-right: 1px solid $border-color;
                white-space: nowrap;
                min-width: 90px;
                display: inline-block;
                list-style: none;

                &-text {
                    color: $black-link-color;
                    font-size: 11px;
                    font-weight: normal;
                    text-shadow: none !important;
                    height: 22px;
                    display: inline;
                    font-family: $sans;
                }
            }
        }
    }

    &-scrollbar {
        @include border-radius(4px);
        @include box-shadow(0, 2px, 1px, 0, rgba(0,0,0,.15));
        height: $scrollarea-height;
        top: 0;
        width: 88px;
        background-color: $scrollbar-color;
        border: 1px solid $scrollbar-border-color;
        position: absolute;
        cursor: pointer;
        z-index: 3;
        text-align: center;
        font-size: 11px;
        font-family: $sans;
        line-height: 20px;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    &-packet {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: $packet-background-color;

        &-text {
            @include translate(-50%, -50%);
            color: $white-link-color;
            font-family: $serif;
            text-align: center;
            font-size: 22px;
            line-height: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
        }

        & img {
            width: 100%;
        }
    }
}
@import "../read-progress.scss";
