@import "../../_variables.scss";
/* ==================================================================== */
/* HEADER PANEL
/* =================================================================== */
$header-background-color: #475259;

.header-block-common {
    @include opacity(.97);
    background-color: $header-background-color;
    line-height: 21px;
    min-height: 110px;
    padding-left: $left-column-padding-left;
    padding-right: $left-column-padding-left;
    margin-bottom: 20px;
    padding-top: $top-header-height + 6px;
    z-index: 2002;
    width: 100%;

    &.header-block-common__big {
        z-index: 2003;
    }

    &-wrapper {
        position: relative;
    }

    &-top-wrapper {
        float: right;

        & > div {
            display: inline-block;
            vertical-align: top;
        }
    }

    &__main-link {
        @include border-radius(4px);
        padding: 5px 15px 0 36px;
        border: none;
        font-family: $sans;
        font-size: 13px;
        line-height: 16px;
        color: $light-gray-link-color;
        position: absolute;
        right: -18px;
        bottom: 7px;
        white-space: nowrap;
        @include translate(100%, 0);
        height: 26px;
        display: none;

        &:hover {
            & .header-block-common__main-link-background {
                @include filter(brightness, 75%);
            }
        }

        & i {
            position: absolute;
            left: 13px;
            font-size: 15px;
            top: 4px;
            z-index: 1;
        }

        & .header-block-common__main-link-text {
            z-index: 1;
            position: relative;
        }

        .header-block-common__small & {
            display: block;
        }

        &-background {
            background-color: $black-link-color;
            @include border-radius(4px);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}

//More
.header-panel__more {
    @include link($light-gray-link-color);
    font-family: $sans;
    cursor: pointer;
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 1px;
    text-transform: lowercase;
    display: none;
    margin-left: 20px;

    .header-panel__last-visible & {
        display: inline;
    }

    &-second {
        font-family: $sans;
        cursor: pointer;
        font-size: 13px;
        line-height: 16px;
        text-transform: lowercase;
        display: block;
        right: -5px;
        position: absolute;
        bottom: 13px;
        padding-left: 20px;
        visibility: hidden;

        & span {
            @include link($light-gray-link-color);
            padding-bottom: 1px;
        }
        //SMALL
        .header-block-common__small & {
            visibility: visible;
        }
    }
}

.header-panel__hide {
    @include link($light-gray-link-color);
    @include opacity(.7);
    font-family: $sans;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    bottom: 13px;
    right: 0;
    text-transform: lowercase;
    display: none;
    //Big
    .header-block-common__big & {
        display: block;
    }
}

//Logo
.header-panel__logo {
    line-height: 0;
    height: 92px;
    padding-top: 6px;

    & a {
        border: none;
        line-height: 0;
        padding-left: 10px;
        @include transition(none);
        //BIG
        .header-block-common__big & {
            padding-left: 0;
        }
    }
}

//Cover
.header-panel__cover {
    line-height: 0;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
    //BIG
    .header-block-common__big & {
        display: none;
    }

    & a {
        border: none;
        line-height: 0;
    }
}
//Animations
@keyframes opacity {
    from {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

@keyframes tocorner {
    from {
        left: 0;
        top: 0;
    }

    to {
        @include translate(-100%, -100%);
        margin-top: 40px;
        margin-left: 53px;
    }
}

@keyframes fromcorner {
    from {
        margin-top: 40px;
        margin-left: 53px;
        @include translate(-100%, -100%);
    }

    to {
        margin-top: 0;
        margin-left: 0;
        @include translate(0, 0);
    }
}


//States
//BIG .header-block-common__big {}
//MIDDLE .header-block-common__middle {}

//SMALL
.header-block-common__small {
    @include border-radius(6px);
    @include translate(-100%, -100%);
    margin-top: 40px;
    margin-left: 53px;
}

//Animation classes
.header-block-common__animate__to-big-from-middle {
    animation-name: opacity;
    animation-duration: .15s;
}

.header-block-common__animate__to-middle-from-big {
    animation-name: opacity;
    animation-duration: .18s;
}

.header-block-common__animate__to-small {
    animation-name: tocorner;
    animation-duration: .03s;
}

.header-block-common__animate__to-big-from-small {
    animation-name: fromcorner;
    animation-duration: .09s;
}



@import "header-panel__news.scss";
@import "header-panel__services.scss";
@import "header-panel__subscribe.scss";
@import "header-panel__admin.scss";
