@import "../../_variables.scss";
/* ==================================================================== */
/* HEADER PANEL ADMIN
/* =================================================================== */

.header-panel__admin {
    @include opacity(.97);
    background-color: #ebebeb;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 60px;
    font-family: $sans;
    z-index: 2500;
    margin-bottom: 10px;
    /*border-color: rgba(237, 237, 237, 0.4);
    border-bottom-style: solid;
    border-bottom-width: 1px;*/

    & ul {
        & li {
            list-style: none;
        }
    }

    &-close {
        @include border-radius(3px);
        color: $black-link-color;
        cursor: pointer;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 6px;
        left: 20px;
        z-index: 1600;
        font-size: 24px;
        text-align: center;
        border: 1px solid $black-link-color;
    }

    & a {
        @include link($black-link-color);
    }
}
