@import "../../_variables.scss";
/* ==================================================================== */
/* HEADER PANEL
/* =================================================================== */

.header-panel__news {
  position: relative;
  font-size: 13px;
  display: table-cell;
  font-family: $sans;
  & li {
      list-style-type: none;
  }
  & a {
      @include link($light-gray-link-color);
  }
}