@import "../../_variables.scss";
/* ==================================================================== */
/* HEADER PANEL
/* =================================================================== */
$item-margen-top: 15px;
$item-height: 23px;

.header-panel__services {
    position: relative;
    font-size: 13px;
    font-family: $sans;
    padding-bottom: 10px;
    padding-right: $header-services-right-space;
    overflow: hidden;
    margin-left: -10px;

    & ul {
        height: $item-margen-top + $item-height;
        position: relative;
        padding-right: 40px;
        font-size: 0;
        margin-left: 10px;
        //BIG
        .header-block-common__big & {
            height: auto;
            padding-right: 0;
        }
    }

    & li {
        list-style-type: none;
        display: inline-table;
        text-align: center;
        vertical-align: top;
        margin-top: $item-margen-top;
        margin-right: 20px;
        font-size: 13px;
        //BIG
        .header-block-common__big & {
            padding: 0 40px 0 0;
            margin-right: 0;
            margin-top: $item-margen-top + 15px;
        }

        &.header-panel__services-current {
            margin-left: -10px;
            margin-right: 10px;
            //BIG
            .header-block-common__big & {
                margin-left: -18px;
                margin-right: -18px;
            }

            & .header-panel__services-text {
                border: none;
            }

            & a {
                @include transition(none);
                @include border-radius(3px);
                padding: 5px 10px;
                background-color: rgba(0,0,0,.3);
                cursor: default;
                //BIG
                .header-block-common__big & {
                    display: block;
                    text-align: center;
                    margin-top: -10px;
                    padding: 10px 18px;
                }
            }
        }
    }

    &-image {
        display: block;
        margin: 0 auto;
        position: relative;


        &-block {
            display: block;
            line-height: 0;
            min-height: 65px;

            &-wrapper {
                display: none;
                margin: 0 auto 6px;
                line-height: 0;
                //BIG
                .header-block-common__big & {
                    display: table;
                }
            }
        }
    }

    &-text {
        @include transition($hover-links);
        @include link($light-gray-link-color);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-size: 13px;
        line-height: 16px;

        &-formatted {
            
            &-big {
                display: none;
            }
            //BIG
            .header-block-common__big &-big {
                display: inline;
            }
            .header-block-common__big &-middle {
                display: none;
            }
            //MIDDLE
            .header-block-common__middle &-middle {
                display: inline-block;
            }
        }
    }

    & a {
        border-bottom: none;
    }
}
