@import "../../_variables.scss";
/* ==================================================================== */
/* HEADER PANEL SUBSCRIBE
/* =================================================================== */

.header-panel__subscribe {
    bottom: 13px;
    position: absolute;
    right: 0;
    text-align: right;
    font-family: $sans;
    font-size: 11px;
    line-height: 17px;
    color: rgba(255,255,255,0.4);
    z-index: 1;
    //BIG
    .header-block-common__big & {
        bottom: 38px;
    }
    //SMALL
    .header-block-common__small & {
        display: none;
    }
    
    & ul {
        & li {
            list-style-type: none;

            & a {
                border: none;
                color: $light-gray-link-color;

                & span {
                    @include link($light-gray-link-color);
                }

                & .fa-clock-o {
                    padding-right: 5px;
                    color: rgba(255,255,255,0.4);
                    font-size: 14px;
                }
            }
        }
    }

    & .button-yellow {
        color: $black-link-color;
        padding: 7px 16px 8px 19px;
        margin-top: 7px;
        font-size: 14px;
        &:hover {
            border: none;
        }
    }
}