@import "../_variables.scss";
/* ==================================================================== */
/* ANNOUNCE PAGE
/* ==================================================================== */
$font: Georgia,"Times New Roman",serif;

.announce-page-block {

}

.announce {
    &__main-block {
        background-color: $black-link-color;
        text-align: center;
        padding-top: 43px;
        padding-bottom: 46px;
        margin-bottom: 59px;
        @include border-radius-side(right, top, 5px);
        @include border-radius-side(left, top, 5px);
        position: relative;

        & h1 {
            font-size: 40px;
            color: $white-link-color;
            font-weight: bold;
        }
    }

    &__list {
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 40px;

        &-item {
            margin-bottom: 36px;

            & a {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background-image: url(/res/images/index-elements/announce__list-item-icon.png);
                    background-position: left top;
                    width: 23px;
                    background-repeat: no-repeat;
                    height: 30px;
                    left: -42px;
                    top: -1px;
                    background-size: 23px;
                }
            }
        }
    }

    &__round {
        position: relative;
        overflow: hidden;
        padding-left: 50%;

        &-sticker {
            position: relative;
            background: url(/res/images/index-elements/announce-image.png) left top no-repeat;
            background-size: 100% auto;
            width: 358px;
            height: 378px;
            font-family: $font;
            color: $white-link-color;
            text-align: center;
            display: block;
            margin-left: -104px;

            &-text {
                position: relative;
                width: 208px;
                height: 208px;
                left: 0;
                top: 0;
                display: table-cell;
                vertical-align: middle;
                font-size: 18px;

                &-simple {
                    font-family: $sans;
                }

                &-day {
                    font-family: $font;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 30px;
                    padding-bottom: 22px;
                    padding-top: 17px;
                }
            }
        }
    }
}