﻿/* ==================================================================== */
/* ANNOUNCE PAGE
/* ==================================================================== */
.announce__main-block {
  background-color: #000;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 46px;
  margin-bottom: 59px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  position: relative; }
  .announce__main-block h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bold; }

.announce__list {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 40px; }
  .announce__list-item {
    margin-bottom: 36px; }
    .announce__list-item a {
      position: relative; }
      .announce__list-item a:before {
        content: "";
        position: absolute;
        background-image: url(/res/images/index-elements/announce__list-item-icon.png);
        background-position: left top;
        width: 23px;
        background-repeat: no-repeat;
        height: 30px;
        left: -42px;
        top: -1px;
        background-size: 23px; }

.announce__round {
  position: relative;
  overflow: hidden;
  padding-left: 50%; }
  .announce__round-sticker {
    position: relative;
    background: url(/res/images/index-elements/announce-image.png) left top no-repeat;
    background-size: 100% auto;
    width: 358px;
    height: 378px;
    font-family: Georgia, "Times New Roman", serif;
    color: #fff;
    text-align: center;
    display: block;
    margin-left: -104px; }
    .announce__round-sticker-text {
      position: relative;
      width: 208px;
      height: 208px;
      left: 0;
      top: 0;
      display: table-cell;
      vertical-align: middle;
      font-size: 18px; }
      .announce__round-sticker-text-simple {
        font-family: Arial, Helvetica, sans-serif; }
      .announce__round-sticker-text-day {
        font-family: Georgia, "Times New Roman", serif;
        font-weight: bold;
        font-size: 60px;
        line-height: 30px;
        padding-bottom: 22px;
        padding-top: 17px; }

