﻿/* ==================================================================== */
/* BOOK PAGE
/* ==================================================================== */
.book__main-book {
  display: table-cell;
  vertical-align: top;
  padding-right: 33px;
  padding-top: 16px; }
  .book__main-book__image-wrapper {
    position: relative;
    line-height: 1px;
    display: inline-block; }

.book__content {
  display: table-cell;
  vertical-align: top;
  line-height: 1.9; }
  .book__content-active {
    margin-left: -6px; }
    .book__content-active span {
      background-color: #bfe4ff;
      padding: 4px 6px 4px; }
  .book__content-header {
    font-size: 16px; }
    .book__content-header u {
      border-bottom: 1px dashed #000;
      cursor: pointer;
      text-decoration: none; }
  .book__content-level__1 > .book__content-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px; }
    .book__content-level__1 > .book__content-header u {
      border-bottom: none;
      cursor: text; }

.book-page-block__content {
  padding-bottom: 142px; }

.book__content-level__2 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__3 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__4 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__5 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__6 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__7 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__8 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__9 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__10 > p {
  display: none;
  margin-left: 30px; }

.book__content-level__2 > .book__content-level__3 {
  display: none;
  margin-left: 30px; }

.book__content-level__3 > .book__content-level__4 {
  display: none;
  margin-left: 30px; }

.book__content-level__4 > .book__content-level__5 {
  display: none;
  margin-left: 30px; }

.book__content-level__5 > .book__content-level__6 {
  display: none;
  margin-left: 30px; }

.book__content-level__6 > .book__content-level__7 {
  display: none;
  margin-left: 30px; }

.book__content-level__7 > .book__content-level__8 {
  display: none;
  margin-left: 30px; }

.book__content-level__8 > .book__content-level__9 {
  display: none;
  margin-left: 30px; }

.book__content-level__9 > .book__content-level__10 {
  display: none;
  margin-left: 30px; }

.book__content-level__10 > .book__content-level__11 {
  display: none;
  margin-left: 30px; }

/* ==================================================================== */
/* SEARCH FIELD SMALL
/* =================================================================== */
.search-field__small {
  z-index: 2000;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px; }
  .index-page-block__content .search-field__small {
    top: 2px; }
  .article-page-block__content .search-field__small {
    top: 70px; }
  .search-field__small > form {
    position: relative;
    width: 100%;
    display: table; }
  .search-field__small-left {
    position: relative;
    display: table-cell;
    width: 100%; }
  .search-field__small-right {
    visibility: hidden;
    display: table-cell; }
  .search-field__small.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    top: 7px; }
    .search-field__small.position-is__fixed .search-field__small-left {
      width: 1152px; }
    .search-field__small.position-is__fixed .search-field__small-right {
      min-width: 68px; }
      .search-field__small.position-is__fixed .search-field__small-right > div {
        width: calc(100% - 1172px); }
  .search-field__small-wrapper {
    position: absolute;
    right: 0; }
    .service-page-block__content .search-field__small-wrapper {
      right: 50px; }
    .index-page-block__content .search-field__small-wrapper {
      right: 33px; }
    .article-page-block__content .search-field__small-wrapper {
      right: 65px; }
  .search-field__small-input {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    height: 25px;
    padding: 0 25px 0 5px;
    width: 304px; }
    .search-field__small-input-wrapper {
      position: relative;
      font-size: 16px;
      line-height: 16px; }
  .search-field__small-submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.2); }
    .search-field__small-submit:hover {
      color: #000;
      cursor: pointer; }
  .search-field__small-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 4px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 13px;
    position: absolute;
    top: 24px;
    z-index: 1;
    max-height: 0; }
    .search-field__small-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 400px;
      top: 25px; }
    .search-field__small-tips-highlighted {
      color: #707375; }
    .search-field__small-tips-selected {
      background-color: #ededed; }
    .search-field__small-tips ul {
      list-style-type: none; }
      .search-field__small-tips ul li {
        padding: 2px 0 4px 20px;
        line-height: 16px; }
        .search-field__small-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

/* ==================================================================== */
/* BOOK COVER
/* ==================================================================== */
.book__new-book {
  position: absolute;
  right: 0; }
  .book__new-book:before {
    content: "";
    background: url(/res/images/service-elements/main-books__new-book-background.png) no-repeat scroll right transparent;
    display: block;
    height: 69px;
    position: absolute;
    top: -1px;
    width: 69px;
    z-index: 3;
    right: 0; }
  .book__new-book span {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: -13px;
    z-index: 4;
    top: 2px; }

.book__book-cover {
  position: relative;
  line-height: 1px;
  display: inline-block;
  z-index: 1; }
  .book__book-cover:before {
    content: "";
    background: url(/res/images/service-elements/main-books__book-cover-top.png) no-repeat left top 0/100% auto transparent;
    display: block;
    height: 6px;
    position: absolute;
    top: -4px;
    width: 100%;
    left: 0; }
  .book__book-cover:after {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-shadow: 0 0 21px 4px #000 ;
    -moz-box-shadow: 0 0 21px 4px #000 ;
    box-shadow: 0 0 21px 4px #000 ;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 1px;
    z-index: -1;
    right: 3px; }

.book__book-block {
  border: none;
  position: relative;
  display: inline-block;
  line-height: 0; }
  .book__book-block:before {
    background: url(/res/images/service-elements/main-books__book-cover.png) no-repeat left top transparent;
    content: "";
    position: absolute;
    width: 100%;
    height: 119px;
    left: 0;
    bottom: 0;
    z-index: 2; }

.book__main-book__image {
  display: table-cell;
  text-align: center;
  position: relative;
  vertical-align: bottom; }
  .book__main-book__image-wrapper {
    background: url(/res/images/service-elements/main-books__main-book-shelf.png) no-repeat center bottom transparent;
    width: 178px;
    position: relative;
    padding-bottom: 4px;
    z-index: 1; }
    .book__main-book__image-wrapper:before {
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: 0 -6px 37px 2px #000 ;
      -moz-box-shadow: 0 -6px 37px 2px #000 ;
      box-shadow: 0 -6px 37px 2px #000 ;
      content: "";
      position: absolute;
      width: 100%;
      bottom: -6px;
      z-index: -1;
      left: 0; }

