@import "../_variables.scss";
/* ==================================================================== */
/* BOOK PAGE
/* ==================================================================== */

.book {
    &__main-book {
        display: table-cell;
        vertical-align: top;
        padding-right: 33px;
        padding-top: 16px;

        &__image {
            &-wrapper {
                position: relative;
                line-height: 1px;
                display: inline-block;
            }
        }
    }

    &__content {
        display: table-cell;
        vertical-align: top;
        line-height: 1.9;

        &-active {
            margin-left: -6px;

            & span {
                background-color: $blue-background-color;
                padding: 4px 6px 4px;
            }
        }

        &-header {
            font-size: 16px;

            & u {
                border-bottom: 1px dashed $black-link-color;
                cursor: pointer;
                text-decoration: none;
            }
        }

        &-level__1 {
            & > .book__content-header {
                font-family: $sans;
                font-weight: bold;
                margin-top: 5px;

                & u {
                    border-bottom: none;
                    cursor: text;
                }
            }
        }
    }

    &-page-block__content {
        padding-bottom: 142px;
    }
}

@for $i from 2 through 10 {
    .book__content-level__#{$i} {
        & > p {
            display: none;
            margin-left: 30px;
        }
    }
}

@for $i from 2 through 10 {
    .book__content-level__#{$i} {
        & > .book__content-level__#{$i + 1} {
            display: none;
            margin-left: 30px;
        }
    }
}

@import "../areas/search/search-field-small.scss";
@import "../areas/book-cover.scss";
