﻿/* ==================================================================== */
/* BOOKS MAIN PAGE
/* ==================================================================== */
.books-page-block__content {
  padding-right: 50px; }

.main-books__main-book {
  padding-bottom: 33px;
  display: table; }
  .main-books__main-book__image {
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: bottom;
    padding-right: 62px; }
    .main-books__main-book__image-wrapper {
      background: url(/res/images/service-elements/main-books__main-book-shelf.png) no-repeat center bottom transparent;
      width: 178px;
      position: relative;
      padding-bottom: 4px;
      z-index: 1; }
      .main-books__main-book__image-wrapper:before {
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-box-shadow: 0 -6px 37px 2px #000 ;
        -moz-box-shadow: 0 -6px 37px 2px #000 ;
        box-shadow: 0 -6px 37px 2px #000 ;
        content: "";
        position: absolute;
        width: 100%;
        bottom: -6px;
        z-index: -1;
        left: 0; }
  .main-books__main-book__info {
    vertical-align: top;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif; }
    .main-books__main-book__info h2 {
      margin-bottom: 3px;
      font-size: 18px;
      line-height: 27px;
      font-weight: bold; }
    .main-books__main-book__info p {
      font-size: 16px;
      line-height: 22px; }

.main-books__slider {
  position: relative;
  padding-top: 6px;
  height: 168px;
  margin-bottom: 32px;
  z-index: 1; }
  .main-books__slider:before {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-shadow: 0 -6px 37px 2px #000 ;
    -moz-box-shadow: 0 -6px 37px 2px #000 ;
    box-shadow: 0 -6px 37px 2px #000 ;
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    z-index: -1;
    left: 0; }
  .main-books__slider .book__book-block:hover .tips {
    display: block; }
  .main-books__slider-wrapper {
    position: absolute;
    overflow: hidden;
    left: 43px;
    right: 43px;
    bottom: 10px;
    z-index: 1;
    padding-top: 70px; }
  .main-books__slider h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 27px;
    color: #707375;
    font-weight: normal; }
  .main-books__slider ul {
    display: table;
    white-space: nowrap;
    vertical-align: bottom; }
    .main-books__slider ul li {
      list-style-type: none;
      display: inline-block;
      padding-top: 6px;
      margin-right: 14px;
      line-height: 1px;
      vertical-align: bottom; }
  .main-books__slider-shelf {
    background: url(/res/images/service-elements/main-books__slider-shelf-center.png) repeat-x right top transparent;
    position: absolute;
    bottom: 0;
    height: 16px;
    left: 135px;
    right: 213px; }
    .main-books__slider-shelf:before {
      content: "";
      background: url(/res/images/service-elements/main-books__slider-shelf-left.png) no-repeat left top transparent;
      display: block;
      height: 16px;
      position: absolute;
      top: 0;
      width: 135px;
      left: -135px; }
    .main-books__slider-shelf:after {
      content: "";
      background: url(/res/images/service-elements/main-books__slider-shelf-right.png) no-repeat right top transparent;
      display: block;
      height: 16px;
      position: absolute;
      top: 0;
      width: 213px;
      right: -213px; }
  .main-books__slider-arrow-left, .main-books__slider-arrow-right {
    top: 88px;
    position: absolute;
    display: none; }
  .main-books__slider-arrow-right {
    right: 0; }

/* ==================================================================== */
/* SEARCH FIELD SMALL
/* =================================================================== */
.search-field__small {
  z-index: 2000;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px; }
  .index-page-block__content .search-field__small {
    top: 2px; }
  .article-page-block__content .search-field__small {
    top: 70px; }
  .search-field__small > form {
    position: relative;
    width: 100%;
    display: table; }
  .search-field__small-left {
    position: relative;
    display: table-cell;
    width: 100%; }
  .search-field__small-right {
    visibility: hidden;
    display: table-cell; }
  .search-field__small.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    top: 7px; }
    .search-field__small.position-is__fixed .search-field__small-left {
      width: 1152px; }
    .search-field__small.position-is__fixed .search-field__small-right {
      min-width: 68px; }
      .search-field__small.position-is__fixed .search-field__small-right > div {
        width: calc(100% - 1172px); }
  .search-field__small-wrapper {
    position: absolute;
    right: 0; }
    .service-page-block__content .search-field__small-wrapper {
      right: 50px; }
    .index-page-block__content .search-field__small-wrapper {
      right: 33px; }
    .article-page-block__content .search-field__small-wrapper {
      right: 65px; }
  .search-field__small-input {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    height: 25px;
    padding: 0 25px 0 5px;
    width: 304px; }
    .search-field__small-input-wrapper {
      position: relative;
      font-size: 16px;
      line-height: 16px; }
  .search-field__small-submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.2); }
    .search-field__small-submit:hover {
      color: #000;
      cursor: pointer; }
  .search-field__small-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 4px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 13px;
    position: absolute;
    top: 24px;
    z-index: 1;
    max-height: 0; }
    .search-field__small-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 400px;
      top: 25px; }
    .search-field__small-tips-highlighted {
      color: #707375; }
    .search-field__small-tips-selected {
      background-color: #ededed; }
    .search-field__small-tips ul {
      list-style-type: none; }
      .search-field__small-tips ul li {
        padding: 2px 0 4px 20px;
        line-height: 16px; }
        .search-field__small-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

/* ==================================================================== */
/* BOOK COVER
/* ==================================================================== */
.book__new-book {
  position: absolute;
  right: 0; }
  .book__new-book:before {
    content: "";
    background: url(/res/images/service-elements/main-books__new-book-background.png) no-repeat scroll right transparent;
    display: block;
    height: 69px;
    position: absolute;
    top: -1px;
    width: 69px;
    z-index: 3;
    right: 0; }
  .book__new-book span {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: -13px;
    z-index: 4;
    top: 2px; }

.book__book-cover {
  position: relative;
  line-height: 1px;
  display: inline-block;
  z-index: 1; }
  .book__book-cover:before {
    content: "";
    background: url(/res/images/service-elements/main-books__book-cover-top.png) no-repeat left top 0/100% auto transparent;
    display: block;
    height: 6px;
    position: absolute;
    top: -4px;
    width: 100%;
    left: 0; }
  .book__book-cover:after {
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-shadow: 0 0 21px 4px #000 ;
    -moz-box-shadow: 0 0 21px 4px #000 ;
    box-shadow: 0 0 21px 4px #000 ;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 1px;
    z-index: -1;
    right: 3px; }

.book__book-block {
  border: none;
  position: relative;
  display: inline-block;
  line-height: 0; }
  .book__book-block:before {
    background: url(/res/images/service-elements/main-books__book-cover.png) no-repeat left top transparent;
    content: "";
    position: absolute;
    width: 100%;
    height: 119px;
    left: 0;
    bottom: 0;
    z-index: 2; }

.book__main-book__image {
  display: table-cell;
  text-align: center;
  position: relative;
  vertical-align: bottom; }
  .book__main-book__image-wrapper {
    background: url(/res/images/service-elements/main-books__main-book-shelf.png) no-repeat center bottom transparent;
    width: 178px;
    position: relative;
    padding-bottom: 4px;
    z-index: 1; }
    .book__main-book__image-wrapper:before {
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: 0 -6px 37px 2px #000 ;
      -moz-box-shadow: 0 -6px 37px 2px #000 ;
      box-shadow: 0 -6px 37px 2px #000 ;
      content: "";
      position: absolute;
      width: 100%;
      bottom: -6px;
      z-index: -1;
      left: 0; }

