@import "../_variables.scss";
/* ==================================================================== */
/* BOOKS MAIN PAGE
/* ==================================================================== */
$shelf-height: 16px;
$shelf-left-width: 135px;
$shelf-right-width: 213px;

.books-page-block {
    &__content {
        padding-right: $service-page-padding-left;
    }
}

.main-books {

    &__main-book {
        padding-bottom: 33px;
        display: table;

        &__image {
            display: table-cell;
            text-align: center;
            position: relative;
            vertical-align: bottom;
            padding-right: 62px;

            &-wrapper {
                background: url(/res/images/service-elements/main-books__main-book-shelf.png) no-repeat center bottom transparent;
                width: 178px;
                position: relative;
                padding-bottom: 4px;
                z-index: 1;

                &:before {
                    @include scale(.9);
                    @include box-shadow(0, -6px, 37px, 2px, $black-link-color);
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: -6px;
                    z-index: -1;
                    left: 0;
                }
            }
        }

        &__info {
            vertical-align: top;
            display: table-cell;
            font-family: $sans;

            & h2 {
                margin-bottom: 3px;
                font-size: 18px;
                line-height: 27px;
                font-weight: bold;
            }

            & p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    &__slider {
        position: relative;
        padding-top: 6px;
        height: 168px;
        margin-bottom: 32px;
        z-index: 1;

        &:before {
            @include scale(.9);
            @include box-shadow(0, -6px, 37px, 2px, $black-link-color);
            content: "";
            position: absolute;
            width: 100%;
            bottom: -6px;
            z-index: -1;
            left: 0;
        }

        & .book__book-block {
            &:hover {
                & .tips {
                    display: block;
                }
            }
        }

        &-wrapper {
            position: absolute;
            overflow: hidden;
            left: 43px;
            right: 43px;
            bottom: 10px;
            z-index: 1;
            padding-top: 70px;
        }

        & h3 {
            margin: 0;
            padding: 0;
            font-family: $sans;
            font-size: 12px;
            line-height: 27px;
            color: $dark-gray-link-color;
            font-weight: normal;
        }

        & ul {
            display: table;
            white-space: nowrap;
            vertical-align: bottom;

            & li {
                list-style-type: none;
                display: inline-block;
                padding-top: 6px;
                margin-right: 14px;
                line-height: 1px;
                vertical-align: bottom;
            }
        }

        &-shelf {
            background: url(/res/images/service-elements/main-books__slider-shelf-center.png) repeat-x right top transparent;
            position: absolute;
            bottom: 0;
            height: $shelf-height;
            left: $shelf-left-width;
            right: $shelf-right-width;

            &:before {
                content: "";
                background: url(/res/images/service-elements/main-books__slider-shelf-left.png) no-repeat left top transparent;
                display: block;
                height: $shelf-height;
                position: absolute;
                top: 0;
                width: $shelf-left-width;
                left: -$shelf-left-width;
            }

            &:after {
                content: "";
                background: url(/res/images/service-elements/main-books__slider-shelf-right.png) no-repeat right top transparent;
                display: block;
                height: $shelf-height;
                position: absolute;
                top: 0;
                width: $shelf-right-width;
                right: -$shelf-right-width;
            }
        }

        &-arrow {
            &-left, &-right {
                top: 88px;
                position: absolute;
                display: none;
            }

            &-right {
                right: 0;
            }
        }
    }
}

@import "../areas/search/search-field-small.scss";
@import "../areas/book-cover.scss";