@import "../_variables.scss";
/* ==================================================================== */
/* CALENDAR PAGE
/* ==================================================================== */
@-webkit-keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes loader-rotate {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.event-calendar-main-block .dashed, .event-calendar-events .dashed {
    cursor: pointer;
    text-decoration: none;
    color: #2b79d9;
    border-bottom: 1px dashed;
    padding: 0;
}

.event-calendar-main-block .dashed:hover, .event-calendar-events .dashed:hover {
    color: #e41a00;
}

.event-calendar-main-block {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 748px;
    margin: 0;
    background-color: transparent;
    z-index: 1;
    padding-bottom: 55px;
    padding-top: 4px;
    line-height: 20px;
    font-size: 14px;
    min-height: 220px;
    position: relative;
}

.event-calendar-main-block-wrapper {
    position: relative;
    min-height: 245px;
    margin: 0;
    background: #f1efec url("/res/images/calendar/calendar-bg.png") repeat-x;
}

.event-calendar-main-block-wrapper:before, .event-calendar-main-block-wrapper:after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
}

.event-calendar-main-block-wrapper:before {
    bottom: 100%;
    height: 59px;
    background: #fff url("/res/images/calendar/calendar-header.png") no-repeat;
}

.event-calendar-main-block-wrapper:after {
    top: 100%;
    height: 40px;
    background: url("/res/images/calendar/calendar-footer.png") no-repeat;
}

.event-calendar-arrow {
    width: 10px;
    height: 14px;
    position: absolute;
    top: 4px;
    background-image: url("/res/images/calendar/arrows.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.event-calendar-arrow-left {
    background-position: 0 0;
    left: 20px;
}

.event-calendar-arrow-right {
    background-position: -10px 0;
    right: 20px;
}

.event-calendar-arrow-left:hover {
    background-position: 0 -14px;
}

.event-calendar-arrow-right:hover {
    background-position: -10px -14px;
}

.event-calendar-arrow.disabled {
    display: none;
}

.event-calendar-preloader {
    display: none;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0,0,0,0.2);
    border-left-color: transparent !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: loader-rotate 1.1s linear infinite;
    -moz-animation: loader-rotate 1.1s linear infinite;
    animation: loader-rotate 1.1s linear infinite;
    z-index: 2002;
    position: relative;
    top: 150px;
    left: 57%;
    margin-bottom: 240px;
}

.event-calendar-box-wrapper {
    margin: 51px 160px 0;
}

.event-calendar-main-block h4 {
    float: left;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0;
    font-weight: bold;
}
/* Month block */
.event-calendar-month-block {
}

.event-calendar-block-table {
    float: left;
    margin-bottom: 20px;
    margin-right: 38px;
    width: 250px;
}

.event-calendar-block-table table {
    margin: 6px 0 0 -4px;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.event-calendar-block-table table th {
    border-bottom: 1px solid #c4c2c0;
    font: 10px Helvetica,Arial,sans-serif;
    padding: 0 15px 2px 0;
    text-align: center;
    text-transform: uppercase;
}

.event-calendar-block-table table td {
    font-size: 17px;
    line-height: 21px;
    padding: 1px 15px 4px 0;
    position: relative;
    text-align: right;
}

.event-calendar-block-table table td span {
    display: block;
    height: 21px;
    padding: 2px 3px;
}

.event-calendar-block-table table td span.daylink {
    cursor: pointer;
    padding-left: 3px;
    color: #000;
    background: #ffe779;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.event-calendar-block-table table td.week-end span.daylink {
    color: #c00000;
}

.event-calendar-block-table table td.active span.daylink {
    background: #fcac5e;
}

.event-calendar-block-table table td.day-disable {
    color: #000;
    opacity: 0.2;
}

.week-end {
    color: #c00000;
}

.event-calendar-block-table table td.today span:after {
    background: transparent url("/res/images/calendar/calendar-today.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 28px;
    left: -2px;
    position: absolute;
    top: -1px;
    width: 30px;
}

.event-calendar-info-block-short {
    float: left;
    margin: 3px 0 0;
    width: 122px;
}

.event-calendar-info-block-short-b {
    margin-bottom: 10px;
}

.event-calendar-info-block-short-lc {
    display: block;
    float: left;
    width: 95px;
}

.event-calendar-info-block-short-lc + span {
    display: block;
    float: left;
    text-align: right;
    width: 27px;
}

.event-calendar-info-block-short-day .clearfix + .clearfix {
    padding-bottom: 2px;
}

.event-calendar-info-block-short-lh {
    line-height: 17px;
}

.event-calendar-info-block-short-hour .event-calendar-info-block-short-lc {
    width: 85px;
}

.event-calendar-info-block-short-hour .event-calendar-info-block-short-lc + span {
    width: 37px;
}

.event-calendar-week-koment {
    font-size: 12px;
    width: 200px;
}
/* Month block end */

/* Year block */
.event-calendar-year-info-switcher-item {
    margin: 0 0 8px;
    padding: 0 8px;
    text-indent: 0;
}

.selected {
    background: #d4d4c4 none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.event-calendar-back {
    float: right;
    margin-right: 18px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 6px !important;
    position: relative;
}

.event-calendar-month-block .event-calendar-back {
    margin-right: 171px;
}

.event-calendar-back:before {
    background: transparent url("/res/images/calendar/calendar-back-link.png") no-repeat scroll left top;
    height: 12px;
    left: -15px;
    position: absolute;
    top: 7px;
    width: 12px;
    content: "";
    padding-right: 10px;
}

.event-calendar-back:hover:before {
    background-position: left bottom;
}

.event-calendar-year-block-table {
    height: 256px;
    margin-left: 4px;
    margin-top: 8px;
    width: 100%;
}

.event-calendar-block-table table.event-calendar-year-block-table-day th {
    padding-bottom: 6px;
}

.event-calendar-year-block-table-day td span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    height: 21px;
    padding: 2px 4px 1px 0;
}

.event-calendar-year-block-table-day td:first-child {
    text-align: left;
    display: block;
    padding-right: 0;
    text-align: left;
    width: 86px;
    padding-top: 6px;
}

.event-calendar-year-block-table-day th .event-calendar-year-block-monthname {
    font: 10px Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts {
    margin-top: 25px;
}

.event-calendar-block-table .event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts th {
    padding-right: 9px;
    font-size: 12px;
    text-transform: none;
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 4px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts td {
    padding-left: 4px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts tr:first-child td {
    padding-top: 6px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts td:first-child {
    width: 95px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts td:last-child {
    font-weight: bold;
    padding-left: 20px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-day-kvarts th:last-child {
    padding-left: 16px;
}

th.pl-more {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

td.pl-0 {
    padding-left: 0 !important;
}

td.pl {
    padding: 1px 13px 4px 17px !important;
}

.event-calendar-year-block-month-select {
    position: relative;
}

.event-calendar-year-block-month-select .event-calendar-year-block-monthname:after {
    background: transparent url("/res/images/calendar/month-select.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 22px;
    left: -11px;
    position: absolute;
    top: -3px;
    width: 41px;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-hours th {
    padding-left: 0;
    padding-right: 10px;
    text-align: left !important;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-hours span {
    padding-right: 0;
}

.event-calendar-year-block-table-day.event-calendar-year-block-table-hours td {
    text-align: left !important;
    padding: 1px 4px 4px 0;
}
/* Year block end */

/* Announce block */
.event-calendar-announce-block p {
    margin-bottom: 0;
    font: 14px/1.42857 Arial,Helvetica,sans-serif;
}
/* Announce block end */

/* Events table */
.event-calendar-events {
    margin-top: 80px;
    font-size: 13px;
    font-family: $sans;
    line-height: 16px;
}

.event-calendar-events h2 {
}

.event-calendar-events h2 span {
    display: none;
    font-weight: normal;
}

.event-calendar-events-title {
    font-size: 22px !important;
    line-height: 26px;
    font-weight: bold !important;
    font-family: $sans;
}

.event-calendar-events-top-switcher {
}

.event-calendar-events-active {
    display: inline !important;
    font-size: 13px;
}

.event-calendar-events-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

.event-calendar-events-top-switcher span {
    margin: 0 13px 0 10px;
}

.event-calendar-events-table-header {
}

.event-calendar-events-table-header th {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 13px;
    padding-top: 4px;
    vertical-align: top;
    font-weight: bold;
}

.event-calendar-events-table th:first-child, .event-calendar-events-table td:first-child {
    width: 30% !important;
}

.event-calendar-events-table-active {
    display: table-row;
}

.event-calendar-events-table-task-date {
    border-top: 1px solid #e6e6e6;
    font: bold 11px/1 Arial,Helvetica,sans-serif;
    padding-bottom: 24px;
    padding-top: 6px;
    text-transform: uppercase;
}

.event-calendar-events-b-header {
    font: bold 18px/1 Arial,Helvetica,sans-serif;
    padding-bottom: 6px;
    padding-top: 18px;
}

.event-calendar-events-s-header {
    font: bold 13px/1.38462 Arial,Helvetica,sans-serif;
    padding-bottom: 6px;
}

.event-calendar-events-table-task {
}

.event-calendar-events-table-task td {
    padding: 0 0 16px;
    vertical-align: top;
    width: 25%;
}

.event-calendar-events-table-task .task-comment {
    font-size: 11px;
    line-height: 16px;
}

.event-calendar-events-table-task p {
    margin-right: 18%;
    margin-top: 0;
    margin-bottom: 8px;
}

.event-calendar-events-table-task .doc {
}

.event-calendar-events-table-task .npd {
    color: #147900 !important;
}

.event-calendar-events-table-task .npd:hover {
    color: #e41a00 !important;
}

.event-calendar-events-table-task .task-changes {
    color: #d51313;
    font-weight: bold;
}

.ico_content_attention {
    background-image: url("/res/images/calendar/calendar-attention.png");
    background-repeat: no-repeat;
    border: 0 none;
    display: inline-block;
    height: 17px;
    vertical-align: top;
    width: 20px;
    background-position: 0 -1px;
}
/* Events table end */

/*panel*/
.calendar-top-panel {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    background: #fff none repeat scroll 0 0;
    z-index: 2002;
    /*padding-top: 10px;*/
}

.calendar-top-panel.fixed {
    left: 70px;
    min-height: 80px;
    padding-left: 0;
    position: fixed;
    top: 0;
}

.calendar-top-panel .event-calendar-events-table {
    width: 100%;
}

.calendar-top-panel .event-calendar-events {
    padding-top: 0;
    margin-top: 0;
}

.calendar-top-panel .event-calendar-events-table-header th {
    border-bottom: none;
}

.calendar-hidden {
    visibility: hidden !important;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 4px;
    padding-top: 72px;
}

/*panel end*/
.service .content .event-calendar-events-table .list {
    margin-left: 0;
    margin-top: 0;
    margin-right: 18%;
}

.calendar-page-block__content {
    min-height: 800px;
    padding-top: 0;

    & ul {
        list-style: none;
    }
}

.calendar-print-link {
    bottom: 54px;
    position: absolute;
    right: 0;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__print.png) no-repeat scroll left top/40px auto transparent;
        width: 24px;
        height: 17px;
        left: -22px;
        margin-top: 1px;
    }
}
