﻿/* ==================================================================== */
/* DEMO PAGE
/* ==================================================================== */
.demo__block {
  position: relative;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  margin-right: 155px; }
  .demo__block h1 {
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 10px;
    font-weight: normal; }
  .demo__block p, .demo__block label {
    font-size: 13px;
    line-height: 18px; }
  .demo__block p {
    padding-bottom: 17px; }
  .demo__block__header {
    padding-left: 36px;
    padding-right: 35px; }
  .demo__block__footer {
    background-color: #e2e2e2;
    padding-top: 19px;
    padding-left: 36px;
    padding-right: 35px;
    border-top: 1px solid #bcbcbc; }
    .demo__block__footer .gethelp {
      border-bottom: 1px solid;
      color: #1252a1;
      border-color: rgba(18, 82, 161, 0.2);
      cursor: pointer; }
      .demo__block__footer .gethelp:hover {
        border-color: rgba(18, 82, 161, 0.6); }
  .demo__block__table {
    display: table;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-top: 1px solid #d7d7d7;
    padding-top: 20px; }
    .demo__block__table:last-child {
      padding-bottom: 30px; }
    .demo__block__table > div {
      display: table-cell;
      vertical-align: middle; }
    .demo__block__phone-number .demo__block__table-left {
      width: 100px; }
    .demo__block__code .demo__block__table-left {
      width: 100px; }
    .demo__block__table-right span {
      font-size: 13px;
      line-height: 18px;
      display: block; }
      .demo__block__table-right span.demo__block__error {
        display: none; }
    .demo__block__phone-number .demo__block__table-center {
      width: 250px; }
    .demo__block__code .demo__block__table-center {
      width: 83px; }
    .demo__block__table + .demo__block__table {
      margin-top: 10px;
      border-top: none;
      padding-top: 0; }
  .demo__block__input {
    position: relative;
    font-size: 16px;
    height: 32px;
    padding-left: 30px;
    border: 1px solid #a9a9a9; }
    .demo__block__input-wrapper {
      position: relative; }
    .demo__block__input.demo__block____input-phone-number {
      width: 230px; }
    .demo__block__input.demo__block____input-code {
      width: 63px;
      padding-left: 10px; }
  .demo__block__error {
    color: #ed1b23; }
  .demo__block .button {
    font-size: 14px;
    padding: 0.4rem 1.6rem;
    white-space: nowrap; }
  .demo__block .button-white:active {
    background: #f7f7f7;
    background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
    background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
    background: linear-gradient(to bottom, #f7f7f7, #ebebeb); }
    .demo__block .button-white:active[disabled]:hover, .demo__block .button-white:active[disabled]:active, .demo__block .button-white:active.button-disabled:hover, .demo__block .button-white:active.button-disabled:active {
      border-bottom: 1px solid #b0b0b0;
      border-top: 1px solid #efefef;
      border-left: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      background: #fff;
      background: -webkit-linear-gradient(top, #fff, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
      background: linear-gradient(to bottom, #fff, #f3f3f3); }
  .demo__block__decor {
    right: 140px;
    width: 110px;
    position: absolute;
    bottom: 50px; }
  .demo__block__lock {
    background: url(/res/images/access/access-lock.png) no-repeat top center transparent;
    background-size: 100%;
    width: 100%;
    display: block;
    height: 156px;
    margin-bottom: 8px; }
  .demo__block__key {
    background: url(/res/images/access/access-key.png) no-repeat top left transparent;
    width: 116px;
    display: block;
    height: 120px;
    position: relative;
    left: 35px; }
    .demo__block__key:before {
      content: attr(data-demotime);
      color: #909090;
      font-family: "PT Serif", Georgia, "Times New Roman", serif;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      bottom: 8px;
      right: 8px; }

/*@import "../_variables.scss";*/
/* ==================================================================== */
/* COUNTRY FLAGS
/* ==================================================================== */
.phone-country-select {
  background-image: url(/res/images/phone-country-select.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  height: 29px;
  width: 31px;
  z-index: 1; }
  .RU .phone-country-select {
    background-position: 7px -31px; }
  .BY .phone-country-select {
    background-position: 7px -71px; }
  .KZ .phone-country-select {
    background-position: 7px -111px; }
  .UA .phone-country-select {
    background-position: 7px -151px; }
  .AZ .phone-country-select {
    background-position: 7px -191px; }
  .LV .phone-country-select {
    background-position: 7px -231px; }
  .MD .phone-country-select {
    background-position: 7px -271px; }
  .TM .phone-country-select {
    background-position: 7px -311px; }
  .AM .phone-country-select {
    background-position: 7px -351px; }
  .GE .phone-country-select {
    background-position: 7px -391px; }
  .KG .phone-country-select {
    background-position: 7px -431px; }
  .LT .phone-country-select {
    background-position: 7px -471px; }
  .TJ .phone-country-select {
    background-position: 7px -511px; }
  .UZ .phone-country-select {
    background-position: 7px -551px; }
  .EE .phone-country-select {
    background-position: 7px -591px; }
  .demo__block__phone-number .phone-country-select {
    left: 0;
    position: absolute;
    top: 1px; }

