@import "../_variables.scss";
/* ==================================================================== */
/* DEMO PAGE
/* ==================================================================== */
$block-background: #f2f2f2;
$footer-background: #e2e2e2;
$footer-border: #bcbcbc;
$table-border: #d7d7d7;
$input-border: #a9a9a9;
$block-padding-top: 20px;
$block-padding-left: 36px;
$block-padding-right: 35px;
$block-padding-bottom: 30px;
$demo-time-color: #909090;

.demo__block {
    position: relative;
    background-color: $block-background;
    font-family: $sans;
    padding-top: $block-padding-top;
    margin-right: 155px;

    & h1 {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    & p, & label {
        font-size: 13px;
        line-height: 18px;
    }

    & p {
        padding-bottom: 17px;
    }

    &__header {
        padding-left: $block-padding-left;
        padding-right: $block-padding-right;
    }

    &__footer {
        background-color: $footer-background;
        padding-top: 19px;        
        padding-left: $block-padding-left;
        padding-right: $block-padding-right;
        border-top: 1px solid $footer-border;

        & .gethelp {
            border-bottom: 1px solid;
            @include link($standart-link-color);            
            cursor: pointer;
        }
    }

    &__table {
        display: table;
        width: 100%;
        text-align: left;
        table-layout: fixed;
        border-top: 1px solid $table-border;
        padding-top: 20px;
        
        &:last-child {
            padding-bottom: $block-padding-bottom;
        }

        & > div {
            display: table-cell;
            vertical-align: middle;
        }

        &-left {
            .demo__block__phone-number & {
                width: 100px;
            }

            .demo__block__code & {
                width: 100px;
            }
        }

        &-right {
            & span {
                font-size: 13px;
                line-height: 18px;
                display: block;

                &.demo__block__error {
                    display: none;
                }
            }
        }

        &-center {
            .demo__block__phone-number & {
                width: 250px;
            }

            .demo__block__code & {
                width: 83px;
            }
        }

        & + .demo__block__table {
            margin-top: 10px;
            border-top: none;
            padding-top: 0;
        }
    }

    &__input {
        position: relative;
        font-size: 16px;
        height: 32px;        
        padding-left: 30px;
        border: 1px solid $input-border;

        &-wrapper {
            position: relative;
        }

        &.demo__block____input-phone-number {
            width: 230px;
        }

        &.demo__block____input-code {
            width: 63px;
            padding-left: 10px;
        }
    }

    &__error {
        color: $text-color-red;
    }

    & .button {
        font-size: 14px;
        padding: 0.4rem 1.6rem;
        white-space: nowrap;
    }

    & .button-white:active {
        @include linear-gradient(to bottom, $button-white-hover-first-color, $button-white-hover-second-color);

        &[disabled], &.button-disabled {
            &:hover, &:active {
                border-bottom: 1px solid $button-white-border-bottom-color;
                border-top: 1px solid $button-white-border-top-color;
                border-left: 1px solid $button-white-border-side-color;
                border-right: 1px solid $button-white-border-side-color;
                @include linear-gradient(to bottom, $button-white-first-color, $button-white-second-color);
            }
        }
    }
    //right column
    &__decor {
        right: 140px;
        width: 110px;
        position: absolute;
        bottom: $service-page-padding-bottom;
    }

    &__lock {
        background: url(/res/images/access/access-lock.png) no-repeat top center transparent;
        background-size: 100%;
        width: 100%;
        display: block;
        height: 156px;
        margin-bottom: 8px;
    }

    &__key {
        background: url(/res/images/access/access-key.png) no-repeat top left transparent;
        width: 116px;
        display: block;
        height: 120px;
        position: relative;
        left: 35px;

        &:before {
            content: attr(data-demotime);
            color: $demo-time-color;
            font-family: $ptserif;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
    }
}

@import "../areas/country-flags.scss";
