@import "../_variables.scss";
/* ==================================================================== */
/* FAQ PAGE
/* ==================================================================== */
.faq-page-block__content {
    & .questions {
        list-style-type: none;

        & li {
            line-height: 22px;
            margin-bottom: 6px;

            & a {
                border-bottom: 1px dashed;
            }
        }
    }

    & .answers {
        & .mark-link {
            display: block;
            margin-bottom: 25px;
            margin-top: 25px;
            border: none;
        }

        & p {
            line-height: 20px;
            margin-bottom: 8px;
        }
    }
}