﻿/* ==================================================================== */
/* FAQ PAGE
/* ==================================================================== */
.faq-page-block__content .questions {
  list-style-type: none; }
  .faq-page-block__content .questions li {
    line-height: 22px;
    margin-bottom: 6px; }
    .faq-page-block__content .questions li a {
      border-bottom: 1px dashed; }

.faq-page-block__content .answers .mark-link {
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
  border: none; }

.faq-page-block__content .answers p {
  line-height: 20px;
  margin-bottom: 8px; }

