﻿/* ==================================================================== */
/* FORMS MAIN PAGE
/* ==================================================================== */
.forms-page-block__content {
  padding-right: 50px; }

.main-forms__popular {
  position: absolute;
  right: 3px;
  top: 208px;
  padding: 13px 33px 18px;
  height: 331px;
  background: url(/res/images/service-elements/forms__popular-background.png) no-repeat scroll left top transparent;
  width: 259px; }
  .main-forms__popular-wrapper {
    overflow: hidden;
    height: 295px; }
  .main-forms__popular h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: bold; }
  .main-forms__popular ul li {
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 12px; }
    .main-forms__popular ul li:first-child {
      padding-right: 50px; }

.main-forms__news {
  padding-right: 100px; }
  .main-forms__news h3 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 7px;
    font-size: 16px; }
    .main-forms__news h3.main-forms__news-today {
      color: #e2001a; }
  .main-forms__news ul li {
    list-style-type: none;
    margin-bottom: 13px;
    margin-top: 8px; }
  .main-forms__news-description {
    display: block; }
  .main-forms__news-item {
    margin-bottom: 32px; }

.main-forms__important {
  padding-bottom: 53px; }
  .main-forms__important-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: block;
    float: left;
    width: 200px;
    height: 135px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    padding: 7px 18px 8px 9px;
    background: #ebebeb; }
    .main-forms__important-item a {
      color: #000;
      border-color: rgba(0, 0, 0, 0.2);
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      font-family: "PT Serif", Georgia, "Times New Roman", serif; }
      .main-forms__important-item a:hover {
        border-color: rgba(0, 0, 0, 0.6); }
    .main-forms__important-item p {
      display: block;
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-style: normal;
      padding-top: 6px; }
    .main-forms__important-item-first {
      background: #d71f2d;
      background: -webkit-linear-gradient(45deg, #d71f2d 0%, #e04833 100%);
      background: -moz-linear-gradient(45deg, #d71f2d 0%, #e04833 100%);
      background: linear-gradient(45deg, #d71f2d 0%, #e04833 100%);
      width: 300px; }
      .main-forms__important-item-first a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .main-forms__important-item-first a:hover {
          border-color: rgba(255, 255, 255, 0.6); }
    .main-forms__important-item-second {
      background: #ecb537;
      background: -webkit-linear-gradient(45deg, #ecb537 0%, #ecbe46 100%);
      background: -moz-linear-gradient(45deg, #ecb537 0%, #ecbe46 100%);
      background: linear-gradient(45deg, #ecb537 0%, #ecbe46 100%); }
    .main-forms__important-item-third {
      background: #259e98;
      background: -webkit-linear-gradient(45deg, #259e98 0%, #55aaa6 100%);
      background: -moz-linear-gradient(45deg, #259e98 0%, #55aaa6 100%);
      background: linear-gradient(45deg, #259e98 0%, #55aaa6 100%); }
      .main-forms__important-item-third a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .main-forms__important-item-third a:hover {
          border-color: rgba(255, 255, 255, 0.6); }

.main-forms__table {
  display: table;
  width: 100%;
  vertical-align: top; }
  .main-forms__table-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px; }
  .main-forms__table-right {
    display: table-cell;
    vertical-align: top;
    width: 305px; }

.main-forms__showcase h4 {
  margin: 0 0 9px 0;
  padding: 0;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

.main-forms__showcase ul {
  list-style: none;
  padding-bottom: 8px; }

.main-forms__showcase li, .main-forms__showcase span {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  margin-right: 27px;
  font-family: Arial, Helvetica, sans-serif; }

.main-forms__showcase-all span {
  display: inline-block; }

.main-forms__plate {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #ebebeb;
  width: 305px;
  margin-bottom: 30px;
  border-radius: 3px;
  padding-top: 14px;
  padding-left: 17px; }
  .main-forms__plate:last-child {
    margin-bottom: 47px; }
  .main-forms__plate h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: -6px; }
  .main-forms__plate-date {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    color: #707375;
    padding-bottom: 6px;
    display: block;
    font-size: 13px; }
  .main-forms__plate ul {
    padding-bottom: 0;
    padding-left: 23px; }
    .main-forms__plate ul li {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 13px;
      margin-bottom: 0;
      padding-top: 12px;
      display: table;
      width: 100%; }
      .main-forms__plate ul li:last-child {
        border-bottom: none; }
      .main-forms__plate ul li a {
        font-size: 13px;
        display: table-cell;
        vertical-align: top;
        padding-right: 12px;
        border: none;
        font-family: "PT Sans", Arial, Helvetica, sans-serif; }
  .main-forms__plate-type {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    display: table-cell;
    vertical-align: top;
    padding-right: 12px;
    font-size: 11px;
    color: #999999; }
  .main-forms__plate-link {
    border-bottom: none;
    font-size: 13px; }
    .main-forms__plate-link-block {
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-left-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      border-bottom-right-radius: 3px;
      background-color: #dfdfdf;
      border-top: 1px solid #cccccc;
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding-left: 40px;
      margin-left: -17px;
      padding-top: 7px;
      padding-bottom: 10px; }

/* ==================================================================== */
/* SEARCH FIELD LARGE
/* =================================================================== */
.search-field__large {
  width: 100%;
  position: relative;
  margin-left: -13px;
  margin-bottom: 50px; }
  .search-field__large-text-field {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 13px;
    padding-right: 130px;
    height: 30px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; }
    .search-field__large-text-field-wrapper {
      width: 100%;
      /*position: relative;*/ }
  .search-field__large-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 13px;
    right: 130px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    top: 29px;
    z-index: 2;
    max-height: 0; }
    .search-field__large-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 500px;
      top: 30px; }
    .search-field__large-tips-highlighted {
      color: #707375; }
    .search-field__large-tips-selected {
      background-color: #ededed; }
    .search-field__large-tips ul {
      list-style-type: none; }
      .search-field__large-tips ul li {
        padding: 2px 0 4px 20px; }
        .search-field__large-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }
  .search-field__large-submit {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    display: table-cell;
    position: absolute;
    right: 0;
    bottom: 0; }
    .search-field__large-submit-wrapper {
      display: table-cell; }

/* ==================================================================== */
/* COMPLAINT FORM
/* ==================================================================== */
.search-complaint-form {
  font-size: 16px;
  padding: 0 0 28px 0; }
  .search-complaint-form-switcher {
    color: #e2001a;
    border-color: rgba(226, 0, 26, 0.2);
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    .search-complaint-form-switcher:hover {
      border-color: rgba(226, 0, 26, 0.6); }
  .search-complaint-form-success {
    color: #008200;
    display: none; }
  .search-complaint-form-block {
    display: none; }
  .search-complaint-form-textarea {
    -webkit-box-shadow: 0 1px 3px -1px #707375 inset;
    -moz-box-shadow: 0 1px 3px -1px #707375 inset;
    box-shadow: 0 1px 3px -1px #707375 inset;
    border-top: 1px solid #707375;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 0 5px;
    margin: 10px 0;
    font-size: 16px; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

