@import "../_variables.scss";
/* ==================================================================== */
/* FORM PAGE
/* ==================================================================== */
$fopm-page-background: #f2f2f2;
$fill-background: #ffc;

.page-wrapper-common-form {
    background-color: $fopm-page-background;

    & .page-content-common-wrapper {
        background-color: transparent;
    }

    & .footer-common {
        visibility: hidden;
    }
}

.form-page-block {
    &__content {
        padding-left: $service-page-padding-left;

        & h1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 20px 0;
            padding: 0;
            font-family: $sans;
        }
    }
}

.form {
    //Top panel
    &__top-panel {
        position: relative;
        font-family: $sans;
        padding-top: 30px;
        margin-bottom: 26px;

        &-additional {
            display: table-cell;
            font-size: 13px;

            & ul {
                & li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 8px;
                    padding-bottom: 10px;
                    white-space: nowrap;

                    & .dashed {
                        cursor: pointer;
                    }
                }
            }

            &-active {
                padding: 1px 4px 4px;
                margin-left: -4px;
                margin-right: -4px;
                background-color: $blue-background-color;
                color: $black-link-color;

                & > span {
                    color: $black-link-color;
                }
            }
        }

        &-menu {
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

        &-info {
            position: relative;
            font-size: 13px;

            &__attachments {
                display: none;
                padding: 16px 0 0 0;

                & li {
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 21px;
                    position: relative;

                    &:after {
                        color: $white-link-color;
                        letter-spacing: 0.5px;
                        font: 12px/12px $sans;
                        text-transform: uppercase;
                        padding: 1px 3px 1px 2px;
                    }

                    &.word:after {
                        content: ".doc";
                        background-color: $standart-link-color;
                    }

                    &.excel:after {
                        content: ".xsl";
                        background-color: $green-link-color;
                    }

                    & a {
                        position: relative;
                    }
                }

                &-lots {
                    & li {
                        display: inline-block;
                        vertical-align: top;
                        width: 49%;
                    }
                }
            }

            &__versions {
                display: none;
                padding: 16px 0 0 0;
            }

            & h2 {
                font-size: 22px;
                margin-bottom: 13px;
            }

            & h4 {
                font-weight: bold;
                font-size: 14px;
            }

            & p {
                font-size: 14px;
            }

            & li {
                list-style-type: none;
            }

            &-years {
                margin: 5px 0 4px -10px;
                font-size: 13px;

                & li {
                    display: block;
                    margin: 0 0 2px 0;
                }

                &-item {
                    display: inline-block;
                    min-width: 45px;
                    margin: 0 0 30px 0;
                    vertical-align: top;

                    &-switcher {
                        display: inline-block;
                        min-width: 45px;
                        margin: 0 0 30px 0;
                        vertical-align: top;

                        & > span {
                            @include link($standart-link-color);
                            cursor: pointer;
                            border-bottom-style: dashed;
                            border-bottom-width: 1px;
                        }
                    }

                    & ul {
                        min-width: 100px;
                        margin: 2px 0 0 0;

                        & li {
                            min-width: 45px;
                            margin: 0 0 4px 0;
                            vertical-align: top;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                & h3 {
                    font-size: 13px;
                }
            }
        }
    }
    //article
    &__article {
        position: relative;
        font-family: $sans;

        &__shadow {
            &-top-right {
                background: url("/res/images/layout-elements/form-page/layout-elements__shadow-top-right.png") no-repeat 0 0 transparent;
                top: -7px;
                height: 130px;
                position: absolute;
                right: -9px;
                width: 130px;
            }

            &-right {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-right.png) repeat-y 0 0 transparent;
                right: -9px;
                width: 9px;
                top: 123px;
                position: absolute;
                bottom: 119px;
            }

            &-top-left {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-top-left.png) no-repeat 0 0 transparent;
                top: -7px;
                height: 130px;
                position: absolute;
                left: -9px;
                width: 130px;
            }

            &-bottom-right {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom-right.png) no-repeat 0 0 transparent;
                bottom: -11px;
                height: 130px;
                position: absolute;
                right: -9px;
                width: 130px;
            }

            &-bottom {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom.png) repeat-x 0 0 transparent;
                bottom: -11px;
                height: 11px;
                left: 121px;
                position: absolute;
                right: 121px;
            }

            &-bottom-left {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom-left.png) no-repeat 0 0 transparent;
                bottom: -11px;
                height: 130px;
                position: absolute;
                left: -9px;
                width: 130px;
            }

            &-left {
                background: url(/res/images/layout-elements/form-page/layout-elements__shadow-left.png) repeat-y 0 0 transparent;
                left: -9px;
                width: 9px;
                top: 123px;
                position: absolute;
                bottom: 119px;
            }
        }

        &-download-link {
            margin-bottom: 5px;
            white-space: nowrap;
        }

        &-sample-link {
            text-transform: lowercase;
            white-space: nowrap;
            font-size: 13px;
            font-family: $sans;

            & a {
                @include link($blue-link-color);
            }
        }

        &-wrapper {
            background-color: $white-link-color;
            font-size: 13px;
            min-width: 600px;
            min-height: 760px;
            padding: 40px;
            position: relative;
            float: left;

            & p {
                font-family: $sans;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 8px;
            }

            & .fill, & .fill b {
                font-weight: normal;
                background-color: $fill-background;
            }

            & table {
                & td {
                    padding: 6px;
                    vertical-align: middle;
                }
            }

            & .bdAll, & .bdAll td {
                border: 1px solid $black-link-color;
            }

            & .bdRight {
                border-right: 1px solid $black-link-color;
            }

            & .bdLeft {
                border-left: 1px solid $black-link-color;
            }

            & .bdTop {
                border-top: 1px solid $black-link-color;
            }

            & .bdBottom {
                border-bottom: 1px solid $black-link-color;
            }

            & .titlepage {
                & a {
                    border-bottom: none;
                }
            }

            & .xx-small {
                font-size: 10px;
                position: relative;
                top: -8px;
            }

            & .break {
                display: inline-block;
                height: 13px;
                width: 0;
            }
        }

        &__header {
            display: table;
            width: 100%;
            padding-bottom: 20px;

            &-left {
                display: table-cell;
                padding-right: 100px;
            }

            &-right {
                display: table-cell;
            }
        }

        & img {
            line-height: 1px;
        }
    }
}

@import "../areas/search/search-field-small.scss";
