@import "../_variables.scss";
/* ==================================================================== */
/* FORMS MAIN PAGE
/* ==================================================================== */
$important-first-color-1: #d71f2d;
$important-first-color-2: #e04833;
$important-second-color-1: #ecb537;
$important-second-color-2: #ecbe46;
$important-third-color-1: #259e98;
$important-third-color-2: #55aaa6;
$default-color: #ebebeb;
$border-color: #cccccc;
$type-color: #999999;
$plate-link-block-bgr: #dfdfdf;
$plate-list-padding-left: 23px;
$plate-padding-left: 17px;
$plate-width: 305px;

.forms-page-block__content {
    padding-right: $service-page-padding-left;
}

.main-forms {

    &__popular {
        position: absolute;
        right: 3px;
        top: 208px;
        padding: 13px 33px 18px;
        height: 331px;
        background: url(/res/images/service-elements/forms__popular-background.png) no-repeat scroll left top transparent;
        width: 259px;

        &-wrapper {
            overflow: hidden;
            height: 295px;
        }

        & h3 {
            font-family: $sans;
            font-size: 16px;
            line-height: 34px;
            font-weight: bold;
        }

        & ul {
            & li {
                list-style-type: none;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 12px;

                &:first-child {
                    padding-right: 50px;
                }
            }
        }
    }
    //News
    &__news {
        padding-right: 100px;

        & h3 {
            display: block;
            font-family: $sans;
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 7px;
            font-size: 16px;

            &.main-forms__news-today {
                color: $attention-link-color;
            }
        }

        & ul {
            & li {
                list-style-type: none;
                margin-bottom: 13px;
                margin-top: 8px;
            }
        }

        &-description {
            display: block;
        }

        &-item {
            margin-bottom: 32px;
        }
    }

    &__important {
        padding-bottom: 53px;

        &-item {
            @include border-radius(3px);
            display: block;
            float: left;
            width: 200px;
            height: 135px;
            overflow: hidden;
            margin: 0 20px 20px 0;
            padding: 7px 18px 8px 9px;
            background: $default-color;

            & a {
                @include link($black-link-color);
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                font-family: $ptserif;
            }

            & p {
                display: block;
                font-family: $ptsans;
                font-size: 14px;
                line-height: 20px;
                font-style: normal;
                padding-top: 6px;
            }

            &-first {
                @include linear-gradient(45deg, $important-first-color-1 0%, $important-first-color-2 100%);
                width: 300px;

                & a {
                    @include link($white-link-color);
                }
            }

            &-second {
                @include linear-gradient(45deg, $important-second-color-1 0%, $important-second-color-2 100%);                
            }

            &-third {
                @include linear-gradient(45deg, $important-third-color-1 0%, $important-third-color-2 100%);

                & a {
                    @include link($white-link-color);
                }
            }
        }
    }

    &__table {
        display: table;
        width: 100%;
        vertical-align: top;

        &-left {
            display: table-cell;
            vertical-align: top;
            padding-right: 10px;
        }

        &-right {
            display: table-cell;
            vertical-align: top;
            width: $plate-width;            
        }
    }

    &__showcase {
        & h4 {
            margin: 0 0 9px 0;
            padding: 0;
            line-height: 32px;
            font-size: 24px;
            font-weight: bold;
            font-family: $sans;
        }

        & ul {
            list-style: none;
            padding-bottom: 8px;
        }

        & li, & span {
            margin: 0 0 10px 0;
            padding: 0;
            list-style: none;
            font-size: 16px;
            line-height: 26px;
            position: relative;
            margin-right: 27px;
            font-family: $sans;
        }

        &-all {
            & span {
                display: inline-block;
            }
        }
    }

    &__plate {
        @include border-radius(3px);
        background-color: $default-color;
        width: $plate-width;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 14px;
        padding-left: $plate-padding-left;

        &:last-child {
            margin-bottom: 47px;
        }

        & h4 {
            font-family: $sans;
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 10px;
            margin-top: -6px;
        }

        &-date {
            font-family: $ptsans;
            color: $dark-gray-link-color;
            padding-bottom: 6px;
            display: block;
            font-size: 13px;
        }

        & ul {
            padding-bottom: 0;
            padding-left: $plate-list-padding-left;

            & li {
                border-bottom: 1px solid $border-color;
                padding-bottom: 13px;
                margin-bottom: 0;
                padding-top: 12px;
                display: table;
                width: 100%;

                &:last-child {
                    border-bottom: none;
                }

                & a {
                    font-size: 13px;
                    display: table-cell;
                    vertical-align: top;
                    padding-right: 12px;
                    border: none;
                    font-family: $ptsans;
                }
            }
        }

        &-type {
            font-family: $ptsans;
            display: table-cell;
            vertical-align: top;
            padding-right: 12px;
            font-size: 11px;
            color: $type-color;
        }

        &-link {
            border-bottom: none;
            font-size: 13px;

            &-block {
                @include border-radius-side(left, bottom, 3px);
                @include border-radius-side(right, bottom, 3px);
                background-color: $plate-link-block-bgr;
                border-top: 1px solid $border-color;
                font-family: $ptsans;
                font-weight: bold;
                padding-left: $plate-list-padding-left + $plate-padding-left;
                margin-left: -$plate-padding-left;
                padding-top: 7px;
                padding-bottom: 10px;
            }
        }
    }
}


@import "../areas/search/search-field-large.scss";
