﻿/* ==================================================================== */
/* FORM PAGE
/* ==================================================================== */
.page-wrapper-common-form {
  background-color: #f2f2f2; }
  .page-wrapper-common-form .page-content-common-wrapper {
    background-color: transparent; }
  .page-wrapper-common-form .footer-common {
    visibility: hidden; }

.form-page-block__content {
  padding-left: 50px; }
  .form-page-block__content h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 20px 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; }

.form__top-panel {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  margin-bottom: 26px; }
  .form__top-panel-additional {
    display: table-cell;
    font-size: 13px; }
    .form__top-panel-additional ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 8px;
      padding-bottom: 10px;
      white-space: nowrap; }
      .form__top-panel-additional ul li .dashed {
        cursor: pointer; }
    .form__top-panel-additional-active {
      padding: 1px 4px 4px;
      margin-left: -4px;
      margin-right: -4px;
      background-color: #bfe4ff;
      color: #000; }
      .form__top-panel-additional-active > span {
        color: #000; }
  .form__top-panel-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .form__top-panel-info {
    position: relative;
    font-size: 13px; }
    .form__top-panel-info__attachments {
      display: none;
      padding: 16px 0 0 0; }
      .form__top-panel-info__attachments li {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 21px;
        position: relative; }
        .form__top-panel-info__attachments li:after {
          color: #fff;
          letter-spacing: 0.5px;
          font: 12px/12px Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          padding: 1px 3px 1px 2px; }
        .form__top-panel-info__attachments li.word:after {
          content: ".doc";
          background-color: #1252a1; }
        .form__top-panel-info__attachments li.excel:after {
          content: ".xsl";
          background-color: #008200; }
        .form__top-panel-info__attachments li a {
          position: relative; }
      .form__top-panel-info__attachments-lots li {
        display: inline-block;
        vertical-align: top;
        width: 49%; }
    .form__top-panel-info__versions {
      display: none;
      padding: 16px 0 0 0; }
    .form__top-panel-info h2 {
      font-size: 22px;
      margin-bottom: 13px; }
    .form__top-panel-info h4 {
      font-weight: bold;
      font-size: 14px; }
    .form__top-panel-info p {
      font-size: 14px; }
    .form__top-panel-info li {
      list-style-type: none; }
    .form__top-panel-info-years {
      margin: 5px 0 4px -10px;
      font-size: 13px; }
      .form__top-panel-info-years li {
        display: block;
        margin: 0 0 2px 0; }
      .form__top-panel-info-years-item {
        display: inline-block;
        min-width: 45px;
        margin: 0 0 30px 0;
        vertical-align: top; }
        .form__top-panel-info-years-item-switcher {
          display: inline-block;
          min-width: 45px;
          margin: 0 0 30px 0;
          vertical-align: top; }
          .form__top-panel-info-years-item-switcher > span {
            color: #1252a1;
            border-color: rgba(18, 82, 161, 0.2);
            cursor: pointer;
            border-bottom-style: dashed;
            border-bottom-width: 1px; }
            .form__top-panel-info-years-item-switcher > span:hover {
              border-color: rgba(18, 82, 161, 0.6); }
        .form__top-panel-info-years-item ul {
          min-width: 100px;
          margin: 2px 0 0 0; }
          .form__top-panel-info-years-item ul li {
            min-width: 45px;
            margin: 0 0 4px 0;
            vertical-align: top;
            font-size: 14px;
            line-height: 20px; }
      .form__top-panel-info-years h3 {
        font-size: 13px; }

.form__article {
  position: relative;
  font-family: Arial, Helvetica, sans-serif; }
  .form__article__shadow-top-right {
    background: url("/res/images/layout-elements/form-page/layout-elements__shadow-top-right.png") no-repeat 0 0 transparent;
    top: -7px;
    height: 130px;
    position: absolute;
    right: -9px;
    width: 130px; }
  .form__article__shadow-right {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-right.png) repeat-y 0 0 transparent;
    right: -9px;
    width: 9px;
    top: 123px;
    position: absolute;
    bottom: 119px; }
  .form__article__shadow-top-left {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-top-left.png) no-repeat 0 0 transparent;
    top: -7px;
    height: 130px;
    position: absolute;
    left: -9px;
    width: 130px; }
  .form__article__shadow-bottom-right {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom-right.png) no-repeat 0 0 transparent;
    bottom: -11px;
    height: 130px;
    position: absolute;
    right: -9px;
    width: 130px; }
  .form__article__shadow-bottom {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom.png) repeat-x 0 0 transparent;
    bottom: -11px;
    height: 11px;
    left: 121px;
    position: absolute;
    right: 121px; }
  .form__article__shadow-bottom-left {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-bottom-left.png) no-repeat 0 0 transparent;
    bottom: -11px;
    height: 130px;
    position: absolute;
    left: -9px;
    width: 130px; }
  .form__article__shadow-left {
    background: url(/res/images/layout-elements/form-page/layout-elements__shadow-left.png) repeat-y 0 0 transparent;
    left: -9px;
    width: 9px;
    top: 123px;
    position: absolute;
    bottom: 119px; }
  .form__article-download-link {
    margin-bottom: 5px;
    white-space: nowrap; }
  .form__article-sample-link {
    text-transform: lowercase;
    white-space: nowrap;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif; }
    .form__article-sample-link a {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2); }
      .form__article-sample-link a:hover {
        border-color: rgba(46, 152, 255, 0.6); }
  .form__article-wrapper {
    background-color: #fff;
    font-size: 13px;
    min-width: 600px;
    min-height: 760px;
    padding: 40px;
    position: relative;
    float: left; }
    .form__article-wrapper p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px; }
    .form__article-wrapper .fill, .form__article-wrapper .fill b {
      font-weight: normal;
      background-color: #ffc; }
    .form__article-wrapper table td {
      padding: 6px;
      vertical-align: middle; }
    .form__article-wrapper .bdAll, .form__article-wrapper .bdAll td {
      border: 1px solid #000; }
    .form__article-wrapper .bdRight {
      border-right: 1px solid #000; }
    .form__article-wrapper .bdLeft {
      border-left: 1px solid #000; }
    .form__article-wrapper .bdTop {
      border-top: 1px solid #000; }
    .form__article-wrapper .bdBottom {
      border-bottom: 1px solid #000; }
    .form__article-wrapper .titlepage a {
      border-bottom: none; }
    .form__article-wrapper .xx-small {
      font-size: 10px;
      position: relative;
      top: -8px; }
    .form__article-wrapper .break {
      display: inline-block;
      height: 13px;
      width: 0; }
  .form__article__header {
    display: table;
    width: 100%;
    padding-bottom: 20px; }
    .form__article__header-left {
      display: table-cell;
      padding-right: 100px; }
    .form__article__header-right {
      display: table-cell; }
  .form__article img {
    line-height: 1px; }

/* ==================================================================== */
/* SEARCH FIELD SMALL
/* =================================================================== */
.search-field__small {
  z-index: 2000;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px; }
  .index-page-block__content .search-field__small {
    top: 2px; }
  .article-page-block__content .search-field__small {
    top: 70px; }
  .search-field__small > form {
    position: relative;
    width: 100%;
    display: table; }
  .search-field__small-left {
    position: relative;
    display: table-cell;
    width: 100%; }
  .search-field__small-right {
    visibility: hidden;
    display: table-cell; }
  .search-field__small.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    top: 7px; }
    .search-field__small.position-is__fixed .search-field__small-left {
      width: 1152px; }
    .search-field__small.position-is__fixed .search-field__small-right {
      min-width: 68px; }
      .search-field__small.position-is__fixed .search-field__small-right > div {
        width: calc(100% - 1172px); }
  .search-field__small-wrapper {
    position: absolute;
    right: 0; }
    .service-page-block__content .search-field__small-wrapper {
      right: 50px; }
    .index-page-block__content .search-field__small-wrapper {
      right: 33px; }
    .article-page-block__content .search-field__small-wrapper {
      right: 65px; }
  .search-field__small-input {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    height: 25px;
    padding: 0 25px 0 5px;
    width: 304px; }
    .search-field__small-input-wrapper {
      position: relative;
      font-size: 16px;
      line-height: 16px; }
  .search-field__small-submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.2); }
    .search-field__small-submit:hover {
      color: #000;
      cursor: pointer; }
  .search-field__small-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 4px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 13px;
    position: absolute;
    top: 24px;
    z-index: 1;
    max-height: 0; }
    .search-field__small-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 400px;
      top: 25px; }
    .search-field__small-tips-highlighted {
      color: #707375; }
    .search-field__small-tips-selected {
      background-color: #ededed; }
    .search-field__small-tips ul {
      list-style-type: none; }
      .search-field__small-tips ul li {
        padding: 2px 0 4px 20px;
        line-height: 16px; }
        .search-field__small-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

