﻿/* ==================================================================== */
/* MAIN PAGE
/* ==================================================================== */
.index-page-block {
  margin-top: 12px; }
  .index-page-block__barcode-wrapper {
    text-align: right; }
  .index-page-block__top {
    background-color: #fff;
    height: 12px;
    margin-left: 35px;
    position: absolute;
    margin-right: 12px;
    padding-bottom: 12px;
    margin-top: -12px;
    left: 0;
    right: 0; }
  .index-page-block__top:before {
    content: "";
    background: url("/res/images/layout-elements/index-page/layout-elements__left-top-corner.png") no-repeat scroll 0 0/100% auto transparent;
    height: 12px;
    left: -35px;
    position: absolute;
    top: 0;
    width: 35px; }
  .index-page-block__top:after {
    content: "";
    background: url("/res/images/layout-elements/index-page/layout-elements__right-top-corner.png") no-repeat scroll 0 0/100% auto transparent;
    height: 12px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 12px; }
  .index-page-block__bottom {
    background-image: url("/res/images/layout-elements/index-page/layout-elements__bottom.png");
    bottom: -9px;
    position: absolute;
    left: 31px;
    right: 0;
    height: 12px;
    background-size: 18px;
    background-repeat: repeat-x;
    z-index: 1; }
  .index-page-block__bottom:before {
    content: "";
    background: url("/res/images/layout-elements/index-page/layout-elements__bottom-left.png") no-repeat scroll left top/100% auto transparent;
    height: 12px;
    left: -31px;
    position: absolute;
    width: 31px;
    bottom: 0; }
  .index-page-block__bottom:after {
    content: "";
    background: url("/res/images/layout-elements/index-page/layout-elements__bottom-right.png") no-repeat scroll left top/100% auto transparent;
    height: 12px;
    right: 0;
    position: absolute;
    width: 12px;
    bottom: 0; }
  .index-page-block__shadow-right {
    position: absolute;
    background-image: url("/res/images/layout-elements/index-page/layout-elements__shadow-right.png");
    bottom: -9px;
    top: 68px;
    right: -68px;
    background-size: 68px;
    background-repeat: repeat-y;
    width: 68px; }
    .index-page-block__shadow-right:before {
      content: "";
      background: url("/res/images/layout-elements/index-page/layout-elements__shadow-right-top-corner.png") no-repeat scroll left top/100% auto transparent;
      height: 68px;
      right: 0;
      position: absolute;
      width: 68px;
      top: -68px; }
  .index-page-block__shadow-bottom {
    background-image: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom.png");
    bottom: -97px;
    position: absolute;
    left: 102px;
    right: 0;
    height: 88px;
    background-size: 30px;
    background-repeat: repeat-x; }
    .index-page-block__shadow-bottom:before {
      content: "";
      background: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom-left.png") no-repeat scroll left top/100% auto transparent;
      height: 88px;
      left: -93px;
      position: absolute;
      width: 93px;
      bottom: 0; }
    .index-page-block__shadow-bottom:after {
      content: "";
      background: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom-right.png") no-repeat scroll left top/100% auto transparent;
      height: 88px;
      right: -68px;
      position: absolute;
      width: 68px;
      bottom: 0; }
  .index-page-block__content {
    background-image: url("/res/images/layout-elements/index-page/layout-elements__left.png"), url("/res/images/layout-elements/index-page/layout-elements__right.png");
    background-position: left top, right top;
    background-repeat: repeat-y;
    background-size: 35px, 12px;
    padding-left: 20px;
    padding-right: 33px;
    padding-bottom: 30px; }
  .index-page-block__person {
    position: relative; }
    .index-page-block__person-image {
      display: table-cell;
      line-height: 1px; }
    .index-page-block__person-text {
      display: table-cell;
      text-align: left;
      direction: ltr; }
  .index-page-block__secondary-articles-list {
    list-style-type: none; }
    .index-page-block__secondary-articles-list-image-block {
      line-height: 1px; }
  .index-page-block__short-links-list {
    list-style-type: none; }
  .index-page-block__article-with-image-block {
    line-height: 1px; }
  .index-page-block__magazine-content {
    position: relative; }
    .index-page-block__magazine-content-col {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      padding: 0 50px; }
    .index-page-block__magazine-content-rubric-image {
      line-height: 1px; }
    .index-page-block__magazine-content-article-image-block {
      line-height: 1px; }
  .index-page-block__content-footer {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; }
  .index-page-block__main-rubric-block-list {
    list-style-type: none; }
  .index-page-block__bottom-content {
    position: relative;
    display: table;
    width: 100%; }
    .index-page-block__bottom-content-col {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%;
      padding: 0 50px; }
      .index-page-block__bottom-content-col:first-child {
        vertical-align: bottom; }
  .index-page-block__article-link__has-add i {
    padding-left: 3px;
    font-size: 13px; }

/* ==================================================================== */
/* SEARCH FIELD SMALL
/* =================================================================== */
.search-field__small {
  z-index: 2000;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px; }
  .index-page-block__content .search-field__small {
    top: 2px; }
  .article-page-block__content .search-field__small {
    top: 70px; }
  .search-field__small > form {
    position: relative;
    width: 100%;
    display: table; }
  .search-field__small-left {
    position: relative;
    display: table-cell;
    width: 100%; }
  .search-field__small-right {
    visibility: hidden;
    display: table-cell; }
  .search-field__small.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    top: 7px; }
    .search-field__small.position-is__fixed .search-field__small-left {
      width: 1152px; }
    .search-field__small.position-is__fixed .search-field__small-right {
      min-width: 68px; }
      .search-field__small.position-is__fixed .search-field__small-right > div {
        width: calc(100% - 1172px); }
  .search-field__small-wrapper {
    position: absolute;
    right: 0; }
    .service-page-block__content .search-field__small-wrapper {
      right: 50px; }
    .index-page-block__content .search-field__small-wrapper {
      right: 33px; }
    .article-page-block__content .search-field__small-wrapper {
      right: 65px; }
  .search-field__small-input {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    height: 25px;
    padding: 0 25px 0 5px;
    width: 304px; }
    .search-field__small-input-wrapper {
      position: relative;
      font-size: 16px;
      line-height: 16px; }
  .search-field__small-submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.2); }
    .search-field__small-submit:hover {
      color: #000;
      cursor: pointer; }
  .search-field__small-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 4px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 13px;
    position: absolute;
    top: 24px;
    z-index: 1;
    max-height: 0; }
    .search-field__small-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 400px;
      top: 25px; }
    .search-field__small-tips-highlighted {
      color: #707375; }
    .search-field__small-tips-selected {
      background-color: #ededed; }
    .search-field__small-tips ul {
      list-style-type: none; }
      .search-field__small-tips ul li {
        padding: 2px 0 4px 20px;
        line-height: 16px; }
        .search-field__small-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

/* ==================================================================== */
/* PACKET
/* ==================================================================== */
.packet {
  background-color: rgba(60, 70, 77, 0.7);
  z-index: 3;
  position: absolute;
  top: -12px;
  bottom: -10px;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none; }
  .packet.packet-showed {
    display: block;
    animation-name: hopacityon;
    animation-duration: .3s;
    opacity: 1;
    filter: alpha(opacity=100); }
  .packet-block {
    max-width: 1152px;
    min-width: 882px;
    position: absolute;
    left: 0;
    top: 0;
    right: -68px;
    bottom: 0;
    margin-right: 68px;
    overflow: hidden; }
    .packet-block.position-is__fixed {
      left: 20px;
      right: 0; }
    .packet-block.packet-sticker__bottom {
      /*overflow: visible;
            top: 50%;*/ }
  .packet-sticker {
    position: absolute;
    background: url(/res/images/index-elements/packet-image.png) left top no-repeat;
    background-size: 100% auto;
    width: 624px;
    height: 713px;
    left: 50%;
    margin-left: -180px;
    font-family: Georgia, "Times New Roman", serif;
    color: #fff;
    text-align: center;
    display: block; }
    .position-is__fixed .packet-sticker {
      margin-top: -180px;
      top: 50%; }
    .packet-sticker__top .packet-sticker {
      top: 135px; }
    .packet-sticker__bottom .packet-sticker {
      bottom: 0; }
  .packet-text {
    position: relative;
    width: 360px;
    height: 360px; }
  .packet-header {
    font-size: 60px;
    line-height: 55px;
    padding: 68px 50px 17px 50px; }
  .packet-number {
    padding: 0 0 32px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; }
  .packet-link {
    font-size: 30px; }
    .packet-link span {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.2);
      cursor: pointer; }
      .packet-link span:hover {
        border-color: rgba(255, 255, 255, 0.6); }
  .packet-animation.packet {
    background-color: rgba(60, 70, 77, 0);
    -moz-transition: background-color 0.7s linear;
    -o-transition: background-color 0.7s linear;
    -webkit-transition: background-color 0.7s linear;
    transition: background-color 0.7s linear; }
  .packet-animation .packet-sticker {
    top: -500px;
    left: -500px;
    animation-duration: .7s; }
  .packet-animation .position-is__fixed .packet-sticker {
    animation-name: rocket-f; }
  .packet-animation .packet-sticker__top .packet-sticker {
    animation-name: rocket-t; }
  .packet-animation .packet-sticker__bottom .packet-sticker {
    animation-name: rocket-b; }

@keyframes rocket-f {
  from {
    top: 50%;
    left: 50%; }
  to {
    top: -600px;
    left: -600px; } }

@keyframes rocket-t {
  from {
    left: 50%;
    top: 135px; }
  to {
    top: -600px;
    left: -600px; } }

@keyframes rocket-b {
  from {
    left: 50%;
    top: 80%; }
  to {
    top: -600px;
    left: -600px; } }

