@import "../_variables.scss";
/* ==================================================================== */
/* MAIN PAGE
/* ==================================================================== */
$background-color: #fff;
$index-page-magazine-content-column-padding: 0 50px;
$index-page-content-footer-padding-top: 15px;
$index-page-content-footer-padding-side: 10px;

.index-page-block {
    margin-top: $index-page-decor-elem-param;

    &__barcode-wrapper {
        text-align: right;
    }

    &__top {
        background-color: $background-color;
        height: $index-page-decor-elem-param;
        margin-left: 35px;
        position: absolute;
        margin-right: $index-page-decor-elem-param;
        padding-bottom: $index-page-decor-elem-param;
        margin-top: -$index-page-decor-elem-param;
        left: 0;
        right: 0;
    }

    &__top:before {
        content: "";
        background: url("/res/images/layout-elements/index-page/layout-elements__left-top-corner.png") no-repeat scroll 0 0/100% auto transparent;
        height: $index-page-decor-elem-param;
        left: -35px;
        position: absolute;
        top: 0;
        width: 35px;
    }

    &__top:after {
        content: "";
        background: url("/res/images/layout-elements/index-page/layout-elements__right-top-corner.png") no-repeat scroll 0 0/100% auto transparent;
        height: $index-page-decor-elem-param;
        position: absolute;
        right: -$index-page-decor-elem-param;
        top: 0;
        width: $index-page-decor-elem-param;
    }

    &__bottom {
        background-image: url("/res/images/layout-elements/index-page/layout-elements__bottom.png");
        bottom: -9px;
        position: absolute;
        left: 31px;
        right: 0;
        height: $index-page-decor-elem-param;
        background-size: 18px;
        background-repeat: repeat-x;
        z-index: 1;
    }

    &__bottom:before {
        content: "";
        background: url("/res/images/layout-elements/index-page/layout-elements__bottom-left.png") no-repeat scroll left top / 100% auto transparent;
        height: $index-page-decor-elem-param;
        left: -31px;
        position: absolute;
        width: 31px;
        bottom: 0;
    }

    &__bottom:after {
        content: "";
        background: url("/res/images/layout-elements/index-page/layout-elements__bottom-right.png") no-repeat scroll left top / 100% auto transparent;
        height: $index-page-decor-elem-param;
        right: 0;
        position: absolute;
        width: $index-page-decor-elem-param;
        bottom: 0;
    }

    &__shadow {
        &-right {
            position: absolute;
            background-image: url("/res/images/layout-elements/index-page/layout-elements__shadow-right.png");
            bottom: -9px;
            top: 68px;
            right: -68px;
            background-size: 68px;
            background-repeat: repeat-y;
            width: 68px;

            &:before {
                content: "";
                background: url("/res/images/layout-elements/index-page/layout-elements__shadow-right-top-corner.png") no-repeat scroll left top / 100% auto transparent;
                height: 68px;
                right: 0;
                position: absolute;
                width: 68px;
                top: -68px;
            }
        }

        &-bottom {
            background-image: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom.png");
            bottom: -97px;
            position: absolute;
            left: 102px;
            right: 0;
            height: 88px;
            background-size: 30px;
            background-repeat: repeat-x;

            &:before {
                content: "";
                background: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom-left.png") no-repeat scroll left top / 100% auto transparent;
                height: 88px;
                left: -93px;
                position: absolute;
                width: 93px;
                bottom: 0;
            }

            &:after {
                content: "";
                background: url("/res/images/layout-elements/index-page/layout-elements__shadow-bottom-right.png") no-repeat scroll left top / 100% auto transparent;
                height: 88px;
                right: -68px;
                position: absolute;
                width: 68px;
                bottom: 0;
            }
        }
    }

    &__content {
        background-image: url("/res/images/layout-elements/index-page/layout-elements__left.png"), url("/res/images/layout-elements/index-page/layout-elements__right.png");
        background-position: left top, right top;
        background-repeat: repeat-y;
        background-size: 35px, 12px;
        padding-left: $index-page-padding-left;
        padding-right: $index-page-padding-right;
        padding-bottom: $index-page-padding-bottom;
    }

    &__person {
        position: relative;

        &-image {
            display: table-cell;
            line-height: 1px;
        }

        &-text {
            display: table-cell;
            text-align: left;
            direction: ltr;
        }
    }

    &__secondary-articles-list {
        list-style-type: none;

        &-image-block {
            line-height: 1px;
        }
    }

    &__short-links-list {
        list-style-type: none;
    }

    &__article-with-image {
        &-block {
            line-height: 1px;
        }
    }

    &__magazine-content {
        position: relative;

        &-col {
            @include col-lg-6;
            padding: $index-page-magazine-content-column-padding;
        }

        &-rubric-image {
            line-height: 1px;
        }

        &-article-image-block {
            line-height: 1px;
        }        
    }

    &__content-footer {
        padding-top: $index-page-content-footer-padding-top;
        padding-left: $index-page-content-footer-padding-side;
        padding-right: $index-page-content-footer-padding-side;
    }

    &__main-rubric-block-list {
        list-style-type: none;
    }

    &__bottom-content {
        position: relative;
        display: table;
        width: 100%;

        &-col {
            @include col-lg-6;
            padding: $index-page-magazine-content-column-padding;

            &:first-child {
                vertical-align: bottom;
            }
        }
    }

    &__article-link {
        &__has-add i {
            padding-left: 3px;
            font-size: 13px;
        }
    }
}

@import "../areas/search/search-field-small.scss";
@import "../areas/packet.scss";
