@import "../base.scss";
@import "../areas/country-flags.scss";

/* ==================================================================== */
/* LANDING PAGE
/* ==================================================================== */

$landing-width: 998px;
$main-bgr-color: #ebebeb;
$header-color: #00aeef;
$promo-font: Verdana, Geneva, sans-serif;
$promo-text-color: #323748;
$form-bgr-color: #4c5161;
$form-promo-color: #e1e1e1;
$form-left-column-width: 532px;
$border-color: #a2a4a9;
$form-side-wrapper: 19px;
$form-text-color: #e5e5e5;
$error-color: #FF5050;
$tip-bgr-color: #e5e6de;
$form-decor-border-color: #717582;
$details-bgr-color: #e5e6de;
$details-header-color: #2e3342;
$details-header-color: #404040;
$scissors-top-color: #a8a8a4;
$scissors-bottom-color: #fff;
$details-p-color: #636363;
$footer-color: #6e6b59;
$times-font: "Times New Roman";

.page-wrapper-common {
    height: 100%;
    width: 100%;
    display: table;
    background: url(/res/images/landing/landing__background.gif) center center repeat $main-bgr-color;
    padding: 36px 0 0 0;
}

.landing__ {
    //wrapper
    &content-block-common {
        position: relative;
        display: table-row;
        height: 100%;
    }
    //Header
    &header {
        width: $landing-width;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        &-wrapper {
            position: relative;
            background: url(/res/images/landing/header/landing__header-bgr.png) center bottom no-repeat $white-link-color;
            margin: 0 $form-side-wrapper;
            padding: 26px 37px 20px 37px;
            margin-bottom: 6px;
        }

        &-shadow {
            &-left {
                position: absolute;
                width: 19px;
                top: 0px;
                bottom: -6px;
                left: -19px;
                background: url(/res/images/landing/header/landing__header-shadow-left.png) right top no-repeat;

                &:after {
                    content: "";
                    position: absolute;
                    top: 316px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: url(/res/images/landing/header/landing__header-shadow-left-b.png) right top repeat-y;
                }
            }

            &-right {
                position: absolute;
                width: 19px;
                top: 0px;
                bottom: -6px;
                right: -19px;
                background: url(/res/images/landing/header/landing__header-shadow-right.png) right top no-repeat;

                &:after {
                    content: "";
                    position: absolute;
                    top: 316px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: url(/res/images/landing/header/landing__header-shadow-right-b.png) left top repeat-y;
                }
            }
        }

        &-content {
            width: 100%;
            min-height: 200px;
            display: table;
        }

        &-logo {
            @include col-lg-6;
            vertical-align: middle;
            text-align: center;
        }

        &-promo {
            @include col-lg-6;
            vertical-align: middle;
            padding: 8px 0;

            & > div {
                padding: 0 0 0 123px;

                &:first-child {
                    margin-left: -80px;
                    margin-right: 80px;
                }

                & h2 {
                    display: block;
                    padding: 24px 0 8px 0;
                    font-family: $georgia;
                    font-size: 18px;
                    line-height: 18px;
                    font-style: italic;
                    color: $header-color;
                }

                & p {
                    display: block;
                    padding: 8px 10px 6px 10px;
                    font-family: $promo-font;
                    font-size: 11px;
                    line-height: 15px;
                    color: $promo-text-color;
                    background: url(/res/images/landing/header/landing__header-promo-text-bgr-left.png) left top no-repeat;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: url(/res/images/landing/header/landing__header-promo-text-bgr-right.png) right bottom no-repeat;
                    }
                }

                & a {
                    position: relative;
                    text-align: center;
                    z-index: 1;
                }
            }
        }
    }
    //Form
    &form {
        background: url(/res/images/landing/form/landing__form-background.gif) center center repeat $form-bgr-color;
        padding-bottom: 16px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            border: 1px dotted $form-decor-border-color;
            left: 0;
            right: 0;
            top: 3px;
        }

        &:after {
            content: "";
            position: absolute;
            border: 1px dotted $form-decor-border-color;
            left: 0;
            right: 0;
            bottom: 3px;
        }

        &-middle-divider {
            border-right: 1px dashed $border-color;
            width: 1px;
            position: absolute;
            top: -6px;
            bottom: -7px;
            left: $form-left-column-width;
            z-index: 1;
        }

        &-wrapper {
            width: $landing-width;
            margin: 0 auto;
            position: relative;
            background: url(/res/images/landing/form/landing__form-wrapper-background.png) center center repeat-y;
            padding: 4px 19px 0 19px;
        }

        &-promo {
            display: table-cell;
            vertical-align: top;
            color: $form-promo-color;
            font-family: $sans;
            position: relative;
            width: $form-left-column-width;
            padding-bottom: 114px;

            &-more {
                position: absolute;
                font-family: $times-font;
                bottom: 47px;
                left: 35px;
            }

            &:before {
                content: "";
                height: 15px;
                background: url(/res/images/landing/form/landing__form-promo-background.png) center center no-repeat;
                display: block;
                width: $form-left-column-width;
                position: absolute;
                left: -19px;
                top: -10px;
            }

            &:after {
                content: "";
                height: 34px;
                background: url(/res/images/landing/form/landing__form-promo-background-bottom.png) center center no-repeat;
                display: block;
                width: $form-left-column-width;
                position: absolute;
                left: -19px;
                bottom: -34px;
            }

            &-wrapper {
                position: relative;
                z-index: 1;
                padding-top: 9px;
                padding-left: 44px;
                padding-right: 44px;
                padding-bottom: 45px;
            }

            & h2 {
                font-family: $georgia;
                padding-bottom: 16px;
                font-size: 29px;
                line-height: 29px;
                color: $white-link-color;
                font-style: italic;
                font-weight: normal;
            }

            & p {
                font-size: 14px;
                line-height: 20px;
            }

            &-arrow {
                width: 277px;
                height: 112px;
                background: url(/res/images/landing/form/landing__form-promo-arrow-background.png) right center no-repeat;
                font-family: $sans;
                font-size: 15px;
                line-height: 20px;
                color: $black-link-color;
                float: right;
                margin-right: -24px;
                position: relative;

                &-wrapper {
                    width: 277px;
                    height: 112px;
                    display: table-cell;
                    vertical-align: middle;
                }

                & p {
                    padding: 0 50px 0 20px;
                    margin-bottom: 7px;
                }

                &-block {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        &-content {
            display: table-cell;
            vertical-align: top;
            position: relative;
            width: $landing-width - $form-left-column-width - $form-side-wrapper;
            font-family: $sans;
            color: $form-text-color;
            font-size: 14px;
            line-height: 20px;

            &:before {
                content: "";
                height: 15px;
                background: url(/res/images/landing/form/landing__form-content-background.png) center center no-repeat;
                display: block;
                width: 467px;
                position: absolute;
                right: -19px;
                top: -10px;
            }

            &:after {
                content: "";
                height: 34px;
                background: url(/res/images/landing/form/landing__form-content-background-bottom.png) center center no-repeat;
                display: block;
                width: 466px;
                position: absolute;
                right: -19px;
                bottom: -34px;
            }

            &-wrapper {
                position: relative;
                z-index: 1;
                padding-top: 26px;
                padding-right: 44px;
                padding-bottom: 45px;
                padding-left: 27px;
                min-width: 400px;
            }

            &-line {
                position: relative;

                &-margin {
                    margin-bottom: 15px;
                }

                &-checkboxes {
                    padding: 0 60px;
                    position: relative;
                    text-align: left;
                    font-family: $sans;
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 24px;
                }
            }

            & input[type='text'] {
                float: left;
                border: 0 none;
                outline: 0 none;
                padding: 0 0 0 12px;
                margin-bottom: 14px;
                font-size: 14px;
                line-height: 20px;
                color: $promo-text-color;
                width: 260px;
                height: 32px;
                vertical-align: middle;
                @include border-radius(3px);
                @include box-shadow(inset, 1px, 2px, 9px, rgba(0,0,0,0.4));
                font-family: $sans;

                &.landing__form-content-input-short {
                    width: 190px;
                    margin-right: 7px;
                }

                &.landing__form-content-input-code {
                    float: left;
                    border: 0 none;
                    outline: 0 none;
                    padding: 0 0 0 12px;
                    margin: 0 7px 12px 0;
                    width: 70px;
                    height: 32px;
                    vertical-align: middle;
                }
            }

            & label {
                display: block;
                float: left;
                clear: left;
                margin: 6px 12px 12px 0;
                width: 76px;
                height: 26px;
                font-size: 14px;
                line-height: 20px;
                color: $form-text-color;
                text-align: right;

                &.landing__form-content-checkbox-text {
                    margin-left: 29px;
                    padding-bottom: 10px;
                    text-align: left;
                    font-size: 12px;
                    line-height: 14px;
                    float: none;
                    width: auto;
                    clear: none;
                    height: auto;
                    margin-bottom: 0;
                    margin-right: 0;

                    & a {
                        @include link($blue-link-color);
                    }
                }
            }

            & input[type='checkbox'] {
                position: absolute;
                left: 3px;
                top: 8px;
            }

            & p {
                display: block;
                clear: both;
                margin: 0 62px 12px 14px;
                font-size: 12px;
                line-height: 14px;
                margin-left: 88px;

                &.landing__form-content-error {
                    color: $error-color;
                    display: none;
                }

                &.landing__form-content-code-text {
                    margin: 0 62px 12px 14px;
                }
            }

            & .phone-country-select {
                position: absolute;
                left: 87px;
                top: 2px;

                & + input {
                    padding-left: 27px;
                }
            }

            &-tip {
                @include border-radius(5px);
                @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.6));
                border: 1px solid $black-link-color;
                background-color: $tip-bgr-color;
                right: -111px;
                line-height: 16px;
                font-size: 12px;
                font-family: $sans;
                padding: 9px 29px;
                position: absolute;
                width: 298px;
                color: $black-link-color;
                display: none;
                bottom: 36px;

                &:before {
                    content: "";
                    position: absolute;
                    left: 173px;
                    border-style: solid;
                    border-width: 7px 6px 0 6px;
                    border-color: $tip-bgr-color transparent transparent transparent;
                    background-image: none;
                    height: auto;
                    width: auto;
                    top: 100%;
                }
            }

            &-help {
                float: left;
                width: 14px;
                height: 32px;
                margin-bottom: 12px;
                background: url(/res/images/landing/form/landing__form-content-help-icon.png) center center no-repeat;
                position: relative;

                &:hover {
                    & > .landing__form-content-tip {
                        display: block;
                    }
                }
            }

            &-submit {
                border: none;
                @include linear-gradient(to bottom, rgb(0, 174, 239) 0%, rgb(0, 137, 189) 65%, rgb(0, 119, 164) 100%);
                vertical-align: middle;
                font-size: 14px;
                line-height: 20px;
                color: $white-link-color;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
                @include transition(all 0.3s ease-in-out);
                @include border-radius(5px);
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 18px;
                padding-right: 18px;
                margin-top: 15px;
                margin-left: 88px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.6);
                cursor: pointer;

                &[disabled], &.button-disabled {
                    @include linear-gradient(to bottom, rgb(117, 117, 117) 0%, rgb(80, 80, 80) 100%);
                    cursor: default;
                }

                &-code {
                    float: left;
                    margin: 0;
                }
            }

            &-preloader {
                background: url(/res/images/preloaders/preloader__landing.gif) center center no-repeat;
            }
        }
    }
    //Details
    &details {
        width: $landing-width;
        margin: -7px auto 0 auto;
        position: relative;

        &-wrapper {
            @include box-shadow(1px, 2px, 9px, 0,rgba(0,0,0,0.4));
            margin: 0 $form-side-wrapper + 1px;
            padding-top: 27px;
            background: url(/res/images/landing/details/landing__details-shadow.png) center top no-repeat $details-bgr-color;
        }

        &-header {
            padding: 0 48px 24px 36px;

            & h2 {
                color: $details-header-color;
                padding-bottom: 9px;
                font-family: $georgia;
                font-size: 28px;
                line-height: 35px;
                font-style: italic;
                font-weight: normal;
            }

            & td {
                padding: 11px 30px 0 12px;
                font-family: $sans;
                font-size: 14px;
                line-height: 20px;
                color: $details-header-color;
                background: url(/res/images/landing/details/landing__details-check.png) left top no-repeat;
            }
        }

        &-scissors {
            margin: 0 48px 24px 34px;
            height: 15px;
            background: url(/res/images/landing/details/landing__details-scissors.png) left top no-repeat;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 18px;
                right: 0;
                bottom: 0;
                height: 0;
                border-top: 1px dashed $scissors-top-color;
                border-bottom: 1px dashed $scissors-bottom-color;
                @include translate(0, -50%);
            }
        }

        &-body {
            padding: 0 48px 16px 36px;

            & td {
                padding-left: 6px;
                vertical-align: top;

                &.foto {
                    & img {
                        padding: 5px 34px 0 74px;
                    }
                }
            }

            & h2 {
                color: $details-header-color;
                padding-bottom: 22px;
                font-family: $georgia;
                font-size: 18px;
                line-height: 22px;
                font-style: italic;
                font-weight: normal;
            }

            & p {
                color: $details-p-color;
                padding-bottom: 17px;
                font-family: $sans;
                font-size: 14px;
                line-height: 17px;
            }

            & strong, & b {
                color: $black-link-color;
                font-weight: normal;
            }
        }
    }



    &footer {
        width: $landing-width;
        height: 84px;
        margin: 0 auto;
        color: $footer-color;

        &-copyright {
            margin: 0 37px;
            padding: 27px 0 25px 0;
            font-family: $promo-font;
            font-weight: bold;
            font-size: 12px;
            line-height: 29px;
        }
    }
}
