﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 100%; }

a, input, select, textarea, button {
  outline: 0; }

img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

pre, xmp, plaintext, listing {
  white-space: pre; }

.hidden, [hidden] {
  display: none; }

.nowrap {
  white-space: nowrap; }

.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed; }

.solid {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

.position-is__relative {
  position: relative !important; }

.position-is__absolute {
  position: absolute !important; }

.position-is__fixed {
  position: fixed !important; }

/* ==================================================================== */
/* STANDART BLOCKS
/* =================================================================== */
.col-lg {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  .col-lg-1 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    width: 8.333333%; }
  .col-lg-2 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    width: 16.666667%; }
  .col-lg-3 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%; }
  .col-lg-4 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%; }
  .col-lg-5 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    width: 41.666667%; }
  .col-lg-6 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%; }
  .col-lg-7 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    width: 58.333333%; }
  .col-lg-8 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%; }
  .col-lg-9 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%; }
  .col-lg-10 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    width: 83.333333%; }
  .col-lg-11 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    width: 91.666667%; }
  .col-lg-12 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; }
  .col-lg-text-left {
    text-align: left; }
  .col-lg-text-center {
    text-align: center; }
  .col-lg-text-right {
    text-align: right; }
  .col-lg-block-center {
    margin-left: auto;
    margin-right: auto; }

.notransparent {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

@keyframes hopacityoff {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hopacityon {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ==================================================================== */
/* STANDART LINKS
/* =================================================================== */
a {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  color: #1252a1;
  text-decoration: none;
  border-color: rgba(18, 82, 161, 0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  a:hover {
    text-decoration: none;
    border-color: rgba(18, 82, 161, 0.8); }
  a.__no-border {
    border-bottom: none; }

.standart-text-link__black {
  color: #000;
  border-color: rgba(0, 0, 0, 0.4); }
  .standart-text-link__black:focus, .standart-text-link__black:hover {
    border-color: rgba(0, 0, 0, 0.8); }

.standart-text-link__blue {
  color: #2e98ff;
  border-color: rgba(46, 152, 255, 0.4); }
  .standart-text-link__blue:focus, .standart-text-link__blue:hover {
    border-color: rgba(46, 152, 255, 0.8); }

.standart-text-link__light-gray {
  color: #ededed;
  border-color: rgba(237, 237, 237, 0.4); }
  .standart-text-link__light-gray:focus, .standart-text-link__light-gray:hover {
    border-color: rgba(237, 237, 237, 0.8); }

.standart-text-link__dark-gray {
  color: #707375;
  border-color: rgba(112, 115, 117, 0.4); }
  .standart-text-link__dark-gray:focus, .standart-text-link__dark-gray:hover {
    border-color: rgba(112, 115, 117, 0.8); }

.standart-text-link__white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4); }
  .standart-text-link__white:focus, .standart-text-link__white:hover {
    border-color: rgba(255, 255, 255, 0.8); }

.standart-text-link__green {
  color: #008200;
  border-color: rgba(0, 130, 0, 0.4); }
  .standart-text-link__green:focus, .standart-text-link__green:hover {
    border-color: rgba(0, 130, 0, 0.8); }

.standart-text-link__attention {
  color: #e2001a;
  border-color: rgba(226, 0, 26, 0.4); }
  .standart-text-link__attention:focus, .standart-text-link__attention:hover {
    border-color: rgba(226, 0, 26, 0.8); }

.standart-text-link__standart {
  color: #1252a1;
  border-color: rgba(18, 82, 161, 0.4); }
  .standart-text-link__standart:focus, .standart-text-link__standart:hover {
    border-color: rgba(18, 82, 161, 0.8); }

/* ==================================================================== */
/* STANDART BUTTONS
/* =================================================================== */
.button {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .button-white {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #f3f3f3);
    background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
    background: linear-gradient(to bottom, #fff, #f3f3f3);
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #efefef;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    color: #000;
    padding: 0.3rem 0.6rem; }
    .button-white:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #b7b7b7;
      border-top: 1px solid #f7f7f7;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0; }
    .button-white:active {
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #dedede;
      border-top: 1px solid #a2a2a2;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede; }
    .button-white[disabled]:hover, .button-white[disabled]:active, .button-white.button-disabled:hover, .button-white.button-disabled:active {
      border-bottom: 1px solid #b0b0b0;
      border-top: 1px solid #efefef;
      border-left: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      background: #fff;
      background: -webkit-linear-gradient(top, #fff, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
      background: linear-gradient(to bottom, #fff, #f3f3f3); }
  .button-yellow {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #febb2d;
    background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
    background: -moz-linear-gradient(to top, #febb2d, #fecc47);
    background: linear-gradient(to top, #febb2d, #fecc47);
    border-bottom: 1px solid #c47a14;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-yellow:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #c47a14; }
    .button-yellow:active {
      border-color: #efac1f;
      background: #efac1f;
      background: -webkit-linear-gradient(bottom, #efac1f, #f1b821);
      background: -moz-linear-gradient(to top, #efac1f, #f1b821);
      background: linear-gradient(to top, #efac1f, #f1b821); }
    .button-yellow[disabled], .button-yellow.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-yellow[disabled]:hover, .button-yellow[disabled]:active, .button-yellow.button-disabled:hover, .button-yellow.button-disabled:active {
        background: #febb2d;
        background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
        background: -moz-linear-gradient(to top, #febb2d, #fecc47);
        background: linear-gradient(to top, #febb2d, #fecc47);
        border-bottom: 1px solid #c47a14; }
  .button-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #bfbfbf;
    background: -webkit-linear-gradient(bottom, #bfbfbf, #dbdbdb);
    background: -moz-linear-gradient(to top, #bfbfbf, #dbdbdb);
    background: linear-gradient(to top, #bfbfbf, #dbdbdb);
    border-bottom: 1px solid #272727;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #272727; }
    .button-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button-very-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #dbdbdb;
    background: -webkit-linear-gradient(bottom, #dbdbdb, #f3f3f3);
    background: -moz-linear-gradient(to top, #dbdbdb, #f3f3f3);
    background: linear-gradient(to top, #dbdbdb, #f3f3f3);
    border-bottom: 1px solid #b4b4b4;
    color: #707375;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 0.6rem; }
    .button-very-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #000; }
    .button-very-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button[disabled], .button.button-disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: default; }
  .button-gray-glass {
    -webkit-box-shadow: 0 2px 0px 0 #fff inset;
    -moz-box-shadow: 0 2px 0px 0 #fff inset;
    box-shadow: 0 2px 0px 0 #fff inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
    background: -webkit-linear-gradient(bottom, #ffffff, #ededed);
    background: -moz-linear-gradient(to top, #ffffff, #ededed);
    background: linear-gradient(to top, #ffffff, #ededed);
    border: 1px solid #9b9b9b;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.23rem 1.2rem;
    position: relative; }
    .button-gray-glass:hover {
      border-color: #c6c6c6; }
    .button-gray-glass:active {
      background: #dfdfdf;
      background: -webkit-linear-gradient(top, #dfdfdf, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #dfdfdf, #f3f3f3);
      background: linear-gradient(to bottom, #dfdfdf, #f3f3f3); }
    .button-gray-glass[disabled], .button-gray-glass.button-disabled {
      opacity: 1;
      filter: alpha(opacity=100);
      border-color: #c6c6c6;
      cursor: default;
      color: #707375; }
  .button-yellow-glass {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #f9da94;
    background: -webkit-linear-gradient(top, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: -moz-linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    border-top: 1px solid #fceac1;
    border-bottom: 1px solid #876101;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    padding: 0.27rem 1.2rem;
    position: relative;
    opacity: 0.95;
    filter: alpha(opacity=95); }
    .button-yellow-glass:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-top: 1px solid #fceac1; }
  .button-turquoise {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #257584;
    background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
    background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
    background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
    border-color: #3d8491 #126a7a #004d5b;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    white-space: nowrap;
    padding: 2px 12px 3px; }
    .button-turquoise:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #287f8f;
      background: -webkit-linear-gradient(-90deg, #287f8f 5%, #287f8f 80%);
      background: -moz-linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      background: linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      border-color: #3d8491 #166c7c #005766; }
    .button-turquoise:active {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #257584;
      background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
      background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
      background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      -moz-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      border-color: #01272e #013842 #014a56; }
    .button-turquoise[disabled], .button-turquoise.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-turquoise[disabled]:hover, .button-turquoise[disabled]:active, .button-turquoise.button-disabled:hover, .button-turquoise.button-disabled:active {
        background: #257584;
        background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
        background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
        background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
        border-color: #3d8491 #126a7a #004d5b; }

.id2-rx-user-informer-block, .id2-rx-user-informer-popup *, .id2-rx-user-informer-icon {
  box-sizing: content-box; }
  .id2-rx-user-informer-block a, .id2-rx-user-informer-popup * a, .id2-rx-user-informer-icon a {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none; }

.opinionsupport-shadow-1967 {
  position: fixed !important; }

.id2Notify .id2NotifyContent,
.opinionsupport-rating-block-1967,
.opinionsupport-rating-list-item-1967.opinionsupport-rating-list-item-active-1967 {
  box-sizing: content-box; }

/*@import "../_variables.scss";*/
/* ==================================================================== */
/* COUNTRY FLAGS
/* ==================================================================== */
.phone-country-select {
  background-image: url(/res/images/phone-country-select.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  height: 29px;
  width: 31px;
  z-index: 1; }
  .RU .phone-country-select {
    background-position: 7px -31px; }
  .BY .phone-country-select {
    background-position: 7px -71px; }
  .KZ .phone-country-select {
    background-position: 7px -111px; }
  .UA .phone-country-select {
    background-position: 7px -151px; }
  .AZ .phone-country-select {
    background-position: 7px -191px; }
  .LV .phone-country-select {
    background-position: 7px -231px; }
  .MD .phone-country-select {
    background-position: 7px -271px; }
  .TM .phone-country-select {
    background-position: 7px -311px; }
  .AM .phone-country-select {
    background-position: 7px -351px; }
  .GE .phone-country-select {
    background-position: 7px -391px; }
  .KG .phone-country-select {
    background-position: 7px -431px; }
  .LT .phone-country-select {
    background-position: 7px -471px; }
  .TJ .phone-country-select {
    background-position: 7px -511px; }
  .UZ .phone-country-select {
    background-position: 7px -551px; }
  .EE .phone-country-select {
    background-position: 7px -591px; }
  .demo__block__phone-number .phone-country-select {
    left: 0;
    position: absolute;
    top: 1px; }

/* ==================================================================== */
/* LANDING PAGE
/* ==================================================================== */
.page-wrapper-common {
  height: 100%;
  width: 100%;
  display: table;
  background: url(/res/images/landing/landing__background.gif) center center repeat #ebebeb;
  padding: 36px 0 0 0; }

.landing__content-block-common {
  position: relative;
  display: table-row;
  height: 100%; }

.landing__header {
  width: 998px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .landing__header-wrapper {
    position: relative;
    background: url(/res/images/landing/header/landing__header-bgr.png) center bottom no-repeat #fff;
    margin: 0 19px;
    padding: 26px 37px 20px 37px;
    margin-bottom: 6px; }
  .landing__header-shadow-left {
    position: absolute;
    width: 19px;
    top: 0px;
    bottom: -6px;
    left: -19px;
    background: url(/res/images/landing/header/landing__header-shadow-left.png) right top no-repeat; }
    .landing__header-shadow-left:after {
      content: "";
      position: absolute;
      top: 316px;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(/res/images/landing/header/landing__header-shadow-left-b.png) right top repeat-y; }
  .landing__header-shadow-right {
    position: absolute;
    width: 19px;
    top: 0px;
    bottom: -6px;
    right: -19px;
    background: url(/res/images/landing/header/landing__header-shadow-right.png) right top no-repeat; }
    .landing__header-shadow-right:after {
      content: "";
      position: absolute;
      top: 316px;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(/res/images/landing/header/landing__header-shadow-right-b.png) left top repeat-y; }
  .landing__header-content {
    width: 100%;
    min-height: 200px;
    display: table; }
  .landing__header-logo {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    vertical-align: middle;
    text-align: center; }
  .landing__header-promo {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    vertical-align: middle;
    padding: 8px 0; }
    .landing__header-promo > div {
      padding: 0 0 0 123px; }
      .landing__header-promo > div:first-child {
        margin-left: -80px;
        margin-right: 80px; }
      .landing__header-promo > div h2 {
        display: block;
        padding: 24px 0 8px 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        line-height: 18px;
        font-style: italic;
        color: #00aeef; }
      .landing__header-promo > div p {
        display: block;
        padding: 8px 10px 6px 10px;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 11px;
        line-height: 15px;
        color: #323748;
        background: url(/res/images/landing/header/landing__header-promo-text-bgr-left.png) left top no-repeat;
        position: relative; }
        .landing__header-promo > div p:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url(/res/images/landing/header/landing__header-promo-text-bgr-right.png) right bottom no-repeat; }
      .landing__header-promo > div a {
        position: relative;
        text-align: center;
        z-index: 1; }

.landing__form {
  background: url(/res/images/landing/form/landing__form-background.gif) center center repeat #4c5161;
  padding-bottom: 16px;
  position: relative; }
  .landing__form:before {
    content: "";
    position: absolute;
    border: 1px dotted #717582;
    left: 0;
    right: 0;
    top: 3px; }
  .landing__form:after {
    content: "";
    position: absolute;
    border: 1px dotted #717582;
    left: 0;
    right: 0;
    bottom: 3px; }
  .landing__form-middle-divider {
    border-right: 1px dashed #a2a4a9;
    width: 1px;
    position: absolute;
    top: -6px;
    bottom: -7px;
    left: 532px;
    z-index: 1; }
  .landing__form-wrapper {
    width: 998px;
    margin: 0 auto;
    position: relative;
    background: url(/res/images/landing/form/landing__form-wrapper-background.png) center center repeat-y;
    padding: 4px 19px 0 19px; }
  .landing__form-promo {
    display: table-cell;
    vertical-align: top;
    color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 532px;
    padding-bottom: 114px; }
    .landing__form-promo-more {
      position: absolute;
      font-family: "Times New Roman";
      bottom: 47px;
      left: 35px; }
    .landing__form-promo:before {
      content: "";
      height: 15px;
      background: url(/res/images/landing/form/landing__form-promo-background.png) center center no-repeat;
      display: block;
      width: 532px;
      position: absolute;
      left: -19px;
      top: -10px; }
    .landing__form-promo:after {
      content: "";
      height: 34px;
      background: url(/res/images/landing/form/landing__form-promo-background-bottom.png) center center no-repeat;
      display: block;
      width: 532px;
      position: absolute;
      left: -19px;
      bottom: -34px; }
    .landing__form-promo-wrapper {
      position: relative;
      z-index: 1;
      padding-top: 9px;
      padding-left: 44px;
      padding-right: 44px;
      padding-bottom: 45px; }
    .landing__form-promo h2 {
      font-family: Georgia, "Times New Roman", Times, serif;
      padding-bottom: 16px;
      font-size: 29px;
      line-height: 29px;
      color: #fff;
      font-style: italic;
      font-weight: normal; }
    .landing__form-promo p {
      font-size: 14px;
      line-height: 20px; }
    .landing__form-promo-arrow {
      width: 277px;
      height: 112px;
      background: url(/res/images/landing/form/landing__form-promo-arrow-background.png) right center no-repeat;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #000;
      float: right;
      margin-right: -24px;
      position: relative; }
      .landing__form-promo-arrow-wrapper {
        width: 277px;
        height: 112px;
        display: table-cell;
        vertical-align: middle; }
      .landing__form-promo-arrow p {
        padding: 0 50px 0 20px;
        margin-bottom: 7px; }
      .landing__form-promo-arrow-block {
        position: absolute;
        right: 0;
        bottom: 0; }
  .landing__form-content {
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 447px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
    font-size: 14px;
    line-height: 20px; }
    .landing__form-content:before {
      content: "";
      height: 15px;
      background: url(/res/images/landing/form/landing__form-content-background.png) center center no-repeat;
      display: block;
      width: 467px;
      position: absolute;
      right: -19px;
      top: -10px; }
    .landing__form-content:after {
      content: "";
      height: 34px;
      background: url(/res/images/landing/form/landing__form-content-background-bottom.png) center center no-repeat;
      display: block;
      width: 466px;
      position: absolute;
      right: -19px;
      bottom: -34px; }
    .landing__form-content-wrapper {
      position: relative;
      z-index: 1;
      padding-top: 26px;
      padding-right: 44px;
      padding-bottom: 45px;
      padding-left: 27px;
      min-width: 400px; }
    .landing__form-content-line {
      position: relative; }
      .landing__form-content-line-margin {
        margin-bottom: 15px; }
      .landing__form-content-line-checkboxes {
        padding: 0 60px;
        position: relative;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 14px;
        margin-top: 24px; }
    .landing__form-content input[type='text'] {
      float: left;
      border: 0 none;
      outline: 0 none;
      padding: 0 0 0 12px;
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 20px;
      color: #323748;
      width: 260px;
      height: 32px;
      vertical-align: middle;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 1px 2px 9px rgba(0, 0, 0, 0.4) ;
      -moz-box-shadow: inset 1px 2px 9px rgba(0, 0, 0, 0.4) ;
      box-shadow: inset 1px 2px 9px rgba(0, 0, 0, 0.4) ;
      font-family: Arial, Helvetica, sans-serif; }
      .landing__form-content input[type='text'].landing__form-content-input-short {
        width: 190px;
        margin-right: 7px; }
      .landing__form-content input[type='text'].landing__form-content-input-code {
        float: left;
        border: 0 none;
        outline: 0 none;
        padding: 0 0 0 12px;
        margin: 0 7px 12px 0;
        width: 70px;
        height: 32px;
        vertical-align: middle; }
    .landing__form-content label {
      display: block;
      float: left;
      clear: left;
      margin: 6px 12px 12px 0;
      width: 76px;
      height: 26px;
      font-size: 14px;
      line-height: 20px;
      color: #e5e5e5;
      text-align: right; }
      .landing__form-content label.landing__form-content-checkbox-text {
        margin-left: 29px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 12px;
        line-height: 14px;
        float: none;
        width: auto;
        clear: none;
        height: auto;
        margin-bottom: 0;
        margin-right: 0; }
        .landing__form-content label.landing__form-content-checkbox-text a {
          color: #2e98ff;
          border-color: rgba(46, 152, 255, 0.2); }
          .landing__form-content label.landing__form-content-checkbox-text a:hover {
            border-color: rgba(46, 152, 255, 0.6); }
    .landing__form-content input[type='checkbox'] {
      position: absolute;
      left: 3px;
      top: 8px; }
    .landing__form-content p {
      display: block;
      clear: both;
      margin: 0 62px 12px 14px;
      font-size: 12px;
      line-height: 14px;
      margin-left: 88px; }
      .landing__form-content p.landing__form-content-error {
        color: #FF5050;
        display: none; }
      .landing__form-content p.landing__form-content-code-text {
        margin: 0 62px 12px 14px; }
    .landing__form-content .phone-country-select {
      position: absolute;
      left: 87px;
      top: 2px; }
      .landing__form-content .phone-country-select + input {
        padding-left: 27px; }
    .landing__form-content-tip {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.6) ;
      -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.6) ;
      box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.6) ;
      border: 1px solid #000;
      background-color: #e5e6de;
      right: -111px;
      line-height: 16px;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 9px 29px;
      position: absolute;
      width: 298px;
      color: #000;
      display: none;
      bottom: 36px; }
      .landing__form-content-tip:before {
        content: "";
        position: absolute;
        left: 173px;
        border-style: solid;
        border-width: 7px 6px 0 6px;
        border-color: #e5e6de transparent transparent transparent;
        background-image: none;
        height: auto;
        width: auto;
        top: 100%; }
    .landing__form-content-help {
      float: left;
      width: 14px;
      height: 32px;
      margin-bottom: 12px;
      background: url(/res/images/landing/form/landing__form-content-help-icon.png) center center no-repeat;
      position: relative; }
      .landing__form-content-help:hover > .landing__form-content-tip {
        display: block; }
    .landing__form-content-submit {
      border: none;
      background: #00aeef;
      background: -webkit-linear-gradient(top, #00aeef 0%, #0089bd 65%, #0077a4 100%);
      background: -moz-linear-gradient(to bottom, #00aeef 0%, #0089bd 65%, #0077a4 100%);
      background: linear-gradient(to bottom, #00aeef 0%, #0089bd 65%, #0077a4 100%);
      vertical-align: middle;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 18px;
      padding-right: 18px;
      margin-top: 15px;
      margin-left: 88px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      cursor: pointer; }
      .landing__form-content-submit[disabled], .landing__form-content-submit.button-disabled {
        background: #757575;
        background: -webkit-linear-gradient(top, #757575 0%, #505050 100%);
        background: -moz-linear-gradient(to bottom, #757575 0%, #505050 100%);
        background: linear-gradient(to bottom, #757575 0%, #505050 100%);
        cursor: default; }
      .landing__form-content-submit-code {
        float: left;
        margin: 0; }
    .landing__form-content-preloader {
      background: url(/res/images/preloaders/preloader__landing.gif) center center no-repeat; }

.landing__details {
  width: 998px;
  margin: -7px auto 0 auto;
  position: relative; }
  .landing__details-wrapper {
    -webkit-box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.4) ;
    -moz-box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.4) ;
    box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.4) ;
    margin: 0 20px;
    padding-top: 27px;
    background: url(/res/images/landing/details/landing__details-shadow.png) center top no-repeat #e5e6de; }
  .landing__details-header {
    padding: 0 48px 24px 36px; }
    .landing__details-header h2 {
      color: #404040;
      padding-bottom: 9px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 28px;
      line-height: 35px;
      font-style: italic;
      font-weight: normal; }
    .landing__details-header td {
      padding: 11px 30px 0 12px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #404040;
      background: url(/res/images/landing/details/landing__details-check.png) left top no-repeat; }
  .landing__details-scissors {
    margin: 0 48px 24px 34px;
    height: 15px;
    background: url(/res/images/landing/details/landing__details-scissors.png) left top no-repeat;
    position: relative; }
    .landing__details-scissors:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 18px;
      right: 0;
      bottom: 0;
      height: 0;
      border-top: 1px dashed #a8a8a4;
      border-bottom: 1px dashed #fff;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  .landing__details-body {
    padding: 0 48px 16px 36px; }
    .landing__details-body td {
      padding-left: 6px;
      vertical-align: top; }
      .landing__details-body td.foto img {
        padding: 5px 34px 0 74px; }
    .landing__details-body h2 {
      color: #404040;
      padding-bottom: 22px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      font-weight: normal; }
    .landing__details-body p {
      color: #636363;
      padding-bottom: 17px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 17px; }
    .landing__details-body strong, .landing__details-body b {
      color: #000;
      font-weight: normal; }

.landing__footer {
  width: 998px;
  height: 84px;
  margin: 0 auto;
  color: #6e6b59; }
  .landing__footer-copyright {
    margin: 0 37px;
    padding: 27px 0 25px 0;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 29px; }

