@import "../_variables.scss";
/* ==================================================================== */
/* NEWS PAGE
/* ==================================================================== */

.main-news {
    &-item {
        margin-bottom: 37px;

        &-date {
            font-weight: normal;
            margin: 7px 0;
            font-size: 16px;
            display: block;
            font-family: $sans;
        }
        & h2 {
            margin-bottom: 9px;
        }
        & p {
            margin-bottom: 9px;
        }
        & table {
            margin-bottom: 9px;
            border-collapse: collapse;
            & td {
                border: 1px solid $black-link-color;
                padding: 5px;
            }
        }
        & ul {
            margin-bottom: 9px;
            & li {
                list-style-type: none;
                margin-bottom: 9px;
            }
        }
        & ol {
            margin-bottom: 9px;
            & li {
                margin-bottom: 9px;
            }
        }
    }
}
