﻿/* ==================================================================== */
/* NEWS PAGE
/* ==================================================================== */
.main-news-item {
  margin-bottom: 37px; }
  .main-news-item-date {
    font-weight: normal;
    margin: 7px 0;
    font-size: 16px;
    display: block;
    font-family: Arial, Helvetica, sans-serif; }
  .main-news-item h2 {
    margin-bottom: 9px; }
  .main-news-item p {
    margin-bottom: 9px; }
  .main-news-item table {
    margin-bottom: 9px;
    border-collapse: collapse; }
    .main-news-item table td {
      border: 1px solid #000;
      padding: 5px; }
  .main-news-item ul {
    margin-bottom: 9px; }
    .main-news-item ul li {
      list-style-type: none;
      margin-bottom: 9px; }
  .main-news-item ol {
    margin-bottom: 9px; }
    .main-news-item ol li {
      margin-bottom: 9px; }

