﻿/* ==================================================================== */
/* NPD DOC PAGE
/* ==================================================================== */
.npd-doc__top-panel {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  top: 0;
  right: 0;
  display: table;
  width: 100%;
  z-index: 1; }
  .npd-doc__top-panel-menu {
    padding-top: 88px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    height: 116px; }
    .npd-doc__top-panel-menu-border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding-top: 13px;
      margin-bottom: -1px; }
  .npd-doc__top-panel-left {
    position: relative;
    display: table-cell;
    background-color: #fff;
    width: 100%; }
  .npd-doc__top-panel-right {
    visibility: hidden;
    display: table-cell; }
  .npd-doc__top-panel-info {
    position: relative;
    -webkit-box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 9px 21px 0 rgba(0, 0, 0, 0.2), inset 0px -7px 13px -1px rgba(0, 0, 0, 0.4);
    background-color: #f2f2f2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 23px 41px 40px 44px;
    display: none;
    max-height: 550px;
    line-height: 20px; }
    .npd-doc__top-panel-info h2 {
      font-size: 22px;
      margin-bottom: 13px; }
    .npd-doc__top-panel-info h4 {
      font-weight: bold;
      font-size: 14px; }
    .npd-doc__top-panel-info p {
      font-size: 14px; }
    .npd-doc__top-panel-info li {
      list-style-type: none; }
    .npd-doc__top-panel-info-wide {
      margin-top: 21px;
      padding-right: 28%; }
    .npd-doc__top-panel-info-wrapper {
      position: relative; }
    .npd-doc__top-panel-info-years {
      margin: 5px 0 4px -10px;
      font-size: 13px; }
      .npd-doc__top-panel-info-years li {
        display: block;
        margin: 0 0 2px 0; }
      .npd-doc__top-panel-info-years-item {
        display: inline-block;
        min-width: 45px;
        margin: 0 0 30px 0;
        vertical-align: top; }
        .npd-doc__top-panel-info-years-item-switcher {
          display: inline-block;
          min-width: 45px;
          margin: 0 0 30px 0;
          vertical-align: top; }
          .npd-doc__top-panel-info-years-item-switcher > span {
            color: #1252a1;
            border-color: rgba(18, 82, 161, 0.2);
            cursor: pointer;
            border-bottom-style: dashed;
            border-bottom-width: 1px; }
            .npd-doc__top-panel-info-years-item-switcher > span:hover {
              border-color: rgba(18, 82, 161, 0.6); }
        .npd-doc__top-panel-info-years-item ul {
          min-width: 140px;
          margin: 2px 0 0 0; }
          .npd-doc__top-panel-info-years-item ul li {
            min-width: 45px;
            margin: 0 0 4px 0;
            vertical-align: top;
            font-size: 14px; }
      .npd-doc__top-panel-info-years h3 {
        font-size: 13px; }
    .npd-doc__top-panel-info__publications-item {
      font-size: 16px;
      margin-bottom: 6px; }
    .npd-doc__top-panel-info__attachments li {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 21px;
      position: relative; }
      .npd-doc__top-panel-info__attachments li:after {
        color: #fff;
        letter-spacing: 0.5px;
        font: 12px/12px Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 1px 3px 1px 2px; }
      .npd-doc__top-panel-info__attachments li.word:after {
        content: ".doc";
        background-color: #1252a1; }
      .npd-doc__top-panel-info__attachments li.excel:after {
        content: ".xsl";
        background-color: #008200; }
      .npd-doc__top-panel-info__attachments li a {
        position: relative; }
    .npd-doc__top-panel-info__attachments-lots {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2; }
    .npd-doc__top-panel-info__publish-info {
      background-color: #fff;
      margin-left: -14px;
      padding-left: 14px;
      padding-bottom: 30px;
      padding-top: 7px;
      color: #000;
      margin-bottom: 10px; }
      .npd-doc__top-panel-info__publish-info-item {
        display: table-cell;
        width: 20%;
        padding-right: 4%; }
  .npd-doc__top-panel.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    max-height: 550px; }
    .npd-doc__top-panel.position-is__fixed.npd-doc__top-panel-info-opened {
      height: calc(100% - 70px); }
    .npd-doc__top-panel.position-is__fixed .npd-doc__top-panel-info {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 116px;
      max-height: none; }
    .npd-doc__top-panel.position-is__fixed .npd-doc__top-panel-left {
      width: 1152px; }
    .npd-doc__top-panel.position-is__fixed .npd-doc__top-panel-right {
      min-width: 68px; }
      .npd-doc__top-panel.position-is__fixed .npd-doc__top-panel-right > div {
        width: calc(100% - 1172px); }
  .npd-doc__top-panel-additional {
    display: table-cell; }
    .npd-doc__top-panel-additional ul li {
      list-style-type: none;
      margin-right: 20px;
      display: inline-block;
      white-space: nowrap; }
      .npd-doc__top-panel-additional ul li .dashed {
        cursor: pointer; }
    .npd-doc__top-panel-additional-active {
      padding: 1px 4px 4px;
      margin-left: -4px;
      margin-right: -4px;
      background-color: #bfe4ff; }
  .npd-doc__top-panel-title {
    position: absolute;
    display: table-cell;
    top: 48px; }

.npd-doc__article {
  padding-top: 47px; }
  .npd-doc__article .npdTableContainer {
    overflow: auto;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1px;
    padding-right: 1px;
    max-width: 899px; }
    @media screen and (max-width: 1250px) {
      .npd-doc__article .npdTableContainer {
        max-width: 750px; } }
    @media screen and (max-width: 1185px) {
      .npd-doc__article .npdTableContainer {
        max-width: 650px; } }
    .npd-doc__article .npdTableContainer table {
      border-collapse: collapse; }
      .npd-doc__article .npdTableContainer table td {
        padding: 5px 10px 5px 3px;
        vertical-align: middle; }
  .npd-doc__article .headertext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 15px; }
  .npd-doc__article p {
    margin-bottom: 13px; }
  .npd-doc__article table {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 10px; }
    .npd-doc__article table td {
      padding: 5px 10px 5px 3px;
      vertical-align: middle; }
  .npd-doc__article .doc, .npd-doc__article .anc {
    color: #008200;
    border-color: rgba(0, 130, 0, 0.2); }
    .npd-doc__article .doc:hover, .npd-doc__article .anc:hover {
      border-color: rgba(0, 130, 0, 0.6); }
  .npd-doc__article .double-br {
    display: block;
    margin-bottom: 12px; }
  .npd-doc__article .vrezHeadNpd {
    position: relative;
    text-align: right;
    padding-bottom: 10px; }
  .npd-doc__article .vrezNpdDocsChange .dashed {
    color: #000;
    border-color: rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px; }
    .npd-doc__article .vrezNpdDocsChange .dashed:hover {
      border-color: rgba(0, 0, 0, 0.6); }
    .npd-doc__article .vrezNpdDocsChange .dashed :before {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f017";
      width: 13px;
      height: 13px;
      position: absolute;
      left: -16px;
      top: 0px;
      color: #000;
      font-weight: normal;
      font-size: 0.9em; }
  .npd-doc__article .vrezNpdDocsChange {
    padding: 17px 24px 20px;
    margin-bottom: 16px; }
    .npd-doc__article .vrezNpdDocsChange .vrezBodyNpd {
      display: none; }
    .npd-doc__article .vrezNpdDocsChange.vrezNpdDocsChangeOpened {
      background-color: #f2f2f2; }
      .npd-doc__article .vrezNpdDocsChange.vrezNpdDocsChangeOpened .vrezBodyNpd {
        display: block; }
  .npd-doc__article .contentPart > h3 {
    margin-bottom: 10px; }
  .npd-doc__article .contentPart .bdAll, .npd-doc__article .contentPart .bdAll td {
    border: 1px solid #000000; }

/* ==================================================================== */
/* SEARCH FIELD SMALL
/* =================================================================== */
.search-field__small {
  z-index: 2000;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  top: 20px; }
  .index-page-block__content .search-field__small {
    top: 2px; }
  .article-page-block__content .search-field__small {
    top: 70px; }
  .search-field__small > form {
    position: relative;
    width: 100%;
    display: table; }
  .search-field__small-left {
    position: relative;
    display: table-cell;
    width: 100%; }
  .search-field__small-right {
    visibility: hidden;
    display: table-cell; }
  .search-field__small.position-is__fixed {
    left: 20px;
    width: calc(100% - 20px);
    min-width: 950px;
    top: 7px; }
    .search-field__small.position-is__fixed .search-field__small-left {
      width: 1152px; }
    .search-field__small.position-is__fixed .search-field__small-right {
      min-width: 68px; }
      .search-field__small.position-is__fixed .search-field__small-right > div {
        width: calc(100% - 1172px); }
  .search-field__small-wrapper {
    position: absolute;
    right: 0; }
    .service-page-block__content .search-field__small-wrapper {
      right: 50px; }
    .index-page-block__content .search-field__small-wrapper {
      right: 33px; }
    .article-page-block__content .search-field__small-wrapper {
      right: 65px; }
  .search-field__small-input {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    height: 25px;
    padding: 0 25px 0 5px;
    width: 304px; }
    .search-field__small-input-wrapper {
      position: relative;
      font-size: 16px;
      line-height: 16px; }
  .search-field__small-submit {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.2); }
    .search-field__small-submit:hover {
      color: #000;
      cursor: pointer; }
  .search-field__small-tips {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    left: 4px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    font-size: 13px;
    position: absolute;
    top: 24px;
    z-index: 1;
    max-height: 0; }
    .search-field__small-tips-visible {
      -moz-transition: max-height 0.2s ease-in-out;
      -o-transition: max-height 0.2s ease-in-out;
      -webkit-transition: max-height 0.2s ease-in-out;
      transition: max-height 0.2s ease-in-out;
      max-height: 400px;
      top: 25px; }
    .search-field__small-tips-highlighted {
      color: #707375; }
    .search-field__small-tips-selected {
      background-color: #ededed; }
    .search-field__small-tips ul {
      list-style-type: none; }
      .search-field__small-tips ul li {
        padding: 2px 0 4px 20px;
        line-height: 16px; }
        .search-field__small-tips ul li:hover {
          background-color: #ededed;
          cursor: pointer; }

/* ==================================================================== */
/* SEARCH TIPS
/* =================================================================== */
.search-field__tips-npd {
  background-image: url("/res/images/search/search-field-npd-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-form {
  background-image: url("/res/images/search/search-field-form-icon.png");
  background-repeat: no-repeat; }

.search-field__tips-npd {
  background-position: 3px 3px; }

.search-field__tips-form {
  background-position: 3px 4px; }

