@import "../_variables.scss";
/* ==================================================================== */
/* NPD PAGE
/* ==================================================================== */

//MAIN PAGE
.main-npd {
    //Showcase
    &__law-book-showcase {
        position: relative;

        &-wrapper {
            position: relative;
            font-size: 0;
            display: table-cell;
            vertical-align: top;
        }

        &-item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 12px;
            margin-bottom: 30px;

            &-text {
                position: absolute;
                top: 34px;
                width: 72px;
                left: 7px;
                font-size: 13px;
                font-family: $sans;
                text-align: center;
                color: $black-link-color;
            }

            & > a {
                border: none;
            }

            &-image-wrapper {
                position: relative;
                height: 131px;
                overflow: hidden;
                display: block;
            }
        }

        &-parts {
            position: relative;
            display: block;
            padding-left: 9px;
            width: 100px;
            padding-top: 5px;

            &-item {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-right: 8px;
                font-size: 16px;
                line-height: 22px;
            }
        }

        &-description {
            display: table-cell;
            vertical-align: top;
            width: 100px;
            right: -100px;
            top: 0;
            text-align: center;
            font-size: 14px;
            color: $dark-gray-link-color;
            font-style: italic;
            font-weight: bold;
        }
    }
    //News
    &__news {
        &-item {
            margin-bottom: 32px;

            &-header {
                display: block;
            }

            & a {
                font-family: $sans;
                font-size: 13px;
            }

            & h3 {
                display: block;
                font-family: $sans;
                font-weight: bold;
                margin-bottom: 0;
                margin-top: 7px;
                font-size: 16px;

                &.main-npd__news-today {
                    color: $attention-link-color;
                }
            }

            & ul {
                & li {
                    list-style-type: none;
                    margin-bottom: 13px;
                    margin-top: 8px;
                }
            }
        }
    }
}



@import "../areas/search/search-form-advanced.scss";