@import "../_variables.scss";
/* ==================================================================== */
/* SEARCH PAGE
/* ==================================================================== */
.search-result {
    &-block {
        position: relative;
        .service-page-block__header-description-sorting + & {
            margin-top: 27px;
        }

        & ol {
            position: relative;
            z-index: 1;
        }
    }

    &-item {
        margin-bottom: 16px;
        padding-right: 20px;

        &-link {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
        }

        &-text {
            margin-bottom: 3px;
        }

        &-description {
            font-size: 12px;
            color: $dark-gray-link-color;
            font-family: $sans;
        }
    }
}

.npd-search-page-decoration {
    &:after {
        content: "";
        position: absolute;
        right: -151px;
        top: -77px;
        background-image: url(/res/images/search/search-result-image.png);
        background-repeat: no-repeat;
        background-position: right top;
        width: 100%;
        height: 100%;
        display: block;
    }
}

@import "../areas/search/search-tabs-menu.scss";