﻿/* ==================================================================== */
/* SEARCH PAGE
/* ==================================================================== */
.search-result-block {
  position: relative; }
  .service-page-block__header-description-sorting + .search-result-block {
    margin-top: 27px; }
  .search-result-block ol {
    position: relative;
    z-index: 1; }

.search-result-item {
  margin-bottom: 16px;
  padding-right: 20px; }
  .search-result-item-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px; }
  .search-result-item-text {
    margin-bottom: 3px; }
  .search-result-item-description {
    font-size: 12px;
    color: #707375;
    font-family: Arial, Helvetica, sans-serif; }

.npd-search-page-decoration:after {
  content: "";
  position: absolute;
  right: -151px;
  top: -77px;
  background-image: url(/res/images/search/search-result-image.png);
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 100%;
  display: block; }

/* ==================================================================== */
/* SEARCH TABS MENU
/* =================================================================== */
.search-tabs-menu ul {
  font-size: 0; }

.search-tabs-menu-item {
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.75) ;
  -moz-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.75) ;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.75) ;
  list-style-type: none;
  display: inline-block;
  background-color: #e5e5e5;
  font-size: 12px;
  padding: 8px 16px 0 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1px;
  height: 28px; }
  .search-tabs-menu-item-active {
    background-color: #fff; }

