﻿/* ==================================================================== */
/* SERVICES PAGE
/* ==================================================================== */
.services-page-block__tile {
  padding: 0 0 53px 0; }
  .services-page-block__tile-item {
    display: block;
    float: left;
    width: 166px;
    height: 124px;
    overflow: hidden;
    margin: 0 27px 25px 0;
    padding: 7px 18px 0 9px;
    background-color: #ebebeb;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    color: #000; }
    .services-page-block__tile-item-link-wrapper {
      display: block;
      margin-bottom: 11px; }
    .services-page-block__tile-item a {
      color: #000;
      border-color: rgba(0, 0, 0, 0.2);
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      opacity: 0.9;
      filter: alpha(opacity=90); }
      .services-page-block__tile-item a:hover {
        border-color: rgba(0, 0, 0, 0.6); }
      .services-page-block__tile-item a:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
    .services-page-block__tile-item-description {
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-style: normal; }
    .services-page-block__tile-item:nth-child(2) {
      background-color: #55aaa6;
      color: #fff; }
      .services-page-block__tile-item:nth-child(2) a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .services-page-block__tile-item:nth-child(2) a:hover {
          border-color: rgba(255, 255, 255, 0.6); }
    .services-page-block__tile-item:nth-child(3) {
      background-color: #ecbe46;
      color: #fff; }
      .services-page-block__tile-item:nth-child(3) a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .services-page-block__tile-item:nth-child(3) a:hover {
          border-color: rgba(255, 255, 255, 0.6); }
    .services-page-block__tile-item-main {
      background-color: #ed1b23;
      width: 262px;
      color: #fff; }
      .services-page-block__tile-item-main a {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.2); }
        .services-page-block__tile-item-main a:hover {
          border-color: rgba(255, 255, 255, 0.6); }

.services-page-block__simple {
  font-size: 0; }
  .services-page-block__simple-item {
    padding: 0 0 30px 0; }
    .services-page-block__simple-item h4 {
      margin: 0 0 16px 0;
      padding: 0;
      font-size: 24px;
      font-weight: bold;
      font-family: inherit; }
    .services-page-block__simple-item a {
      color: #000;
      border-color: rgba(0, 0, 0, 0.2);
      margin: 0 0 15px 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      display: inline-block;
      margin-right: 27px; }
      .services-page-block__simple-item a:hover {
        border-color: rgba(0, 0, 0, 0.6); }

