@import "../_variables.scss";
/* ==================================================================== */
/* SERVICE PAGE
/* ==================================================================== */
.service-page-block {
    &__shadow {
        &-right-top {
            width: 19px;
            height: 233px;
            position: absolute;
            top: 0;
            right: -19px;
            background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right-top.png) left top no-repeat;
        }

        &-right {
            background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right.png) repeat scroll left top transparent;
            bottom: 225px;
            position: absolute;
            right: -19px;
            top: 233px;
            width: 19px;
        }

        &-right-bottom {
            background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right-bottom.png) no-repeat scroll left top transparent;
            bottom: -25px;
            height: 250px;
            position: absolute;
            right: -19px;
            width: 347px;
        }

        &-bottom {
            background: url(/res/images/layout-elements/service-page/layout-elements__shadow-bottom.png) repeat scroll left top transparent;
            bottom: -25px;
            height: 25px;
            left: 326px;
            position: absolute;
            right: 328px;
        }

        &-left {
            background: url(/res/images/layout-elements/service-page/layout-elements__shadow-left.png) no-repeat scroll left top transparent;
            bottom: -25px;
            height: 25px;
            left: 0;
            position: absolute;
            width: 326px;
        }
    }

    &__content {
        padding-left: $service-page-padding-left;
        padding-right: $service-page-padding-right;
        padding-top: $service-page-padding-top;
        padding-bottom: $service-page-padding-bottom;
        min-height: $service-page-min-height;

        &.service-page-block__content-preloader {
            background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center transparent;

            & > div {
                @include opacity(.2);
            }
        }
    }

    &__header {
        margin-bottom: 27px;
        position: relative;
        z-index: 1;

        & h1 {
            font-size: 36px;
            font-weight: normal;
            margin-bottom: 4px;
        }

        &-description {
            font-family: $sans;
            line-height: 24px;
            font-size: 14px;

            & a {
                margin-left: 1px;
                margin-right: 1px;
            }

            &-sorting {
                font-family: $sans;
                line-height: 24px;
                font-size: 14px;
                margin-bottom: 0;

                & > span, & > a {
                    margin-right: 5px;
                }

                &-active {
                    @include border-radius(2px);
                    background-color: $blue-background-color;
                    padding: 1px 4px 2px;
                    margin-left: 0;
                }
            }
        }
    }

    &__contacts {
        font-family: $sans;
        font-size: 16px;
        min-width: 380px;
    }
}

.sorting-block {
    & span {
        margin-right: 5px;
    }
}
