@import "../_variables.scss";
/* ==================================================================== */
/* SERVICES PAGE
/* ==================================================================== */

$custom-color: #ebebeb;
$background-red: #ed1b23;
$background-green: #55aaa6;
$background-yellow: #ecbe46;
$tile-item-width: 166px;
$main-tile-item-width: 262px;


.services-page-block {
    //Tiles
    &__tile {
        padding: 0 0 53px 0;

        &-item {
            display: block;
            float: left;
            width: $tile-item-width;
            height: 124px;
            overflow: hidden;
            margin: 0 27px 25px 0;
            padding: 7px 18px 0 9px;
            background-color: $custom-color;
            font-family: $ptsans;
            color: $black-link-color;

            &-link-wrapper {
                display: block;
                margin-bottom: 11px;
            }

            & a {
                @include link($black-link-color);
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                @include opacity(.9);

                &:hover {
                    @include opacity(1);
                }
            }

            &-description {
                display: block;
                font-size: 14px;
                line-height: 20px;
                font-style: normal;
            }

            &:nth-child(2) {
                background-color: $background-green;
                color: $white-link-color;

                & a {
                    @include link($white-link-color);
                }
            }

            &:nth-child(3) {
                background-color: $background-yellow;
                color: $white-link-color;

                & a {
                    @include link($white-link-color);
                }
            }

            &-main {
                background-color: $background-red;
                width: $main-tile-item-width;
                color: $white-link-color;

                & a {
                    @include link($white-link-color);
                }
            }
        }
    }
    //Simple
    &__simple {
        font-size: 0;

        &-item {
            padding: 0 0 30px 0;

            & h4 {
                margin: 0 0 16px 0;
                padding: 0;
                font-size: 24px;
                font-weight: bold;
                font-family: inherit;
            }

            & a {
                @include link($black-link-color);
                margin: 0 0 15px 0;
                padding: 0;
                font-size: 16px;
                line-height: 20px;
                position: relative;
                display: inline-block;
                margin-right: 27px;
            }
        }
    }
}
