﻿/* ==================================================================== */
/* SERVICE PAGE
/* ==================================================================== */
.service-page-block__shadow-right-top {
  width: 19px;
  height: 233px;
  position: absolute;
  top: 0;
  right: -19px;
  background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right-top.png) left top no-repeat; }

.service-page-block__shadow-right {
  background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right.png) repeat scroll left top transparent;
  bottom: 225px;
  position: absolute;
  right: -19px;
  top: 233px;
  width: 19px; }

.service-page-block__shadow-right-bottom {
  background: url(/res/images/layout-elements/service-page/layout-elements__shadow-right-bottom.png) no-repeat scroll left top transparent;
  bottom: -25px;
  height: 250px;
  position: absolute;
  right: -19px;
  width: 347px; }

.service-page-block__shadow-bottom {
  background: url(/res/images/layout-elements/service-page/layout-elements__shadow-bottom.png) repeat scroll left top transparent;
  bottom: -25px;
  height: 25px;
  left: 326px;
  position: absolute;
  right: 328px; }

.service-page-block__shadow-left {
  background: url(/res/images/layout-elements/service-page/layout-elements__shadow-left.png) no-repeat scroll left top transparent;
  bottom: -25px;
  height: 25px;
  left: 0;
  position: absolute;
  width: 326px; }

.service-page-block__content {
  padding-left: 50px;
  padding-right: 190px;
  padding-top: 78px;
  padding-bottom: 50px;
  min-height: 380px; }
  .service-page-block__content.service-page-block__content-preloader {
    background: url(/res/images/preloaders/preloader__white.gif) no-repeat scroll center center transparent; }
    .service-page-block__content.service-page-block__content-preloader > div {
      opacity: 0.2;
      filter: alpha(opacity=20); }

.service-page-block__header {
  margin-bottom: 27px;
  position: relative;
  z-index: 1; }
  .service-page-block__header h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 4px; }
  .service-page-block__header-description {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 14px; }
    .service-page-block__header-description a {
      margin-left: 1px;
      margin-right: 1px; }
    .service-page-block__header-description-sorting {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0; }
      .service-page-block__header-description-sorting > span, .service-page-block__header-description-sorting > a {
        margin-right: 5px; }
      .service-page-block__header-description-sorting-active {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        background-color: #bfe4ff;
        padding: 1px 4px 2px;
        margin-left: 0; }

.service-page-block__contacts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-width: 380px; }

.sorting-block span {
  margin-right: 5px; }

