﻿@import "../../base.scss";
@import "../../areas/content-navigation-menu.scss";

/* ==================================================================== */
/* EXPERT PAGE
/* ==================================================================== */
$expert-font: "HelveticaNeueCyrLight", Arial, sans-serif;
$header-background-color: #1d2529;
$new-count-background: #007dff;
$back-link-border-color: #3f454a;
$header-sides: 19px;
$content-max-width: 1300px;

//FONTS
@font-face {
    font-family: "HelveticaNeueCyrLight";
    font-style: normal;
    font-weight: normal;
    src: url("/res/fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype");
    src: local("HelveticaNeueCyrLight"), url("/res/fonts/helveticaneuecyr-light.woff") format("woff"), url("/res/fonts/helveticaneuecyr-light.otf") format('opentype'), url("/res/fonts/helveticaneuecyr-light.svg#helveticaneuecyrlight") format("svg");
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('/res/fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype');
    src: local("helveticaneuecyrthin"), url('/res/fonts/helveticaneuecyr-thin.woff') format('woff'), url('/res/fonts/helveticaneuecyr-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-panel__subscribe {
    position: fixed;
    right: -9000px;
}

//
.page-wrapper-common {
    height: 100%;
    width: 100%;
    min-width: $window-min-width;
    display: table;
    font-family: $sans;
    background-color: $body-background-color;
}

.expert {

    &__content-wrapper {
        position: relative;
        display: table-row;
        height: 100%;
    }
    //PAGE WRAPPER
    &__limiter {
        padding: 0 19px 0 19px;
        max-width: $content-max-width;
        margin: 0 auto;
        position: relative;
    }
    //HEADER
    &__header {
        background-color: $header-background-color;
        height: 50px;
        padding: 0;
        position: relative;
        
        &-text {
            color: $white-link-color;
            font-size: 18px;
            font-weight: bold;
            left: 50%;
            line-height: 20px;
            position: absolute;
            text-align: center;
            top: 14px;
            width: 220px;
            @include translate(-50%, 0);
        }

        &-logon {
            position: absolute;
            right: $header-sides;
            bottom: 17px;
            white-space: nowrap;
        }

        &-back-link {
            color: $white-link-color;
            @include opacity(.85);
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            border-bottom: none;

            &-wrapper {
                margin-left: 6px;
                margin-top: 5px;
                position: absolute;
                left: $header-sides;
            }

            &-block {
                @include border-radius-side(left,bottom,2px);
                @include border-radius-side(left,top,2px);
                padding-left: 7px;
                border: 1px solid $back-link-border-color;
                border-left: 0 none;
                border-radius: 4px;
                font-size: 16px;
                height: 38px;
                line-height: 33px;
                min-height: 34px;
                white-space: nowrap;
                display: block;
                position: relative;
                width: auto;
                padding: 2px 19px 0 2px;
            }

            &-arrow {
                border: 1px solid $back-link-border-color;
                border-radius: 0 6px;
                content: "";
                height: 29px;
                left: 3px;
                margin-left: -20px;
                margin-top: 18px;
                position: absolute;
                top: 0;
                @include rotate(-45);
                @include transform-origin(0 0);
                width: 29px;
                z-index: 0;
                overflow: hidden;
                border-right: none;
                border-bottom: none;
            }

            &-name {
                position: relative;
                padding-top: 13px;
                padding-bottom: 2px;
                background: url(/res/images/logos/expert-back-link-logo.png) no-repeat scroll 9px 10px transparent;
                padding-left: 36px;
            }

            &:hover {
                @include opacity(1);
            }
        }
    }
    //NEW ANSWERS INDICATOR
    &__new-count {
        background-color: $new-count-background;
        border-radius: 39px;
        color: $white-link-color;
        font-size: 11px;
        font-style: normal;
        margin-left: 5px;
        margin-top: 0;
        padding: 1px 5px;
        position: absolute;
    }
    //MAIN BLOCK on TOP
    &__main {
        @include box-shadow(0, 5px, 15px, 0, rgba(0, 0, 0, .07));
        @include border-radius(0 0 9px 7px/0 0 9px 8px);
        margin: 0 auto 46px;
        position: relative;
        padding: 29px 32px 19px 44px;
        min-width: 884px;
        background-color: $white-link-color;

        &-info {
            display: table;
            width: 100%;

            & h1 {
                font-size: 40px;
                line-height: 40px;
                font-weight: 400;
                padding-left: 0;
                padding-bottom: 9px;
            }

            & p {
                font-size: 16px;
                line-height: 16px;
            }

            &-left {
                display: table-cell;
                vertical-align: top;
                padding-bottom: 16px;
            }

            &-right {
                display: table-cell;
                vertical-align: top;
                padding-left: 20px;
                width: 330px;
                text-align: right;
                padding-bottom: 16px;
            }
        }
    }

    &__agreement {
        &-line {
            display: table;
            width: 100%;
            vertical-align: top;
            clear: both;
            margin-bottom: 31px;
            overflow: hidden;
            margin-left: -3px;

            &-item {
                @include col-lg-3;

                &-emphasis {
                    font-family: $expert-font;
                    font-size: 76px;
                    letter-spacing: -2px;
                    padding-right: 7px;
                    padding-top: 37px;
                    padding-bottom: 28px;
                    line-height: 1px;
                    @include col-lg-6;
                }

                &-header {
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 6px;
                }

                &-text {
                    font-size: 13px;
                    line-height: 16px;
                    padding-bottom: 0;
                }

                &-list {
                    & li {
                        position: relative;
                        list-style: none;

                        &:before {
                            content: '✔';
                        }
                    }
                }

                &-image {
                    background-repeat: no-repeat;
                    background-position: left top;
                    background-color: $black-link-color;

                    &-wrapper {
                        height: 80px;
                    }

                    &-response {
                        width: 43px;
                        height: 43px;
                    }

                    &-support {
                        width: 62px;
                        height: 62px;
                    }

                    &-quality {
                        width: 66px;
                        height: 65px;
                    }

                    &-saveresponse {
                        width: 80px;
                        height: 52px;
                    }
                }
            }

            &-first {
                margin-bottom: 31px;

                & .expert__agreement-line-item {
                    @include col-lg-3;
                }

                & .expert__agreement-line-item:last-child {
                    @include col-lg-6;
                }

                & .expert__agreement-line-item-header {
                    @include col-lg-6;
                }
            }
        }
    }

    &__form {
        &-wrapper {
        }
    }
    //FOOTER
    &__footer {
        clear: both;
    color: #999;
    font-size: 11px;
    line-height: 14px;
    min-width: 871px;
    overflow: hidden;
    padding: 31px 20px;
    position: relative;
    max-width: 1300px;
    height: 82px;
    margin: 0 auto;
    }
}

@each $name in 'response', 'support', 'quality', 'saveresponse' {
    .expert__agreement-line-item-image-#{$name} {
        background-image: url("/res/images/expert/expert__agreement-#{$name}.png");
    }
}


//TODO на рефакторинг
/* ========== Блок формы и условий ========== */

.question-form-block-main-text {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

/* Форма */

.question-form-block {
    min-width: 884px;
    -webkit-border-radius: 0 0 9px 7px/0 0 9px 8px;
    -moz-border-radius: 0 0 9px 7px/0 0 9px 8px;
    border-radius: 0 0 9px 7px/0 0 9px 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
    margin: 0 auto 46px;
    position: relative;
    padding: 29px 32px 19px 44px;
}

.question-form-block h2 {
    padding-left: 0;
    padding-bottom: 9px;
    color: #000000;
}

.question-form {
    clear: both;
    position: relative;
    margin-left: -12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 14px 15px 14px 14px;
    margin-bottom: 12px;
    top: 0px;
}

.question-form textarea {
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    display: block;
    resize: inherit;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 7px 8px;
    height: 61px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.question-form textarea[disabled="disabled"] {
    background-color: #f5f5f5;
}

.question-form-block.large textarea {
    margin-bottom: 6px;
    color: #000;
}

.question-form .question-form-h-fields {
    display: none;
    padding-bottom: 3px;
    padding-left: 1px;
}

.question-form-block.large .question-form-h-fields {
    display: block;
}

.question-form-h-fields {
    font-size: 13px;
}

.question-form-h-fields span {
    color: #007DFF;
}

.question-form-info {
    padding-left: 2px;
    margin-bottom: 14px;
}

.question-form-info-link {
    padding-top: 1px;
}

.question-form-info-fields {
    display: none;
    margin-bottom: -3px;
    margin-top: -2px;
    position: relative;
}

.question-form-email-input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    display: inline;
    height: 22px;
    padding: 0 3px;
    width: 247px;
    margin-right: 16px;
    font-size: 13px;
    position: relative;
}

.question-form-phone-input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    display: inline;
    height: 22px;
    padding: 0 3px 0 16px;
    width: 145px;
    margin-right: 6px;
    margin-left: 1px;
    font-size: 13px;
    position: relative;
}

.question-form-phone-prefix {
    color: #CCCCCC;
    margin-right: -19px;
    padding-left: 8px;
    position: relative;
    top: 0;
    width: auto;
    z-index: 1;
}

.error-input,
.question-form textarea.error-input {
    border-color: #D15654;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 3px 1px rgba(209, 86, 84, 0.5);
    box-shadow: 0 0 3px 1px rgba(209, 86, 84, 0.5);
    color: #BB0000;
}

.question-form textarea.transition {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.error-input-phone {
    color: #BB3300 !important;
    margin-left: 30px;
    margin-top: 3px;
    position: absolute;
    display: inline-block;
    display: none;
}

.shake-block {
    display: inline;
    position: relative;
}

.question-form-info span:hover,
.question-form-info span:hover span {
    color: #B30;
    border-color: #B30;
}

.question-form-phone-block {
    display: inline-block;
    margin-left: -71px;
    margin-top: -4px;
    position: absolute;
}

.question-form-submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #007ce2;
    background-color: rgba(42, 43, 43, 0);
    background-image: -webkit-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: -moz-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: -o-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: linear-gradient(to top, #0073d6, #0085ee);
    color: #ffffff;
    border-bottom: 1px solid #0056c0;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    cursor: pointer;
    margin-bottom: 1px;
    padding: 8px 17px 7px;
    margin-left: 1px;
    font-size: 16px;
    width: 121px;
    font-family: Arial, sans-serif;
    height: 36px;
    letter-spacing: 0.35px;
    font-style: normal;
}

.question-form-submit span {
    color: #ffffff;
}

.question-form-submit[disabled="disabled"] {
    background-color: #66b0ee;
    opacity: 0.6;
    cursor: default;
}

.question-form-errors {
    color: #BB0000;
    display: inline-block;
    margin: 0 6px;
    position: relative;
}

.question-form-preloader {
    background: url("/res/images/expert/ajax-loader-hl.gif") no-repeat scroll 0 0 transparent;
    display: none;
    height: 24px;
    left: 5px;
    position: absolute;
    top: -18px;
    width: 24px;
}

.question-form-terms-text {
    color: #000000;
}

.terms-open-link a {
    border-bottom: 1px dashed;
}

.terms-open-link-opened a {
    color: #000 !important;
    border-color: #000 !important;
}

a.terms-open-link-opened-hover {
    color: #B30 !important;
    border-color: #B30 !important;
}

.question-form-offset {
    margin-bottom: 12px;
    position: relative;
}

.question-form.top-position {
    padding: 14px 15px 0 14px;
    margin-bottom: 9px;
}

.question-form.top-position textarea {
    border: 1px solid #dcdcdc;
    height: 32px;
    margin-top: -3px;
    padding: 4px 8px;
}

.question-form-placeholder-text {
    color: #BBBBBB;
    font-family: "HelveticaNeueCyrLight", Helvetica, Arial, sans-serif;
    font-size: 34px;
    left: 24px;
    line-height: 0;
    position: absolute;
    top: 45px;
}

.top-position .question-form-placeholder-text,
.question-form-ears.visible .question-form-placeholder-text {
    font-size: 17px;
    left: 20px;
    top: 26px;
    font-family: Arial, sans-serif;
}

.large .question-form-placeholder-text {
    font-family: Arial, sans-serif;
    font-size: 17px;
    left: 0;
    margin-left: 20px;
    top: 28px;
}

.question-form-ears.visible {
    background-color: #F5F5F5;
    margin-left: -44px;
    margin-right: -33px;
    padding-left: 45px;
    padding-right: 32px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.question-form-ears.visible .question-form {
    margin-bottom: 9px;
    padding: 9px 15px 0 14px;
}

.question-form-ears.visible .question-form.top-position {
    padding: 14px 15px 0 14px;
}

.question-form-closed-string {
    background: url("/res/images/expert/question-form-closed-string.png") no-repeat scroll center top transparent;
    clear: both;
    display: block;
    height: 89px;
    margin-bottom: 23px;
    margin-left: -188px;
    margin-top: -48px;
    padding-left: 50px;
    position: relative;
}

.question-form-closed-pay {
    margin-top: -68px;
    position: absolute;
    right: 68px;
}

.question-form-closed-info {
    background: url("/res/images/expert/question-form-closed-pay.png") no-repeat scroll left 2px transparent;
    padding-left: 17px;
    font-size: 13px;
}

.question-form-closed-interval {
    position: relative;
    color: #e2001a;
}

.question-form-closed-interval:before {
    content: "";
    position: absolute;
    left: -17px;
    top: 2px;
    width: 15px;
    height: 15px;
    background: url("/res/images/expert/question-form-closed-interval.png") no-repeat scroll left top transparent;
}

.question-form-closed-link {
    color: #FFFFFF;
    display: inline-block;
    height: 19px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #0073d6;
    background-image: -webkit-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: -moz-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: -o-linear-gradient(bottom, #0073d6, #0085ee);
    background-image: linear-gradient(to top, #0073d6, #0085ee);
    margin-left: 11px;
}

.question-form-closed-link:hover {
    color: #FFFFFF;
}

.question-form-closed-link-img {
    background-image: url("/res/images/expert/question-form-closed-link.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    border: medium none;
    box-sizing: border-box;
    display: block;
    height: 37px;
    left: 49.5%;
    margin-left: 322px;
    position: absolute;
    top: 50px;
    width: 161px;
}

.question-form-closed-link-img:hover {
    background-position: 0 -38px !important;
}

.question-form-wrapper-block {
    height: auto;
    /*height: 402px;*/
    margin-left: -12px;
    overflow: hidden;
    padding-left: 14px;
    padding-bottom: 10px;
    position: relative;
}

/* Форма end */

/* Условия */

.terms-block {
	position: relative;
	padding-top: 7px;
	padding-bottom: 40px;
}

.terms-first-line {
	clear: both;
	display: block;
	margin-bottom: 31px;
	overflow: hidden;
	margin-left: -3px;
}

.terms-item {
	display: block;
	float: left;
	width: 25%;
}

.terms-item.large {
	width: 50%;
}

.terms-block-emphasis {
	color: #DD0011;
	display: block;
	float: left;
	font-family: "HelveticaNeueCyrLight", Arial, sans-serif;
	font-size: 76px;
	letter-spacing: -2px;
	padding-right: 7px;
	padding-top: 37px;
	padding-bottom: 28px;
	line-height: 1px;
}

.terms-block-text {
	display: block;
	padding-right: 15px;
	padding-top: 0;
	margin-top: -1px;
}

.terms-block-text p {
	font-size: 13px;
	line-height: 16px;
	padding-bottom: 0;
}

.terms-block-header {
	display: block;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 6px;
}

.terms-block-list {
	list-style: none outside none;
	margin-top: 1px;
}

.terms-block-list li {
	background: url("/res/images/expert/terms-block-list-icon.png") no-repeat scroll 0 3px transparent;
	margin-top: -2px;
	padding-left: 19px;
}

.terms-second-line {
	clear: both;
	overflow: hidden;
	display: none;
	margin-left: 3px;
}

.terms-block-img {
	display: table-cell;
	height: 80px;
	padding-bottom: 2px;
	vertical-align: middle;
}

.terms-block-img img {
	display: block;
}

.terms-link a {
	text-align: right;
	color: #007dff;
	font-size: 13px;
}

.terms-link.block {
	background-color: #FFFFFF;
	bottom: 0;
	position: absolute;
}

.terms-link.block-right {
	right: 17px;
}

.terms-link.block-left {
}

.terms-block-text-large {
	margin-top: 18px;
	display: none;
}

.terms-block-text-header {
	border-top: 1px solid #E4E4E4;
	position: relative;
	padding-top: 16px;
}

.terms-block-text-header h3 {
	font-weight: normal;
	padding-bottom: 28px;
	font-size: 28px;
}

.terms-block-text-header-links {
	position: absolute;
	right: 0;
	top: 12px;
	white-space: nowrap;
}

.terms-download-link {
	border: medium none;
	margin-right: 18px;
	padding-left: 12px;
	position: relative;
	display: inline;
}

.terms-download-link:hover:before {
	background-position: -137px -113px;
}

.terms-download-link:before {
	background-position: -137px -56px;
}

.terms-download-link span {
	text-decoration: none;
	border-bottom: 1px solid;
	border-color: rgba(0, 100, 204, 0.2);
}

.terms-download-link:hover span {
	color: #B30;
	border-color: rgba(187, 51, 51, 0.2);
}

.terms-print-link {
	border: medium none;
	margin-right: 16px;
	padding-left: 21px;
	position: relative;
	display: inline;
}

.terms-print-link:hover:before {
	background-position: -113px -113px;
}

.terms-print-link:before {
	background-position: -113px -59px;
}

.terms-print-link:before,
.terms-download-link:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	background-image: url('../../images/sprite_hover_icons_20_05_14.png');
	background-repeat: no-repeat;
	background-color: transparent;
}

.terms-download-link:before {
	width: 13px;
}

.terms-print-link:before {
	width: 16px;
}

.terms-print-link span {
	text-decoration: none;
	border-bottom: 1px solid;
	border-color: rgba(0, 100, 204, 0.2);
}

.terms-print-link:hover span {
	color: #B30;
	border-color: rgba(187, 51, 51, 0.2);
}

.terms-block-table {
	padding-bottom: 35px;
}

.terms-block-table p {
	font-size: 13px;
	padding-bottom: 9px;
}

.terms-block-table ul {
	margin-top: -9px;
	padding-left: 14px;
	padding-bottom: 5px;
}

.terms-block-table ul li {
	line-height: 16px;
	padding-bottom: 4px;
}

.terms-block-table-right-column p {
	font-size: 16px;
	line-height: 25px;
}

.terms-block-table p.terms-block-table-header {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 5px;
	font-weight: bold;
}

.terms-block-table-small p {
	padding-bottom: 5px;
}

.terms-block-table-small-padding {
	padding-bottom: 6px;
}

.terms-block-text-wider {
	font-size: 11.5px;
	letter-spacing: 0.9px;
}

/* Условия end */

.no-question-answer {
	clear: both;
	color: #FFFFFF;
	font-family: "HelveticaNeueCyrLight", Arial, sans-serif;
	font-size: 40px;
	opacity: 0.1;
	text-align: center;
	width: 100%;
	display: none;
}

.no-question-answer td {
	vertical-align: middle;
	padding-bottom: 5%;
}

/* ========== Блок формы и условий end ========== */

/* ========== Блок ответов ========== */

.answers-block, .examples-block {
	margin-left: 23px;
	margin-right: 25px;
	min-width: 916px;
}

.answers-block-item, .examples-block-item {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #FFFFFF;
	border-radius: 4px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto 5px;
	padding: 17px 26px 31px 25px;
	position: relative;
}

.answers-block-item h3, .examples-block-item h3 {
	width: 55%;
}

.answers-block-item p, .examples-block-item p {
	font-size: 13px;
	line-height: 18px;
	padding-bottom: 0;
	padding-left: 0;
}

.answers-block-question {
	clear: both;
	display: table;
	overflow: hidden;
	width: 100%;
}

.answers-block-question-prc {
	color: #c02b45;
	margin-top: 17px;
}

.answers-block-question-text {
	display: table-cell;
	width: 80%;
}

.answers-block-promise {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	display: inline-table;
	height: 78px;
	left: 50%;
	margin-left: -109px;
	margin-top: 29px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	text-align: center;
	width: auto;
}

.answers-block-promise-center {
	display: block;
	position: relative;
	text-align: center;
	top: -10px;
}

.answers-block-promise-text {
	background-color: #FFFFFF;
	color: #AAAAAA;
	font-size: 13px;
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
}

.answers-block-promise-date {
	font-family: 'helveticaneuecyrthin', Helvetica, Arial, sans-serif;
	color: #BBBBBB;
	display: block;
	font-size: 60px;
	padding-top: 10px;
	position: relative;
}

.answers-block-expert {
	border-top: 1px solid #E6E6E6;
	clear: both;
	display: table;
	margin-top: 35px;
	padding-top: 13px;
	width: 100%;
}

.answers-block-expert-text {
	width: 80%;
	display: table-cell;
}

.answers-block-date {
	color: #777777;
	position: relative;
	top: 0;
	white-space: nowrap;
	padding-bottom: 8px;
	padding-top: 1px;
    font-size: 13px;
}

.answers-block-expert-right-column {
	display: table-cell;
	position: relative;
	text-align: right;
	width: 18%;
	vertical-align: top;
	padding-top: 1px;
    font-size: 13px;
}

.answers-block-expert-right-column img {
	border: 1px solid #e5e5e5;
	margin-right: -1px;
}

.answers-block-attachment {
	padding-top: 17px;
	padding-left: 1px;
}

.answers-block-attachment a {
	border-bottom: none;
}

.answers-block-attachment-frame {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #99cbff;
	display: inline-block;
	padding: 13px 9px 12px;
	position: relative;
	font-family: Arial, sans-serif;
	margin-right: 17px;
	margin-bottom: 46px;
}

.answers-block-attachment-frame.xls {
	border: solid 1px #a7d6a0;
	color: #229911;
}

.answers-block-attachment-frame.pdf {
	border: solid 1px #f19999;
	color: #dd0000;
}
.answers-block-attachment-frame.payment {
    border: solid 1px #c42028;
	color: #c42028;
}
.payment-done {
    color: #008a83;
}
.payment-notdone {
    color: #c42028;
}

.answers-block-attachment-frame:hover {
	border: solid 1px #B30;
	color: #B30;
}

.answers-block-attachment-frame:hover .answers-block-attachment-arrow {
	background-position: 0 -19px;
}

.xls .answers-block-attachment-arrow {
	background-position: 0 -38px;
}

.pdf .answers-block-attachment-arrow {
	background-position: 0 -57px;
}

.answers-block-attachment-header {
	font-size: 20px;
	line-height: 20px;
	display: block;
}

.answers-block-attachment-res {
	display: block;
	font-size: 11px;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}

.answers-block-attachment-arrow {
	background: url("/res/images/expert/answers-block-attachment-default.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 19px;
	left: 50%;
	margin-left: -6px;
	margin-top: 4px;
	position: absolute;
	width: 11px;
}

/* ========== Блок ответов end ========== */

/* ========== Оценка экспертов ========== */

.rating.add-comment {
	background: none repeat scroll 0 0 #f5f5f5;
	overflow: hidden;
	padding: 9px 8px 22px;
}

.rating {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 13px/18px Helvetica, Arial, sans-serif;
	margin: 8px 0 0 -7px;
	width: 80%;
}

.rating-container {
	display: table-row;
}

.score-label {
	float: left;
	font-size: 16px;
	margin: 2px 9px 0 0;
}

.rating-stars {
	background-image: url("/res/images/expert/star-sprite.png");
	background-position: center 0;
	background-repeat: no-repeat;
	float: left;
	margin-top: 0;
}

.rating-stars li {
	cursor: pointer;
	display: block;
	float: left;
	height: 18px;
	width: 22px;
}

.score li:hover { /*background-position: center -18px;*/
}

.score.voted ul {
}

.rating-stars.score1 {
	background-position: center -20px;
}

.rating-stars.score2 {
	background-position: center -40px;
}

.rating-stars.score3 {
	background-position: center -60px;
}

.rating-stars.score4 {
	background-position: center -80px;
}

.rating-stars.score5 {
	background-position: center -100px;
}

.voted ul.rating-stars.score1 {
	background-position: center -140px;
}

.voted ul.rating-stars.score2 {
	background-position: center -160px;
}

.voted ul.rating-stars.score3 {
	background-position: center -180px;
}

.voted ul.rating-stars.score4 {
	background-position: center -200px;
}

.voted ul.rating-stars.score5 {
	background-position: center -220px;
}

.rating-stars.voted li {
	cursor: default;
}

.rating-container-user-rating {
	float: left;
	font-size: 16px;
	margin: 2px 0 0 8px;
}

.rating-comment-form {
}

.rating-comment-form label {
	display: block;
	padding-bottom: 5px;
}

.rating-comment-form-textarea {
	height: 80px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: solid 1px #dbdbdb;
	resize: inherit;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 5px 4px;
	margin-bottom: 9px;
	box-sizing: border-box;
}

.rating-form-submit {
	height: 24px;
	width: 96px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #1c7adc;
	border: solid 1px #1c7adc;
	background-image: -webkit-linear-gradient(bottom, #1572d2, #1f83ea);
	background-image: -moz-linear-gradient(bottom, #1572d2, #1f83ea);
	background-image: -o-linear-gradient(bottom, #1572d2, #1f83ea);
	background-image: linear-gradient(to top, #1572d2, #1f83ea);
	cursor: pointer;
	float: left;
}

.rating-form-submit span {
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.rating-form-submit[disabled="disabled"] {
	opacity: 0.3;
	cursor: default;
}

.hl-comment-preloader {
	background: url("/res/images/expert/ajax-loader-hl-comment.gif") no-repeat scroll 0 0 transparent;
	display: none;
	float: left;
	height: 24px;
	margin: 0 0 0 8px;
	width: 24px;
}

.rating-comment-description {
	clear: both;
	color: #777777;
	overflow: hidden;
    font-size: 13px;
}

.rating-comment {
	font: 13px/18px Arial, sans-serif;
	margin: -2px 0 12px;
}

.rating-comment-error {
	font: 13px/18px Arial, sans-serif;
	margin: -2px 0 12px;
	color: #BB3300;
}

/* ========== Оценка экспертов end ========== */

/* ========== Телефон ========== */

/* ========== Телефон end ========== */

/* ========== Футер ========== */

.footer {
	clear: both;
	color: #999;
	font-size: 11px;
	line-height: 14px;
	min-width: 871px;
	overflow: hidden;
	padding: 31px 20px;
	position: relative;
	max-width: 1300px;
	height: 144px;
	margin: 0 auto;
}

.bureau {
	display: block;
	float: left;
	left: 0;
	position: relative;
	width: 295px;
}

.designed-at {
	margin-top: 7px;
	width: 95px;
	opacity: 0.7;
}

.bureau-logo {
	background: url("/res/images/expert/bureau-logo.png") no-repeat scroll 0 0 transparent;
	height: 39px;
	left: 92px;
	position: absolute;
	top: 2px;
	width: 127px;
	padding-left: 7px;
	padding-top: 5px;
}

.bureau-year {
	bottom: 2px;
	font-size: 10px;
	position: absolute;
	right: -10px;
	opacity: 0.8;
}

.action-block {
	float: left;
	padding-top: 7px;
	padding-left: 5px;
	position: relative;
}

.action-block span {
	opacity: 0.7;
}

.footer-contact {
	display: block;
	margin-top: 10px;
	position: absolute;
	right: 20px;
}

.footer-phone {
	display: block;
	font-size: 24px;
	margin-bottom: 4px;
	opacity: 0.8;
}

.footer-schedule {
	display: block;
	font-size: 11px;
	opacity: 0.8;
}

.footer a {
	opacity: 0.85;
	color: #FFF;
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.footer a:hover {
	opacity: 1;
	border-bottom-color: rgba(255, 255, 255, 0.4);
}

/* ========== Футер end ========== */

/* ========== Помощник ========== */

.fixed-footer {
	bottom: 19px;
	height: 24px;
	pointer-events: none;
	position: fixed;
	right: 0;
	z-index: 99;
}

.support-button span {
	background: url("/res/images/expert/support-icon.png") no-repeat scroll 0 5px transparent;
	padding-left: 13px;
}

.fixed-footer button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #545454;
	border: 1px solid #1F2122;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 24px;
	line-height: 13px;
	margin: 0 18px;
	outline: medium none;
	padding: 2px 10px 4px;
	pointer-events: auto;
	position: relative;
}

.lt-invite {
	right: -36px !important;
}

/* ========== Помощник end ========== */

/* ========== Бирюзовая кнопка ========== */

.service-page-header {
	position: absolute;
	right: 19px;
	clear: both;
	top: 0;
}

.service-page-header a {
	color: #eee;
	text-decoration: none;
	border: 0 none;
	font-size: 13px;
	line-height: normal;
}

.service-page-header a:hover {
	color: #ffffff;
}

.service-page-header .name {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 26px;
	display: block;
	text-align: right;
	position: relative;
	box-sizing: border-box;
	font-size: 13px;
	top: 0;
	float: right;
	background: linear-gradient(to bottom, #257584 0, #005E6F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#257584', endColorstr='#005E6F', GradientType=0);
	border-color: #3D8491 #11697A #004D5B #11697A;
	box-shadow: none;
	border-width: 0;
	border-style: none;
	margin: 5px 0 7px 0;
	padding: 2px 11px 4px 11px;
}

.service-page-header .name:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 10px;
	background: url('../../images/sprite_action_srch_key.png') -17px 0 transparent no-repeat scroll;
	width: 23px;
	height: 12px;
}

.service-page-header .name span {
	margin: 2px 5px 0 33px;
	display: inline-block;
}

.service-page-header .name:hover {
	background: linear-gradient(to bottom, #287F8F 0, #00687A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#287F8F', endColorstr='#00687A', GradientType=0);
}

/* ========== Бирюзовая кнопка end ========== */

.linklive {
	position: absolute;
	left: -9999px;
	top: -20px;
}

.question-form-without-phone {
	background: transparent url("/res/images/expert/question-form-without-phone.png") no-repeat scroll center top;
    clear: both;
    display: block;
    height: 89px;
    margin-bottom: -17px;
    margin-left: -206px;
    margin-top: -8px;
    padding-left: 50px;
    position: relative;
}
.question-form-without-phone-link {
	background-color: transparent;
    background-image: url("/res/images/expert/question-form-without-phone-link.png");
    background-position: left top;
    background-repeat: no-repeat;
    border: medium none;
    box-sizing: border-box;
    display: block;
    height: 42px;
    left: 49.5%;
    margin-left: 365px;
    position: absolute;
    top: 5px;
    width: 161px;
}
.question-form-without-phone-link:hover {
    background-position: left bottom;
}


a {
    color: #007DFF;
}
.terms-block-table ul li {
    list-style: none outside none;
    font-size: 13px;
    line-height: 18px;
}

.examples-block h2, .answers-block h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 14px;
    padding-left: 23px;
    color: #ffffff;
    font-weight: 400;
}

.answers-block-header {
    display: none;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 9px;
}

.answers-block-item h3, .examples-block-item h3 {
    width: 55%;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 7px;
}

.examples-block {
    display: none;
}

.large .question-form-placeholder-text {
    font-family: Arial, sans-serif;
    font-size: 17px;
    left: 0;
    margin-left: 20px;
    top: 28px;
}

.dashed {
    cursor: pointer;
    border-bottom: 1px dashed;
    text-decoration: none;
}

.content-navigation-menu-link__print {
    margin-left: 32px;
}