$expert-skin-color: #e2001a;

.expert__agreement-line-item-emphasis,
.expert__agreement-line-item-list li:before {
    color: $expert-skin-color;
}

.expert__agreement-line-item-image {
    background-color: $expert-skin-color;
}