﻿@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 100%; }

a, input, select, textarea, button {
  outline: 0; }

img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

pre, xmp, plaintext, listing {
  white-space: pre; }

.hidden, [hidden] {
  display: none; }

.nowrap {
  white-space: nowrap; }

.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed; }

.solid {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ''; }

.position-is__relative {
  position: relative !important; }

.position-is__absolute {
  position: absolute !important; }

.position-is__fixed {
  position: fixed !important; }

/* ==================================================================== */
/* STANDART BLOCKS
/* =================================================================== */
.col-lg {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  .col-lg-1 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    width: 8.333333%; }
  .col-lg-2 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    width: 16.666667%; }
  .col-lg-3 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%; }
  .col-lg-4 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%; }
  .col-lg-5 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    width: 41.666667%; }
  .col-lg-6 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%; }
  .col-lg-7 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    width: 58.333333%; }
  .col-lg-8 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%; }
  .col-lg-9 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%; }
  .col-lg-10 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    width: 83.333333%; }
  .col-lg-11 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    width: 91.666667%; }
  .col-lg-12 {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; }
  .col-lg-text-left {
    text-align: left; }
  .col-lg-text-center {
    text-align: center; }
  .col-lg-text-right {
    text-align: right; }
  .col-lg-block-center {
    margin-left: auto;
    margin-right: auto; }

.notransparent {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

@keyframes hopacityoff {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hopacityon {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ==================================================================== */
/* STANDART LINKS
/* =================================================================== */
a {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  color: #1252a1;
  text-decoration: none;
  border-color: rgba(18, 82, 161, 0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  a:hover {
    text-decoration: none;
    border-color: rgba(18, 82, 161, 0.8); }
  a.__no-border {
    border-bottom: none; }

.standart-text-link__black {
  color: #000;
  border-color: rgba(0, 0, 0, 0.4); }
  .standart-text-link__black:focus, .standart-text-link__black:hover {
    border-color: rgba(0, 0, 0, 0.8); }

.standart-text-link__blue {
  color: #2e98ff;
  border-color: rgba(46, 152, 255, 0.4); }
  .standart-text-link__blue:focus, .standart-text-link__blue:hover {
    border-color: rgba(46, 152, 255, 0.8); }

.standart-text-link__light-gray {
  color: #ededed;
  border-color: rgba(237, 237, 237, 0.4); }
  .standart-text-link__light-gray:focus, .standart-text-link__light-gray:hover {
    border-color: rgba(237, 237, 237, 0.8); }

.standart-text-link__dark-gray {
  color: #707375;
  border-color: rgba(112, 115, 117, 0.4); }
  .standart-text-link__dark-gray:focus, .standart-text-link__dark-gray:hover {
    border-color: rgba(112, 115, 117, 0.8); }

.standart-text-link__white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4); }
  .standart-text-link__white:focus, .standart-text-link__white:hover {
    border-color: rgba(255, 255, 255, 0.8); }

.standart-text-link__green {
  color: #008200;
  border-color: rgba(0, 130, 0, 0.4); }
  .standart-text-link__green:focus, .standart-text-link__green:hover {
    border-color: rgba(0, 130, 0, 0.8); }

.standart-text-link__attention {
  color: #e2001a;
  border-color: rgba(226, 0, 26, 0.4); }
  .standart-text-link__attention:focus, .standart-text-link__attention:hover {
    border-color: rgba(226, 0, 26, 0.8); }

.standart-text-link__standart {
  color: #1252a1;
  border-color: rgba(18, 82, 161, 0.4); }
  .standart-text-link__standart:focus, .standart-text-link__standart:hover {
    border-color: rgba(18, 82, 161, 0.8); }

/* ==================================================================== */
/* STANDART BUTTONS
/* =================================================================== */
.button {
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .button-white {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #f3f3f3);
    background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
    background: linear-gradient(to bottom, #fff, #f3f3f3);
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #efefef;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    color: #000;
    padding: 0.3rem 0.6rem; }
    .button-white:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #b7b7b7;
      border-top: 1px solid #f7f7f7;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0; }
    .button-white:active {
      background: #f7f7f7;
      background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
      background: -moz-linear-gradient(to bottom, #f7f7f7, #ebebeb);
      background: linear-gradient(to bottom, #f7f7f7, #ebebeb);
      border-bottom: 1px solid #dedede;
      border-top: 1px solid #a2a2a2;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede; }
    .button-white[disabled]:hover, .button-white[disabled]:active, .button-white.button-disabled:hover, .button-white.button-disabled:active {
      border-bottom: 1px solid #b0b0b0;
      border-top: 1px solid #efefef;
      border-left: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      background: #fff;
      background: -webkit-linear-gradient(top, #fff, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #fff, #f3f3f3);
      background: linear-gradient(to bottom, #fff, #f3f3f3); }
  .button-yellow {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #febb2d;
    background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
    background: -moz-linear-gradient(to top, #febb2d, #fecc47);
    background: linear-gradient(to top, #febb2d, #fecc47);
    border-bottom: 1px solid #c47a14;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-yellow:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #c47a14; }
    .button-yellow:active {
      border-color: #efac1f;
      background: #efac1f;
      background: -webkit-linear-gradient(bottom, #efac1f, #f1b821);
      background: -moz-linear-gradient(to top, #efac1f, #f1b821);
      background: linear-gradient(to top, #efac1f, #f1b821); }
    .button-yellow[disabled], .button-yellow.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-yellow[disabled]:hover, .button-yellow[disabled]:active, .button-yellow.button-disabled:hover, .button-yellow.button-disabled:active {
        background: #febb2d;
        background: -webkit-linear-gradient(bottom, #febb2d, #fecc47);
        background: -moz-linear-gradient(to top, #febb2d, #fecc47);
        background: linear-gradient(to top, #febb2d, #fecc47);
        border-bottom: 1px solid #c47a14; }
  .button-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #bfbfbf;
    background: -webkit-linear-gradient(bottom, #bfbfbf, #dbdbdb);
    background: -moz-linear-gradient(to top, #bfbfbf, #dbdbdb);
    background: linear-gradient(to top, #bfbfbf, #dbdbdb);
    border-bottom: 1px solid #272727;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 1.3rem; }
    .button-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-bottom: 1px solid #272727; }
    .button-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button-very-light-gray {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #dbdbdb;
    background: -webkit-linear-gradient(bottom, #dbdbdb, #f3f3f3);
    background: -moz-linear-gradient(to top, #dbdbdb, #f3f3f3);
    background: linear-gradient(to top, #dbdbdb, #f3f3f3);
    border-bottom: 1px solid #b4b4b4;
    color: #707375;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.2rem 0.6rem; }
    .button-very-light-gray:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #000; }
    .button-very-light-gray:active {
      background: #eaeaea;
      background: -webkit-linear-gradient(bottom, #eaeaea, #dedede);
      background: -moz-linear-gradient(to top, #eaeaea, #dedede);
      background: linear-gradient(to top, #eaeaea, #dedede); }
  .button[disabled], .button.button-disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: default; }
  .button-gray-glass {
    -webkit-box-shadow: 0 2px 0px 0 #fff inset;
    -moz-box-shadow: 0 2px 0px 0 #fff inset;
    box-shadow: 0 2px 0px 0 #fff inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
    background: -webkit-linear-gradient(bottom, #ffffff, #ededed);
    background: -moz-linear-gradient(to top, #ffffff, #ededed);
    background: linear-gradient(to top, #ffffff, #ededed);
    border: 1px solid #9b9b9b;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.23rem 1.2rem;
    position: relative; }
    .button-gray-glass:hover {
      border-color: #c6c6c6; }
    .button-gray-glass:active {
      background: #dfdfdf;
      background: -webkit-linear-gradient(top, #dfdfdf, #f3f3f3);
      background: -moz-linear-gradient(to bottom, #dfdfdf, #f3f3f3);
      background: linear-gradient(to bottom, #dfdfdf, #f3f3f3); }
    .button-gray-glass[disabled], .button-gray-glass.button-disabled {
      opacity: 1;
      filter: alpha(opacity=100);
      border-color: #c6c6c6;
      cursor: default;
      color: #707375; }
  .button-yellow-glass {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #f9da94;
    background: -webkit-linear-gradient(top, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: -moz-linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    background: linear-gradient(to bottom, #f9da94 0%, #f7c965 21%, #f1ad4f 54%, #ef9d16 55%, #f5c07b 97%, #bf9441 100%);
    border-top: 1px solid #fceac1;
    border-bottom: 1px solid #876101;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    padding: 0.27rem 1.2rem;
    position: relative;
    opacity: 0.95;
    filter: alpha(opacity=95); }
    .button-yellow-glass:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      border-top: 1px solid #fceac1; }
  .button-turquoise {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #257584;
    background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
    background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
    background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
    border-color: #3d8491 #126a7a #004d5b;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    white-space: nowrap;
    padding: 2px 12px 3px; }
    .button-turquoise:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #287f8f;
      background: -webkit-linear-gradient(-90deg, #287f8f 5%, #287f8f 80%);
      background: -moz-linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      background: linear-gradient(180deg, #287f8f 5%, #287f8f 80%);
      border-color: #3d8491 #166c7c #005766; }
    .button-turquoise:active {
      opacity: 1;
      filter: alpha(opacity=100);
      background: #257584;
      background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
      background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
      background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      -moz-box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      box-shadow: inset 0 2px 4px rgba(0, 33, 39, 0.85) ;
      border-color: #01272e #013842 #014a56; }
    .button-turquoise[disabled], .button-turquoise.button-disabled {
      opacity: 0.6;
      filter: alpha(opacity=60);
      cursor: default; }
      .button-turquoise[disabled]:hover, .button-turquoise[disabled]:active, .button-turquoise.button-disabled:hover, .button-turquoise.button-disabled:active {
        background: #257584;
        background: -webkit-linear-gradient(-90deg, #257584 5%, #005e6f 80%);
        background: -moz-linear-gradient(180deg, #257584 5%, #005e6f 80%);
        background: linear-gradient(180deg, #257584 5%, #005e6f 80%);
        border-color: #3d8491 #126a7a #004d5b; }

.id2-rx-user-informer-block, .id2-rx-user-informer-popup *, .id2-rx-user-informer-icon {
  box-sizing: content-box; }
  .id2-rx-user-informer-block a, .id2-rx-user-informer-popup * a, .id2-rx-user-informer-icon a {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none; }

.opinionsupport-shadow-1967 {
  position: fixed !important; }

.id2Notify .id2NotifyContent,
.opinionsupport-rating-block-1967,
.opinionsupport-rating-list-item-1967.opinionsupport-rating-list-item-active-1967 {
  box-sizing: content-box; }

/* ==================================================================== */
/* CONTENT NAVIGATION MENU
/* ==================================================================== */
.content-navigation-menu-block {
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 1.3; }
  .article-page-block .content-navigation-menu-block {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 18px;
    margin-right: -15px; }
  .npd-doc__top-panel .content-navigation-menu-block {
    right: 88px;
    bottom: 6px;
    z-index: 1; }
  .content-navigation-menu-block-wrapper {
    min-height: 36px; }
    .book-page-block__content .content-navigation-menu-block-wrapper {
      position: absolute;
      right: 35px;
      top: 50px; }

.content-navigation-menu-list {
  list-style-type: none; }
  .content-navigation-menu-list li {
    display: inline-block;
    margin-right: 15px; }
    .content-navigation-menu-list li a {
      color: #2e98ff;
      border-color: rgba(46, 152, 255, 0.2); }
      .content-navigation-menu-list li a:hover {
        border-color: rgba(46, 152, 255, 0.6); }
      .content-navigation-menu-list li a.content-navigation-menu-link__announce {
        color: #e2001a;
        border-color: rgba(226, 0, 26, 0.2); }
        .content-navigation-menu-list li a.content-navigation-menu-link__announce:hover {
          border-color: rgba(226, 0, 26, 0.6); }

.content-navigation-menu-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  position: relative;
  white-space: nowrap; }

.content-navigation-menu-link__announce {
  margin-left: 18px; }
  .content-navigation-menu-link__announce:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__announce.png) no-repeat scroll left top/14px auto transparent;
    width: 14px;
    height: 14px;
    left: -18px;
    margin-top: 3px;
    padding-right: 18px; }

.content-navigation-menu-link__android {
  margin-left: 16px; }
  .content-navigation-menu-link__android:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__android.png) no-repeat scroll left top/63px auto transparent;
    width: 17px;
    height: 16px;
    margin-top: 2px;
    left: -16px; }

.content-navigation-menu-link__flipping {
  margin-left: 19px; }
  .content-navigation-menu-link__flipping:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__flipping.png) no-repeat scroll left top/60px auto transparent;
    width: 22px;
    height: 15px;
    margin-top: 2px;
    left: -19px; }

.content-navigation-menu-link__anotherlang {
  margin-left: 16px; }
  .content-navigation-menu-link__anotherlang:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__anotherlang.png) no-repeat scroll left top/50px auto transparent;
    width: 17px;
    height: 16px;
    left: -16px;
    margin-top: 3px; }

.content-navigation-menu-link__googlepress {
  margin-left: 22px; }
  .content-navigation-menu-link__googlepress:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__googlepress.png) no-repeat scroll left top/64px auto transparent;
    width: 26px;
    height: 14px;
    left: -22px;
    margin-top: 4px; }

.content-navigation-menu-link__iphone {
  margin-left: 12px; }
  .content-navigation-menu-link__iphone:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__iphone.png) no-repeat scroll left top/35px auto transparent;
    width: 26px;
    height: 14px;
    left: -12px;
    margin-top: 4px; }

.content-navigation-menu-link__mobile {
  margin-left: 24px; }
  .content-navigation-menu-link__mobile:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__mobile.png) no-repeat scroll left top/55px auto transparent;
    width: 26px;
    height: 16px;
    left: -24px;
    margin-top: 4px; }

.content-navigation-menu-link__toword {
  margin-left: 22px; }
  .content-navigation-menu-link__toword:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__toword.png) no-repeat scroll left top/45px auto transparent;
    width: 26px;
    height: 17px;
    left: -22px;
    margin-top: 1px; }

.content-navigation-menu-link__winphone {
  margin-left: 17px; }
  .content-navigation-menu-link__winphone:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__winphone.png) no-repeat scroll left top/45px auto transparent;
    width: 26px;
    height: 14px;
    left: -17px;
    margin-top: 3px; }

.content-navigation-menu-link__print {
  margin-left: 22px; }
  .content-navigation-menu-link__print:before {
    content: '';
    position: absolute;
    background: url(/res/images/content-navigation-menu-links/content-navigation-menu-link__print.png) no-repeat scroll left top/40px auto transparent;
    width: 24px;
    height: 17px;
    left: -22px;
    margin-top: 1px; }

.content-navigation-menu-short ul li:last-child {
  margin-right: 0; }

.content-navigation-menu-breadcrumbs {
  font-size: 0; }
  .content-navigation-menu-breadcrumbs a {
    color: #2e98ff;
    border-color: rgba(46, 152, 255, 0.2); }
    .content-navigation-menu-breadcrumbs a:hover {
      border-color: rgba(46, 152, 255, 0.6); }
  .content-navigation-menu-breadcrumbs span {
    font-size: 14px;
    padding-right: 5px; }
  .book-page-block__content .content-navigation-menu-breadcrumbs {
    position: absolute;
    top: 53px; }
  .article-page-block__content .content-navigation-menu-breadcrumbs {
    padding-top: 26px;
    padding-right: 300px; }
  .content-navigation-menu-breadcrumbs-wrapper {
    padding-bottom: 57px; }
  .content-navigation-menu-breadcrumbs-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-style: normal;
    line-height: 1.6;
    margin-right: 55px; }
    .content-navigation-menu-breadcrumbs-item + i {
      font-size: 10px;
      margin-left: -55px;
      padding: 0 6px; }

/* ==================================================================== */
/* EXPERT PAGE
/* ==================================================================== */
@font-face {
  font-family: "HelveticaNeueCyrLight";
  font-style: normal;
  font-weight: normal;
  src: url("/res/fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype");
  src: local("HelveticaNeueCyrLight"), url("/res/fonts/helveticaneuecyr-light.woff") format("woff"), url("/res/fonts/helveticaneuecyr-light.otf") format("opentype"), url("/res/fonts/helveticaneuecyr-light.svg#helveticaneuecyrlight") format("svg"); }

@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url("/res/fonts/helveticaneuecyr-thin.eot?#iefix") format("embedded-opentype");
  src: local("helveticaneuecyrthin"), url("/res/fonts/helveticaneuecyr-thin.woff") format("woff"), url("/res/fonts/helveticaneuecyr-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header-panel__subscribe {
  position: fixed;
  right: -9000px; }

.page-wrapper-common {
  height: 100%;
  width: 100%;
  min-width: 970px;
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3c464d; }

.expert__content-wrapper {
  position: relative;
  display: table-row;
  height: 100%; }

.expert__limiter {
  padding: 0 19px 0 19px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

.expert__header {
  background-color: #1d2529;
  height: 50px;
  padding: 0;
  position: relative; }
  .expert__header-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 50%;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 220px;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .expert__header-logon {
    position: absolute;
    right: 19px;
    bottom: 17px;
    white-space: nowrap; }
  .expert__header-back-link {
    color: #fff;
    opacity: 0.85;
    filter: alpha(opacity=85);
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: none; }
    .expert__header-back-link-wrapper {
      margin-left: 6px;
      margin-top: 5px;
      position: absolute;
      left: 19px; }
    .expert__header-back-link-block {
      -webkit-border-bottom-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
      border-bottom-left-radius: 2px;
      -webkit-border-top-left-radius: 2px;
      -moz-border-radius-topleft: 2px;
      border-top-left-radius: 2px;
      padding-left: 7px;
      border: 1px solid #3f454a;
      border-left: 0 none;
      border-radius: 4px;
      font-size: 16px;
      height: 38px;
      line-height: 33px;
      min-height: 34px;
      white-space: nowrap;
      display: block;
      position: relative;
      width: auto;
      padding: 2px 19px 0 2px; }
    .expert__header-back-link-arrow {
      border: 1px solid #3f454a;
      border-radius: 0 6px;
      content: "";
      height: 29px;
      left: 3px;
      margin-left: -20px;
      margin-top: 18px;
      position: absolute;
      top: 0;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      width: 29px;
      z-index: 0;
      overflow: hidden;
      border-right: none;
      border-bottom: none; }
    .expert__header-back-link-name {
      position: relative;
      padding-top: 13px;
      padding-bottom: 2px;
      background: url(/res/images/logos/expert-back-link-logo.png) no-repeat scroll 9px 10px transparent;
      padding-left: 36px; }
    .expert__header-back-link:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

.expert__new-count {
  background-color: #007dff;
  border-radius: 39px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  margin-left: 5px;
  margin-top: 0;
  padding: 1px 5px;
  position: absolute; }

.expert__main {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07) ;
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07) ;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07) ;
  -webkit-border-radius: 0 0 9px 7px/0 0 9px 8px;
  -moz-border-radius: 0 0 9px 7px/0 0 9px 8px;
  -ms-border-radius: 0 0 9px 7px/0 0 9px 8px;
  border-radius: 0 0 9px 7px/0 0 9px 8px;
  margin: 0 auto 46px;
  position: relative;
  padding: 29px 32px 19px 44px;
  min-width: 884px;
  background-color: #fff; }
  .expert__main-info {
    display: table;
    width: 100%; }
    .expert__main-info h1 {
      font-size: 40px;
      line-height: 40px;
      font-weight: 400;
      padding-left: 0;
      padding-bottom: 9px; }
    .expert__main-info p {
      font-size: 16px;
      line-height: 16px; }
    .expert__main-info-left {
      display: table-cell;
      vertical-align: top;
      padding-bottom: 16px; }
    .expert__main-info-right {
      display: table-cell;
      vertical-align: top;
      padding-left: 20px;
      width: 330px;
      text-align: right;
      padding-bottom: 16px; }

.expert__agreement-line {
  display: table;
  width: 100%;
  vertical-align: top;
  clear: both;
  margin-bottom: 31px;
  overflow: hidden;
  margin-left: -3px; }
  .expert__agreement-line-item {
    vertical-align: top;
    display: table-cell;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%; }
    .expert__agreement-line-item-emphasis {
      font-family: "HelveticaNeueCyrLight", Arial, sans-serif;
      font-size: 76px;
      letter-spacing: -2px;
      padding-right: 7px;
      padding-top: 37px;
      padding-bottom: 28px;
      line-height: 1px;
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%; }
    .expert__agreement-line-item-header {
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 6px; }
    .expert__agreement-line-item-text {
      font-size: 13px;
      line-height: 16px;
      padding-bottom: 0; }
    .expert__agreement-line-item-list li {
      position: relative;
      list-style: none; }
      .expert__agreement-line-item-list li:before {
        content: '✔'; }
    .expert__agreement-line-item-image {
      background-repeat: no-repeat;
      background-position: left top;
      background-color: #000; }
      .expert__agreement-line-item-image-wrapper {
        height: 80px; }
      .expert__agreement-line-item-image-response {
        width: 43px;
        height: 43px; }
      .expert__agreement-line-item-image-support {
        width: 62px;
        height: 62px; }
      .expert__agreement-line-item-image-quality {
        width: 66px;
        height: 65px; }
      .expert__agreement-line-item-image-saveresponse {
        width: 80px;
        height: 52px; }
  .expert__agreement-line-first {
    margin-bottom: 31px; }
    .expert__agreement-line-first .expert__agreement-line-item {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      width: 25%; }
    .expert__agreement-line-first .expert__agreement-line-item:last-child {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%; }
    .expert__agreement-line-first .expert__agreement-line-item-header {
      vertical-align: top;
      display: table-cell;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%; }

.expert__footer {
  clear: both;
  color: #999;
  font-size: 11px;
  line-height: 14px;
  min-width: 871px;
  overflow: hidden;
  padding: 31px 20px;
  position: relative;
  max-width: 1300px;
  height: 82px;
  margin: 0 auto; }

.expert__agreement-line-item-image-response {
  background-image: url("/res/images/expert/expert__agreement-response.png"); }

.expert__agreement-line-item-image-support {
  background-image: url("/res/images/expert/expert__agreement-support.png"); }

.expert__agreement-line-item-image-quality {
  background-image: url("/res/images/expert/expert__agreement-quality.png"); }

.expert__agreement-line-item-image-saveresponse {
  background-image: url("/res/images/expert/expert__agreement-saveresponse.png"); }

/* ========== Блок формы и условий ========== */
.question-form-block-main-text {
  display: table-cell;
  vertical-align: top;
  width: 100%; }

/* Форма */
.question-form-block {
  min-width: 884px;
  -webkit-border-radius: 0 0 9px 7px/0 0 9px 8px;
  -moz-border-radius: 0 0 9px 7px/0 0 9px 8px;
  border-radius: 0 0 9px 7px/0 0 9px 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  margin: 0 auto 46px;
  position: relative;
  padding: 29px 32px 19px 44px; }

.question-form-block h2 {
  padding-left: 0;
  padding-bottom: 9px;
  color: #000000; }

.question-form {
  clear: both;
  position: relative;
  margin-left: -12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 14px 15px 14px 14px;
  margin-bottom: 12px;
  top: 0px; }

.question-form textarea {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  display: block;
  resize: inherit;
  width: 100%;
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 7px 8px;
  height: 61px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.question-form textarea[disabled="disabled"] {
  background-color: #f5f5f5; }

.question-form-block.large textarea {
  margin-bottom: 6px;
  color: #000; }

.question-form .question-form-h-fields {
  display: none;
  padding-bottom: 3px;
  padding-left: 1px; }

.question-form-block.large .question-form-h-fields {
  display: block; }

.question-form-h-fields {
  font-size: 13px; }

.question-form-h-fields span {
  color: #007DFF; }

.question-form-info {
  padding-left: 2px;
  margin-bottom: 14px; }

.question-form-info-link {
  padding-top: 1px; }

.question-form-info-fields {
  display: none;
  margin-bottom: -3px;
  margin-top: -2px;
  position: relative; }

.question-form-email-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  display: inline;
  height: 22px;
  padding: 0 3px;
  width: 247px;
  margin-right: 16px;
  font-size: 13px;
  position: relative; }

.question-form-phone-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  display: inline;
  height: 22px;
  padding: 0 3px 0 16px;
  width: 145px;
  margin-right: 6px;
  margin-left: 1px;
  font-size: 13px;
  position: relative; }

.question-form-phone-prefix {
  color: #CCCCCC;
  margin-right: -19px;
  padding-left: 8px;
  position: relative;
  top: 0;
  width: auto;
  z-index: 1; }

.error-input,
.question-form textarea.error-input {
  border-color: #D15654;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 3px 1px rgba(209, 86, 84, 0.5);
  box-shadow: 0 0 3px 1px rgba(209, 86, 84, 0.5);
  color: #BB0000; }

.question-form textarea.transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.error-input-phone {
  color: #BB3300 !important;
  margin-left: 30px;
  margin-top: 3px;
  position: absolute;
  display: inline-block;
  display: none; }

.shake-block {
  display: inline;
  position: relative; }

.question-form-info span:hover,
.question-form-info span:hover span {
  color: #B30;
  border-color: #B30; }

.question-form-phone-block {
  display: inline-block;
  margin-left: -71px;
  margin-top: -4px;
  position: absolute; }

.question-form-submit {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #007ce2;
  background-color: rgba(42, 43, 43, 0);
  background-image: -webkit-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: -moz-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: -o-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: linear-gradient(to top, #0073d6, #0085ee);
  color: #ffffff;
  border-bottom: 1px solid #0056c0;
  border-top: medium none;
  border-left: medium none;
  border-right: medium none;
  cursor: pointer;
  margin-bottom: 1px;
  padding: 8px 17px 7px;
  margin-left: 1px;
  font-size: 16px;
  width: 121px;
  font-family: Arial, sans-serif;
  height: 36px;
  letter-spacing: 0.35px;
  font-style: normal; }

.question-form-submit span {
  color: #ffffff; }

.question-form-submit[disabled="disabled"] {
  background-color: #66b0ee;
  opacity: 0.6;
  cursor: default; }

.question-form-errors {
  color: #BB0000;
  display: inline-block;
  margin: 0 6px;
  position: relative; }

.question-form-preloader {
  background: url("/res/images/expert/ajax-loader-hl.gif") no-repeat scroll 0 0 transparent;
  display: none;
  height: 24px;
  left: 5px;
  position: absolute;
  top: -18px;
  width: 24px; }

.question-form-terms-text {
  color: #000000; }

.terms-open-link a {
  border-bottom: 1px dashed; }

.terms-open-link-opened a {
  color: #000 !important;
  border-color: #000 !important; }

a.terms-open-link-opened-hover {
  color: #B30 !important;
  border-color: #B30 !important; }

.question-form-offset {
  margin-bottom: 12px;
  position: relative; }

.question-form.top-position {
  padding: 14px 15px 0 14px;
  margin-bottom: 9px; }

.question-form.top-position textarea {
  border: 1px solid #dcdcdc;
  height: 32px;
  margin-top: -3px;
  padding: 4px 8px; }

.question-form-placeholder-text {
  color: #BBBBBB;
  font-family: "HelveticaNeueCyrLight", Helvetica, Arial, sans-serif;
  font-size: 34px;
  left: 24px;
  line-height: 0;
  position: absolute;
  top: 45px; }

.top-position .question-form-placeholder-text,
.question-form-ears.visible .question-form-placeholder-text {
  font-size: 17px;
  left: 20px;
  top: 26px;
  font-family: Arial, sans-serif; }

.large .question-form-placeholder-text {
  font-family: Arial, sans-serif;
  font-size: 17px;
  left: 0;
  margin-left: 20px;
  top: 28px; }

.question-form-ears.visible {
  background-color: #F5F5F5;
  margin-left: -44px;
  margin-right: -33px;
  padding-left: 45px;
  padding-right: 32px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12); }

.question-form-ears.visible .question-form {
  margin-bottom: 9px;
  padding: 9px 15px 0 14px; }

.question-form-ears.visible .question-form.top-position {
  padding: 14px 15px 0 14px; }

.question-form-closed-string {
  background: url("/res/images/expert/question-form-closed-string.png") no-repeat scroll center top transparent;
  clear: both;
  display: block;
  height: 89px;
  margin-bottom: 23px;
  margin-left: -188px;
  margin-top: -48px;
  padding-left: 50px;
  position: relative; }

.question-form-closed-pay {
  margin-top: -68px;
  position: absolute;
  right: 68px; }

.question-form-closed-info {
  background: url("/res/images/expert/question-form-closed-pay.png") no-repeat scroll left 2px transparent;
  padding-left: 17px;
  font-size: 13px; }

.question-form-closed-interval {
  position: relative;
  color: #e2001a; }

.question-form-closed-interval:before {
  content: "";
  position: absolute;
  left: -17px;
  top: 2px;
  width: 15px;
  height: 15px;
  background: url("/res/images/expert/question-form-closed-interval.png") no-repeat scroll left top transparent; }

.question-form-closed-link {
  color: #FFFFFF;
  display: inline-block;
  height: 19px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #0073d6;
  background-image: -webkit-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: -moz-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: -o-linear-gradient(bottom, #0073d6, #0085ee);
  background-image: linear-gradient(to top, #0073d6, #0085ee);
  margin-left: 11px; }

.question-form-closed-link:hover {
  color: #FFFFFF; }

.question-form-closed-link-img {
  background-image: url("/res/images/expert/question-form-closed-link.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: medium none;
  box-sizing: border-box;
  display: block;
  height: 37px;
  left: 49.5%;
  margin-left: 322px;
  position: absolute;
  top: 50px;
  width: 161px; }

.question-form-closed-link-img:hover {
  background-position: 0 -38px !important; }

.question-form-wrapper-block {
  height: auto;
  /*height: 402px;*/
  margin-left: -12px;
  overflow: hidden;
  padding-left: 14px;
  padding-bottom: 10px;
  position: relative; }

/* Форма end */
/* Условия */
.terms-block {
  position: relative;
  padding-top: 7px;
  padding-bottom: 40px; }

.terms-first-line {
  clear: both;
  display: block;
  margin-bottom: 31px;
  overflow: hidden;
  margin-left: -3px; }

.terms-item {
  display: block;
  float: left;
  width: 25%; }

.terms-item.large {
  width: 50%; }

.terms-block-emphasis {
  color: #DD0011;
  display: block;
  float: left;
  font-family: "HelveticaNeueCyrLight", Arial, sans-serif;
  font-size: 76px;
  letter-spacing: -2px;
  padding-right: 7px;
  padding-top: 37px;
  padding-bottom: 28px;
  line-height: 1px; }

.terms-block-text {
  display: block;
  padding-right: 15px;
  padding-top: 0;
  margin-top: -1px; }

.terms-block-text p {
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 0; }

.terms-block-header {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 6px; }

.terms-block-list {
  list-style: none outside none;
  margin-top: 1px; }

.terms-block-list li {
  background: url("/res/images/expert/terms-block-list-icon.png") no-repeat scroll 0 3px transparent;
  margin-top: -2px;
  padding-left: 19px; }

.terms-second-line {
  clear: both;
  overflow: hidden;
  display: none;
  margin-left: 3px; }

.terms-block-img {
  display: table-cell;
  height: 80px;
  padding-bottom: 2px;
  vertical-align: middle; }

.terms-block-img img {
  display: block; }

.terms-link a {
  text-align: right;
  color: #007dff;
  font-size: 13px; }

.terms-link.block {
  background-color: #FFFFFF;
  bottom: 0;
  position: absolute; }

.terms-link.block-right {
  right: 17px; }

.terms-block-text-large {
  margin-top: 18px;
  display: none; }

.terms-block-text-header {
  border-top: 1px solid #E4E4E4;
  position: relative;
  padding-top: 16px; }

.terms-block-text-header h3 {
  font-weight: normal;
  padding-bottom: 28px;
  font-size: 28px; }

.terms-block-text-header-links {
  position: absolute;
  right: 0;
  top: 12px;
  white-space: nowrap; }

.terms-download-link {
  border: medium none;
  margin-right: 18px;
  padding-left: 12px;
  position: relative;
  display: inline; }

.terms-download-link:hover:before {
  background-position: -137px -113px; }

.terms-download-link:before {
  background-position: -137px -56px; }

.terms-download-link span {
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 100, 204, 0.2); }

.terms-download-link:hover span {
  color: #B30;
  border-color: rgba(187, 51, 51, 0.2); }

.terms-print-link {
  border: medium none;
  margin-right: 16px;
  padding-left: 21px;
  position: relative;
  display: inline; }

.terms-print-link:hover:before {
  background-position: -113px -113px; }

.terms-print-link:before {
  background-position: -113px -59px; }

.terms-print-link:before,
.terms-download-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-image: url("../../images/sprite_hover_icons_20_05_14.png");
  background-repeat: no-repeat;
  background-color: transparent; }

.terms-download-link:before {
  width: 13px; }

.terms-print-link:before {
  width: 16px; }

.terms-print-link span {
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 100, 204, 0.2); }

.terms-print-link:hover span {
  color: #B30;
  border-color: rgba(187, 51, 51, 0.2); }

.terms-block-table {
  padding-bottom: 35px; }

.terms-block-table p {
  font-size: 13px;
  padding-bottom: 9px; }

.terms-block-table ul {
  margin-top: -9px;
  padding-left: 14px;
  padding-bottom: 5px; }

.terms-block-table ul li {
  line-height: 16px;
  padding-bottom: 4px; }

.terms-block-table-right-column p {
  font-size: 16px;
  line-height: 25px; }

.terms-block-table p.terms-block-table-header {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold; }

.terms-block-table-small p {
  padding-bottom: 5px; }

.terms-block-table-small-padding {
  padding-bottom: 6px; }

.terms-block-text-wider {
  font-size: 11.5px;
  letter-spacing: 0.9px; }

/* Условия end */
.no-question-answer {
  clear: both;
  color: #FFFFFF;
  font-family: "HelveticaNeueCyrLight", Arial, sans-serif;
  font-size: 40px;
  opacity: 0.1;
  text-align: center;
  width: 100%;
  display: none; }

.no-question-answer td {
  vertical-align: middle;
  padding-bottom: 5%; }

/* ========== Блок формы и условий end ========== */
/* ========== Блок ответов ========== */
.answers-block, .examples-block {
  margin-left: 23px;
  margin-right: 25px;
  min-width: 916px; }

.answers-block-item, .examples-block-item {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto 5px;
  padding: 17px 26px 31px 25px;
  position: relative; }

.answers-block-item h3, .examples-block-item h3 {
  width: 55%; }

.answers-block-item p, .examples-block-item p {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 0;
  padding-left: 0; }

.answers-block-question {
  clear: both;
  display: table;
  overflow: hidden;
  width: 100%; }

.answers-block-question-prc {
  color: #c02b45;
  margin-top: 17px; }

.answers-block-question-text {
  display: table-cell;
  width: 80%; }

.answers-block-promise {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: inline-table;
  height: 78px;
  left: 50%;
  margin-left: -109px;
  margin-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  width: auto; }

.answers-block-promise-center {
  display: block;
  position: relative;
  text-align: center;
  top: -10px; }

.answers-block-promise-text {
  background-color: #FFFFFF;
  color: #AAAAAA;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative; }

.answers-block-promise-date {
  font-family: 'helveticaneuecyrthin', Helvetica, Arial, sans-serif;
  color: #BBBBBB;
  display: block;
  font-size: 60px;
  padding-top: 10px;
  position: relative; }

.answers-block-expert {
  border-top: 1px solid #E6E6E6;
  clear: both;
  display: table;
  margin-top: 35px;
  padding-top: 13px;
  width: 100%; }

.answers-block-expert-text {
  width: 80%;
  display: table-cell; }

.answers-block-date {
  color: #777777;
  position: relative;
  top: 0;
  white-space: nowrap;
  padding-bottom: 8px;
  padding-top: 1px;
  font-size: 13px; }

.answers-block-expert-right-column {
  display: table-cell;
  position: relative;
  text-align: right;
  width: 18%;
  vertical-align: top;
  padding-top: 1px;
  font-size: 13px; }

.answers-block-expert-right-column img {
  border: 1px solid #e5e5e5;
  margin-right: -1px; }

.answers-block-attachment {
  padding-top: 17px;
  padding-left: 1px; }

.answers-block-attachment a {
  border-bottom: none; }

.answers-block-attachment-frame {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #99cbff;
  display: inline-block;
  padding: 13px 9px 12px;
  position: relative;
  font-family: Arial, sans-serif;
  margin-right: 17px;
  margin-bottom: 46px; }

.answers-block-attachment-frame.xls {
  border: solid 1px #a7d6a0;
  color: #229911; }

.answers-block-attachment-frame.pdf {
  border: solid 1px #f19999;
  color: #dd0000; }

.answers-block-attachment-frame.payment {
  border: solid 1px #c42028;
  color: #c42028; }

.payment-done {
  color: #008a83; }

.payment-notdone {
  color: #c42028; }

.answers-block-attachment-frame:hover {
  border: solid 1px #B30;
  color: #B30; }

.answers-block-attachment-frame:hover .answers-block-attachment-arrow {
  background-position: 0 -19px; }

.xls .answers-block-attachment-arrow {
  background-position: 0 -38px; }

.pdf .answers-block-attachment-arrow {
  background-position: 0 -57px; }

.answers-block-attachment-header {
  font-size: 20px;
  line-height: 20px;
  display: block; }

.answers-block-attachment-res {
  display: block;
  font-size: 11px;
  letter-spacing: 0.9px;
  text-transform: uppercase; }

.answers-block-attachment-arrow {
  background: url("/res/images/expert/answers-block-attachment-default.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 19px;
  left: 50%;
  margin-left: -6px;
  margin-top: 4px;
  position: absolute;
  width: 11px; }

/* ========== Блок ответов end ========== */
/* ========== Оценка экспертов ========== */
.rating.add-comment {
  background: none repeat scroll 0 0 #f5f5f5;
  overflow: hidden;
  padding: 9px 8px 22px; }

.rating {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 13px/18px Helvetica, Arial, sans-serif;
  margin: 8px 0 0 -7px;
  width: 80%; }

.rating-container {
  display: table-row; }

.score-label {
  float: left;
  font-size: 16px;
  margin: 2px 9px 0 0; }

.rating-stars {
  background-image: url("/res/images/expert/star-sprite.png");
  background-position: center 0;
  background-repeat: no-repeat;
  float: left;
  margin-top: 0; }

.rating-stars li {
  cursor: pointer;
  display: block;
  float: left;
  height: 18px;
  width: 22px; }

.score li:hover {
  /*background-position: center -18px;*/ }

.rating-stars.score1 {
  background-position: center -20px; }

.rating-stars.score2 {
  background-position: center -40px; }

.rating-stars.score3 {
  background-position: center -60px; }

.rating-stars.score4 {
  background-position: center -80px; }

.rating-stars.score5 {
  background-position: center -100px; }

.voted ul.rating-stars.score1 {
  background-position: center -140px; }

.voted ul.rating-stars.score2 {
  background-position: center -160px; }

.voted ul.rating-stars.score3 {
  background-position: center -180px; }

.voted ul.rating-stars.score4 {
  background-position: center -200px; }

.voted ul.rating-stars.score5 {
  background-position: center -220px; }

.rating-stars.voted li {
  cursor: default; }

.rating-container-user-rating {
  float: left;
  font-size: 16px;
  margin: 2px 0 0 8px; }

.rating-comment-form label {
  display: block;
  padding-bottom: 5px; }

.rating-comment-form-textarea {
  height: 80px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #dbdbdb;
  resize: inherit;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 4px;
  margin-bottom: 9px;
  box-sizing: border-box; }

.rating-form-submit {
  height: 24px;
  width: 96px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #1c7adc;
  border: solid 1px #1c7adc;
  background-image: -webkit-linear-gradient(bottom, #1572d2, #1f83ea);
  background-image: -moz-linear-gradient(bottom, #1572d2, #1f83ea);
  background-image: -o-linear-gradient(bottom, #1572d2, #1f83ea);
  background-image: linear-gradient(to top, #1572d2, #1f83ea);
  cursor: pointer;
  float: left; }

.rating-form-submit span {
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  text-align: center;
  white-space: nowrap; }

.rating-form-submit[disabled="disabled"] {
  opacity: 0.3;
  cursor: default; }

.hl-comment-preloader {
  background: url("/res/images/expert/ajax-loader-hl-comment.gif") no-repeat scroll 0 0 transparent;
  display: none;
  float: left;
  height: 24px;
  margin: 0 0 0 8px;
  width: 24px; }

.rating-comment-description {
  clear: both;
  color: #777777;
  overflow: hidden;
  font-size: 13px; }

.rating-comment {
  font: 13px/18px Arial, sans-serif;
  margin: -2px 0 12px; }

.rating-comment-error {
  font: 13px/18px Arial, sans-serif;
  margin: -2px 0 12px;
  color: #BB3300; }

/* ========== Оценка экспертов end ========== */
/* ========== Телефон ========== */
/* ========== Телефон end ========== */
/* ========== Футер ========== */
.footer {
  clear: both;
  color: #999;
  font-size: 11px;
  line-height: 14px;
  min-width: 871px;
  overflow: hidden;
  padding: 31px 20px;
  position: relative;
  max-width: 1300px;
  height: 144px;
  margin: 0 auto; }

.bureau {
  display: block;
  float: left;
  left: 0;
  position: relative;
  width: 295px; }

.designed-at {
  margin-top: 7px;
  width: 95px;
  opacity: 0.7; }

.bureau-logo {
  background: url("/res/images/expert/bureau-logo.png") no-repeat scroll 0 0 transparent;
  height: 39px;
  left: 92px;
  position: absolute;
  top: 2px;
  width: 127px;
  padding-left: 7px;
  padding-top: 5px; }

.bureau-year {
  bottom: 2px;
  font-size: 10px;
  position: absolute;
  right: -10px;
  opacity: 0.8; }

.action-block {
  float: left;
  padding-top: 7px;
  padding-left: 5px;
  position: relative; }

.action-block span {
  opacity: 0.7; }

.footer-contact {
  display: block;
  margin-top: 10px;
  position: absolute;
  right: 20px; }

.footer-phone {
  display: block;
  font-size: 24px;
  margin-bottom: 4px;
  opacity: 0.8; }

.footer-schedule {
  display: block;
  font-size: 11px;
  opacity: 0.8; }

.footer a {
  opacity: 0.85;
  color: #FFF;
  border-bottom-color: rgba(255, 255, 255, 0.2); }

.footer a:hover {
  opacity: 1;
  border-bottom-color: rgba(255, 255, 255, 0.4); }

/* ========== Футер end ========== */
/* ========== Помощник ========== */
.fixed-footer {
  bottom: 19px;
  height: 24px;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 99; }

.support-button span {
  background: url("/res/images/expert/support-icon.png") no-repeat scroll 0 5px transparent;
  padding-left: 13px; }

.fixed-footer button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #545454;
  border: 1px solid #1F2122;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 24px;
  line-height: 13px;
  margin: 0 18px;
  outline: medium none;
  padding: 2px 10px 4px;
  pointer-events: auto;
  position: relative; }

.lt-invite {
  right: -36px !important; }

/* ========== Помощник end ========== */
/* ========== Бирюзовая кнопка ========== */
.service-page-header {
  position: absolute;
  right: 19px;
  clear: both;
  top: 0; }

.service-page-header a {
  color: #eee;
  text-decoration: none;
  border: 0 none;
  font-size: 13px;
  line-height: normal; }

.service-page-header a:hover {
  color: #ffffff; }

.service-page-header .name {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 26px;
  display: block;
  text-align: right;
  position: relative;
  box-sizing: border-box;
  font-size: 13px;
  top: 0;
  float: right;
  background: linear-gradient(to bottom, #257584 0, #005E6F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#257584', endColorstr='#005E6F', GradientType=0);
  border-color: #3D8491 #11697A #004D5B #11697A;
  box-shadow: none;
  border-width: 0;
  border-style: none;
  margin: 5px 0 7px 0;
  padding: 2px 11px 4px 11px; }

.service-page-header .name:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  background: url("../../images/sprite_action_srch_key.png") -17px 0 transparent no-repeat scroll;
  width: 23px;
  height: 12px; }

.service-page-header .name span {
  margin: 2px 5px 0 33px;
  display: inline-block; }

.service-page-header .name:hover {
  background: linear-gradient(to bottom, #287F8F 0, #00687A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#287F8F', endColorstr='#00687A', GradientType=0); }

/* ========== Бирюзовая кнопка end ========== */
.linklive {
  position: absolute;
  left: -9999px;
  top: -20px; }

.question-form-without-phone {
  background: transparent url("/res/images/expert/question-form-without-phone.png") no-repeat scroll center top;
  clear: both;
  display: block;
  height: 89px;
  margin-bottom: -17px;
  margin-left: -206px;
  margin-top: -8px;
  padding-left: 50px;
  position: relative; }

.question-form-without-phone-link {
  background-color: transparent;
  background-image: url("/res/images/expert/question-form-without-phone-link.png");
  background-position: left top;
  background-repeat: no-repeat;
  border: medium none;
  box-sizing: border-box;
  display: block;
  height: 42px;
  left: 49.5%;
  margin-left: 365px;
  position: absolute;
  top: 5px;
  width: 161px; }

.question-form-without-phone-link:hover {
  background-position: left bottom; }

a {
  color: #007DFF; }

.terms-block-table ul li {
  list-style: none outside none;
  font-size: 13px;
  line-height: 18px; }

.examples-block h2, .answers-block h2 {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 14px;
  padding-left: 23px;
  color: #ffffff;
  font-weight: 400; }

.answers-block-header {
  display: none; }

h3 {
  font-size: 24px;
  line-height: 28px;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 9px; }

.answers-block-item h3, .examples-block-item h3 {
  width: 55%; }

h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 7px; }

.examples-block {
  display: none; }

.large .question-form-placeholder-text {
  font-family: Arial, sans-serif;
  font-size: 17px;
  left: 0;
  margin-left: 20px;
  top: 28px; }

.dashed {
  cursor: pointer;
  border-bottom: 1px dashed;
  text-decoration: none; }

.content-navigation-menu-link__print {
  margin-left: 32px; }

